@charset "utf-8";
/*这里是调用友价商城系统全站的样式，不受模板等影响，就是不管哪个模板，都是需要这些共用样式的 www.yj99.cn 请勿修改，否则影响全站*/
p{margin:2pt 0 0 0;}
*{margin:0 auto;padding:0;}
ul{list-style-type:none;margin:0;padding:0;}
li{list-style-type:none;}
a{color:#333;text-decoration:none;}
a:hover{text-decoration:none;}
form{margin:0;}
table,td{border-collapse:collapse;font-size:12px;}
input,select,textarea{outline:medium;font-family:"Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",华文细黑,STHeiti,MingLiu;}
.yjcode{width:1250px;min-width: 1250px;}
.fontyh{font-family:"Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",华文细黑,STHeiti,MingLiu;color:#000;}
.feng{color:#ff6600;}
.blue{color:#2255DD;}
.hui{color:#999;}
.green {color: #05b91b;}
.redony{background-color:#CFF;border:#999 solid 1px;color:red;}
.bfb{width:100%;min-width:1250px;clear:both;}
.clear10{height:10px;}
.clear15{height:15px;}
.clear20{height:20px;}
.ad1{margin:10px 0 0 0;/*float:left;*/}
.ad{float:left;}
.adf{float:left;margin:-10px 0 0 0;}
.adbottom .ad1{float:left;margin:0 0 8px 0;}
/*顶部广告*/
.topbanner_hj{width:100%;min-width:1250px;float:left;}
.topbanner_hj a{display:block;width:100%;height:120px;}

.dqwz{float:left;width:1250px;min-width:1250px;height:25px;margin:15px 0 0 0;text-align:left;font-size:14px;}
.dqwz .u1{float:left;width:1250px;min-width:1250px;}
.dqwz .u1 li{float:left;}
.dqwz .u1 .l1{width:950px;color:#7F7F7F;}
.dqwz .u1 .l1 a{color:#7F7F7F;}

/*显示一行*/
.lineone{display:inline-block;white-space:nowrap;width:100%;overflow:hidden;text-overflow:ellipsis;}
.linetwo{text-overflow: -o-ellipsis-lastline;overflow:hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 2;line-clamp: 2;-webkit-box-orient: vertical;}
.linethree{display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 3;overflow: hidden;}
/*分页*/
#page{float:right;margin:10px 0 0 0;width:740px;padding:0;clear:both;}
#page ul{float:right;}
#page ul li{font-size:14px;float:left;margin:0 3px 0 0;font-family:Verdana, Geneva, sans-serif;background: white;}
#page ul li a{float:left;border:#DDDDDD solid 1px;padding:8px 12px 9px 11px;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;}
#page .ohave{color:#fff;border:#2196f3 solid 1px;background: linear-gradient(-87deg, #1d94fc 0,#765fff 80%);}
#page ul .ohave {padding: 8px 12px 9px 11px;color: #fff;}
#page ul li a:hover{text-decoration:none;background: linear-gradient(-87deg, #1d94fc 0,#765fff 80%);color:#fff;}


.zxjddgd{float:left;width:320px;overflow:hidden;height:220px;position:fixed;left:0;bottom:0;}
.zxjddgd .gd{float:left;border:#00BFFF solid 1px;border-radius:10px;margin:10px 0 0 10px;padding:4px 10px 0 5px;height:19px;overflow:hidden;clear:both;background-color:#fff;}
.zxjddgd .gd1{border:#009688 solid 1px;color:#009688;}
.zxjddgd .gd2{border:#1E9FFF solid 1px;color:#1E9FFF;}
.zxjddgd .gd3{border:#FF77FF solid 1px;color:#FF77FF;}
.zxjddgd .gd4{border:#FF5722 solid 1px;color:#FF5722;}
.zxjddgd .gd5{border:#FFB800 solid 1px;color:#FFB800;}
.zxjddgd .gd6{border:#ff0000 solid 1px;color:#ff0000;}

.glopage{float:left;margin:20px 0 0 0;width:100%;padding:0 0 0 0;height:35px;clear:both;text-align:center;}
.glopage a{border:#E9E9E9 solid 1px;margin:0 2px;padding:8px 12px 9px 11px;background-color:#fff;}
.glopage a:hover{text-decoration:none;background-color:#F5F5F5;}
.glopage .a1{padding:8px 12px 9px 11px;color:#ff6600;}




