@charset "utf-8";

.tit{background-color:#fff;font-size:17px;}
.tit .d1{margin:10px 10px 0 10px;color:#555;font-weight:700;}

.wdes{background-color:#fff;font-size:14px;}
.wdes .d1{margin:5px 10px 0 10px;color:#999999;line-height:25px;}

.money{background-color:#fff;font-size:14px;color:#999;padding:10px 0 0 0;}
.money .d1{margin:5px 0 10px 10px;-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;color:#E02E24;}
.money .d1 span{font-size:23px;font-weight:700;}
.money .d2{margin:10px 10px 10px 0;text-align:right;-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;}

.txtcap{margin:10px 0 0 0;background-color:#fff;}
.txtcap .d1{margin:10px 10px 0 10px;height:25px;border-bottom:#dedede solid 1px;}
.prosx{background-color:#fff;}
.prosx .dmain{margin:0 10px 8px 0;}
.prosx .dmain .d1{float:left;width:calc(50% - 10px);height:18px;margin:8px 0 0 10px;overflow:hidden;}
.prosx .dmain .d1 .s1{color:#888;}
.prosx .dmain .d1 .s2{}
.prosx .dmain .d1 a{color:#ff0000;}

.titcap{background-color:#fff;padding:15px 0;margin:10px 0 0 0;}
.titcap .d1{margin:13px 0 0 80px;height:27px;border:#EE4758 solid 1px;border-right:0;}
.titcap .d1 div{float:right;margin:-7px 0 0 0;width:15px;background-color:#fff;height:20px;}
.titcap .d1 div span{transform: rotate(45deg);border:solid #EE4758;border-width:0 1px 1px 0;float:right;display:inline-block;padding:3px;-webkit-transform:rotate(45deg);}
.titcap .d2{margin:1px 0 0 0;text-align:center;width:110px;}
.titcap .d2 span{float:left;width:100%;}
.titcap .d2 .s1{font-size:16px;color:#EE4758;height:32px;font-weight:700;}
.titcap .d2 .s2{font-size:11px;color:#999;}
.titcap .d3{margin:13px 80px 0 0;height:27px;border:#EE4758 solid 1px;border-left:0;}
.titcap .d3 div{float:left;margin:-7px 0 0 0;width:15px;background-color:#fff;height:20px;}
.titcap .d3 div span{transform: rotate(45deg);border:solid #EE4758;border-width:0 1px 1px 0;float:left;display:inline-block;padding:3px;-webkit-transform:rotate(45deg);}
.protxt{background-color:#fff;font-size:14px;}
.protxt .protxtM{line-height:25px;margin:0 10px;-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;padding:0 0 10px 0;}
.protxt .protxtM img{max-width:100%!important;;}

.buym{float:left;width:100%;height:45px;color:#999;}
.buy{position:fixed;bottom:0px;width:100%;height:45px;border-top:#E2E6E7 solid 1px;background-color:#fff;z-index:9;}
.buy .d1{margin:0;text-align:center;width:45px;border-right:#E2E6E7 solid 1px;color:#666666;}
.buy .d1 span{color:#fff;padding:1px 2px 1px 2px;float:left;min-width:12px;text-align:center;margin:4px 0 0 14px;background-color:#ff0000;border-radius:5px;position:absolute;}
.buy .d1 img{margin:3px 0 1px 0;}
.buy .d1 a{color:#666;}
.buy .d4{margin:0;text-align:center;-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;color:#fff;font-size:15px;padding:13px 0 0 0;height:32px;background-color:#ff6600;}
