body{background-color:#f7f7f7;}
.fabuleft{float:left;width:960px;text-align:left;}
.fabuleft .fabumain{float:left;width:960px;margin-top:10px;padding:40px 0 30px 0;border-radius:5px;background-color:#fff;box-shadow: 5px 5px 10px 1px rgba(111, 116, 132, 0.1);}
.fabuleft .fabumain .u1{float:left;width:930px;}
.fabuleft .fabumain .u1 li{float:left;}
.fabuleft .fabumain .u1 .l1{width:110px;height:55px;text-align:right;padding:10px 22px 0 0;font-size:15px;}
.fabuleft .fabumain .u1 .l1 span{color:#f56c6c;}
.fabuleft .fabumain .u1 .l2{width:798px;height:65px;}
.fabuleft .fabumain .u1 .l2 .inp{float:left;border:#dfdfdf solid 1px;box-shadow: 0 0 5px 1px rgba(111, 116, 132, 0.1);border-radius:5px;height:43px;font-size:14px;padding-left:14px;font-family:"Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",华文细黑,STHeiti,MingLiu;}
.fabuleft .fabumain .u1 .l2 .inp:hover{border:#c0c4cc solid 1px;}
.fabuleft .fabumain .u1 .l2 .fd{float:left;margin:11px 0 0 10px;font-size:14px;}
.fabuleft .fabumain .u1 .l2 .typehtml{float:left;width:359px;position:relative;z-index:99999;}
.fabuleft .fabumain .u1 .l2 .typehtml .xiala{float:left;width:178px;border:#e4e7ed solid 1px;height:360px;padding:5px 0;box-shadow: 0 0 5px 1px rgba(111, 116, 132, 0.1);background-color:#fff;overflow-y:scroll;overflow-x:hidden;}
.fabuleft .fabumain .u1 .l2 .typehtml .xiala::-webkit-scrollbar{width:4px;height:4px;}
.fabuleft .fabumain .u1 .l2 .typehtml .xiala::-webkit-scrollbar-thumb{border-radius:5px;-webkit-box-shadow:inset 0 0 5px rgba(0,0,0,0.2);background:rgba(221,221,221,0.2);}
.fabuleft .fabumain .u1 .l2 .typehtml .xiala::-webkit-scrollbar-track{-webkit-box-shadow:inset 0 0 5px rgba(0,0,0,0.2);border-radius:0;background:rgba(221,221,221,0.1);}
.fabuleft .fabumain .u1 .l2 .typehtml .xiala a{float:left;height:34px;line-height:34px;padding-left:20px;width:158px;font-size:13px;background:url(../img/1.png) no-repeat;background-position:150px 12px;}
.fabuleft .fabumain .u1 .l2 .typehtml .xiala a:hover{color:#e61717;background:url(../img/2.png) no-repeat;background-color:#f5f7fa;background-position:150px 12px;}
.fabuleft .fabumain .u1 .l2 .typehtml .xiala .a1{font-weight:700;color:#e61717;background:url(../img/2.png) no-repeat;background-color:#f5f7fa;background-position:150px 12px;}
.fabuleft .fabumain .u1 .l2 .typehtml .xiala1{border-radius:5px 0 0 5px;}
.fabuleft .fabumain .u1 .l2 .typehtml .xiala2{border-radius:0 5px 5px 0;border-left:0;}
.fabuleft .fabumain .u1 .l2 .typehtml .xiala2 a{background-image:none;}
.fabuleft .fabumain .u1 .l2 .typehtml .xiala2 a:hover{background-image:none;}
.fabuleft .fabumain .u1 .l3{width:110px;height:350px;text-align:right;padding:10px 22px 0 0;font-size:15px;}
.fabuleft .fabumain .u1 .l3 span{color:#f56c6c;}
.fabuleft .fabumain .u1 .l4{width:798px;height:360px;}
.fabuleft .fabumain .u1 .l99{padding:0 0 0 132px;width:798px;}
.fabuleft .fabumain .u1 .l99 input{float:left;color:#fff;width:200px;height:46px;font-size:18px;border-radius:5px;cursor:pointer;background-color:#e60012;border:0;}
.faburight{float:right;width:272px;text-align:left;}

/*列表*/
.listleft{float:left;width:960px;text-align:left;}
.listleft .selmain{float:left;width:910px;margin:10px 0 0 0;padding:0 25px 15px 25px;background-color:#fff;}
.listleft .selmain .u1{float:left;width:100%;margin:15px 0 0 0;font-size:14px;color:#555555;}
.listleft .selmain .u1 li{float:left;}
.listleft .selmain .u1 .l1{width:72px;padding-top:9px;padding-right:10px;text-align:right;}
.listleft .selmain .u1 .l1 span{float:left;cursor:default;width:56px;overflow:hidden;height:17px;}
.listleft .selmain .u1 .l2{width:828px;overflow:hidden;/*height:33px;*/}
.listleft .selmain .u1 .l2 a{float:left;padding:3px 10px 0 10px;height:23px;border:#fff solid 1px;color:#726e6e;margin-right:10px;margin-top:5px;border-radius:2px;}
.listleft .selmain .u1 .l2 a:hover{border:#b4b4b4 solid 1px;background-color:#f7f7f7;color:#726e6e;}
.listleft .selmain .u1 .l2 .a1{border:#68bef9 solid 1px;background-color:#dceff9;color:#1c99ef;}
.listleft .selmain .u1 .l21{height:auto;overflow:auto;}
.listleft .selmain .xiala{float:left;width:1098px;margin:15px 0 0 0;font-size:14px;color:#555555;}
.listleft .selmain .xiala .d1{width:52px;padding-top:9px;float:left;}
.listleft .selmain .xiala .d2{float:left;width:127px;height:30px;margin:4px 10px 0 0;}
.listleft .selmain .xiala .d2 .s1{float:left;width:120px;height:28px;line-height:28px;border:#DDDDDD solid 1px;border-radius:2px;padding:0 0 0 5px;background:url(../img/jianv.gif) right center no-repeat;background-color:#fff;cursor:pointer;}
.listleft .selmain .xiala .d2 .xllist{float:left;width:125px;margin-top:-2px;border:#ddd solid 1px;position:relative;background-color:#fff;z-index:9;}
.listleft .selmain .xiala .d2 .xllist a{float:left;padding:4px 5px 0 5px;height:24px;width:115px;}
.listleft .selmain .xiala .d2 .xllist a:hover{text-decoration:none;background-color:#f2f2f2;}
.listleft .selmain .xiala .d2 .xllist1{width:375px;}
.listleft .selmain .xiala .user{float:left;margin:4px 0 0 0;}
.listleft .selmain .xiala .user li{float:left;}
.listleft .selmain .xiala .user .l1{}
.listleft .selmain .xiala .user .l1 input{float:left;border:#ddd solid 1px;height:30px;padding-left:5px;border-radius:2px 0 0 2px;border-right:0;}
.listleft .selmain .xiala .user .l2{}
.listleft .selmain .xiala .user .l2 input{float:left;height:30px;border:#ddd solid 1px;border-radius:0 2px 2px 0;border-left:0;width:60px;cursor:pointer;}
.listleft .nser{float:left;background-color:#fff;border-top:0;width:960px;text-align:left;font-size:14px;padding:0 0 7px 0;margin:10px 0 0 0;}
.listleft .nser .u1{float:left;width:960px;}
.listleft .nser .u1 li{float:left;}
.listleft .nser .u1 .l1{width:80px;text-align:left;color:#808080;padding:8px 0 0 13px;}
.listleft .nser .u1 .l2{width:867px;}
.listleft .nser .u1 .l2 .s1{float:left;}
.listleft .nser .u1 .l2 .s1 a{color:#808080;border:#FFBC89 solid 1px;padding:0 23px 0 6px;height:19px;line-height:19px;background:url(../../img/serclose1.gif) right center no-repeat;margin:7px 4px 0 0;background-color:#fff;float:left;}
.listleft .nser .u1 .l2 .s1 a:hover{border:#FF8040 solid 1px;background:url(../../img/serclose2.gif) right center no-repeat;background-color:#fff;}
.listleft .renwulist{float:left;width:960px;height:70px;border-bottom:#ededed solid 1px;background-color:#fff;}
.listleft .renwulist li{float:left;}
.listleft .renwulist .l0{width:50px;text-align:center;padding-top:14px;}
.listleft .renwulist .l1{width:616px;}
.listleft .renwulist .l1 .tit{float:left;width:100%;height:20px;line-height:20px;overflow:hidden;margin:13px 0 4px 0;}
.listleft .renwulist .l1 .tit a{color:#0b73bb;font-size:16px;}
.listleft .renwulist .l1 .tit a:hover{text-decoration:underline;}
.listleft .renwulist .l1 .tit strong{color:#ff7700;font-size:16px;}
.listleft .renwulist .l1 .s1{float:left;height:20px;color:#999;line-height:20px;margin-right:21px;}
.listleft .renwulist .l2{width:200px;line-height:25px;padding-top:10px;color:#999;}
.listleft .renwulist .l2 .s1{color:#247fbd;}
.listleft .renwulist .l2 .s2{color:#3a933a;}
.listleft .renwulist .l3{width:94px;padding:19px 0 0 0;}
.listleft .renwulist .l3 a{float:left;height:30px;line-height:30px;width:72px;border-radius:3px;text-align:center;}
.listleft .renwulist .l3 .a1{border:#bed3f0 solid 1px;background-color:#f5faff;color:#666;}
.listleft .renwulist .l3 .a1:hover{color:#fff;background-color:#6899ec;}
.listleft .renwulist:hover{box-shadow: 0 0 5px 1px rgba(111, 116, 132, 0.2);}
.listright{float:right;width:272px;text-align:left;}

/*详情*/
.viewleft{float:left;width:960px;text-align:left;}
.viewleft .viewmain{float:left;width:920px;padding:20px;margin:10px 0 0 0;background-color:#fff;}
.viewleft .viewmain .u1{float:left;width:780px;}
.viewleft .viewmain .u1 li{float:left;}
.viewleft .viewmain .u1 .l1{color:#fff;text-align:center;background-color:#df231b;height:35px;line-height:35px;font-size:18px;width:80px;}
.viewleft .viewmain .u1 .l2{border:#df231b solid 1px;height:33px;line-height:33px;padding:0 8px;font-size:19px;font-weight:700;color:#df231b;}
.viewleft .viewmain .rwzt{float:right;margin-right:23px;width:115px;text-align:center;border:#ddd solid 1px;line-height:33px;font-size:16px;}
.viewleft .viewmain .tit{float:left;width:100%;margin:18px 0 0 0;font-size:24px;font-weight:500;}
.viewleft .viewmain .u2{float:left;width:100%;margin:22px 0 0 0;font-size:14px;color:#666;height:25px;line-height:25px;}
.viewleft .viewmain .u2 li{float:left;}
.viewleft .viewmain .u2 .l2{margin-left:25px;background:url(../img/sj.gif) left center no-repeat;padding-left:30px;}
.viewleft .viewmain .u2 .l3{margin-left:25px;background:url(../img/money.gif) left center no-repeat;padding-left:30px;}
.viewleft .viewmain .u3{float:left;border:#e9e9e9 solid 1px;width:918px;padding:0 0 25px 0;background-color:#f2f2f2;margin:25px 0 0 0;}
.viewleft .viewmain .u3 li{float:left;}
.viewleft .viewmain .u3 .l1{width:100%;}
.viewleft .viewmain .u3 .l1 span{float:left;height:22px;margin:0 0 0 54px;position:relative;}
.viewleft .viewmain .u3 .l1 .s1{background:url(../img/jd1.png) no-repeat;z-index:1;width:810px;margin-top:30px;}
.viewleft .viewmain .u3 .l1 .s2{background:url(../img/jd2.png) no-repeat;z-index:2;width:150px;margin-top:-22px;}
.viewleft .viewmain .u3 .l2{width:864px;padding:15px 54px 0 54px;font-size:14px;}
.viewleft .viewmain .u3 .l2 span{float:left;width:135px;text-align:center;}
.viewleft .viewmain .u4{float:left;border:#e9e9e9 solid 1px;width:918px;background-color:#fcfcfc;margin-top:25px;}
.viewleft .viewmain .u4 li{float:left;}
.viewleft .viewmain .u4 .l1{width:500px;font-size:14px;padding-left:30px;height:76px;line-height:76px;}
.viewleft .viewmain .u4 .l2{width:366px;padding:22px 22px 22px 0;}
.viewleft .viewmain .u4 .l2 a{float:right;width:115px;text-align:center;height:30px;color:#df231b;border:#df231b solid 1px;border-radius:2px;line-height:30px;}
.viewleft .viewmain .u4 .l2 a:hover{color:#fff;background-color:#df231b;}
.viewleft .viewmain .titcap{float:left;width:100%;font-size:25px;margin-top:20px;font-weight:100;}
.viewleft .viewmain .renwutxt{float:left;font-size:14px;width:100%;line-height:30px;padding:10px 0 0 0;}
.viewleft .viewmain .renwutxt img{max-width:100% !important;}
.viewleft .viewmain .jieshou{float:left;width:100%;border-top:#d6d6d6 dotted 1px;margin:30px 0 0 0;padding:30px 0;}
.viewleft .viewmain .jieshou a{float:left;color:#fff;background-color:#f52820;font-size:18px;border-radius:4px;margin-left:360px;text-align:center;width:200px;height:55px;line-height:55px;}
.viewleft .viewmain .jieshou a:hover{background-color:#d33a34;}
.viewleft .jieshou1{float:left;margin:10px 0 0 0;width:960px;text-align:left;background-color:#fff;}
.viewleft .jieshou1 .tx{float:left;margin:10px 0 10px 10px;}
.viewleft .jieshou1 .tx img{padding:1px;width:80px;height:80px;border:#ededed solid 1px;}
.viewleft .jieshou1 .u1{float:left;width:500px;margin:10px 0 0 10px;}
.viewleft .jieshou1 .u1 li{float:left;width:100%;}
.viewleft .jieshou1 .u1 .l1{padding:3px 0 0 0;}
.viewleft .jieshou1 .u1 .l1 a{color:#247fbd;font-size:16px;}
.viewleft .jieshou1 .u1 .l2{padding:9px 0 0 0;}
.viewleft .jieshou1 .u1 .l2 .s1{float:left;}
.viewleft .jieshou1 .u1 .l2 img{float:left;cursor:pointer;}
.viewleft .jieshou1 .u1 .l3{padding:9px 0 0 0;}
.viewleft .jieshou1 .xuan{float:right;width:80px;margin:3px 10px 0 0;}
.viewleft .jieshou1 .xuan a{float:left;margin:11px 0 0 0;background-color:#f4f4f4;width:78px;border:#dfdfdf solid 1px;border-radius:2px;height:31px;line-height:31px;text-align:center;}
.viewleft .jieshou1 .xuan a:hover{background-color:#fff;}
.viewleft .jieshou1 .xuan .a2{color:#ff6600;border:#ff6600 solid 1px;font-size:15px;font-weight:100;background-color:#fff;background:url(../img/zb.gif) no-repeat;background-position:4px 6px;text-align:left;padding-left:30px;width:48px;}
.viewleft .jieshou1 .jiami{float:left;width:100%;font-size:14px;padding:100px 0 0 0;height:50px;background:url(../img/jiami.gif) no-repeat;background-position:449px 30px;border-top:#f5f5f5 solid 1px;text-align:center;}
.viewleft .jieshou1 .jieshoutxt{float:left;width:920px;font-size:14px;border-top:#f5f5f5 solid 1px;padding:15px 20px;line-height:30px;}
.viewleft .jieshou1 .sm{float:left;width:920px;color:#999999;border-top:#f5f5f5 solid 1px;padding:20px;}
.viewleft .jieshou1:hover{box-shadow: 0 0 6px 1px rgba(111, 116, 132, 0.1);}
.viewright{float:right;width:272px;text-align:left;}
.viewright .fbz{float:left;width:100%;background-color:#fff;margin:10px 0 0 0;text-align:center;padding:20px 0 15px 0;font-size:14px;}
.viewright .fbz img{border:#e5e5e5 solid 1px;padding:5px;margin:0 0 10px 0;width:100px;}
.viewright .fenx{float:left;width:100%;background-color:#fff;}
.viewright .fenx .heng{float:left;border-bottom:#e9e9e9 solid 1px;margin:0 20px;width:232px;}
.viewright .fenx .u1{float:left;width:100%;margin:20px 0 0 0;}
.viewright .fenx .u1 li{float:left;width:135px;text-align:center;font-size:17px;line-height:30px;}
.viewright .fenx .u1 .l1{border-right:#e9e9e9 solid 1px;}
.viewright .fenx .u2{float:left;width:232px;margin:22px 20px 0 20px;border-bottom:#e9e9e9 solid 1px;}
.viewright .fenx .u2 li{float:left;width:100%;}
.viewright .fenx .u2 .l1{font-size:14px;}
.viewright .fenx .u2 .l2{margin:12px 0 15px 0;}
.viewright #hengzb{float:left;width:100%;}
.viewright .baom{float:left;width:272px;background-color:#fff;height:165px;}
.viewright .baom .u1{float:left;width:220px;margin:15px 26px 0 26px;}
.viewright .baom .u1 li{float:left;width:100%;}
.viewright .baom .u1 .l1{font-size:14px;}
.viewright .baom .u1 .l2{padding:15px 0 0 0;}
.viewright .baom .u1 .l2 a{float:left;color:#fff;background-color:#f52820;font-size:20px;border-radius:4px;text-align:center;width:100%;height:55px;line-height:55px;}
.viewright .baom .u1 .l3{margin-top:14px;}
.viewright .baom .u1 .l3 a{float:left;border:#ebebeb solid 1px;border-radius:2px;height:30px;background-color:#f5f5f5;color:#999999;line-height:30px;text-align:center;}
.viewright .baom .u1 .l3 .a1{margin-right:8px;width:90px;}
.viewright .baom .u1 .l3 .a2{width:118px;}
.viewright .baomfixed{position:fixed;top:0px;}
.viewright .baomM{float:left;width:272px;height:165px;display:none;}

/*公右*/
.zuixin{float:left;margin:15px 0 0 0;width:100%;background-color:#fff;}
.zuixin .d1{float:left;text-align:center;font-size:16px;width:100%;padding:15px 0;}
.zuixin .u1{float:left;width:232px;margin:0 20px;border-top:#eeeeee dotted 1px;padding:12px 0;}
.zuixin .u1 li{float:left;width:100%;}
.zuixin .u1 .l1{font-weight:700;color:#ee2626;font-size:13px;}
.zuixin .u1 .l2{padding:6px 0 0 0;line-height:22px;color:#999;}
.zuixin .u1 .l2 a{color:#0066cc;font-size:14px;}
.zuixin .u1 .l2 a:hover{text-decoration:underline;}
.gegz{float:left;margin:10px 0 0 0;width:100%;background-color:#fff;}
.gegz .d1{float:left;text-align:center;font-size:16px;width:100%;padding:15px 0;}
.gegz .ad1{float:left;width:232px;margin:0 20px;border-top:#eeeeee dotted 1px;padding:12px 0;}
.gegz .ad1 img{max-width:100% !important;}

/*接手弹*/
.jieshoutang{float:left;width:600px;text-align:left;}
.jieshoutang .u1{float:left;width:100%;font-size:15px;margin:10px 0 0 0;}
.jieshoutang .u1 li{float:left;}
.jieshoutang .u1 .l1{width:90px;height:44px;padding-top:11px;text-align:right;}
.jieshoutang .u1 .l21{width:510px;height:44px;padding-top:11px;}
.jieshoutang .u1 .l2{width:510px;height:55px;}
.jieshoutang .u1 .l2 .inp{float:left;border:#dfdfdf solid 1px;box-shadow: 0 0 5px 1px rgba(111, 116, 132, 0.1);border-radius:5px;height:43px;font-size:14px;padding-left:14px;font-family:"Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",华文细黑,STHeiti,MingLiu;}
.jieshoutang .u1 .l3{width:90px;height:244px;padding-top:11px;text-align:right;}
.jieshoutang .u1 .l4{width:510px;height:245px;padding-top:10px;}
.jieshoutang .u1 .l5{width:510px;padding-left:90px;}
.jieshoutang .u1 .l5 input{float:left;height:40px;cursor:pointer;width:160px;border:0;border-radius:4px;}
.jieshoutang .u1 .l5 .btn1{color:#fff;background-color:#5488e0;}
.jieshoutang .u1 .l5 .btn2{color:#666;background-color:#e0e0e0;margin-left:20px;display:none;}

/*选标弹*/
.xuanbiaotang{float:left;width:300px;text-align:left;}
.xuanbiaotang .u1{float:left;width:100%;font-size:15px;margin:10px 0 0 0;}
.xuanbiaotang .u1 li{float:left;}
.xuanbiaotang .u1 .l1{width:90px;height:44px;padding-top:11px;text-align:right;}
.xuanbiaotang .u1 .l21{width:210px;height:44px;padding-top:11px;}
.xuanbiaotang .u1 .l5{width:210px;padding-left:90px;}
.xuanbiaotang .u1 .l5 input{float:left;height:40px;cursor:pointer;width:160px;border:0;border-radius:4px;}
.xuanbiaotang .u1 .l5 .btn1{color:#fff;background-color:#5488e0;}
.xuanbiaotang .u1 .l5 .btn2{color:#666;background-color:#e0e0e0;margin-left:20px;display:none;}

/*接手条件*/
.jstj1{float:left;text-align:left;font-size:16px;font-weight:700;padding:20px 0 0 20px;line-height:35px;}
.jstj2{float:left;text-align:left;clear:both;margin-top:20px;font-size:14px;}
.jstj2 .u1{float:left;margin:0 20px 0 20px;width:658px;border:#ddd solid 1px;border-top:0;border-bottom:0;}
.jstj2 .u1 li{float:left;border-top:#ddd solid 1px;line-height:75px;}
.jstj2 .u1 .l1{width:480px;padding-left:20px;}
.jstj2 .u1 .l2{width:157px;border-left:#ddd solid 1px;text-align:center;font-weight:700;}
.jstj2 .u1:hover{background-color:#fff;}
.jstj2 .u1:last-child{border-bottom:#ddd solid 1px;}
















