body{background-color:#f2f2f2;}
/*新登录*/
.bfbnewreg{padding:70px 0;}
.regmain{float:left;width:1250px;min-height:478px;}
.regmain .regcenter{float:left;width:600px;padding:40px 0 40px 0;text-align:left;margin-left:530px;}
.regmain .regcenter .cap{float:left;width:100%;margin:0 0 12px 0;}
.regmain .regcenter .cap a{float:left;margin-right:30px;}
.regmain .regcenter .cap .a0{font-size:20px;margin-top:17px;}
.regmain .regcenter .cap .a1{font-size:34px;font-weight:700;}
.regmain .regcenter .cap span{float:left;border-left:#ddd solid 1px;width:30px;height:30px;margin-top:10px;}
.regmain .regcenter .u1{float:left;width:358px;height:58px;border:#f0f0f0 solid 1px;margin:10px 0 0 0;border-radius:3px;}
.regmain .regcenter .u1 li{float:left;}
.regmain .regcenter .u1 .l1{width:80px;font-size:15px;padding-left:15px;line-height:58px;}
.regmain .regcenter .u1 .l2{width:263px;}
.regmain .regcenter .u1 .l2 input{float:left;border:0;height:58px;font-size:15px;width:100%;}
.regmain .regcenter .u1 .l2 .inp1{width:130px;}
.regmain .regcenter .u1 .l2 a{float:left;width:132px;height:58px;color:#6b73f7;text-align:center;line-height:58px;border-left:#f0f0f0 solid 1px;}
.regmain .regcenter .regts{float:left;width:230px;height:60px;margin:10px 0 0 10px;line-height:60px;}
.regmain .regcenter .regts span{float:left;}
.regmain .regcenter .regts .s1{margin-top:22px;}
.regmain .regcenter .regts .s2{margin-left:5px;}
.regmain .regcenter .dbtn{float:left;margin:40px 0 0 0;width:100%;}
.regmain .regcenter .dbtn input{float:left;height:60px;width:360px;color:#fff;font-size:18px;background-color:#4c62fc;border:0;border-radius:4px;cursor:pointer;}
.regmain .regcenter .d1{float:left;margin:30px 0 0 0;width:360px;text-align:center;}
.regmain .regcenter .d1 a{border:#f1f1f1 solid 1px;color:#999999;padding:5px 10px;border-radius:25px;margin:0 5px;}
.regmain .regcenter .d1 a:hover{background-color:#f2f2f2;color:#000;}
.regmain .regcenter .d2{float:left;width:360px;color:#ccc;margin-top:25px;text-align:center;}
.regmain .regcenter .d2 a{color:#ccc;text-decoration:underline;}
.regmain .regcenter .d2 a:hover{color:#000;}
.regmain .regright{float:left;width:120px;text-align:left;}
.regmain .regright .img1{float:right;margin:10px 10px 0 0;position:relative;z-index:1;cursor:pointer;}
.regmain .regright #wxloginm{float:right;margin:0 10px 0 0;z-index:2;background-color:#fff;position:relative;margin-top:-71px;}

/*找回密码*/
.getmm{float:left;text-align:left;background-color:#fff;width:1250px;margin:10px 0 0 0;padding:40px 0;}
.getmmcap{float:left;border-bottom:#f4f4f4 solid 1px;text-align:left;width:1005px;padding-left:245px;}
.getmmcap a{float:left;width:220px;height:40px;margin:0 80px;font-size:16px;color:#999;text-align:center;}
.getmmcap .a1{color:#333;font-weight:700;border-bottom:#333 solid 2px;}
.getmm .u1{float:left;width:408px;height:58px;border:#f0f0f0 solid 1px;margin:20px 0 0 420px;border-radius:3px;clear:both;}
.getmm .u1 li{float:left;}
.getmm .u1 .l1{width:110px;font-size:15px;padding-left:15px;line-height:58px;}
.getmm .u1 .l2{width:283px;}
.getmm .u1 .l2 input{float:left;border:0;height:58px;font-size:15px;width:100%;}
.getmm .u1 .l2 .inp1{width:130px;}
.getmm .u1 .l2 a{float:left;width:132px;height:58px;color:#6b73f7;text-align:center;line-height:58px;border-left:#f0f0f0 solid 1px;}
.getmm .dbtn{float:left;margin:40px 0 0 420px;clear:both;}
.getmm .dbtn input{float:left;height:60px;width:410px;color:#fff;font-size:18px;background-color:#4c62fc;border:0;border-radius:4px;cursor:pointer;}










