@charset "utf-8";
body{background-color:#f9f9f9;}
a:hover{text-decoration:none;}
.nmleft{float:left;width:850px;text-align:left;}
.nmleft .iqh{float:left;width:850px;margin:15px 0 0 0;}
#owl-demo{position:relative;width:850px;height:380px;}
#owl-demo .item{ position:relative;display:block;}
#owl-demo img{display:block;width:850px;height:380px;}
#owl-demo b{position:absolute;left:0;bottom:0;width:100%;height:25px;}
.owl-pagination{position:absolute;left:0;bottom:0;width:100%;height:17px;text-align:center;}
.owl-page{display:inline-block;width:10px;height:10px;margin:0 5px;background-image:url(../img/bg15.png);*display:inline;*zoom:1;}
.owl-pagination .active{width:25px;background-image:url(../img/bg16.png);}
.owl-buttons{display:none;}
.owl-buttons div{position:absolute;top:50%;width:40px;height:80px;margin-top:-40px;text-indent:-9999px;}
.owl-prev{left:0;background-image:url(../img/bg17.png);}
.owl-next{right:0;background-image:url(../img/bg18.png);}
.owl-prev:hover{background-image:url(../img/bg19.png);}
.owl-next:hover{background-image:url(../img/bg20.png);}
.nmleft .cap{float:left;width:850px;margin:29px 0 0 0;font-size:22px;height:42px;}
.nmleft .tj{float:left;width:850px;background-color:#fff;border-top:#1A9FDA solid 3px;}
.nmleft .tj .u1{float:left;width:394px;height:160px;padding:15px;border-left:#F4F4F4 solid 1px;border-bottom:#F4F4F4 solid 1px;}
.nmleft .tj .u1 li{float:left;}
.nmleft .tj .u1 .l1{width:215px;height:160px;}
.nmleft .tj .u1 .l2{width:179px;height:65px;font-size:18px;line-height:28px;}
.nmleft .tj .u1 .l2 span{float:left;width:179px;overflow:hidden;height:55px;}
.nmleft .tj .u1 .l3{width:179px;height:65px;color:#999;line-height:20px;overflow:hidden;}
.nmleft .tj .u1 .l4{width:179px;color:#999;}
.nmleft .tj .u1:hover{background-color:#F4F4F4;}
.nmleft .tj .u1:hover .l2{color:#1A9FDA;}

.nmleft .fllist{float:left;width:850px;background-color:#fff;border-top:#1A9FDA solid 3px;}
.nmleft .fllist .d1{float:left;width:425px;border-right:#F4F4F4 solid 1px;}
.nmleft .fllist .d1 .u1{float:left;width:394px;height:161px;padding:15px;border-left:#F4F4F4 solid 1px;border-bottom:#F4F4F4 solid 1px;}
.nmleft .fllist .d1 .u1 li{float:left;}
.nmleft .fllist .d1 .u1 .l1{width:215px;height:160px;}
.nmleft .fllist .d1 .u1 .l2{width:179px;height:60px;font-size:18px;line-height:28px;overflow:hidden;}
.nmleft .fllist .d1 .u1 .l3{width:179px;height:65px;padding:5px 0 0 0;color:#999;line-height:20px;overflow:hidden;}
.nmleft .fllist .d1 .u1 .l4{width:179px;color:#999;}
.nmleft .fllist .d1 .u1:hover{background-color:#F4F4F4;}
.nmleft .fllist .d1 .u1:hover .l2{color:#1A9FDA;}
.nmleft .fllist .u2{float:left;width:394px;border-bottom:#F4F4F4 solid 1px;height:65px;padding:15px;}
.nmleft .fllist .u2 li{float:left;}
.nmleft .fllist .u2 .l1{width:394px;font-size:17px;line-height:27px;height:50px;}
.nmleft .fllist .u2 .l2{color:#999;text-align:right;width:394px;}

.nmright{float:right;width:380px;text-align:left;}
.nmright .jiao{float:left;background-color:#fff;height:380px;margin:15px 0 0 0;}
.nmright .jiao .u1{float:left;width:380px;margin:17px 0 0 0;border-bottom:#F4F4F4 solid 1px;height:40px;}
.nmright .jiao .u1 li{float:left;}
.nmright .jiao .u1 .l0{border-left:#1A9FDA solid 3px;height:18px;width:20px;margin:2px 0 0 0;}
.nmright .jiao .u1 .l1{width:240px;font-size:17px;font-weight:700;color:#495060;}
.nmright .jiao .u1 .l2{width:97px;text-align:right;padding:4px 20px 0 0;}
.nmright .jiao .u2{float:left;margin:16px 20px 0 20px;width:340px;height:60px;overflow:hidden;}
.nmright .jiao .u2 li{float:left;}
.nmright .jiao .u2 .l1{width:340px;height:40px;font-size:14px;overflow:hidden;}
.nmright .jiao .u2 .l1 a{color:#333;}
.nmright .jiao .u2 .l1 a:hover{color:#1A9FDA;}
.nmright .jiao .u2 .l2{color:#999;width:340px;text-align:right;margin:6px 0 0 0;}
.nmright .fenlei{float:left;margin:71px 0 0 0;width:380px;background-color:#fff;}
.nmright .fenlei .u1{float:left;width:380px;margin:18px 0 0 0;border-bottom:#F4F4F4 solid 1px;height:41px;}
.nmright .fenlei .u1 li{float:left;}
.nmright .fenlei .u1 .l0{border-left:#1A9FDA solid 3px;height:18px;width:20px;margin:2px 0 0 0;}
.nmright .fenlei .u1 .l1{width:290px;font-size:17px;font-weight:700;color:#495060;}
.nmright .fenlei .d1{float:left;width:370px;padding:0 10px 20px 0;}
.nmright .fenlei .d1 a{float:left;color:#1A9FDA;padding:4px 10px 0 10px;height:21px;border:#1A9FDA solid 1px;border-radius:15px;margin:20px 0 0 16px;}
.nmright .fenlei .d1 a:hover{color:#fff;background-color:#1A9FDA;}
.nmright .huodong{float:left;margin:20px 0 0 0;width:380px;background-color:#fff;}
.nmright .huodong .u1{float:left;width:380px;margin:17px 0 0 0;border-bottom:#F4F4F4 solid 1px;height:40px;}
.nmright .huodong .u1 li{float:left;}
.nmright .huodong .u1 .l0{border-left:#1A9FDA solid 3px;height:18px;width:20px;margin:2px 0 0 0;}
.nmright .huodong .u1 .l1{width:270px;font-size:17px;font-weight:700;color:#495060;}
.nmright .huodong .u1 .l2{width:67px;text-align:right;padding:4px 20px 0 0;}
.nmright .huodong .u2{float:left;width:340px;padding:20px;border-bottom:#f4f4f4 solid 1px;}
.nmright .huodong .u2 li{float:left;}
.nmright .huodong .u2 .l1{width:340px;height:200px;}
.nmright .huodong .u2 .l1 img{width:340px;height:190px;}
.nmright .huodong .u2 .l2{width:340px;height:20px;font-size:14px;overflow:hidden;}
.nmright .huodong .u2 .l3{width:340px;line-height:20px;padding:5px 0 0 0;color:#666;}
.nmright .huodong .u2:hover{background-color:#F4F4F4;}
.nmright .zazhi{float:left;margin:20px 0 0 0;width:380px;background-color:#fff;}
.nmright .zazhi .u1{float:left;width:380px;margin:17px 0 0 0;border-bottom:#F4F4F4 solid 1px;height:40px;}
.nmright .zazhi .u1 li{float:left;}
.nmright .zazhi .u1 .l0{border-left:#1A9FDA solid 3px;height:18px;width:20px;margin:2px 0 0 0;}
.nmright .zazhi .u1 .l1{width:270px;font-size:17px;font-weight:700;color:#495060;}
.nmright .zazhi .u1 .l2{width:67px;text-align:right;padding:4px 20px 0 0;}
.nmright .zazhi .u2{float:left;padding:20px;width:340px;border-bottom:#F4F4F4 solid 1px;}
.nmright .zazhi .u2 li{float:left;}
.nmright .zazhi .u2 .l1{width:115px;}
.nmright .zazhi .u2 .l1 img{width:100px;}
.nmright .zazhi .u2 .l2{width:225px;height:50px;line-height:23px;font-size:14px;text-align:center;overflow:hidden;}
.nmright .zazhi .u2 .l3{width:225px;}
.nmright .zazhi .u2 .l3 a{color:#E3F6FF;width:99px;height:24px;padding:4px 0 0 0;background-color:#1A9FDA;text-align:center;float:left;border-radius:3px;font-size:14px;}
.nmright .shuju{float:left;margin:20px 0 0 0;width:380px;background-color:#fff;}
.nmright .shuju .u1{float:left;width:380px;margin:17px 0 17px 0;border-bottom:#F4F4F4 solid 1px;height:40px;}
.nmright .shuju .u1 li{float:left;}
.nmright .shuju .u1 .l0{border-left:#1A9FDA solid 3px;height:18px;width:20px;margin:2px 0 0 0;}
.nmright .shuju .u1 .l1{width:270px;font-size:17px;font-weight:700;color:#495060;}
.nmright .shuju .u1 .l2{width:67px;text-align:right;padding:4px 20px 0 0;}
.nmright .shuju .u2{float:left;margin:0 20px 0 20px;width:340px;background:url(../img/qian.gif) no-repeat;height:77px;}
.nmright .shuju .u2 li{float:left;}
.nmright .shuju .u2 .l1{padding:0 0 0 20px;width:320px;height:50px;margin-top:-6px;font-size:14px;line-height:22px;}
.nmright .shuju .u2 .l1 a{color:#333;}
.nmright .shuju .u2 .l2{width:340px;text-align:right;color:#999;}

/*列表*/
.newsleft{float:left;width:950px;text-align:left;background-color:#fff;}
.newsleft .list{float:left;padding:25px 0;margin:0 20px;width:910px;border-top:#eee solid 1px;}
.newsleft .list li{float:left;}
.newsleft .list .l1{width:200px;}
.newsleft .list .l1 img{width:180px;height:144px;}
.newsleft .list .l2{width:710px;font-size:18px;line-height:40px;height:40px;overflow:hidden;}
.newsleft .list .l2 a:hover{color:#ff6600;text-decoration:underline;}
.newsleft .list .l3{width:710px;font-size:14px;line-height:25px;height:25px;overflow:hidden;margin:20px 0 30px 0;color:#999;cursor:default;}
.newsleft .list .l4 span{float:left;border:#ffb079 solid 1px;border-radius:4px;color:#ffb582;line-height:22px;padding:0 15px;}
.newsleft .list .l5{padding:1px 0 0 40px;color:#999999;line-height:22px;}
.newsleft .list0{border-top:0;}

.newsmain{float:left;width:1250px;text-align:left;margin:10px 0 0 0;}
.newsmain .left{width:950px;float:left;background-color:#fff;min-height:600px;}
.newsmain .left .titcap{float:left;font-size:30px;width:910px;padding:20px 20px 0 20px;color:#334354;}
.newsmain .left .u1{float:left;border-bottom:#e1e1e1 solid 1px;margin:17px 20px 0 20px;width:910px;padding:0 0 17px 0;}
.newsmain .left .u1 li{float:left;}
.newsmain .left .u1 .l1 span{float:left;border:#ffb079 solid 1px;border-radius:4px;color:#ffb582;line-height:22px;padding:0 15px;}
.newsmain .left .u1 .l2{padding:1px 0 0 40px;color:#999999;line-height:22px;}
.newsmain .left .zytad{float:left;margin:0 0 0 10px;}
.newsmain .left .ntxt{float:left;font-size:16px;line-height:30px;padding:20px;width:910px;}
.newsmain .left .ntxt img{max-width:100% !important;}
.newsmain .left .txtpage{float:left;margin:0 20px 0 20px;width:910px;text-align:center;padding:15px 0 15px 0;font-family:Arial, Helvetica, sans-serif;}
.newsmain .left .txtpage a{padding:10px;}
.newsmain .left .txtpage a:hover{text-decoration:none;background-color:#62A6EA;color:#fff;}
.newsmain .left .txtpage strong{padding:10px;color:red;}
.newsmain .left .pinlun{float:left;margin:10px 20px 0 20px;width:910px;}
.newsmain .left .pinlun .plu0{float:left;width:910px;margin:10px 0 0 0;}
.newsmain .left .pinlun .plu0 li{float:left;}
.newsmain .left .pinlun .plu0 .l1{width:910px;}
.newsmain .left .pinlun .plu0 .l1 textarea{float:left;width:910px;height:76px;}
.newsmain .left .pinlun .plu0 .l3{width:210px;margin:15px 0 0 0;}
.newsmain .left .pinlun .plu0 .l2{width:700px;}
.newsmain .left .pinlun .plu0 .l2 input{float:right;width:80px;height:27px;cursor:pointer;margin:10px 0 0 0;border:#D1D1D1 solid 1px;background-color:#F2F2F2;}
.newsmain .left .pinlun .plu0 .l2 input:hover{text-decoration:none;background-color:#E6E6E6;}
.newsmain .left .pinlun .pld{float:left;width:910px;padding:15px 0;border-bottom:#E5E5E5 solid 1px;}
.newsmain .left .pinlun .pld .pld1{float:left;width:60px;}
.newsmain .left .pinlun .pld .plu2{float:left;width:850px;}
.newsmain .left .pinlun .pld .plu2 li{float:left;}
.newsmain .left .pinlun .pld .plu2 .l1{width:850px;font-size:15px;color:#06A7E1;height:23px;}
.newsmain .left .pinlun .pld .plu2 .l2{line-height:20px;font-size:14px;width:850px;}
.newsmain .left .pinlun .pld .plu2 .l3{margin:10px 0 0 0;color:#666;width:850px;}
.newsmain .left .lad{float:left;margin:10px 20px 0 20px;width:910px;}
.newsmain .left .leftcap{float:left;margin:20px 20px 0 20px;width:910px;font-size:20px;}
.newsmain .left .tjyuedulist{float:left;padding:25px 0;margin:0 20px;width:910px;border-top:#eee solid 1px;}
.newsmain .left .tjyuedulist li{float:left;}
.newsmain .left .tjyuedulist .l1{width:200px;}
.newsmain .left .tjyuedulist .l1 img{width:180px;height:144px;}
.newsmain .left .tjyuedulist .l2{width:710px;font-size:18px;line-height:40px;height:40px;overflow:hidden;}
.newsmain .left .tjyuedulist .l2 a:hover{color:#ff6600;text-decoration:underline;}
.newsmain .left .tjyuedulist .l3{width:710px;font-size:14px;line-height:25px;height:25px;overflow:hidden;margin:20px 0 30px 0;color:#999;cursor:default;}
.newsmain .left .tjyuedulist .l4 span{float:left;border:#ffb079 solid 1px;border-radius:4px;color:#ffb582;line-height:22px;padding:0 15px;}
.newsmain .left .tjyuedulist .l5{padding:1px 0 0 40px;color:#999999;line-height:22px;}
.newsmain .left .tjyuedulist0{border-top:0;}

.right{float:left;margin:0 0 0 10px;width:290px;text-align:left;}
.right .nty{float:left;width:290px;text-align:left;padding:10px 0 10px 0;background-color:#fff;}
.right .nty a{float:left;color:#1A9FDA;padding:0 10px 0 10px;line-height:25px;border:#1A9FDA solid 1px;border-radius:15px;margin:10px 0 0 16px;}
.right .nty a:hover{color:#fff;background-color:#1A9FDA;}
.right .nty .a1{color:#fff;background-color:#1A9FDA;}
.right .zuozhe{float:left;width:290px;background-color:#fff;text-align:center;margin-bottom:10px;}
.right .zuozhe .u1{float:left;width:100%;}
.right .zuozhe .u1 li{float:left;}
.right .zuozhe .u1 .l1{width:100%;padding:50px 0 10px 0;}
.right .zuozhe .u1 .l1 img{width:90px;height:90px;border-radius:90px;}
.right .zuozhe .u1 .l2{width:100%;font-size:15px;font-weight:700;padding:0 0 20px 0;}
.right .zuozhe .u1 .l2 a{color:#666;}
.right .zuozhe .u1 .l3{width:80px;}
.right .zuozhe .u1 .l3 span{float:left;width:100%;clear:both;}
.right .zuozhe .u1 .l3 .s1{color:#666;}
.right .zuozhe .u1 .l3 .s2{color:#999;margin-top:4px;}
.right .zuozhe .u1 .l31{margin-left:25px;}
.right .zuozhe .u1 .l33{margin-right:25px;}
.right .zuozhe .u1 .l4{width:100%;}
.right .zuozhe .u1 .l4 a{float:left;border:#ff6900 solid 1px;border-radius:4px;color:#ff6900;width:160px;line-height:32px;margin:20px 65px;}
.right .hotpro{float:left;width:290px;margin-bottom:10px;background-color:#fff;}
.right .hotpro li{float:left;}
.right .hotpro .l1{font-size:14px;font-weight:700;height:27px;width:280px;padding:9px 0 0 10px;}
.right .hotpro .l2{width:270px;padding:10px 0;margin:0 10px;line-height:20px;border-top:#eee dotted 1px;}
.right .hotpro .l2 img{width:60px;height:60px;margin:0 8px 0 0;}
.right .hotnew{float:left;width:290px;margin-bottom:10px;text-align:left;background-color:#fff;}
.right .hotnew .u1{float:left;width:290px;margin:0 10px;}
.right .hotnew .u1 li{float:left;}
.right .hotnew .u1 .l1{width:90px;font-size:14px;height:27px;border-bottom:#CB0000 solid 1px;padding:9px 0 0 0px;}
.right .hotnew .u1 .l2{width:180px;height:27px;border-bottom:#ddd solid 1px;text-align:right;padding:9px 0 0 0;}
.right .hotnew .u2{float:left;width:270px;margin:5px 10px;border-top:0;background-color:#fff;}
.right .hotnew .u2 li{float:left;}
.right .hotnew .u2 .l1{width:22px;padding:6px 0 0 5px;height:22px;}
.right .hotnew .u2 .l1 span{float:left;width:16px;color:#666;height:16px;background-color:#DDDDDB;text-align:center;}
.right .hotnew .u2 .l1 .s1{background-color:#EB322F;color:#fff;}
.right .hotnew .u2 .l1 .s2{background-color:#EB322F;color:#fff;}
.right .hotnew .u2 .l1 .s3{background-color:#EB322F;color:#fff;}
.right .hotnew .u2 .l2{padding:5px 0 0 0;height:23px;width:243px;}

