@charset "utf-8";
html{overflow-x:hidden;overflow-y:scroll;}
body{margin:0;font-size:12px;color:#333;word-wrap:break-word;font-family: "Open Sans", Arial, "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", STHeiti, "WenQuanYi Micro Hei", SimSun, sans-serif; -webkit-font-smoothing: antialiased; background-color:#f6f6f8;}
#eval,#searchtype,.Big-ICheckbox i,.Big-IRadio i,.ICheckbox i,.IRadio i,.api_login a,.c_g_ser span,.c_s_info a,.c_s_name .avatar,.certification i,.claims_ico,.d_g_menu .post,.d_g_menu .replay,.d_s_pess strong,.empty i,.file-panel i,.filelist .icon,.fixed-cart-list .more i,.fixed-cart-list center i,.fixed-click .refresh i,.fixed-tab .i i,.footer-gt dl dt,.gdlist dt,.i2 .l4 a,.icons,.index_tab i,.info2 i,.insert .pic i,.insert .pic strong,.layui-form-cart,.list_tab .l4,.login_btn,.login_right ul span,.mb-action-a,.nature span,.nav a,.notes h3,.outsideb,.preNext,.rank_shop i,.ranking-box dd i,.reg_btn,.reg_left ul div,.released i,.reply .u1 span,.reply input,.rl_top span,.s_list li a,.scoreLeft .mask,.screen_name i,.search i,.share-a,.slist .l4 a,.sms_start ul span,.sort_checkbox i,.sort_select i,.steps .right,.tab-hd span.active,.tdel,.tkey a,.toplink a,.ubar div ol,.ubar i,.uhead .ugg i,.uim .phone a,.uim .phone p,.uim .qq a,.uim .qq p,.uim .wechat a,.uim .wechat p,.uleft i,a.login_icon{background:url(../homeimg/bzm_yxImg/focus2018.png) no-repeat;}
/*全站主题颜色 同一系列，从深到浅*/
.g_ac0{color:#333;}
.g_ac0_h{color:#3C7BE6;}
.g_ac0:hover{color:#3C7BE6;}
.g_ac1{color:#333;}
.g_ac1_h{color:#3C7BE6;}
.g_ac1:hover{color:#3C7BE6;}
.g_ac2{color:#3C7BE6;}
.g_ac2_h{color:#3C7BE6;}
.g_ac2:hover{color:#FF6633;}
.g_ac3{color:#1FBC7B;}
.g_ac3_h{color:#2c6bea;}
.g_ac3:hover{color:#FF6633;}

.g_ac98_h{color:#FF5D56;} /*过渡色，通用色*/
.g_ac98:hover{color:#FF5D56;} /*过渡色，通用色*/
.g_ac99_h{color:#FF6633;} /*过渡色，通用色*/
.g_ac99:hover{color:#FF6633;} /*过渡色，通用色*/

.g_bc0{border-color:#ccc;}
.g_bc0_h{border-color:#6899EC;}
.g_bc0:hover{border-color:#6899EC;}

.g_bg0{background-color:#00D07A;color:#fff;}
.g_bg1{background-color:#6899EC;color:#fff;}


.niufixed{ position:fixed; top:0px;}
.section-tit-tag {position: relative;text-indent: -9999px;width: 38px!important;height: 38px!important; top: -220px;}
.section-tit-tag1 {width: 38px!important;height: 38px!important;top: -170px;position: relative;}

.screen_con a:hover, .right_rec dl:hover, .clist dt .ly cite, .right_rec dt .ly cite, .sort_checkbox .checked, .sort_checkbox .checked:hover, .sort_select dd a.curr, .sort_select dd a:hover, .sort_order a:hover, .sort_page .b, .sort_order a.curr, .screen_on cite a:hover, .screen_alink a:hover, .screen_count em {
    color: #3F51B5;
}

.proinf .pcenter .xianshi{background:#4d6ef2 url(../img/hdbg.png) no-repeat!important;}

/*全站主题色结束*/
@font-face{font-family:iconfont;src:url(../homeimg/bzm_yxImg/fonts/font_155938_qwx130txxwm.eot);src:url(../homeimg/bzm_yxImg/fonts/font_155938_qwx130txxwm.eot) format('embedded-opentype'),url(../homeimg/bzm_yxImg/fonts/font_155938_qwx130txxwm.woff) format('woff'),url(../homeimg/bzm_yxImg/fonts/font_155938_qwx130txxwm.ttf) format('truetype'),url(../homeimg/bzm_yxImg/fonts/font_155938_qwx130txxwm.svg#iconfont) format('svg')}
.verify{font-family:iconfont;font-size:24px;color:#247fbd}
.iconfont{font-family:iconfont;font-size:16px;-webkit-font-smoothing:antialiased;-webkit-text-stroke-width:.2px}
a#qq{background-position:-303px -225px}
a#baidu{background-position:-303px -248px}
a#sina{background-position:-303px -272px}
a#wechat{background-position:-303px -320px}
a#alipay{background-position:-303px -297px}
a#huzhan{background-position:-303px -344px}

label{cursor:pointer;}
cite,em,i{font-style:normal}

/*导航栏头上小图标*/
.hotxin { float: left; width: 26px;height: 20px; position: relative;left: 20px; top: -50px;z-index: 3;}
.ziying { float: left; width: 40px; height: 20px; position: relative; left: -8px;top: -50px;z-index: 3;}

.hide{display:none;}
.yjcode { width: 1250px;min-width: 1250px;}
.gray{color:#999;}
.red{color:red;}
.blue{color:#369;}
.orange{color:#007de4;}
.yellow{color:orange;}
.black{color:#000;}
.white{color:#fff;}
.topleft{float:left;}
.topright{float:right;}
.center{text-align:center;}
.b{font-weight:700;}
img{border:0;}
input{outline:0;background:0 0;}
input:-webkit-autofill{-webkit-box-shadow:0 0 0 1000px #fff inset;}
.f12{font-size:12px;}
.va-3{vertical-align:-3px;}
.va-2{vertical-align:-2px;}
.va-1{vertical-align:-1px;}
.va{vertical-align:0;}
.mt10{margin-top:10px;}
.mt15{margin-top:15px;}
.clear{clear:both;}
.clearfix:after{content:"";height:0;visibility:hidden;display:block;clear:both;}
.clearfix{zoom:1;}
.fixed{position:fixed;z-index:999999;}
.ad{text-align:right;overflow:hidden;margin-top:7px;width:1250px;}
.ad img{border:#d0d0d0 solid 1px;}
.ad #idc{margin-left:6px;}
.ad1{text-align:center;}
.ad2{text-align:center;overflow:hidden;border:#d9d9d9 solid 1px;margin-top:5px;width:1188px;height:60px;}
.ad3{text-align:right;margin-bottom:6px;border:#eee solid 1px;height:40px;clear:both;}
.ad3 img{margin:0 0 0 5px;}
.ad4{float:left;overflow:hidden;margin-top:5px;width:942px;}
.ad4 img{border:#d0d0d0 solid 1px;}
.ad4 #idc{margin-left:6px;}
.ad210{float:left;overflow:hidden;margin:10px 0 0 0;width:210px;height:210px;border:#aad0e7 solid 1px;}
.main{width:1250px;min-width:1250px;}


/*头部*/
.bfbtop{background-color:#f2f2f8;border-bottom:#ececec solid 1px;height:30px;}
.bfbtop .huany{float:left;color:#7c7c7c;line-height:30px;}
.bfbtop .huany a{color:#7c7c7c;}
.bfbtop .nologin{float:left;margin-left:5px;}
.bfbtop .nologin .topreg{float:left;height:30px;line-height:30px;background:url(../homeimg/bzm_yxImg/1.png) left center no-repeat;padding-left:20px;color:#666666;}
.bfbtop .nologin .topreg:hover{background:url(../homeimg/bzm_yxImg/1a.png) left center no-repeat;color:#2c6bea;}
.bfbtop .nologin .toplogin{float:left;margin-left:7px;width:55px;}
.bfbtop .nologin .toplogin .a1{float:left;margin-left:10px;}
.bfbtop .nologin .toplogin .a1 span{float:left;height:30px;line-height:30px;color:#666666;}
.bfbtop .nologin .toplogin .a1 img{float:left;margin-top:13px;margin-left:5px;-webkit-transition: -webkit-transform 0.2s ease-out;-moz-transition: -moz-transform 0.2s ease-out;    transition: transform 0.2s ease-out;}
.bfbtop .nologin .toplogin .a1 span:hover{color:#2c6bea;}
.bfbtop .nologin .toplogin .loginxl{float:left;clear:both;padding:10px 5px 10px 5px;width:80px;background-color:#fff;position: absolute;
    top: 30px;z-index:199;display:none;box-shadow:6px 6px 10px rgba(0,0,0,0.1);}
.bfbtop .nologin .toplogin .loginxl a{float:left;height:37px;line-height:37px;padding-left:25px;color:#666;}
.bfbtop .nologin .toplogin .loginxl .zh{background:url(../homeimg/bzm_yxImg/zh.png) left center no-repeat;}
.bfbtop .nologin .toplogin .loginxl .qq{background:url(../homeimg/bzm_yxImg/qq.png) left center no-repeat;}
.bfbtop .nologin .toplogin .loginxl .wx{background:url(../homeimg/bzm_yxImg/wx.png) left center no-repeat;}
.bfbtop .nologin .toplogin .loginxl .dx{background:url(../homeimg/bzm_yxImg/dx.png) left center no-repeat;}
.bfbtop .nologin .toplogin .loginxl a:hover{color:#000;}
.bfbtop .nologin .toplogin:hover{background-color:#fff;}
.bfbtop .nologin .toplogin:hover .loginxl{display:block;}
.bfbtop .nologin .toplogin:hover img{-webkit-transform: rotate(180deg);-moz-transform: rotate(180deg);transform: rotate(180deg);}
.bfbtop .yeslogin{float:left;margin-left:5px;text-align:left;}
.bfbtop .yeslogin .topuid{float:left;padding-left:10px;padding-right:10px;}
.bfbtop .yeslogin .topuid span{float:left;height:30px;line-height:30px;color:#666666;}
.bfbtop .yeslogin .topuid img{float:left;margin-top:13px;margin-left:5px;-webkit-transition: -webkit-transform 0.2s ease-out;-moz-transition: -moz-transform 0.2s ease-out;    transition: transform 0.2s ease-out;}
.bfbtop .yeslogin .topuid span:hover{color:#2c6bea;}
.bfbtop .yeslogin .yesxl{float:left;clear:both;box-shadow:6px 6px 10px rgba(0,0,0,0.1);width:270px;/*height:198px;*/position: absolute;
    top: 30px;z-index:99999;background-color:#fff;display:none;}
.bfbtop .yeslogin .yesxl .u1{float:left;margin:0 10px 0 10px;padding: 0 0 10px 0;width:250px;/*height:90px;*/border-bottom:#eeeeee solid 1px;}
.bfbtop .yeslogin .yesxl .u1 li{float:left;}
.bfbtop .yeslogin .yesxl .u1 .l1{width:64px;margin-top:13px;}
.bfbtop .yeslogin .yesxl .u1 .l1 img{width:60px;height:60px;padding:1px;border:#f3f3f3 solid 1px;border-radius:60px;}
.bfbtop .yeslogin .yesxl .u1 .l2{margin:8px 0 0 10px;width:130px;color:#7c7c7c;line-height:24px;}
.bfbtop .yeslogin .yesxl .u1 .l3{width:43px;}
.bfbtop .yeslogin .yesxl .u1 .l3 a{float:left;width:41px;height:18px;line-height:18px;text-align:center;}
.bfbtop .yeslogin .yesxl .u1 .l3 .a1{color:#ff8432;border:#fdbfa0 solid 1px;background-color:#fff8f1;margin-top:23px;}
.bfbtop .yeslogin .yesxl .u1 .l3 .a1:hover{background-color:#fef0e3;}
.bfbtop .yeslogin .yesxl .u1 .l3 .a2{color:#2789ed;border:#a7cbec solid 1px;background-color:#f1f8ff;margin-top:4px;}
.bfbtop .yeslogin .yesxl .u1 .l3 .a2:hover{background-color:#f1f8ff;}
.bfbtop .yeslogin .yesxl .yeskj{float:left;height:68px;border-bottom:#dddddd solid 1px;width:100%;}
.bfbtop .yeslogin .yesxl .yeskj span{float:left;width:66px;height:68px;}
.bfbtop .yeslogin .yesxl .yeskj span a{float:left;width:28px;margin:12px 0 0 19px;color:#888;text-align:center;padding-top:29px;}
.bfbtop .yeslogin .yesxl .yeskj span .a1{background:url(../homeimg/bzm_yxImg/t1.png) center top no-repeat;}
.bfbtop .yeslogin .yesxl .yeskj span .a2{background:url(../homeimg/bzm_yxImg/t2.png) center top no-repeat;}
.bfbtop .yeslogin .yesxl .yeskj span .a3{background:url(../homeimg/bzm_yxImg/t3.png) center top no-repeat;}
.bfbtop .yeslogin .yesxl .yeskj span .a4{background:url(../homeimg/bzm_yxImg/t4.png) center top no-repeat;}
.bfbtop .yeslogin .yesxl .yeskj span a:hover{color:#2c6bea;}
.bfbtop .yeslogin .yesxl .yeskj span .a1:hover{background:url(../homeimg/bzm_yxImg/t1h.png) center top no-repeat;}
.bfbtop .yeslogin .yesxl .yeskj span .a2:hover{background:url(../homeimg/bzm_yxImg/t2h.png) center top no-repeat;}
.bfbtop .yeslogin .yesxl .yeskj span .a3:hover{background:url(../homeimg/bzm_yxImg/t3h.png) center top no-repeat;}
.bfbtop .yeslogin .yesxl .yeskj span .a4:hover{background:url(../homeimg/bzm_yxImg/t4h.png) center top no-repeat;}
.bfbtop .yeslogin .yesxl .un{float:left;font-size:14px;height:38px;line-height:38px;background:url(../homeimg/bzm_yxImg/un1.png) no-repeat;padding-left:90px;background-position:156px 13px;background-color:#f5f5f5;width:180px;font-weight:700;color:#666;}
.bfbtop .yeslogin .yesxl .un:hover{background:url(../homeimg/bzm_yxImg/un2.png) no-repeat;background-position:156px 13px;background-color:#f5f5f5;color:#2c6bea;}
.bfbtop .yeslogin:hover .img1{-webkit-transform: rotate(180deg);-moz-transform: rotate(180deg);transform: rotate(180deg);}
.bfbtop .yeslogin:hover .topuid{background-color:#fff;}
.bfbtop .yeslogin:hover .yesxl{display:block;}
.bfbtop .topright{float:right;text-align:left;}
.bfbtop .topright .dmenu{float:left;line-height:30px;}
.bfbtop .topright .dmenu a{float:left;margin-right:19px;}
.bfbtop .topright .dmenu a:hover{color:#2c6bea;}
.bfbtop .topright .rightxl{float:right;width:100px;height:30px;}
.bfbtop .topright .rightxl .gl{float:left;background:url(../homeimg/bzm_yxImg/gl.png) no-repeat;background-position:11px 8px;padding-left:29px;height:30px;line-height:30px;width:71px;}
.bfbtop .topright .rightxl .gl:hover{background:url(../homeimg/bzm_yxImg/gl1.png) no-repeat;background-position:11px 8px;}
.bfbtop .topright .rightxl .gl span{float:left;color:#666;}
.bfbtop .topright .rightxl .gl:hover span{color:#2c6bea;}
.bfbtop .topright .rightxl .gl img{float:left;margin-top:13px;margin-left:5px;-webkit-transition: -webkit-transform 0.2s ease-out;-moz-transition: -moz-transform 0.2s ease-out;    transition: transform 0.2s ease-out;}
.bfbtop .topright .rightxl:hover .gl{background-color:#fff;}
.bfbtop .topright .rightxl:hover img{-webkit-transform: rotate(180deg);-moz-transform: rotate(180deg);transform: rotate(180deg);}
.bfbtop .topright .rightxl .u1{float:left;position:relative;width:384px;z-index:999;background-color:#fff;padding:0 20px 20px 5px;margin-left:-409px;margin-top:30px;box-shadow:6px 6px 10px rgba(0,0,0,0.1);display:none;}
.bfbtop .topright .rightxl .u1 li{float:left;margin:22px 0 0 15px;width:113px;}
.bfbtop .topright .rightxl .u1 li .cap{float:left;clear:both;font-weight:700;color:#2c6bea;font-size:14px;}
.bfbtop .topright .rightxl .u1 li a{float:left;clear:both;width:100%;border-bottom:#ededed dotted 1px;height:28px;line-height:28px;font-size:13px;}
.bfbtop .topright .rightxl .u1 li a:hover{color:#2c6bea;}
.bfbtop .topright .rightxl .u1 .l1{}
.bfbtop .topright .rightxl:hover .u1{display:block;}



.note_icon a:hover{color:red}
.note_icon a{padding-right:5px;float:left}
.note_icon a i{color:#999;border:1px solid #ddd;background:#f9f9f9;float:left;overflow:hidden;text-align:center;height:19px;line-height:19px;padding:0 4.5px}
.note_icon a i.protect{color:#6a4;border-color:#6a4;background:#eff}
.note_icon a i.score{color:#ff7e00;border-color:#ff7e00;background:#fff5ee}
.note_icon a i.send{color:#b68571;border-color:#e3c8bd;background:#fffbf6}
.note_icon a i.install0{color:#498bf8;border-color:#71a3f5;background:#eef9ff}



/*头部主区域*/
.bfbtop1{float:left;width:100%;min-width:1250px;border-bottom:#e4e4e4 solid 1px;background-color:#fff;}
.bfbtop1 .top1{float:left;width:1250px;min-width:1250px;text-align:left;}
.bfbtop1 .top1 .logo{float:left;width:450px;padding:20px 0;}
.bfbtop1 .top1 .resou{float:left;width:366px;margin:27px 0 0 0;}
.bfbtop1 .top1 .resou .u1{float:left;border:#2667e9 solid 2px;width:500px;height:36px;}
.bfbtop1 .top1 .resou .u1 li{float:left;}
.bfbtop1 .top1 .resou .u1 .l1{width:86px;height:36px;font-size:14px;}
.bfbtop1 .top1 .resou .u1 .l1 .topnwd{float:left;width:86px;height:36px;cursor:pointer;background-color:#fafafa;}
.bfbtop1 .top1 .resou .u1 .l1 .topnwd span{float:left;margin-left:20px;height:36px;line-height:36px;}
.bfbtop1 .top1 .resou .u1 .l1 .topnwd img{float:left;margin-top:16px;margin-left:6px;-webkit-transition: -webkit-transform 0.2s ease-out;-moz-transition: -moz-transform 0.2s ease-out;    transition: transform 0.2s ease-out;}
.bfbtop1 .top1 .resou .u1 .l1 #topdiv{float:left;width:88px;background-color:#fff;position:absolute;z-index:100;margin:36px 0 0 -2px;}
.bfbtop1 .top1 .resou .u1 .l1 #topdiv a{float:left;width:66px;height:36px;padding:0 0 0 22px;line-height:36px;}
.bfbtop1 .top1 .resou .u1 .l1 #topdiv a:hover{background-color:#f0f0f0;text-decoration:none;}
.bfbtop1 .top1 .resou .u1 .l1:hover img{-webkit-transform: rotate(180deg);-moz-transform: rotate(180deg);transform: rotate(180deg);}
.bfbtop1 .top1 .resou .u1 .l2{width:329px;height:36px;overflow:hidden;}
.bfbtop1 .top1 .resou .u1 .l2 input{float:left;width:100%;height:36px;border:0;padding:0 0 0 5px;font-size:14px;}
.bfbtop1 .top1 .resou .u1 .l3{width:85px;}
.bfbtop1 .top1 .resou .u1 .l3 input{float:left;border:0;cursor:pointer;color:#fff;width: 87px;height: 40px;margin-top: -2px;font-size:14px;background-color:#2c6bea;background: linear-gradient(-87deg, #1d94fc 0,#765fff 80%);}
.bfbtop1 .top1 .resou .d1{float:left;width:100%;margin:10px 0 0 0;color:#999;}
.bfbtop1 .top1 .resou .d1 a{color:#999;}
.bfbtop1 .top1 .resou .d1 a:hover{color:#3C7BE6;}
.bfbtop1 .top1 .topfbxl{float:right;width:135px;margin-top:27px;height:40px;}
.bfbtop1 .top1 .topfbxl .a1{float:left;width:116px;background-color:#2667e9;height:40px;color:#fff;font-size:14px;line-height:40px;padding-left:19px;}
.bfbtop1 .top1 .topfbxl .a1 span{float:left;}
.bfbtop1 .top1 .topfbxl .a1 img{float:left;margin-top:13px;margin-left:8px;-webkit-transition: -webkit-transform 0.2s ease-out;-moz-transition: -moz-transform 0.2s ease-out;    transition: transform 0.2s ease-out;}
.bfbtop1 .top1 .topfbxl .d1{float:left;display:none;position:relative;z-index:99;width:135px;background-color:#fff;}
.bfbtop1 .top1 .topfbxl .d1 a{float:left;font-size:14px;width:106px;margin:0 10px;padding-left:9px;height:35px;line-height:35px;color:#2789ed;}
.bfbtop1 .top1 .topfbxl .d1 .j{border-top:#eeeeee solid 1px;border-bottom:#eeeeee solid 1px;background:url(../homeimg/bzm_yxImg/j.png) no-repeat;background-position:98px 10px;}
.bfbtop1 .top1 .topfbxl:hover .d1{display:block;}
.bfbtop1 .top1 .topfbxl:hover .a1 img{-webkit-transform:rotate(90deg);-moz-transform:rotate(90deg);transform:rotate(90deg);}
.bfbtop1 .top1 .menu{float:left;width:1250px;min-width:1250px;height:38px;padding-top: 5px;}
.bfbtop1 .top1 .menu .m1{float:left;width:166px;}
.bfbtop1 .top1 .menu .m1 .t{float:left;width:151px;padding-left:15px;height:38px;color:#fff;font-size:16px;border-radius:0 5px 0 0;line-height:38px;background-color:#2c6bea;}
.bfbtop1 .top1 .menu .m1 .menun{float:left;width:166px;text-align:left;position:relative;z-index:9999;background-color:#fff;}
.bfbtop1 .top1 .menu .m1 .menun .menu1{float:left;height:68px;width:163px;border-bottom:#e4e4e4 solid 1px;padding-left:2px;border-right:#fff solid 1px;}
.bfbtop1 .top1 .menu .m1 .menun .menu1 .mleft{float:left;width:163px;height:68px;}
.bfbtop1 .top1 .menu .m1 .menun .menu1 .mleft .u1{float:left;width:163px;height:68px;}
.bfbtop1 .top1 .menu .m1 .menun .menu1 .mleft .u1 li{float:left;}
.bfbtop1 .top1 .menu .m1 .menun .menu1 .mleft .u1 .l1{width:163px;height:35px;font-size:16px;padding:0 0 0 0;}
.bfbtop1 .top1 .menu .m1 .menun .menu1 .mleft .u1 .l1 img{float:left;margin:17px 0 0 20px;width:18px;height:18px;}
.bfbtop1 .top1 .menu .m1 .menun .menu1 .mleft .u1 .l1 a{float:left;margin:15px 0 0 12px;}
.bfbtop1 .top1 .menu .m1 .menun .menu1 .mleft .u1 .l1 a:hover{color:#2c6bea;}
.bfbtop1 .top1 .menu .m1 .menun .menu1 .mleft .u1 .l2{width:135px;height:20px;line-height:20px;overflow:hidden;padding:5px 15px 0 13px;}
.bfbtop1 .top1 .menu .m1 .menun .menu1 .mleft .u1 .l2 a{float:left;color:#999999;margin-right:7px;}
.bfbtop1 .top1 .menu .m1 .menun .menu1 .mleft .u1 .l2 a:hover{color:#2c6bea;}
.bfbtop1 .top1 .menu .m1 .menun .menu2{border-left:#2c6bea solid 2px;padding-left:0;}
.bfbtop1 .top1 .menu .m1 .menun:hover .menu1{border-right:#e4e4e4 solid 1px;}
.bfbtop1 .top1 .menu .m1 .menun:hover .menu2{border-right:#fff solid 1px;}
.bfbtop1 .top1 .menu .m1 .menun .rmenu{float:left;text-align:left;position:relative;z-index:99;width:650px;margin-left:164px;border-top:#e4e4e4 solid 1px;background:url(../homeimg/bzm_yxImg/j1.png) right bottom no-repeat;background-color:#fff;overflow:hidden;}
.bfbtop1 .top1 .menu .m1 .menun .rmenu .esmenu{float:left;width:680px;}
.esmenu::-webkit-scrollbar{width:10px;height:1px;}
.esmenu::-webkit-scrollbar-thumb{border-radius:0;-webkit-box-shadow:inset 0 0 10px rgba(0,0,0,0.2);background:#f9f9f9;}
.esmenu::-webkit-scrollbar-track{-webkit-box-shadow:inset 0 0 10px rgba(0,0,0,0.2);border-radius:0;background:#f9f9f9;}
.bfbtop1 .top1 .menu .m1 .menun .rmenu .esmenu .esu1{float:left;width:620px;margin:0 20px 0 20px;border-bottom:#EEEEEE solid 1px;padding:20px 0 0 0;background:url(../homeimg/bzm_yxImg/mbg2.png) repeat;}
.bfbtop1 .top1 .menu .m1 .menun .rmenu .esmenu .esu1 li{float:left;}
.bfbtop1 .top1 .menu .m1 .menun .rmenu .esmenu .esu1 .l1{width:70px;margin: 0 10px 0 0px;color:#999;}
.bfbtop1 .top1 .menu .m1 .menun .rmenu .esmenu .esu1 .l1 span{float:left;}
.bfbtop1 .top1 .menu .m1 .menun .rmenu .esmenu .esu1 .l1 .s1 img{margin:1px 8px 0 0;}
.bfbtop1 .top1 .menu .m1 .menun .rmenu .esmenu .esu1 .l2{width:520px;}
.bfbtop1 .top1 .menu .m1 .menun .rmenu .esmenu .esu1 .l2 div{float:left;}
.bfbtop1 .top1 .menu .m1 .menun .rmenu .esmenu .esu1 .l2 div .sfont{float:left;/*width:126px;*/height:16px;margin:0 20px 14px 0;overflow:hidden;}
.bfbtop1 .top1 .menu .m1 .menun .rmenu .esmenu .esu1 .l2 div .sfont a:hover{color:#3C7BE6;text-decoration:underline;}
.bfbtop1 .top1 .menu .m1 .menun .rmenu .esmenu .esu1 .l2 div .spic{float:left;width:97px;height:36px;border:#EEEEEE solid 1px;margin:-1px 0 0 -1px;}
.bfbtop1 .top1 .menu .m2{float:left;width:1055px;height:30px;margin-top: 5px;margin-left:20px;overflow:visible;}
.bfbtop1 .top1 .menu .m2 a{float:left;font-size:16px;color:#333333;margin-left:5px; line-height: 30px;height: 30px;position: relative;padding: 0 10px;}
.bfbtop1 .top1 .menu .m2 a:hover, .bfbtop1 .top1 .menu .m2 a.cur, .bfbtop1 .top1 .menu .m2 a.cur:hover {background: #2667e9; color: #fff;height: 30px;line-height: 30px;}
/*底部*/
.bfbbottom{background-color: #fff;margin: 20px 0 0 0;min-width: 1250px;float: left;}
.bfbbottom .d1{float:left;width:640px;text-align:left;border-right:#E6E6E6 solid 1px;margin:15px 0 0 0;}
.bfbbottom .d1 .u1{float:left;width:640px;}
.bfbbottom .d1 .u1 li{float:left;width:128px;line-height:25px;}
.bfbbottom .d1 .u1 li span{float:left;width:128px;font-size:14px;font-weight:700;height:26px;}
.bfbbottom .d1 .u1 li .a1{color:#8a8a8a;}
.bfbbottom .d1 .u1 li a:hover{color:#FF4F4F;text-decoration:none;}
.bfbbottom .d2{float:left;margin:15px 0 0 50px;width:199px;line-height:25px;text-align:left;font-size:13px;}
.bfbbottom .d2 strong{font-size:14px;}
.bfbbottom .d3{float:left;margin:15px 0 0 30px;/*width:100px;*/text-align:center;}
.bfbbottom .d3 img{margin:0 0 7px 0;border:0;}
.bfbbottom .d3 a:hover{text-decoration:none;color:#ff4f4f;}
.bfbbottom .u2{float:left;margin:15px 0 0 0;text-align:left;width:1250px;border-top:#E6E6E6 solid 1px;}
.bfbbottom .u2 li{float:left;}
.bfbbottom .u2 .l1{width:685px;padding:10px 0 10px 0;line-height:25px;}
.bfbbottom .u2 .l1 i{color:#999;}
.bfbbottom .u2 .l2{width:565px;}
.bfbbottom .u2 .l2 a{float:left;width:106px;height:40px;margin:15px 0 0 7px;}
.bfbbottom .u2 .l2 img{float:left;width:106px;height:40px;border-radius:4px;}

/*客服*/
.right-btn-group {position:fixed;top:60%;right:10px;width:34px;height:250px;margin-top:-150px;z-index:200}
.right-btn-group .btn-group span:after,.right-btn-group .show-faq a+div.faq-box:after {content:' ';right:-10px;border-bottom:5px transparent dashed;border-right:5px transparent dashed;border-top:5px transparent dashed}
.right-btn-group .btn-group,.right-btn-group .show-wechat,.right-btn-group .to-top {border-radius:2px;background-color:#686868}
.right-btn-group .btn-group {width:34px;height:185px}
.right-btn-group .btn-group li {padding-top:10px}
.right-btn-group .btn-group li>a {position:relative;display:block;width:34px;height:34px;background:url('../homeimg/bzm_yxImg/common.png') no-repeat}
.right-btn-group .btn-group li>a:hover {background-color:#999}
.right-btn-group .btn-group li>a:hover span {display:block}
.right-btn-group .btn-group .icon-1 {background-position:0 -230px}
.right-btn-group .btn-group .icon-2 {background-position:-29px -230px}
.right-btn-group .btn-group .icon-3 {background-position:-58px -230px}
.right-btn-group .btn-group .icon-4 {background-position:-91px -230px}
.right-btn-group .btn-group .icon-5 {background-position:-60px -410px}
.right-btn-group .btn-group span {display:none;position:absolute;width:70px;height:34px;font-size:12px;text-align:center;line-height:34px;top:0;left:-70px;z-index:5;color:#fff;background-color:#686868}
.right-btn-group .btn-group span:after {top:11px;width:1px;height:1px;display:block;position:absolute;z-index:5;border-left:5px #686868 solid}
.right-btn-group .show-upload {position:relative}
.right-btn-group .show-upload:hover .upload-box {display:block}
.right-btn-group .show-upload .upload-box {display:none;padding:30px 20px 22px;width:300px;height:250px;background-color:#fff;-webkit-box-shadow:0 2px 8px 0 rgba(0,0,0,.22);box-shadow:0 2px 8px 0 rgba(0,0,0,.22);position:absolute;top:-53px;left:-300px}
.right-btn-group .show-upload .upload-title {font-size:16px;text-align:center}
.right-btn-group .show-upload .qt-btn {width:260px;height:36px;line-height:36px;margin:6px 0 16px}
.right-btn-group .show-upload .icon-qq {display:inline-block;width:26px;height:26px;vertical-align:bottom;background:url('../homeimg/bzm_yxImg/common.png') -155px -176px no-repeat}
.right-btn-group .show-upload p {font-size:14px;margin-bottom:8px}
.right-btn-group .show-faq {position:relative}
.right-btn-group .show-faq a+div.faq-box {display:none;position:absolute;top:-132px;left:-249px;width:183px;padding:18px 0 18px 66px;background-color:#fff;-webkit-box-shadow:0 2px 8px 0 rgba(0,0,0,.22);box-shadow:0 2px 8px 0 rgba(0,0,0,.22);}
.right-btn-group .show-faq a+div.faq-box:after {width:1px;height:1px;display:block;position:absolute;z-index:5;border-left:5px #fff solid;top:152px}
.right-btn-group .show-faq a:hover+div.faq-box,.right-btn-group .show-faq>div.faq-box:hover {display:block}
.right-btn-group .show-faq .faq-phone,.right-btn-group .show-faq .faq-qq {position:relative}
.right-btn-group .show-faq .faq-phone:after,.right-btn-group .show-faq .faq-qq:after {position:absolute;content:" ";top:0;left:-35px;width:26px;height:26px;background:url('../homeimg/bzm_yxImg/common.png') no-repeat}
.right-btn-group .show-faq .faq-phone {margin:18px 0 10px}
.right-btn-group .show-faq .faq-phone:after {background-position:-65px -176px}
.right-btn-group .show-faq .faq-qq:after {background-position:-155px -176px}
.right-btn-group .show-faq p {position:relative;color:#333;font-size:14px;line-height:24px;float:left}
.right-btn-group .show-faq .qt-btn {width:90px;height:36px;line-height:36px}
.right-btn-group .show-wechat {position:absolute;bottom:36px;right:0;width:34px;height:34px}
.right-btn-group .show-wechat a {border-radius:2px;display:block;width:34px;height:34px;background:url('../homeimg/bzm_yxImg/common.png') no-repeat}
.right-btn-group .show-wechat a span {display:none;position:absolute;width:140px;height:165px;top:0;left:-140px;background-color:#fff;-webkit-box-shadow:0 2px 8px 0 rgba(0,0,0,.22);box-shadow:0 2px 8px 0 rgba(0,0,0,.22);text-align:center}
.right-btn-group .show-wechat a:hover span,.right-btn-group .to-top a:hover span {display:block}
.right-btn-group .show-wechat a span https {font-size:14px;font-weight:700;color:#666}
.right-btn-group .show-wechat .icon-7 {background-position:-150px -200px}
.right-btn-group .to-top {position:absolute;bottom:0;right:0;width:34px;height:34px}
.right-btn-group .to-top a {border-radius:2px;display:block;width:34px;height:34px;background:url('../homeimg/bzm_yxImg/common.png') no-repeat}
.right-btn-group .to-top a:hover {background-color:#1989fa}
.right-btn-group .to-top span {display:none;position:absolute;width:70px;height:34px;font-size:12px;text-align:center;line-height:34px;top:0;left:-70px;z-index:5;color:#fff;background-color:#686868}
.right-btn-group .to-top span:after {content:' ';top:11px;right:-10px;width:1px;height:1px;display:block;position:absolute;z-index:5;border-bottom:5px transparent dashed;border-left:5px #686868 solid;border-right:5px transparent dashed;border-top:5px transparent dashed}
.right-btn-group .to-top .icon-6 {background-position:-120px -200px}
.right-btn-group .to-quest {position:absolute;bottom:-78px;right:0;width:34px;height:75px}



