@charset "utf-8";
body{min-height: 650px; width: 100%; min-width: 1250px; background: url('../homeimg/bzm_yxImg/actbody-bg.png') no-repeat  center 36px #f7f7f7;}
body,h1,h2,h3,h4,h5,h6,hr,p,dl,dt,dd,ul,ol,li,form,fieldset,legend,button,input,textarea,th,td{margin:0;padding:0;}
body{background-color:#f6f6f6;color:#666;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight: normal;}
em,i,b{font-style:normal;font-weight:400;}
fieldset,img{border:0;}
ul,ol,li{list-style:none;}
button,input,select,textarea{font-size:100%;outline:none}
textarea{resize:none;}
img {display:inline-block;}
table{border-collapse:collapse;border-spacing:0;}
a{color: #666;}
a:link, a:visited{text-decoration:none;outline:none;}
a:hover{color:#39f;}
.iconfont {font-family: iconfont!important;speak: none;font-style: normal;font-weight: 400;font-variant: normal;text-transform: none;line-height: 1;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.clearfix{zoom:1;}
.clear{clear:both;display:block;height:0;overflow:hidden;font-size:0;}
.hide{display:none;}
.l{float:left;}
.r{float:right;}
.mt10{margin-top:10px!important;}
.mb10{margin-bottom:10px!important;}
.ml10{margin-left:10px!important;}
.w1250{width:1250px;margin:0 auto 10px;min-width:1250px; }
.w1190{width:1190px;margin:0 auto 10px;min-width:1190px; }
.w990{width:990px;margin:0 auto;min-width:990px;}
.w980{width:980px;margin:0 auto;min-width:980px;}
.blue{color: #39f!important;}
.org{ color: #ff6700!important;}
.gre{ color: #22ac38!important;}
.orange{ color: #ff6700!important;}
.green{ color: #22ac38!important;}

.text_ellipsis_2 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.bfbtop1 {
    min-width: 1190px;
}
.yjcode {
    width: 1190px;
    min-width: 1190px;
}
.bfbtop1 .top1 {
    width: 1190px;
    min-width: 1190px;
}
.bfbtop1 .top1 .menu {
    width: 1190px;
   min-width: 1190px;
}
.bfbtop1 .top1 .menu .m2 {
 margin-left: 0px; 
}
.bfbtop1 .top1 .menu .m2 a {
    padding: 0 15px;
    font-weight: 700;
}


/********** tag图标 **********/
.tags { display: inline-block; *display: inline; *zoom:1; vertical-align: middle; width: 16px; height: 16px; background: url(../homeimg/bzm_yxImg/tags-icon.png) no-repeat;}
.tags.icon-jsfh { background-position: 0 0; }
.tags.icon-jpmj { background: url(../homeimg/bzm_yxImg/jpmj.gif) no-repeat;}
.tags.icon-smrz { background-position: 0 -48px; }
.tags.icon-bzj { background-position: 0 -72px; }
.tags.icon-xdmc { background-position: 0 -96px; }
.tags.icon-shwy { background-position: 0 -120px; }
.tags.icon-whpf { background-position: 0 -144px; }
.tags.icon-sfyz { background-position: 0 -168px; }
.tags.icon-jgxs { background-position: 0 -192px; }
.tags.icon-pfjfw { background-position: 0 -216px; }
.tags.icon-cxsj { background-position: 0 -240px; }
.tags.icon-aqrz { background-position: 0 -264px; }
.tags.icon-cxjt { background-position: 0 -288px; }
.tags.icon-jgzd { background-position: 0 -312px; }
.tags.icon-jsfl { background-position: 0 -336px; }
.tags.icon-jtrz { background-position: 0 -360px; }
.tags.icon-lhgm { background-position: 0 -384px; }
.tags.icon-pzbz { background-position: 0 -408px; }
.tags.icon-sdfh { background-position: 0 -432px; }
.tags.icon-zhgh { background-position: 0 -456px; }
.tags.icon-ji { background-position: 0 -480px; }
.tags.icon-dan { background-position: 0 -504px; }
.tags.icon-zhbp { background-position: 0 -528px; }
.tags.icon-fwbz { background-position: 0 -552px; }
.tags.icon-qfzy { background-position: 0 -576px; }
.tags.icon-shbz { background-position: 0 -600px; }
.tags.icon-jsmc { background-position: 0 -624px; }
.tags.icon-mjfh { background-position: 0 -648px; width: 49px;}
.tags.icon-ptdf { background-position: 0 -672px; width: 49px;}
.tags.icon-wl { background-position: 0 -696px; }
.tags.icon-zhyz { background-position: 0 -720px; }
.tags.icon-gfzh { background-position: 0 -744px; }
.tags.icon-zyzh { background-position: 0 -767px; }
.tags.icon-dhbp { background-position: 0 -792px; }
.tags.icon-htqf { background-position: 0px -817px; }
.tags.icon-gou { background-position: 0px -842px;}
.tags.icon-qiu { background-position: 0px -867px; width: 30px;}
.tags.icon-zsbpl { background-position: 0 -892px; width: 89px;}
.tags.icon-zsbp { background-position: 0 -917px; width: 17px;}
.tags.icon-jpdbmj { background-position: 0 -942px; width: 62px;}
.tags.icon-rzgzs { background-position: 0 -967px; width: 57px;}
.tags.icon-rzgzsh { background-position: 0 -992px;}
.tags.icon-tupian { background-position: 0 -1015px;}
.tags.icon-yxzh { background-position: 0 -1039px; width: 49px;}
.tags.icon-zdfh { background-position: 0 -1065px; width: 49px;}
.tags.icon-rlsb { background-position: 0 -1091px;}
.tags.icon-sjbp { background-position: 0 -1118px;}
.tags.icon-aheartl { background-position: 0 -1145px; width: 55px;}
.tags.icon-aheart { background-position: 0 -1174px;}
.tags.icon-ios { background-position: 0 -1206px; width: 49px;}
.tags.icon-android { background-position: 0 -1233px; width: 49px;}
.tags.icon-zzyh { background-position: 0 -1260px;}
.tags.icon-sprz { background-position: 0 -1287px;}
.tags.icon-zrxy { background-position: 0 -1314px;}
.main-account{min-height:760px;font-family:"microsoft yahei"}
.main-account a{-webkit-transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-ms-transition:all .2s ease-in-out;transition:all .2s ease-in-out}
.main-account a:hover{color:#f7164c!important}
.main-area-01{height:530px;float: left;position:relative}
.hot-game-list{position:absolute;left:0;top:0px;width:240px;background: url('../homeimg/bzm_yxImg/hot-game-bg.png') no-repeat ;height:530px;-webkit-box-shadow: -1px -1px 8px #0000001f;box-shadow: -1px -1px 8px #0000001f;-moz-box-shadow:-1px -1px 8px #0000001f;}
.main-area-01 .right-box{float:left;width:950px;margin-left:240px;box-shadow:2px 5px 10px #0000001f;-moz-box-shadow:2px 5px 10px #0000001f;-webkit-box-shadow:2px 5px 10px #0000001f}
.hot-game-list .tab-top{height:65px;line-height:65px;padding:0 15px 0 20px;position:relative;z-index:10; margin-top: 13px;}
.hot-game-list .tab-bottom{padding-top: 5px;}
.hot-game-list .tab-top a,.hot-game-list .tab-top span{color:#fff;font-size:20px}
.hot-game-list .tab-top a{font-size:12px;color:#888}
.hot-game-list .tab-top a:hover{color:#fff}
.hot-games dl{margin:0 auto;overflow:hidden;position:relative;text-align:center;height:60px;margin:27px 0;font-size:0;cursor:pointer;-webkit-transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-ms-transition:all .2s ease-in-out;transition:all .2s ease-in-out}
.hot-games dl:first-child{margin-top: 0;}

.hot-games dl.active{padding-left:20px}
.hot-games dl dt{vertical-align:middle;display:inline-block;}
.hot-games dl dd{width:114px;margin-left:10px;vertical-align:middle;display:inline-block;text-align:left;}
.hot-games dl dd h2{margin-bottom:4px;color:#333;}
.hot-games dl dd h2 a{color:#fff;display:block;font-size:15px;font-weight:700;}
.hot-games dl dd h2 a:hover{color:#2667e9;}
.hot-games dl dd p{font-size:0;}
.hot-games dl dd p a{color:#777;margin-right:6px;font-size:12px}
.hot-games.dy-hot-games dl dt{width:90px;height:60px}
.hot-games.dy-hot-games dl dt a{display:block;width:90px;height:60px;text-align:center}
.hot-games.dy-hot-games dl dt a img{max-width:90px}
.hot-games.dy-hot-games dl.sy dt{margin-top:4px}
.hot-games.dy-hot-games dl.sy dt a img{max-width:56px}
.hot-games.dy-hot-games dl dd p a:hover{color:#2667e9}
.hot-games.sy-hot-games dl dt{width:60px;height:60px;margin-left:10px}
.hot-games.sy-hot-games dl dd h2{width:112px}
.hot-games.sy-hot-games dl dd{margin-left:10px;width:110px}
.hot-games.sy-hot-games dl dd p a:hover{color:#eb6100}
.hot-games.sy-hot-games dl dd{margin-left:10px;width:110px}
.hot-games.sy-hot-games dl dd p a:hover{color:#eb6100}
.banner-box{width:680px;height:530px;float:left;background:#fff;/*padding:20px*/}
.slideBox{width:680px;height:390px;overflow:hidden;position:relative}
.slideBox .hd{position:absolute;bottom:10px;z-index:1;right:10px}
.slideBox .hd li{float:left;overflow:hidden;color:#fff;text-align:center;cursor:pointer;position:relative;background: #FFFFFF;background:rgba(255,255,255,.5);filter:alpha(opacity=50);width:7px;height:7px;border-radius:50%;margin-left:6px}
.slideBox .hd li p{white-space:nowrap;overflow:hidden;text-overflow:ellipsis;word-wrap:normal;padding:0 10px}
.slideBox .hd li.on{color:#fff;background:#f7164c;text-decoration:none;width:18px;border-radius:5px}
.slideBox .hd li.on h5{position:absolute;left:0;bottom:0;width:100%;height:2px;background:#93c9ff}
.slideBox .hd li.on h5 em{position:absolute;left:0;bottom:0;width:0;height:2px;background:#0d7bea}
.slideBox .bd li{width:680px;height:460px;overflow:hidden}
.slideBox .bd li img{width: 680px;height: 390px;}
.slideBox .txtBg{position:absolute;width:100%;height:40px;bottom:0;background:#000;opacity:.66}
#warp{padding-bottom:0;margin:0;padding-left:0;width:100%;padding-right:0;height:357px;padding-top:0}
.banner{z-index:99;margin:0 auto;width:680px;height:460px}
.banner_l{margin-top:147px;width:23px;float:left}
.banner_r{margin-top:147px;width:23px;float:left}
.bannerImg{position:relative;padding-bottom:0;margin:0;padding-left:0;width:680px;height:460px;padding-right:0;float:left;padding-top:0}
.bannerImg .bannerPage{position:absolute;bottom:0;left:0;width:100%;height:42px;line-height:42px}
.bannerImg .bannerPage a img{vertical-align:middle}
.banner-box .quick-buy-box{margin-top:20px}
.banner-box .quick-buy-box li{float:left;cursor:pointer;width:204px;margin-left: 14px;}
.banner-box .quick-buy-box li:first-child{margin-left: 0;}
.banner-box .quick-buy-box li .left{vertical-align:middle;display:inline-block;width:67px;-webkit-transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-ms-transition:all .2s ease-in-out;transition:all .2s ease-in-out;text-align: center;margin-left: 15px;overflow: hidden;}
.banner-box .quick-buy-box li .right{vertical-align:middle;display:inline-block;margin-left:14px}
.banner-box .quick-buy-box li .right p{color:#333;font-size:16px;font-weight:700;-webkit-transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-ms-transition:all .2s ease-in-out;transition:all .2s ease-in-out}
.banner-box .quick-buy-box li .right span{color:#999;-webkit-transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-ms-transition:all .2s ease-in-out;transition:all .2s ease-in-out}
.banner-box .quick-buy-box li .right i{background:-moz-linear-gradient(left,#fd5845,#f7164c);background:-webkit-linear-gradient(left,#fd5845,#f7164c);background:-o-linear-gradient(left,#fd5845,#f7164c);background:linear-gradient(left,#fd5845,#f7164c);display:block;width:20px;height:2px;margin:13px 0;}
.banner-box .quick-buy-box li .right a{display:block;color:#666}
.banner-box .quick-buy-box li:hover .right a,.banner-box .quick-buy-box li:hover .right p,.banner-box .quick-buy-box li:hover .right span{color:#f7164c}
.banner-box .quick-buy-box li:hover .left{-webkit-transform:translateX(-5px);-moz-transform:translateX(-5px);-ms-transform:translateX(-5px);transform:translateX(-5px)}
.slides_container{position:relative;width:680px;overflow:hidden;height:420px}
.slides_container img{width:100%;height:420px}
.pagination li{float:left;width:136px;height:42px;line-height:42px;overflow:hidden;background:rgba(0,0,0,.6);padding:0 13px;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box}
.pagination li a{width:100%;height:100%;display:block;float:left;color:#fff;text-align:center;white-space:nowrap;text-overflow:ellipsis;overflow:hidden}
.pagination li.current{background:#2667e9}
.adv-01{width:680px;height:140px;overflow:hidden}
.adv-01 .adv-01-box{width:690px}
.adv-01 .adv-01-box a{display:block;float:left;width:336px;height:140px;margin-right:8px}
.quk-area{float:right;width:230px;height:490px;background:#f6f8fc;overflow:hidden;padding:20px}
.quk-area .top-area a{width:110px;height:36px;line-height:36px;display:inline-block;text-align:center;font-size:16px;color:#fff}
.quk-area .top-area{font-size:0;margin-bottom:12px}
.quk-area .top-area a.btn1{background:-moz-linear-gradient(left,#2f95ff,#84a9ff);background:-webkit-linear-gradient(left,#2f95ff,#84a9ff);background:-o-linear-gradient(left,#2f95ff,#84a9ff);background:linear-gradient(left,#2f95ff,#84a9ff);background-color:#2f95ff\0;}
.quk-area .top-area a.btn2{background:-moz-linear-gradient(left,#04ccab,#59df8e);background:-webkit-linear-gradient(left,#04ccab,#59df8e);background:-o-linear-gradient(left,#04ccab,#59df8e);background:linear-gradient(left,#04ccab,#59df8e);margin-left:10px;background-color:#04ccab\0;}
.quk-area .top-area a.btn1:hover{background-image:-moz-linear-gradient(left,#84a9ff,#2f95ff);background-image:-webkit-linear-gradient(left,#84a9ff,#2f95ff);background-image:-o-linear-gradient(left,#84a9ff,#2f95ff);background-image:linear-gradient(left,#84a9ff,#2f95ff);color:#fff!important;box-shadow:1px 2px 8px 0 #acc4ec;-moz-box-shadow:1px 2px 8px 0 #acc4ec;-webkit-box-shadow:1px 2px 8px 0 #acc4ec}
.quk-area .top-area a.btn2:hover{background-image:-moz-linear-gradient(left,#59df8e,#04ccab);background-image:-webkit-linear-gradient(left,#59df8e,#04ccab);background-image:-o-linear-gradient(left,#59df8e,#04ccab);background-image:linear-gradient(left,#59df8e,#04ccab);color:#fff!important;box-shadow:1px 2px 8px 0 #7ebbae;-moz-box-shadow:1px 2px 8px 0 #7ebbae;-webkit-box-shadow:1px 2px 8px 0 #7ebbae}
.quk-area .middle-area .news li{width:110px;float:left;line-height:26px}
.quk-area .middle-area .news li.odd{margin-left:10px}
.quk-area .middle-area .news li a{color:#888}
.quk-area .middle-area .middle-center{text-align:center;padding:20px 0}
.quk-area .middle-area .middle-center .row-1 p{font-size:38px;font-weight:700;color:#333;line-height:38px}
.quk-area .middle-area .middle-center .row-1 span{font-size:34px;font-weight:700;color:#333}
.quk-area .middle-area .middle-center .row-2{font-size:18px;color:#999;border-top:#ddd 1px solid;border-bottom:#ddd 1px solid;width:148px;height:33px;line-height:33px;margin:0 auto;margin-top:5px;letter-spacing:4px}
.quk-area .middle-area .middle-center .row-3{width:143px;margin:0 auto;margin-top:15px}
.quk-area .middle-area .middle-center .row-3 li{color:#777;height:28px;line-height:28px;padding-left:22px;font-size:14px}
.quk-area .middle-area .middle-center .row-3 li.one{background:url(../homeimg/bzm_yxImg/quk-area-icon.png) 0 7px no-repeat}
.quk-area .middle-area .middle-center .row-3 li.two{background:url(../homeimg/bzm_yxImg/quk-area-icon.png) 0 -21px no-repeat}
.quk-area .middle-area .middle-center .row-3 li.three{background:url(../homeimg/bzm_yxImg/quk-area-icon.png) 0 -49px no-repeat}
.quk-area .middle-area .middle-center .row-3 li.four{background:url(../homeimg/bzm_yxImg/quk-area-icon.png) 0 -78px no-repeat}
.quk-area .bottom-area .btn1{height:40px;line-height:40px;text-align:center;display:inline-block;width:230px;background-image:-moz-linear-gradient(left,#fd5845,#f7164c);background-image:-webkit-linear-gradient(left,#fd5845,#f7164c);background-image:-o-linear-gradient(left,#fd5845,#f7164c);background-image:linear-gradient(left,#fd5845,#f7164c);color:#fff!important;background-color:#fd5845\0;font-size:16px;font-weight:700}
.quk-area .bottom-area .btn1:hover{background-image:-moz-linear-gradient(left,#f7164c,#fd5845);background-image:-webkit-linear-gradient(left,#f7164c,#fd5845);background-image:-o-linear-gradient(left,#f7164c,#fd5845);background-image:linear-gradient(left,#f7164c,#fd5845);color:#fff!important;box-shadow:1px 2px 8px 0 #ee9c99;-moz-box-shadow:1px 2px 8px 0 #ee9c99;-webkit-box-shadow:1px 2px 8px 0 #ee9c99}
.quk-area .bottom-area .search-item{font-size:0;margin-top:12px}
.quk-area .bottom-area .search-item input{border:1px #999 solid;height:36px;line-height:36px;width:181px;vertical-align:middle;font-size:12px;padding-left:10px;font-family:"microsoft yahei";color:#333;font-weight:700;background:0 0}
.quk-area .bottom-area .search-item input::-webkit-input-placeholder{color:#888;font-weight:400}
.quk-area .bottom-area .search-item input::-moz-placeholder{color:#888;font-weight:400}
.quk-area .bottom-area .search-item input:-ms-input-placeholder{color:#888;font-weight:400}
.quk-area .bottom-area .search-item input:-moz-placeholder{color:#888;font-weight:400}
.quk-area .bottom-area .search-item a{background:#666;width:38px;display:inline-block;height:36px;vertical-align:middle;line-height:36px;text-align:center;margin-left:-1px}
.quk-area .bottom-area .search-item a i{font-size:14px;color:#fff;vertical-align:middle}
.quk-area .bottom-area .search-item a:hover{background:#444!important}
.totop{-webkit-transition:all .2s ease;-moz-transition:all .2s ease;-ms-transition:all .2s ease;transition:all .2s ease}
.totop:hover{-webkit-transform:translateY(-3px);-moz-transform:translateY(-3px);-ms-transform:translateY(-3px);transform:translateY(-3px)}
.quk-area .index-tab-box{width:220px;margin:0 auto;margin-bottom:12px;position:relative;border-bottom:#e5e5e5 1px dashed;padding-bottom:12px}
.quk-area .icon-nav-box{padding:0 17px 0 14px}
.icon-nav-box{width:248px}
.icon-nav-box li{width:52px;text-align:center;float:left;margin-right:9px;margin-bottom:8px;cursor:pointer}
.icon-nav-box li .row-1{display:inline-block;width:20px;height:26px;overflow:hidden}
.icon-nav-box li .icon-nav{height:100%;-webkit-transition:all .3s ease-in-out;-moz-transition:all .3s ease-in-out;-ms-transition:all .3s ease-in-out;transition:all .3s ease-in-out}
.icon-nav-box li .icon-nav-1{background:url(../homeimg/bzm_yxImg/01.png) no-repeat}
.icon-nav-box li .icon-nav-2{background:url(../homeimg/bzm_yxImg/02.png) no-repeat}
.icon-nav-box li .icon-nav-3{background:url(../homeimg/bzm_yxImg/03.png) no-repeat}
.icon-nav-box li .icon-nav-4{background:url(../homeimg/bzm_yxImg/04.png) no-repeat}
.icon-nav-box li .icon-nav-5{background:url(../homeimg/bzm_yxImg/05.png) no-repeat}
.icon-nav-box li .icon-nav-6{background:url(../homeimg/bzm_yxImg/06.png) no-repeat}
.icon-nav-box li .icon-nav-7{background:url(../homeimg/bzm_yxImg/07.png) no-repeat}
.icon-nav-box li .icon-nav-8{background:url(../homeimg/bzm_yxImg/08.png) no-repeat}
.icon-nav-box li:hover .icon-nav{background-position:bottom}
.icon-nav-box li:hover .row-2{color:#2667e9}
.index-tab-box .slider-line{position:absolute;left:13px;top:35px;width:47px;height:7px;background:url(../homeimg/bzm_yxImg/slider-line.png) no-repeat}
.quk-area .index-tab-top{overflow:hidden;border-bottom:#eee 1px solid;margin-bottom:15px;padding-left:13px}
.quk-area .index-tab-top li{float:left;width:47px;text-align:center;padding:10px 0;cursor:pointer;margin-right:26px}
.quk-area .index-tab-top li:last-child{margin-right:0}
.quk-area .index-tab-top li:first-child+li+li{margin-right:0}
.quk-area .index-tab-top li.on{color:#ff6700}
.quk-area .index-tab-top li.on a{color:#ff6700}
.quk-area .index-tab-top li:hover a{color:#ff6700}
.quk-area .index-tab-bot{height:80px;overflow:hidden}
.quk-area .index-tab-item{display:none}
.quk-area .index-tab-item ul li{width:220px;margin-bottom:11px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;word-wrap:normal}
.quk-area .index-tab-item ul li a{color:#666}
.quk-area .index-tab-item ul li a:hover{color:#ff6700}
.quk-area .index-tab-item ul li:last-child{margin-bottom:0}
.buy-sale-area{overflow:hidden;margin-bottom:10px}
.buy-sale-area a{display:block;width:127px;font-family:"microsoft yahei";height:45px;line-height:45px;float:left;background:#eb6100;color:#fff;font-size:20px;text-align:center}
.buy-sale-area a.sale-btn{background:#22ac38;float:right}
.buy-sale-area a:hover{background:#ff700b}
.buy-sale-area a.sale-btn:hover{background:#20bb39}
.index-tab{width:260px}
.account-record-box{background:url(../homeimg/bzm_yxImg/jb-bg.jpg) no-repeat;width:100%;height:90px;line-height:90px;overflow: hidden;}
.account-record-box .list{margin-left:160px;width:1030px;float:left}
.account-record-box .list li{margin:0 5px;width:350px}
.account-record-box .list .bd{overflow:hidden;height:90px}
.account-record-box .list li span{color:#f52f3e}
.recommend-shop-box{background:url(../homeimg/bzm_yxImg/recommed-shop-bg.png) no-repeat;height:306px;margin-top:-11px;overflow: hidden;position: relative;}
.recommend-shop-box .left{width:201px;text-align:center;padding:30px 0;float:left}
.recommend-shop-box .left .row-1 p{font-size:33px;color:#fff;line-height:1;text-shadow:5px 2px 6px #00000024;font-weight:700}
.recommend-shop-box .left .row-1 span{font-size:32px;color:#fff;font-weight:700;text-shadow:5px 2px 6px #5e39394d}
.recommend-shop-box .left .row-2{/*margin-top:36px*/}
.recommend-shop-box .left .row-2 p{color:#fff;font-size:14px;font-weight:700}
.recommend-shop-box .left .row-2 span{color:#fbc2ca;margin-top:2px}
.recommend-shop-box .left .row-3{margin-top:13px}
.recommend-shop-box .left .row-3 a{width:151px;height:40px;line-height:40px;display:block;text-align:center;color:#f7164c;font-size:16px;font-weight:700;margin:0 auto;background:#fff;border-radius:24px;box-shadow:1px 4px 6px #5e39394d;-moz-box-shadow:1px 4px 6px #5e39394d;-webkit-box-shadow:1px 4px 6px #5e39394d}
.recommend-shop-box .left .row-3 a:hover{-webkit-transform:translateY(-3px);-moz-transform:translateY(-3px);-ms-transform:translateY(-3px);transform:translateY(-3px)}
.recommend-shop-box .left .row-4{margin-top:15px}
.recommend-shop-box .left .row-4 a{color:#fdd4de}
.recommend-shop-box .left .row-4 a:hover{color:#fff!important}
.recommend-shop-box .right{width:989px;position: absolute;left: 201px;top: 11px;}
.recommend-shop-list{position:relative;height:279px;overflow:hidden}
.recommend-shop-list .hd a{position:absolute;top:113px;width:19px;height:39px;z-index:100;cursor:pointer}
.recommend-shop-list .hd a.next{background:url(../homeimg/bzm_yxImg/next.png) no-repeat;right:0}
.recommend-shop-list .hd a.prev{background:url(../homeimg/bzm_yxImg/prev.png) no-repeat;left:0}
.recommend-shop-list .hd a.next:hover{background:url(../homeimg/bzm_yxImg/next-hover.png) no-repeat}
.recommend-shop-list .hd a.prev:hover{background:url(../homeimg/bzm_yxImg/prev-hover.png) no-repeat}
.recommend-shop-list .bd li{width:197px;text-align:center;padding-top:25px;cursor:pointer;float:left;height:243px;border-left:#f0f0f0 1px solid;-webkit-transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-ms-transition:all .2s ease-in-out;transition:all .2s ease-in-out;position:relative}
.recommend-shop-list .bd li .row-1{width:135px;height:135px;overflow:hidden;margin:0 auto;-webkit-transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-ms-transition:all .2s ease-in-out;transition:all .2s ease-in-out}
.recommend-shop-list .bd li .row-1 img{width:135px;height:135px}
.recommend-shop-list .bd li .row-2{height: 30px; line-height: 30px;margin:10px 0 4px 0;color:#333;font-size:16px;padding:0 28px;overflow: hidden; text-overflow: ellipsis; white-space: nowrap;-webkit-transition:all .4s ease;-moz-transition:all .4s ease;-ms-transition:all .4s ease;transition:all .4s ease}
.recommend-shop-list .bd li .row-4{color:#999;margin:10px 0;padding:0 20px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.recommend-shop-list .bd li:hover{box-shadow:0 5px 10px #00000045;-moz-box-shadow:0 5px 10px #00000045;-webkit-box-shadow:0 5px 10px #00000045;background:#fff;border-left:transparent 1px solid}
.recommend-shop-list .bd li:hover .row-2{-webkit-transform:scale(0);-moz-transform:scale(0);-ms-transform:scale(0);filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);}
.recommend-shop-list .bd li .row-3{-webkit-transition:all .5s ease;-moz-transition:all .5s ease;-ms-transition:all .5s ease;transition:all .5s ease}
.recommend-shop-list .bd li:hover .row-3{margin-top:-30px}
.recommend-shop-list .bd li .row-5{font-size:0;margin-top:35px;-webkit-transition:all .4s ease;-moz-transition:all .4s ease;-ms-transition:all .4s ease;transition:all .4s ease}
.recommend-shop-list .bd li .row-5 a{display:inline-block;width:72px;height:26px;line-height:26px;border-radius:20px;font-size:12px}
.recommend-shop-list .bd li:hover .row-5{margin-top:0}
.recommend-shop-list .bd li .row-5 a.btn1{background:#f52f3e;color:#fff}
.recommend-shop-list .bd li .row-5 a.btn1:hover{background:#ff6c77;color:#fff!important}
.recommend-shop-list .bd li .row-5 a.btn2:hover{background:#fff2f3}
.recommend-shop-list .bd li .row-5 a.btn2{border:1px #f52f3e solid;color:#f52f3e;margin-left:10px}
.recommend-shop-list .bd li:hover .row-1{transform:translateY(-3px)}
.hot-games-box{background:url(../homeimg/bzm_yxImg/hot-games-bg.png) no-repeat;width:1205px;height:466px;margin-left:-5px;margin-top:4px}
.hot-games-list .inside-li{position:relative;width:175px;text-align:center;float:left;cursor:pointer;height:154px;margin-left:1px;border-right:1px #f2f2f2 solid;border-bottom:1px #f2f2f2 solid;padding-top:20px;margin-left:-1px;margin-top:-1px;-webkit-transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-ms-transition:all .2s ease-in-out;transition:all .2s ease-in-out}
.hot-games-list .hd{height:56px;line-height:56px;overflow:hidden;margin-left:35px;margin-top:10px}
.hot-games-list .hd li{float:left;color:#999;font-size:14px;margin-left:30px;cursor:pointer}
.hot-games-list .hd li.on{font-size:18px;color:#333}
.hot-games-list .hd li:first-child{margin-left:0}
.hot-games-list .inside-li .row-1{width:80px;height:80px;margin:0 auto;line-height:80px;-webkit-transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-ms-transition:all .2s ease-in-out;transition:all .2s ease-in-out}
.hot-games-list .inside-li .row-1 img{max-width:80px;vertical-align:middle}
.hot-games-list .inside-li .row-2{font-size:14px;color:#333;font-weight:700;margin:10px 0 4px 0}
.hot-games-list .inside-li .row-3{color:#999;-webkit-transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-ms-transition:all .2s ease-in-out;transition:all .2s ease-in-out}
.hot-games-box .left{float:left;position:relative}
.hot-games-list .bd{margin-left:26px;width:900px}
.hot-games-list .inside-li .content{z-index:100;position:relative}
.hot-games-list .inside-li .row-4{font-size:0;opacity:0;filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);-webkit-transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-ms-transition:all .2s ease-in-out;transition:all .2s ease-in-out;margin-top:8px;z-index:100;position:relative;cursor:pointer}
.hot-games-list .inside-li .row-4 a.btn{display:inline-block;width:62px;height:19px;line-height:19px;border-radius:10px;font-size:12px;border:1px #e5e5e5 solid;z-index:100;cursor:pointer}
.hot-games-list .inside-li .row-4 a.btn1{color:#39f}
.hot-games-list .inside-li .row-4 a.btn2{color:#22ac38;margin-left:10px}
.hot-games-list .inside-li .row-4 a.btn1:hover{color:#39f!important;border:1px #39f solid}
.hot-games-list .inside-li .row-4 a.btn2:hover{color:#22ac38!important;border:1px #22ac38 solid}
.hot-games-list .inside-li:hover .row-1{-webkit-transform:translateY(-3px);-moz-transform:translateY(-3px);-ms-transform:translateY(-3px);transform:translateY(-3px)}
.hot-games-list .inside-li:hover .row-3{opacity:0;filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);}
.hot-games-list .inside-li:hover .row-4{opacity:1;filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100);}
.hot-games-list .inside-li:hover{box-shadow:0 0 12px #00000036;-moz-box-shadow:0 0 12px #00000036;-webkit-box-shadow:0 0 12px #00000036}
.hot-games-list .inside-li.no-r-border{border-right:0}
.hot-games-list .inside-li.no-b-border{border-bottom:0}
.hot-games-box .left .all-games{position:absolute;right:22px;top:29px;color:#999}
.hot-games-box .right{float:right;position:relative;width:279px;height:434px;cursor:pointer}
.hot-games-box .right .person{background:url(../homeimg/bzm_yxImg/hot-game-person.png) no-repeat;width:314px;height:312px;position:absolute;top:-4px;left:-31px;-webkit-transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-ms-transition:all .2s ease-in-out;transition:all .2s ease-in-out}
.hot-games-box .right:hover .person{-webkit-transform:translateX(-5px);-moz-transform:translateX(-5px);-ms-transform:translateX(-5px);transform:translateX(-5px)}
.hot-games-box .right .txt{background:url(../homeimg/bzm_yxImg/txt.png) no-repeat;width:181px;height:51px;margin:0 auto;margin-top:283px;z-index:100;position:relative}
.hot-games-box .right .msg{text-align:center;color:#fff;font-size:18px;border-top:#575755 1px solid;border-bottom:#575755 1px solid;width:167px;margin:0 auto;padding:5px 0;margin-top:18px}
.common-list-box{background:#fff;width:100%;height:330px;overflow:hidden;box-shadow:2px 5px 10px #0000000d;-moz-box-shadow:2px 5px 10px #0000000d;-webkit-box-shadow:2px 5px 10px #0000000d;}
.common-list-box li{width:224px;height:250px;overflow:hidden;float:left;margin-left:10px;cursor:pointer;-webkit-transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-ms-transition:all .2s ease-in-out;transition:all .2s ease-in-out;}
.common-list-box li.left0{margin-left:0;}
.common-list-box li:hover{box-shadow:2px 5px 10px #00000024;-moz-box-shadow:2px 5px 10px #00000024;-webkit-box-shadow:2px 5px 10px #00000024;}
.common-list-box li:hover .cont{border-color:transparent;border-color:#f2f2f2\0;}
.common-list-box li:hover .cont .row-1{color: #f52f3e;}
.common-list-box .title-area{height:62px;line-height:62px;padding:0 20px;overflow:hidden;}
.common-list-box .title-area .left span{color:#333;font-size:18px;vertical-align:middle;margin-left:10px;}
.common-list-box .title-area .left img{vertical-align:middle;}
.common-list-box .content-area{padding:0 15px;width: 105%;}
.common-list-box .title-area .right{color:#999;}
.common-list-box .content-area .img{width:224px;height:150px;}
.common-list-box .content-area .img img{width:224px;height:150px;}
.common-list-box .content-area .cont{border:1px #f2f2f2 solid;height:75px;border-top:0;padding:12px;}
.common-list-box .content-area .cont .row-1{color:#333;font-size:14px;margin-bottom:8px;height: 42px;}
.common-list-box .content-area .cont .row-2{line-height:26px;}
.common-list-box .content-area .cont .row-2 span{color:#f52f3e;font-size:16px;}
.common-list-box .content-area .cont .row-2 span i{font-size:12px;}
.common-list-box .content-area .cont .row-2 em{color:#aaa; max-width: 100px; overflow: hidden; height: 26px; text-overflow: ellipsis; white-space: nowrap;}
.recent-account-box{margin-top:20px;}
.recommend-account-box{height:591px;margin-top:30px;margin-bottom: 10px;}
.recommend-account-box li{margin-bottom:10px;}
