@charset "utf-8";
.ordercap{float:left;text-align:left;margin:10px 0 0 0;width:-moz-calc(100% - 2px);width:-webkit-calc(100% - 2px);width:calc(100% - 2px);height:38px;border:#E8E8E8 solid 1px;background-color:#F5F5F5;}
.ordercap li{float:left;}
.ordercap .l0{padding:14px 0 0 20px;}
.ordercap .l1{padding:12px 0 0 0;width:-moz-calc(100% - 530px);width:-webkit-calc(100% - 530px);width:calc(100% - 530px);text-align:center;}
.ordercap .l2{padding:12px 0 0 0;width:141px;text-align:center;}
.ordercap .l3{padding:12px 0 0 0;width:81px;text-align:center;}
.ordercap .l4{padding:12px 0 0 0;width:151px;text-align:center;}
.ordercap .l5{padding:12px 0 0 0;width:124px;text-align:center;}
.order1{float:left;text-align:left;margin:10px 0 0 0;width:-moz-calc(100% - 2px);width:-webkit-calc(100% - 2px);width:calc(100% - 2px);height:41px;border:#E8E8E8 solid 1px;background-color:#F5F5F5;}
.order1 li{float:left;}
.order1 .l1{padding:14px 0 0 20px;}
.order1 .l2{padding:12px 0 0 10px;font-weight:700;}
.order1 .l3{padding:12px 0 0 10px;}
.order1 .l4{padding:12px 0 0 70px;}
.order1 .l5{padding:9px 0 0 10px;}
.orderlist{float:left;width:100%;border-bottom:#E8E8E8 solid 1px;background-color:#fff;}
.order2{float:left;text-align:left;width:-moz-calc(100% - 2px);width:-webkit-calc(100% - 2px);width:calc(100% - 2px);height:117px;border:#E8E8E8 solid 1px;border-top:0;border-bottom:0;}
.order2 li{float:left;}
.order2 .l1{padding:18px 0 0 20px;width:80px;}
.order2 .l1 img{width:80px;height:80px;border-radius:5px;}
.order2 .l2{padding:18px 30px 0 10px;width:-moz-calc(100% - 638px);width:-webkit-calc(100% - 638px);width:calc(100% - 638px);line-height:20px;color:#999;}
.order2 .l2 .a1{color:#000;font-weight:700;font-size:14px;}
.order2 .l2 .a1:hover{color:#ff6600;}
.order2 .l3{padding:18px 0 0 0;width:140px;text-align:center;border-right:#E8E8E8 solid 1px;height:98px;border-top:#fff solid 1px;}
.order2 .l4{padding:18px 0 0 0;width:80px;text-align:center;border-right:#E8E8E8 solid 1px;height:98px;border-top:#fff solid 1px;}
.order2 .l5{padding:18px 0 0 0;width:150px;text-align:center;line-height:20px;height:99px;}
.order2 .l6{padding:18px 0 0 0;width:125px;text-align:center;border-right:#E8E8E8 solid 1px;height:99px;}
.order21 .l1{border-top:#E8E8E8 solid 1px;}
.order21 .l2{border-top:#E8E8E8 solid 1px;}
.order21 .l3{border-top:#E8E8E8 solid 1px;}
.order21 .l4{border-top:#E8E8E8 solid 1px;}

.serordercap{float:left;border:#CACACA solid 1px;width:-moz-calc(100% - 1px);width:-webkit-calc(100% - 1px);width:calc(100% - 1px);border-left:0;margin:10px 0 0 0;height:38px;background-color:#E8E8E8;font-weight:700;}
.serordercap li{float:left;padding-top:10px;border-left:#CACACA solid 1px;height:28px;}
.serordercap .l1{width:27px;height:26px;text-align:left;padding:12px 0 0 8px;}
.serordercap .l1 input{float:left;width:16px;height:16px;}
.serordercap .l2{width:-moz-calc(100% - 607px);width:-webkit-calc(100% - 607px);width:calc(100% - 607px);text-align:left;padding-left:10px;}
.serordercap .l2 .a1:hover{color:#ff6600;text-decoration:underline;}
.serordercap .l3{width:108px;padding-left:10px;}
.serordercap .l4{width:100px;}
.serordercap .l5{width:98px;}
.serordercap .l6{width:99px;}
.serordercap .l7{width:140px;}
.serorderlist{float:left;border:#CACACA solid 1px;border-left:0;border-top:0;height:80px;width:-moz-calc(100% - 1px);width:-webkit-calc(100% - 1px);width:calc(100% - 1px);background-color:#fff;}
.serorderlist li{float:left;padding-top:10px;border-left:#CACACA solid 1px;height:70px;}
.serorderlist .l1{width:27px;height:68px;text-align:left;padding:12px 0 0 8px;background-color:#F1F1F1;}
.serorderlist .l1 input{float:left;width:16px;height:16px;}
.serorderlist .l2{width:-moz-calc(100% - 607px);width:-webkit-calc(100% - 607px);width:calc(100% - 607px);text-align:left;padding-left:10px;line-height:18px;}
.serorderlist .l2 img{margin:0 10px 0 0;}
.serorderlist .l3{width:108px;padding-left:10px;}
.serorderlist .l4{width:100px;}
.serorderlist .l5{width:98px;}
.serorderlist .l6{width:99px;}
.serorderlist .l7{width:140px;}
.serorderlist:hover{background:rgba(249,249,249,1);-webkit-transition:background-color 0.3s linear;-moz-transition:background-color 0.3s linear;-o-transition:background-color 0.3s linear;transition:background-color 0.3s linear;}



/*订单详情*/
.orderv1{float:left;width:100%;text-align:left;}
.orderv1 .u1{float:left;width:100%;margin:10px 0 10px 0;}
.orderv1 .u1 li{float:left;}
.orderv1 .u1 .l1{width:50%;font-size:14px;height:32px;padding:1px 0 0 0;border-bottom:#EEEEEE solid 1px;color:#000;}
.orderv1 .u1 .l2{width:50%;font-size:12px;text-align:right;height:33px;border-bottom:#EEEEEE solid 1px;}
.orderv1 .u1 .l2 span{float:right;padding:2px 5px 1px 5px;border:#FE686F dotted 1px;color:#FE686F;margin-left:10px;}
.orderv1 .u1 .l3{padding-right:20px;height:59px;border-right:#eee solid 1px;margin:30px 0 0 20px;}
.orderv1 .u1 .l3 span{float:left;width:100%;clear:both;}
.orderv1 .u1 .l3 .s1{font-size:12px;color:#999;}
.orderv1 .u1 .l3 .s2{color:#000;margin:7px 0 0 0;color:#FB6E52;font-size:25px;}
.orderv1 .u1 .l4{width:110px;height:59px;border-right:#eee solid 1px;margin:30px 0 0 30px;}
.orderv1 .u1 .l4 span{float:left;width:100%;clear:both;}
.orderv1 .u1 .l4 .s1{font-size:12px;color:#999;}
.orderv1 .u1 .l4 .s2{color:#000;margin:7px 0 0 0;font-size:25px;}
.orderv1 .u1 .l5{height:59px;border-right:#eee solid 1px;padding-right:50px;margin:30px 0 0 30px;}
.orderv1 .u1 .l5 .s1{font-size:12px;color:#999;float:left;width:100%;}
.orderv1 .u1 .l5 .s2{clear:both;float:left;margin:12px 0 0 0;}
.orderv1 .u1 .l5 .s2 span{float:left;border-radius:10px;padding:1px 10px 3px 10px;font-size:14px;}
.orderv1 .u1 .l5 .s2 .green{color:#fff;background-color:#008800;}
.orderv1 .u1 .l5 .s2 .red{color:#fff;background-color:#ff0000;}
.orderv1 .u1 .l5 .s2 .blue{color:#fff;background-color:#0000FF;}
.orderv1 .u1 .l5 .s2 .feng{color:#fff;background-color:#ff6600;}
.orderv1 .u1 .l5 .s2 .hui{color:#fff;background-color:#333333;}
.orderv1 .u1 .l6{height:59px;margin:30px 20px 0 20px;border-right:#eee solid 1px;}
.orderv1 .u1 .l6 .s1{font-size:12px;color:#999;float:left;width:100%;}
.orderv1 .u1 .l6 .s1 strong{color:#000;}
.orderv1 .u1 .l6 .s2{float:left;margin:12px 20px 0 0;background:url(../img/qq.gif) left center no-repeat;background-color:#5CB95C;padding:2px 4px 0 30px;height:21px;color:#fff;font-size:14px;border-radius:4px;}
.orderv1 .u1 .l6 .s3{float:left;margin:12px 20px 0 0;background:url(../img/tel1.gif) left center no-repeat;background-color:#44B7F8;padding:2px 4px 0 20px;height:21px;color:#fff;font-size:14px;border-radius:4px;}
.orderv1 .dtit{float:left;width:calc(100% - 22px);margin:20px 0 0 0;padding:10px;background-color:#fff;border:#E8E8E8 solid 1px;font-size:14px;font-weight:700;}
.orderv1 .dtit a:hover{color:#ff6600;}
.orderv1 .u2{float:left;width:calc(100% - 1px);border-right:#E8E8E8 solid 1px;}
.orderv1 .u2 li{float:left;border-bottom:#E8E8E8 solid 1px;}
.orderv1 .u2 .l1{border-left:#E8E8E8 solid 1px;text-align:center;padding:10px 0 0 0;height:28px;background-color:#fff;width:114px;font-weight:700;}
.orderv1 .u2 .l2{border-left:#E8E8E8 solid 1px;text-align:left;padding:10px 0 0 15px;height:28px;width:calc(50% - 253px);}
.orderv1 .table1{float:left;width:100%;border-right:#E8E8E8 solid 1px;border-bottom:#E8E8E8 solid 1px;}
.orderv1 .table1 .td1{border-left:#E8E8E8 solid 1px;text-align:center;padding:10px 0;background-color:#fff;width:114px;font-weight:700;}
.orderv1 .table1 .td2{border-left:#E8E8E8 solid 1px;text-align:left;padding:10px 0 10px 15px;width:calc(100% - 253px);line-height:22px;}
.orderv1 .table1 .td2 .fontc{font-size:16px;color:#F0F;line-height:26px;}
.orderv1 .table1 .td2 .fontc a{color:#F00;font-weight:700;}
.orderv1 .table1 .td2 .kdall{float:left;width:100%;}
.orderv1 .table1 .td2 .protp{width:100px;float:left;height:100px;margin-right:15px;border-radius:3px;}
.orderv1 .table11{border-top:#E8E8E8 solid 1px;}
.orderv1 .ztcontrol{float:left;width:920px;}
.orderv1 .ztcontrol .d1{float:left;width:920px;background:url(../img/orderj.png) no-repeat;height:13px;background-position:367px 0;}
.orderv1 .ztcontrol .d2{float:left;width:898px;font-size:14px;background-color:#F5FAFF;border:#BDDEFE solid 1px;padding:10px;}
.orderv1 .ztcontrol .d2:hover{-moz-box-shadow:4px 4px 10px #F5FAFF; -webkit-box-shadow:4px 4px 10px #F5FAFF; box-shadow:4px 4px 10px #F5FAFF;}
.orderv1 .ztcontrol .d2 .ds1{float:left;border-bottom:#ddd dotted 1px;padding:0 0 10px 0;width:100%;}
.orderv1 .ztcontrol .d2 .ds2{float:left;padding:10px 0 0 0;width:100%;line-height:24px;}
.orderv1 .ztcontrol .d2 .ds2 a{text-decoration:underline;}
.orderv1 .ztcontrol .d2 .ds2 a:hover{color:#ff6600;}
.gdhflist{float:left;width:calc(100% - 2px);background-color:#fff;border:#BFBFBF solid 1px;text-align:left;margin:10px 0 0 0;}
.gdhflist .u1{float:left;padding:17px 0 13px 0;margin:0 20px;width:-moz-calc(100% - 40px);width:-webkit-calc(100% - 40px);width:calc(100% - 40px);border-bottom:#BCBCBC dotted 1px;}
.gdhflist .u1 li{float:left;}
.gdhflist .u1 .l1{width:108px;text-align:center;}
.gdhflist .u1 .l2{width:-moz-calc(100% - 108px);width:-webkit-calc(100% - 108px);width:calc(100% - 108px);line-height:25px;font-size:14px;}
.gdhflist .u1 .l2 img{max-width:100%;}
.gdhflist .adminhf{float:left;width:100%;font-size:14px;}
.gdhflist .adminhf a{float:left;width:120px;background-color:#ff6600;color:#fff;font-size:14px;text-align:center;height:35px;border-radius:2px;margin:20px 0 20px 130px;line-height:35px;}














