@charset "utf-8";
/*开店月费*/
.openyf{float:left;clear:both;width:533px;}
.openyf li{float:left;}
.openyf .l0{width:125px;padding:11px 5px 0 0;font-size:14px;text-align:right;}
.openyf .l1{width:200px;background-color:#E8E8E8;padding-top:10px;border:#CACACA solid 1px;height:28px;text-align:center;font-weight:700;font-size:14px;}
.openyf .l2{width:200px;background-color:#E8E8E8;padding-top:10px;border:#CACACA solid 1px;height:28px;text-align:center;font-weight:700;font-size:14px;border-left:0;}
.yue{float:left;clear:both;width:403px;margin:0 0 0 130px;}
.yue li{float:left;width:200px;border:#CACACA solid 1px;border-top:0;height:38px;text-align:center;}
.yue .l1{}
.yue .l2{border-left:0;}
.yue li input{float:left;width:148px;height:24px;border:#ebebeb solid 1px;margin:6px 0 0 25px;text-align:center;}

/*四列A*/
.qjlistcap{float:left;border:#CACACA solid 1px;border-left:0;margin:10px 0 0 0;height:38px;width:-moz-calc(100% - 1px);width:-webkit-calc(100% - 1px);width:calc(100% - 1px);background-color:#E8E8E8;font-weight:700;}
.qjlistcap li{float:left;padding-top:10px;border-left:#CACACA solid 1px;height:28px;}
.qjlistcap .l1{width:27px;height:26px;text-align:left;padding:12px 0 0 8px;}
.qjlistcap .l1 input{float:left;width:16px;height:16px;}
.qjlistcap .l2{width:-moz-calc(100% - 650px);width:-webkit-calc(100% - 650px);width:calc(100% - 650px);text-align:left;padding-left:10px;}
.qjlistcap .l3{width:120px;}
.qjlistcap .l4{width:280px;}
.qjlistcap .l5{width:190px;text-align:right;padding-right:10px;}
.qjlist1{float:left;border:#CACACA solid 1px;border-left:0;border-top:0;height:38px;width:-moz-calc(100% - 1px);width:-webkit-calc(100% - 1px);width:calc(100% - 1px);background-color:#F4F4F4;}
.qjlist1 li{float:left;padding-top:10px;border-left:#CACACA solid 1px;height:28px;}
.qjlist1 .l1{width:27px;height:26px;text-align:left;padding:12px 0 0 8px;background-color:#F1F1F1;}
.qjlist1 .l1 input{float:left;width:16px;height:16px;}
.qjlist1 .l2{width:-moz-calc(100% - 650px);width:-webkit-calc(100% - 650px);width:calc(100% - 650px);text-align:left;padding-left:10px;font-size:14px;}
.qjlist1 .l3{width:120px;}
.qjlist1 .l4{width:280px;}
.qjlist1 .l5{width:200px;}
.qjlist1 .l5 a{float:right;margin-right:10px;}
.qjlist1 .l5 a:hover{color:#ff6600;text-decoration:underline;}
.qjlist1 .l5 span{float:right;height:11px;border-left:#cacaca solid 1px;margin:3px 10px 0 0;}
.qjlist1:hover{background:rgba(235,235,235,1);-webkit-transition:background-color 0.3s linear;-moz-transition:background-color 0.3s linear;-o-transition:background-color 0.3s linear;transition:background-color 0.3s linear;}
.qjlist2{float:left;border:#CACACA solid 1px;border-left:0;border-top:0;height:37px;width:-moz-calc(100% - 1px);width:-webkit-calc(100% - 1px);width:calc(100% - 1px);background-color:#fff;}
.qjlist2 li{float:left;padding-top:10px;border-left:#CACACA solid 1px;height:27px;}
.qjlist2 .l1{width:27px;height:25px;text-align:left;padding:12px 0 0 8px;background-color:#F1F1F1;}
.qjlist2 .l1 input{float:left;width:16px;height:16px;}
.qjlist2 .l2{width:-moz-calc(100% - 650px);width:-webkit-calc(100% - 650px);width:calc(100% - 650px);text-align:left;padding-left:10px;}
.qjlist2 .l3{width:120px;}
.qjlist2 .l4{width:280px;}
.qjlist2 .l5{width:200px;}
.qjlist2 .l5 a{float:right;margin-right:10px;}
.qjlist2 .l5 a:hover{color:#ff6600;text-decoration:underline;}
.qjlist2 .l5 span{float:right;height:11px;border-left:#cacaca solid 1px;margin:3px 10px 0 0;}
.qjlist2 .l51{width:190px;padding-right:10px;text-align:right;}
.qjlist2:hover{background:rgba(249,249,249,1);-webkit-transition:background-color 0.3s linear;-moz-transition:background-color 0.3s linear;-o-transition:background-color 0.3s linear;transition:background-color 0.3s linear;}

/*商品分组A*/
.typelistcap{float:left;border:#CACACA solid 1px;border-left:0;margin:10px 0 0 0;height:38px;width:-moz-calc(100% - 1px);width:-webkit-calc(100% - 1px);width:calc(100% - 1px);background-color:#E8E8E8;font-weight:700;}
.typelistcap li{float:left;padding-top:10px;border-left:#CACACA solid 1px;height:28px;}
.typelistcap .l1{width:27px;height:26px;text-align:left;padding:12px 0 0 8px;}
.typelistcap .l1 input{float:left;width:16px;height:16px;}
.typelistcap .l2{width:-moz-calc(100% - 753px);width:-webkit-calc(100% - 753px);width:calc(100% - 753px);text-align:left;padding-left:10px;}
.typelistcap .l3{width:120px;}
.typelistcap .l4{width:120px;}
.typelistcap .l6{width:100px;}
.typelistcap .l7{width:160px;}
.typelistcap .l8{width:190px;text-align:right;padding-right:10px;}
.typelist{float:left;border:#CACACA solid 1px;border-left:0;border-top:0;height:37px;width:-moz-calc(100% - 1px);width:-webkit-calc(100% - 1px);width:calc(100% - 1px);background-color:#fff;}
.typelist li{float:left;padding-top:10px;border-left:#CACACA solid 1px;height:27px;}
.typelist .l1{width:27px;height:25px;text-align:left;padding:12px 0 0 8px;background-color:#F1F1F1;}
.typelist .l1 input{float:left;width:16px;height:16px;}
.typelist .l2{width:-moz-calc(100% - 753px);width:-webkit-calc(100% - 753px);width:calc(100% - 753px);text-align:left;padding-left:10px;}
.typelist .l3{width:120px;}
.typelist .l4{width:120px;}
.typelist .l6{width:100px;}
.typelist .l7{width:160px;}
.typelist .l8{width:200px;}
.typelist .l8 a{float:right;margin-right:10px;}
.typelist .l8 a:hover{color:#ff6600;text-decoration:underline;}
.typelist .l8 span{float:right;height:11px;border-left:#cacaca solid 1px;margin:3px 10px 0 0;}
.typelist:hover{background:rgba(249,249,249,1);-webkit-transition:background-color 0.3s linear;-moz-transition:background-color 0.3s linear;-o-transition:background-color 0.3s linear;transition:background-color 0.3s linear;}
