@charset "utf-8";
.renwulistcap{float:left;border:#CACACA solid 1px;border-left:0;margin:10px 0 0 0;height:38px;width:-moz-calc(100% - 1px);width:-webkit-calc(100% - 1px);width:calc(100% - 1px);background-color:#E8E8E8;font-weight:700;}
.renwulistcap li{float:left;padding-top:10px;border-left:#CACACA solid 1px;height:28px;}
.renwulistcap .l1{width:27px;height:26px;text-align:left;padding:12px 0 0 8px;}
.renwulistcap .l1 input{float:left;width:16px;height:16px;}
.renwulistcap .l2{width:-moz-calc(100% - 607px);width:-webkit-calc(100% - 607px);width:calc(100% - 607px);text-align:left;padding-left:10px;}
.renwulistcap .l3{width:108px;padding-left:10px;}
.renwulistcap .l4{width:100px;}
.renwulistcap .l5{width:198px;}
.renwulistcap .l6{width:130px;text-align:right;padding-right:10px;}
.renwulist{float:left;border:#CACACA solid 1px;border-left:0;border-top:0;height:37px;width:-moz-calc(100% - 1px);width:-webkit-calc(100% - 1px);width:calc(100% - 1px);background-color:#fff;}
.renwulist li{float:left;padding-top:10px;border-left:#CACACA solid 1px;height:27px;}
.renwulist .l1{width:27px;height:25px;text-align:left;padding:12px 0 0 8px;background-color:#F1F1F1;}
.renwulist .l1 input{float:left;width:16px;height:16px;}
.renwulist .l2{width:-moz-calc(100% - 607px);width:-webkit-calc(100% - 607px);width:calc(100% - 607px);text-align:left;padding-left:10px;}
.renwulist .l3{width:108px;padding-left:10px;}
.renwulist .l4{width:100px;}
.renwulist .l5{width:198px;}
.renwulist .l6{width:140px;}
.renwulist .l6 a{float:right;margin-right:10px;}
.renwulist .l6 a:hover{color:#ff6600;text-decoration:underline;}
.renwulist .l6 span{float:right;height:11px;border-left:#cacaca solid 1px;margin:3px 10px 0 0;}
.renwulist:hover{background:rgba(249,249,249,1);-webkit-transition:background-color 0.3s linear;-moz-transition:background-color 0.3s linear;-o-transition:background-color 0.3s linear;transition:background-color 0.3s linear;}

.renwujielistcap{float:left;border:#CACACA solid 1px;border-left:0;margin:10px 0 0 0;height:38px;width:-moz-calc(100% - 1px);width:-webkit-calc(100% - 1px);width:calc(100% - 1px);background-color:#E8E8E8;font-weight:700;}
.renwujielistcap li{float:left;padding-top:10px;border-left:#CACACA solid 1px;height:28px;}
.renwujielistcap .l1{width:27px;height:26px;text-align:left;padding:12px 0 0 8px;}
.renwujielistcap .l1 input{float:left;width:16px;height:16px;}
.renwujielistcap .l2{width:-moz-calc(100% - 798px);width:-webkit-calc(100% - 798px);width:calc(100% - 798px);text-align:left;padding-left:10px;}
.renwujielistcap .l3{width:108px;padding-left:10px;}
.renwujielistcap .l4{width:140px;}
.renwujielistcap .l5{width:198px;}
.renwujielistcap .l6{width:150px;}
.renwujielistcap .l7{width:130px;text-align:right;padding-right:10px;}
.renwujielist{float:left;border:#CACACA solid 1px;border-left:0;border-top:0;height:37px;width:-moz-calc(100% - 1px);width:-webkit-calc(100% - 1px);width:calc(100% - 1px);background-color:#fff;}
.renwujielist li{float:left;padding-top:10px;border-left:#CACACA solid 1px;height:27px;}
.renwujielist .l1{width:27px;height:25px;text-align:left;padding:12px 0 0 8px;background-color:#F1F1F1;}
.renwujielist .l1 input{float:left;width:16px;height:16px;}
.renwujielist .l2{width:-moz-calc(100% - 798px);width:-webkit-calc(100% - 798px);width:calc(100% - 798px);text-align:left;padding-left:10px;}
.renwujielist .l3{width:108px;padding-left:10px;}
.renwujielist .l4{width:140px;}
.renwujielist .l5{width:198px;}
.renwujielist .l6{width:150px;}
.renwujielist .l7{width:140px;}
.renwujielist .l7 a{float:right;margin-right:10px;}
.renwujielist .l7 a:hover{color:#ff6600;text-decoration:underline;}
.renwujielist .l7 span{float:right;height:11px;border-left:#cacaca solid 1px;margin:3px 10px 0 0;}
.renwujielist:hover{background:rgba(249,249,249,1);-webkit-transition:background-color 0.3s linear;-moz-transition:background-color 0.3s linear;-o-transition:background-color 0.3s linear;transition:background-color 0.3s linear;}

.renwujielog{float:left;width:calc(100% - 2px);background-color:#fff;text-align:left;margin:10px 0 0 0;}
.renwujielog .u1{float:left;padding:17px 0 13px 0;margin:0 20px;width:-moz-calc(100% - 40px);width:-webkit-calc(100% - 40px);width:calc(100% - 40px);border-bottom:#BCBCBC dotted 1px;}
.renwujielog .u1 li{float:left;}
.renwujielog .u1 .l1{width:108px;text-align:center;}
.renwujielog .u1 .l2{width:-moz-calc(100% - 108px);width:-webkit-calc(100% - 108px);width:calc(100% - 108px);line-height:25px;font-size:14px;}
.renwujielog .u1 .l2 img{max-width:100%;}
.renwujielog .adminhf{float:left;width:100%;font-size:14px;}
.renwujielog .adminhf a{float:left;width:120px;background-color:#ff6600;color:#fff;font-size:14px;text-align:center;height:35px;border-radius:2px;margin:20px 0 20px 130px;line-height:35px;}















