@charset "utf-8";
.userlistcap{float:left;border:#CACACA solid 1px;border-left:0;margin:10px 0 0 0;height:38px;width:-moz-calc(100% - 1px);width:-webkit-calc(100% - 1px);width:calc(100% - 1px);background-color:#E8E8E8;font-weight:700;}
.userlistcap li{float:left;border-left:#CACACA solid 1px;height:38px;line-height:38px;overflow:hidden;}
.userlistcap .l1{width:3%;height:33px;padding:5px 0 0 0;}
.userlistcap .l1 input{width:16px;height:16px;}
.userlistcap .l2{width:-moz-calc(28% - 146px);width:-webkit-calc(28% - 146px);width:calc(28% - 146px);}
.userlistcap .l3{width:10%;}
.userlistcap .l4{width:8%;}
.userlistcap .l5{width:9%;}
.userlistcap .l9{width:9%;}
.userlistcap .l6{width:10%;}
.userlistcap .l7{width:14%;}
.userlistcap .l8{width:135px;}
.userlist{float:left;border:#CACACA solid 1px;border-left:0;border-top:0;height:37px;width:-moz-calc(100% - 1px);width:-webkit-calc(100% - 1px);width:calc(100% - 1px);background-color:#fff;}
.userlist li{float:left;border-left:#CACACA solid 1px;height:37px;line-height:37px;}
.userlist .l1{width:3%;height:32px;padding-top:5px;background-color:#F1F1F1;}
.userlist .l1 input{width:16px;height:16px;}
.userlist .l2{width:-moz-calc(28% - 146px);width:-webkit-calc(28% - 146px);width:calc(28% - 146px);}
.userlist .l3{width:10%;}
.userlist .l4{width:8%;}
.userlist .l5{width:9%;}
.userlist .l9{width:9%;}
.userlist .l6{width:10%;}
.userlist .l7{width:14%;}
.userlist .l8{width:135px;color:#999;}
.userlist .l8 a{margin:0 5px;}
.userlist .l8 a:hover{color:#ff6600;text-decoration:underline;}
.userlist:hover{background:rgba(249,249,249,1);-webkit-transition:background-color 0.3s linear;-moz-transition:background-color 0.3s linear;-o-transition:background-color 0.3s linear;transition:background-color 0.3s linear;}

.mlistcap{float:left;border:#CACACA solid 1px;border-left:0;margin:10px 0 0 0;height:38px;width:-moz-calc(100% - 1px);width:-webkit-calc(100% - 1px);width:calc(100% - 1px);background-color:#E8E8E8;font-weight:700;}
.mlistcap li{float:left;padding-top:10px;border-left:#CACACA solid 1px;height:28px;}
.mlistcap .l1{width:27px;height:26px;text-align:left;padding:12px 0 0 8px;}
.mlistcap .l1 input{float:left;width:16px;height:16px;}
.mlistcap .l2{width:-moz-calc(100% - 847px);width:-webkit-calc(100% - 847px);width:calc(100% - 847px);text-align:left;padding-left:10px;}
.mlistcap .l7{width:98px;}
.mlistcap .l8{width:190px;}
.mlistcap .l3{width:108px;}
.mlistcap .l4{width:130px;}
.mlistcap .l5{width:140px;}
.mlistcap .l6{width:128px;}
.mlist{float:left;border:#CACACA solid 1px;border-left:0;border-top:0;height:37px;width:-moz-calc(100% - 1px);width:-webkit-calc(100% - 1px);width:calc(100% - 1px);background-color:#fff;}
.mlist li{float:left;padding-top:10px;border-left:#CACACA solid 1px;height:27px;}
.mlist .l1{width:27px;height:25px;text-align:left;padding:12px 0 0 8px;background-color:#F1F1F1;}
.mlist .l1 input{float:left;width:16px;height:16px;}
.mlist .l2{width:-moz-calc(100% - 847px);width:-webkit-calc(100% - 847px);width:calc(100% - 847px);text-align:left;padding-left:10px;}
.mlist .l2 span{float:left;width:100%;height:16px;overflow:hidden;cursor:default;}
.mlist .l7{width:98px;}
.mlist .l8{width:190px;}
.mlist .l3{width:108px;}
.mlist .l4{width:130px;}
.mlist .l5{width:140px;}
.mlist .l6{width:128px;}
.mlist:hover{background:rgba(249,249,249,1);-webkit-transition:background-color 0.3s linear;-moz-transition:background-color 0.3s linear;-o-transition:background-color 0.3s linear;transition:background-color 0.3s linear;}

.baolistcap{float:left;border:#CACACA solid 1px;border-left:0;margin:10px 0 0 0;height:38px;width:-moz-calc(100% - 1px);width:-webkit-calc(100% - 1px);width:calc(100% - 1px);background-color:#E8E8E8;font-weight:700;}
.baolistcap li{float:left;padding-top:10px;border-left:#CACACA solid 1px;height:28px;}
.baolistcap .l1{width:27px;height:26px;text-align:left;padding:12px 0 0 8px;}
.baolistcap .l1 input{float:left;width:16px;height:16px;}
.baolistcap .l2{width:-moz-calc(100% - 757px);width:-webkit-calc(100% - 757px);width:calc(100% - 757px);text-align:left;padding-left:10px;}
.baolistcap .l3{width:108px;}
.baolistcap .l4{width:230px;}
.baolistcap .l5{width:240px;}
.baolistcap .l6{width:128px;}
.baolist{float:left;border:#CACACA solid 1px;border-left:0;border-top:0;height:37px;width:-moz-calc(100% - 1px);width:-webkit-calc(100% - 1px);width:calc(100% - 1px);background-color:#fff;}
.baolist li{float:left;padding-top:10px;border-left:#CACACA solid 1px;height:27px;}
.baolist .l1{width:27px;height:25px;text-align:left;padding:12px 0 0 8px;background-color:#F1F1F1;}
.baolist .l1 input{float:left;width:16px;height:16px;}
.baolist .l2{width:-moz-calc(100% - 757px);width:-webkit-calc(100% - 757px);width:calc(100% - 757px);text-align:left;padding-left:10px;}
.baolist .l3{width:108px;}
.baolist .l4{width:230px;}
.baolist .l5{width:240px;}
.baolist .l6{width:128px;}
.baolist:hover{background:rgba(249,249,249,1);-webkit-transition:background-color 0.3s linear;-moz-transition:background-color 0.3s linear;-o-transition:background-color 0.3s linear;transition:background-color 0.3s linear;}

.rglistcap{float:left;border:#CACACA solid 1px;border-left:0;margin:10px 0 0 0;height:38px;width:-moz-calc(100% - 1px);width:-webkit-calc(100% - 1px);width:calc(100% - 1px);background-color:#E8E8E8;font-weight:700;}
.rglistcap li{float:left;padding-top:10px;border-left:#CACACA solid 1px;height:28px;}
.rglistcap .l1{width:27px;height:26px;text-align:left;padding:12px 0 0 8px;}
.rglistcap .l1 input{float:left;width:16px;height:16px;}
.rglistcap .l2{width:-moz-calc(100% - 809px);width:-webkit-calc(100% - 809px);width:calc(100% - 809px);text-align:left;padding-left:10px;}
.rglistcap .l3{width:220px;}
.rglistcap .l4{width:208px;}
.rglistcap .l5{width:190px;}
.rglistcap .l6{width:140px;}
.rglist{float:left;border:#CACACA solid 1px;border-left:0;border-top:0;height:57px;width:-moz-calc(100% - 1px);width:-webkit-calc(100% - 1px);width:calc(100% - 1px);background-color:#fff;}
.rglist li{float:left;padding-top:10px;border-left:#CACACA solid 1px;height:47px;}
.rglist .l1{width:27px;height:45px;text-align:left;padding:12px 0 0 8px;background-color:#F1F1F1;}
.rglist .l1 input{float:left;width:16px;height:16px;}
.rglist .l2{width:-moz-calc(100% - 809px);width:-webkit-calc(100% - 809px);width:calc(100% - 809px);text-align:left;padding-left:10px;}
.rglist .l3{width:220px;}
.rglist .l4{width:208px;}
.rglist .l5{width:190px;}
.rglist .l6{width:140px;}
.rglist:hover{background:rgba(249,249,249,1);-webkit-transition:background-color 0.3s linear;-moz-transition:background-color 0.3s linear;-o-transition:background-color 0.3s linear;transition:background-color 0.3s linear;}

.adminlistcap{float:left;border:#CACACA solid 1px;border-left:0;margin:10px 0 0 0;height:38px;width:-moz-calc(100% - 1px);width:-webkit-calc(100% - 1px);width:calc(100% - 1px);background-color:#E8E8E8;font-weight:700;}
.adminlistcap li{float:left;padding-top:10px;border-left:#CACACA solid 1px;height:28px;}
.adminlistcap .l1{width:27px;height:26px;text-align:left;padding:12px 0 0 8px;}
.adminlistcap .l1 input{float:left;width:16px;height:16px;}
.adminlistcap .l2{width:482px;text-align:left;padding-left:10px;}
.adminlistcap .l3{width:208px;text-align:left;padding-left:10px;}
.adminlistcap .l4{width:-moz-calc(100% - 749px);width:-webkit-calc(100% - 749px);width:calc(100% - 749px);}
.adminlist{float:left;border:#CACACA solid 1px;border-left:0;border-top:0;height:37px;width:-moz-calc(100% - 1px);width:-webkit-calc(100% - 1px);width:calc(100% - 1px);background-color:#fff;}
.adminlist li{float:left;padding-top:10px;border-left:#CACACA solid 1px;height:27px;}
.adminlist .l1{width:27px;height:25px;text-align:left;padding:12px 0 0 8px;background-color:#F1F1F1;}
.adminlist .l1 input{float:left;width:16px;height:16px;}
.adminlist .l2{width:482px;text-align:left;padding-left:10px;}
.adminlist .l3{width:208px;text-align:left;padding-left:10px;}
.adminlist .l4{width:-moz-calc(100% - 749px);width:-webkit-calc(100% - 749px);width:calc(100% - 749px);}
.adminlist:hover{background:rgba(249,249,249,1);-webkit-transition:background-color 0.3s linear;-moz-transition:background-color 0.3s linear;-o-transition:background-color 0.3s linear;transition:background-color 0.3s linear;}


.txlistcap{float:left;border:#CACACA solid 1px;border-left:0;margin:10px 0 0 0;height:38px;width:-moz-calc(100% - 1px);width:-webkit-calc(100% - 1px);width:calc(100% - 1px);background-color:#E8E8E8;font-weight:700;}
.txlistcap li{float:left;padding-top:10px;border-left:#CACACA solid 1px;height:28px;}
.txlistcap .l1{width:27px;height:26px;text-align:left;padding:12px 0 0 8px;}
.txlistcap .l1 input{float:left;width:16px;height:16px;}
.txlistcap .l2{width:15%;}
.txlistcap .l3{width:15%;}
.txlistcap .l4{width:15%;}
.txlistcap .l5{width:12%;}
.txlistcap .l6{width:15%;}
.txlistcap .l7{width:-moz-calc(13% - 43px);width:-webkit-calc(13% - 43px);width:calc(13% - 43px);}
.txlist{float:left;border:#CACACA solid 1px;border-left:0;border-top:0;height:37px;width:-moz-calc(100% - 1px);width:-webkit-calc(100% - 1px);width:calc(100% - 1px);background-color:#fff;}
.txlist li{float:left;padding-top:10px;border-left:#CACACA solid 1px;height:27px;}
.txlist .l1{width:27px;height:25px;text-align:left;padding:12px 0 0 8px;background-color:#F1F1F1;}
.txlist .l1 input{float:left;width:16px;height:16px;}
.txlist .l2{width:15%;}
.txlist .l3{width:15%;}
.txlist .l4{width:15%;}
.txlist .l5{width:12%;}
.txlist .l6{width:15%;}
.txlist .l7{width:-moz-calc(13% - 43px);width:-webkit-calc(13% - 43px);width:calc(13% - 43px);}
.txlist:hover{background:rgba(249,249,249,1);-webkit-transition:background-color 0.3s linear;-moz-transition:background-color 0.3s linear;-o-transition:background-color 0.3s linear;transition:background-color 0.3s linear;}
