body{font-family:"Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",华文细黑,STHeiti,MingLiu;}


.account-shop-box {min-width: 1190px; border-top: #3399fe 2px solid; background: url(images/shop-bg.jpg) top center  no-repeat ;border-bottom: #f6f6f8 solid 30px;
    padding-bottom: 20px;}

.main-content{position: relative;width: 1190px; margin: 0 auto;box-shadow: 0px 0px 10px 4px rgba(0,0,0,0.06);}

.shop-info{position: relative;width: 1110px; font-family: "microsoft yahei";height:130px;padding: 80px 40px 0 40px; margin-bottom:20px;background: url(images/shop-info-bg.jpg) 0 40px no-repeat;}
.shop-info.no-bg{background: transparent;}
.shop-info .roof{ position: absolute;top: 0;left: -44px;height: 112px;width: 1285px; background: url(images/roof.png) no-repeat;}
.shop-info dl{float: left;height: 130px;width: 670px; position: relative; z-index: 2;}
.shop-info dl dt{float: left;width: 130px;height: 130px;margin-right: 30px;}
.shop-info dl dt img{width: 130px;height: 130px;border-radius: 4px;box-shadow: 0px 0px 10px 4px rgba(0,0,0,0.1);}
.shop-info dl dd{float: left;width: 510px;}
.shop-info dl dd h2{line-height: 40px;margin-top: 4px; font-size: 24px;font-weight: bold;color: #333;}
.shop-info dl dd h2 a{background: url(images/mgstore-icon.png) no-repeat 3px center; font-size: 12px; color: #888888; padding:0 4px 0 16px; font-weight: normal; border: 1px solid #bbbbbb; border-radius: 3px; margin-left: 5px; display: inline-block; *display: inline; *zoom: 1; vertical-align: middle; height: 16px; line-height: 16px;}
.shop-info dl dd p {line-height: 28px;}
.shop-info dl dd p i{color: #999;}
.shop-info dl dd p .orange{color: #ff6700;}
.shop-info dl dd p .num{font-size: 14px;font-family: arial;font-weight: bold;}
.shop-info dl dd p .line{margin: 0 12px;border-left: 1px solid #ddd;width: 1px;height: 12px;}
.shop-info dl dd p.reputation em{margin: -4px 2px 0 0; display: inline-block; *display: inline; *zoom: 1; width: 16px; height: 16px; background: url("images/storedj.png") no-repeat; vertical-align: middle;}
.shop-info dl dd p em.kinghat{background-position:0 0;}
.shop-info dl dd p em.diamond{background-position:0 -20px;}
.shop-info dl dd p em.startall{background-position:-1px -39px;}
.shop-info dl dd p em.starthalf{background-position:-1px -62px;}
.shop-info dl dd p em.startnone{background-position:-1px -84px;}
.shop-info .operate-box{float: left;width: 120px;}
.shop-info .operate-box a{width: 118px;height: 32px;border-radius: 20px;border: #ff9a55 1px solid; color: #ff6700; background: #fff7f2; display: block;text-align: center;line-height: 32px;font-size: 13px; margin-top:14px;-webkit-transition:all .3s ease-in-out;-moz-transition:all .3s ease-in-out;-ms-transition:all .3s ease-in-out;transition:all .3s ease-in-out}
.shop-info .operate-box a.btn-orange{background: #ff6700;border-color: #ff6700;color: #fff;}
.shop-info .operate-box a em{height: 12px;width: 14px;display: inline-block;*display: inline;*zoom: 1;margin-right:5px;background: url(images/icon-qq.png) no-repeat;}
.shop-info .operate-box a:hover{background: #ff6700;border-color: #ff6700;color: #fff;box-shadow:1px 2px 8px 0px #f4c179;-webkit-transform:translateY(-3px);-moz-transform:translateY(-3px);-ms-transform:translateY(-3px);transform:translateY(-3px);}
.shop-info .operate-box p{margin-top: 6px;line-height: 20px;text-align: center;color: #999;}
.shop-info .operate-box p em{color: #666;margin-left: 6px;}

.shop-info .shop-introduce{float: right;width: 240px;}
.shop-info .shop-introduce h2{text-align: center;margin-bottom: 8px;}
.shop-info .shop-introduce h2 span{font-size: 14px;font-weight: bold;color: #333;margin: 0 12px;}
.shop-info .shop-introduce h2 .line{border-top: 1px solid #ddd;width: 30px;height: 1px;margin-top: -1px;display: inline-block;vertical-align: middle;*display: inline;}
.shop-info .shop-introduce p{line-height: 22px;color:#999;word-wrap: break-word;max-height: 88px;overflow: hidden; word-break: break-all;}
.account-box {
    padding: 0 40px;
}

/*横列表带图片*/
.clistx{/*width:100%;float:left;*/background:#fff;}
.clistx table{table-layout:fixed;border-bottom:1px solid #eee;width:100%;padding:0;overflow:hidden;}
.clistx td{WORD-WRAP:break-word;border:0;padding:20px 0 20px 20px;}
.clistx table:hover{transition:all .2s ease-in-out;box-shadow:0 0 16px 0 rgba(53,53,53,.2);}
.clistx .pic{overflow:hidden;display:inline-block;width:100%;height: 120px;border:1px solid #f1f1f1;}
.clistx .pic img{width:100%;height: 120px;}
.clistx .title a:hover h3{color:#5953ff;}
.clistx .title h3{word-break:break-all;color:#444;font-size:14px;font-weight:700;white-space:nowrap;overflow:hidden;display:block;text-overflow:ellipsis;}
.clistx .title span{color:#999;padding:6px 0;display:inline-block;}
.clistx .title a.ys{padding:1px 3px;border:1px solid #6ea6e8;border-radius:3px;background:#f0f7ff;color:#6ea6e8;font-size:12px;line-height:1.4;text-align:center;float:right;}
.clistx .title em{color:#666;}
.clistx .attr{line-height:20px;}
.clistx .attr em{color:#f92c1d;font-size:16px;margin-left:-2px;color:#f92c1d;font-weight:700;}
.clistx .attr em b{font-size:18px;}
.clistx .attr p{margin-top:5px;}
.clistx .info{position:relative;}
.clistx .info a:hover{color:#316ccb;}
.clistx .info .sinfo{display:block;margin-left:50px;height:42px;}
.clistx .info .sinfo p{white-space:nowrap;overflow:hidden;display:block;text-overflow:ellipsis;font-size:14px;}
.clistx .info .pic_Layer{position:absolute;top:0;left:0;border-radius:50%;width:40px;height:40px;border:1px solid #e3e3e3;background:#fff;overflow:hidden;}
.clistx .info .pic_Layer img{width:40px;height:40px;}
.clistx .info .xy{margin:3px 0;}
.clistx .info .see{color:#999;padding:5px 10px;height:20px;line-height:20px;border:1px solid #e5e5e5;border-radius:2px;}
.clist .list_items,.wlist .list_items{width:110%;}





/*头部*/
.shoptop1{float:left;width:1250px;margin:10px 0 0 0;color:#666;text-align:left;}
.shoptop1 .d1{float:left;font-size:14px;font-weight:700;margin:7px 10px 0 0;}
.shoptop1 .d1 a{color:#666;}
.shoptop1 .d2{float:left;margin:0 10px 0 0;height:25px;cursor:pointer;background:url(img/jt1.gif) right center no-repeat;}
.shoptop1 .d21{background:url(img/jt2.gif) right center no-repeat;}
.shoptop1 .d2 .s2{float:left;padding:8px 10px 0 0;}
.shoptop1 .d2 .s3{float:left;padding:4px 0 0 0;}
.shoptop1 .d2 .s3 img{width:18px;height:18px;}
.shoptop1 .d2 .s4{float:left;padding:7px 20px 0 10px;}
.shoptop1 .d2 #lkuang{float:left;width:495px;height:257px;clear:both;position:absolute;z-index:888;background-color:#F6F6F6;border:#DEDEDE solid 1px;margin:25px 0 0 0;}
.shoptop1 .d2 #lkuang .u1{float:left;width:495px;height:257px;}
.shoptop1 .d2 #lkuang .u1 li{float:left;}
.shoptop1 .d2 #lkuang .u1 .l1{width:250px;height:66px;background-color:#fff;border-right:#EEEEEE solid 1px;text-align:center;padding:18px 0 0 0;}
.shoptop1 .d2 #lkuang .u1 .l1 img{margin:7px 0 0 0;}
.shoptop1 .d2 #lkuang .u1 .l2{width:244px;height:84px;background-color:#fff;}
.shoptop1 .d2 #lkuang .u1 .l2 span{float:left;width:105px;height:38px;background:url(img/a.gif) no-repeat;background-color:#F6F6F6;text-align:center;padding:9px 0 0 60px;line-height:15px;background-position:10px 8px;margin:18px 0 0 40px;}
.shoptop1 .d2 #lkuang .u1 .l3{width:180px;height:89px;text-align:center;padding:17px 0 0 0;border-bottom:#eee solid 1px;line-height:20px;}
.shoptop1 .d2 #lkuang .u1 .l3 img{margin:0 5px;}
.shoptop1 .d2 #lkuang .u1 .l4{width:165px;height:92px;padding:14px 0 0 0;line-height:20px;border-bottom:#eee solid 1px;}
.shoptop1 .d2 #lkuang .u1 .l5{width:150x;height:92px;padding:14px 0 0 0;line-height:20px;border-bottom:#eee solid 1px;}
.shoptop1 .d2 #lkuang .u1 .l6{width:495px;}
.shoptop1 .d2 #lkuang .u1 .l6 #favsno{float:left;background:url(img/b.gif) left top no-repeat;width:89px;height:22px;padding:8px 0 0 64px;margin:19px 0 0 180px;}
.shoptop1 .d2 #lkuang .u1 .l6 #favsyes{color:blue;float:left;background:url(img/b.gif) left top no-repeat;width:89px;height:22px;padding:8px 0 0 64px;margin:19px 0 0 180px;}
.shoptop1 .d4{float:left;margin:7px 10px 0 0;}
.shoptop1 .d4 span{color:#E45C11;}
.shoptop1 .d5{float:right;margin:7px 0 0 10px;}
.shoptop1 .d5 a{float:left;background:url(img/x.gif) left center no-repeat;padding:0 0 0 15px;}
.shoptop1 .d6{float:right;margin:7px 0 0 10px;}

.shopbfb{float:left;height:120px;margin:7px 0 0 0;}
.bfbshopm{height:40px;background-color:#515151;font-size:14px;}
.bfbshopm .menu{background-color:#515151;}
.bfbshopm .menu .d1{float:left;width:120px;height:40px;}
.bfbshopm .menu .d1 .a1{color:#fff;width:120px;text-align:center;float:left;padding:10px 0 0 0;height:30px;}
.bfbshopm .menu .d1 .a1:hover{background-color:#A8A8A8;text-decoration:none;}
.bfbshopm .menu .d1 .d2{float:left;width:118px;background-color:#fff;border:#ddd solid 1px;position:relative;z-index:9;}
.bfbshopm .menu .d1 .d2 a{float:left;width:118px;text-align:center;padding:4px 0 0 0;height:24px;}
.bfbshopm .menu .d1 .d2 a:hover{background-color:#f2f2f2;text-decoration:none;}

.bfbshop{background-color:#F3F5F7;}

/*切换*/
.banner{float:left;height:300px;overflow:hidden;width:100%;}
.banner .d1{float:left;width:100%;min-width:1250px;height:300px;display:block;position:absolute;left:0px;z-index:8;}
.banner .d2{float:left;width:100%;min-width:1250px;height:30px;clear:both;position:absolute;z-index:8;left:0px;margin-top:280px;}
.banner .d2 ul{float:left;position:absolute;left:50%;display:inline;}
.banner .d2 li{width:8px;height:8px;border-radius:8px;overflow:hidden;cursor:pointer;border:#fff solid 1px;float:left;margin:0 3px;display:inline;}
.banner .d2 li.nuw{background-color:#fff;}

/*左侧*/
.left{float:left;width:225px;margin:10px 0 0 0;text-align:left;}
.left .u1{float:left;border:#ddd solid 1px;width:225px;background-color:#fff;}
.left .u1 li{float:left;}
.left .u1 .l1{width:205px;padding:10px;}
.left .u2{float:left;width:225px;border:#ddd solid 1px;margin:10px 0 0 0;background-color:#fff;}
.left .u2 li{float:left;}
.left .u2 .l1{background-color:#F2F2F2;font-weight:700;padding:7px 0 0 20px;width:205px;height:23px;border-bottom:#ddd solid 1px;}
.left .u2 .l2{padding:10px 0 10px 20px;width:205px;line-height:25px;}
.left .u2 .l2 a:hover{color:#ff6600;text-decoration:none;}
.left .u2 .l3{padding:10px 0 10px 20px;width:205px;border-top:#E2E2E2 solid 1px;}
.left .u2 .l4{padding:10px 0 10px 0;width:225px;border-top:#E2E2E2 solid 1px;text-align:center;}
.left .u2 .l4 img{margin:0 0 5px 0;width:150px;}
.left .u3{float:left;width:225px;border:#ddd solid 1px;margin:10px 0 0 0;background-color:#fff;}
.left .u3 li{float:left;}
.left .u3 .l1{background-color:#F2F2F2;font-weight:700;padding:7px 0 0 20px;width:205px;height:23px;border-bottom:#ddd solid 1px;}
.left .u3 .l2{border-bottom:#ECECEC dotted 1px;padding:10px 0px 10px 20px;width:205px;}
.left .u3 .l2 a{color:#5599E6;}
.left .u3 .l2 .s1{float:left;width:70px;}
.left .u3 .l2 .s2{width:88px;line-height:22px;}
.left .u4{float:left;width:225px;border:#ddd solid 1px;margin:10px 0 0 0;background-color:#fff;}
.left .u4 li{float:left;}
.left .u4 .l1{background-color:#F2F2F2;font-weight:700;padding:7px 0 0 20px;width:205px;height:23px;border-bottom:#ddd solid 1px;}
.left .u4 .l2{width:205px;padding:15px 0 15px 20px;line-height:20px;}

/*首页右侧*/
.iright{float:right;width:1010px;margin:10px 0 20px 0;text-align:left;background-color:#fff;padding:0 0 20px 0;}
.iright .rcap{float:left;margin:20px 20px 0 20px;height:32px;background:url(../img/dian.png) left bottom repeat-x;width:970px;}
.iright .rcap .d1{float:left;color:#FF7200;border-bottom:#FF7200 solid 2px;height:30px;font-size:14px;}
.iright .rcap .d2{float:right;font-size:14px;}
.iright .rcap .d2 a{color:#666;}
.iright .rcap .d2 a:hover{text-decoration:none;color:#ff6600;}
.iright .gywm{float:left;margin:10px 20px 0 20px;width:970px;font-size:14px;line-height:23px;}
.iright .fwxm{float:left;margin:0 20px 0 20px;width:970px;}
.iright .fwxm a{float:left;background-color:#EFEEF4;color:#7B7D94;padding:4px 32px 0 32px;border-radius:15px;margin:10px 20px 0 0;font-size:14px;height:24px;}
.iright .fwxm a:hover{color:#fff;background-color:#FF6900;text-decoration:none;}
.iright .newjy{float:left;width:975px;margin:5px 20px 0 20px;height:55px;border-bottom:#D8D8D8 dotted 1px;}
.iright .newjy .icon{float:left;background:url(img/call.gif) no-repeat;background-color:#FFFFFF;width:48px;height:46px;margin:2px 0 0 0;}
.iright .newjy #rolltxt{list-style:outside none none;float:left;width:890px;background-color:#FFFFFF;overflow:hidden;height:34px;padding:3px 0 5px 20px;}
.iright .newjy #rolltxt li{float:left;display:inline;margin:3px 0;height:16px;width:100%;}
.iright .newjy #rolltxt li .s1{color:#336699;}
.iright .newjy #rolltxt li a{color:#0D69B1;}
.iright .newjy #rolltxt li a:hover{color:#ff6600;}
.iright .newjy #rolltxt li strong{color:#ff6600;}
.iright .plist{float:left;width:1010px;}
.iright .plist .u2{float:left;width:225px;height:345px;border:#F3F1F1 solid 1px;margin:20px 0 0 24px;}
/*.iright .plist .u2 li{float:left;}
.iright .plist .u2 .l1{padding:10px;width:205px;height:205px;}
.iright .plist .u2 .l2{width:215px;font-size:16px;color:#ff6600;padding:5px 0 0 10px;height:25px;font-family:Arial, Helvetica, sans-serif;color:#ff6600;}
.iright .plist .u2 .l3{width:205px;padding:0 10px;height:45px;line-height:20px;}
.iright .plist .u2 .l3 a{float:left;width:100%;overflow:hidden;height:40px;}
.iright .plist .u2 .l4{width:125px;padding:10px 0 0 10px;}
.iright .plist .u2 .l5{width:80px;padding:5px 10px 0 0;}
.iright .plist .u2 .l5 a{float:right;border:#EA7F00 solid 1px;background-color:#FF8A00;width:68px;padding:2px 0 0 0;height:18px;text-align:center;color:#fff;}
.iright .plist .u2 .l5 a:hover{text-decoration:none;}*/
.iright .serlist{float:left;width:1010px;}
.iright .serlist .u2{float:left;width:225px;height:285px;border:#F3F1F1 solid 1px;margin:20px 0 0 24px;}
.iright .serlist .u2 li{float:left;}
.iright .serlist .u2 .l1{padding:10px;width:205px;height:145px;}
.iright .serlist .u2 .l2{width:215px;font-size:16px;color:#ff6600;padding:5px 0 0 10px;height:25px;font-family:Arial, Helvetica, sans-serif;color:#ff6600;}
.iright .serlist .u2 .l3{width:205px;padding:0 10px;height:45px;line-height:20px;}
.iright .serlist .u2 .l3 a{float:left;width:100%;overflow:hidden;height:40px;}
.iright .serlist .u2 .l4{width:125px;padding:10px 0 0 10px;}
.iright .serlist .u2 .l5{width:80px;padding:5px 10px 0 0;}
.iright .serlist .u2 .l5 a{float:right;border:#EA7F00 solid 1px;background-color:#FF8A00;width:68px;padding:2px 0 0 0;height:18px;text-align:center;color:#fff;}
.iright .serlist .u2 .l5 a:hover{text-decoration:none;}
.iright .pjcap{float:left;width:600px;margin:10px 0 0 20px;border:#E5E5E5 solid 1px;height:120px;color:#666666;border-right:0;}
.iright .pjcap li{float:left;}
.iright .pjcap .l1{width:150px;text-align:center;border-right:#e5e5e5 solid 1px;height:65px;padding:15px 0 0 0;margin:20px 0 0 0;}
.iright .pjcap .l1 span{float:left;width:100%;}
.iright .pjcap .l1 strong{float:left;width:100%;color:#FF6600;font-size:20px;margin:10px 0 0 0;}
.iright .pjcap .l2{width:100px;padding:17px 0 0 40px;line-height:28px;}
.iright .pjcap .l2 span{color:#FF9400;}
.iright .pjcap1{float:left;width:375px;margin:10px 0px 0 0;border:#E5E5E5 solid 1px;height:120px;color:#666666;border-left:0;}
.iright .pjcap1 .u1{background-color:#FBFBFB;float:left;margin:10px 0 0 0;height:94px;width:330px;padding:6px 0 0 0;}
.iright .pjcap1 .u1 li{float:left;}
.iright .pjcap1 .u1 .l1{height:18px;margin-left:20px;width:310px;}
.iright .pjcap1 .u1 .l1 span{float:left;height:12px;}
.iright .pjcap1 .u1 .l1 .s0{margin:2px 0 0 0;}
.iright .pjcap1 .u1 .l1 .s1{margin-left:10px;width:30px;}
.iright .pjcap1 .u1 .l1 .s1 strong{color:#f99d0c;font-weight:100;}
.iright .pjcap1 .u1 .l1 .s2{background-color:#F99D0C;margin:3px 0 0 0;height:10px;}
.iright .pjcap1 .u1 .l1 .s3{margin-left:10px;color:#F99D0C;}
.iright .pj{float:left;width:968px;margin:20px 20px 0 20px;background-color:#fff;padding:24px 0 20px 0;}
.iright .pj .u1{float:left;text-align:center;width:100px;}
.iright .pj .u1 li{float:left;}
.iright .pj .u1 .l1{width:100px;padding:0 0 15px 0;}
.iright .pj .u1 .l1 img{border-radius:50px;}
.iright .pj .u1 .l2{width:100px;color:#999;}
.iright .pj .u2{float:left;text-align:left;width:865px;}
.iright .pj .u2 li{float:left;}
.iright .pj .u2 .l1{border-bottom:#DBDBDB dotted 1px;font-size:16px;padding:0 0 10px 0;line-height:25px;width:865px;}
.iright .pj .u2 .l2{padding:10px 0 0 0;line-height:20px;width:865px;}
.iright .pj .u2 .l3{padding:10px 0 0 0;width:865px;color:#999;}
.iright .pj .d2{float:right;color:#FFD600;font-size:16px;width:130px;text-align:right;}
.iright .pj .d2 span{float:left;padding:0 30px 0 0;width:100px;}
.iright .pj .d2 .s1{background:url(img/pj1.gif) right center no-repeat;}
.iright .pj .d2 .s2{background:url(img/pj2.gif) right center no-repeat;}
.iright .pj .d2 .s3{background:url(img/pj3.gif) right center no-repeat;}
.iright .pj1{border-left:#FFAC13 solid 2px;}
.iright .pj2{border-left:#83C44E solid 2px;}
.iright .pj3{border-left:#2196F3 solid 2px;}


/*商品页面*/
.psel{float:left;border:#DCDCDC solid 1px;width:1110px;margin:10px 0 0 0;border-bottom:0;text-align:left;}
.psel .u2{float:left;width:1110px;border-bottom:#DBDBDB dotted 1px;padding:0 0 10px 0;}
.psel .u2 li{float:left;}
.psel .u2 .l1{width:112px;padding:12px 20px 0 0;text-align:right;}
.psel .u2 .l2{width:55px;padding:12px 0 0 20px;}
.psel .u2 .l2 a{float:left;color:#333;margin:0 30px 0 0;}
.psel .u2 .l2 a:hover{color:#FF753D;text-decoration:none;}
.psel .u2 .l2 .ax{color:#FF753D;text-decoration:none;}
.psel .u2 .l3{width:880px;line-height:25px;padding:8px 0 0 0;}
.psel .u2 .l3 a{float:left;color:#333;margin:0 30px 0 0;}
.psel .u2 .l3 a:hover{color:#FF753D;text-decoration:none;}
.psel .u2 .l3 .ax{color:#FF753D;text-decoration:none;}
.nser{float:left;background-color: #f2f2f2;border:#E1E1E1 solid 1px;border-top:0;width:1110px;text-align:left;padding:0 0 5px 0;}
.nser .u1{float:left;width:1110px;}
.nser .u1 li{float:left;}
.nser .u1 .l1{width:80px;text-align:right;color:#808080;padding: 7px 10px 1px 20px;}
.nser .u1 .l2{width:1110px;}
.nser .u1 .l2 .s1{float:left;padding: 0px 0px 0px 0px;}
.nser .u1 .l2 .s1 a{color:#808080;border:#FFBC89 solid 1px;padding: 1px 16px 3px 4px;height:16px;background:url(img/serclose1.gif) right center no-repeat;margin: 5px 7px 0 0;background-color:#fff;float:left;}
.nser .u1 .l2 .s2{float:left;}
.nser .u1 .l2 .s2 a{color:#808080;border:#FF8040 solid 1px;padding: 1px 16px 3px 4px;height:16px;background:url(img/serclose2.gif) right center no-repeat;margin: 5px 7px 0 0;background-color:#fff;float:left;}
.nser .u1 .l2 .s2 a:hover{text-decoration:none;}
.paixu{float:left;width:1110px;margin:10px 0 0 0;border-top:#FF9400 solid 1px;height:37px;background-color:#F7F7F7;border-bottom:#E4E4E4 solid 1px;text-align:left;}
.paixu .d1{float:left;width:750px;}
.paixu .d1 a{float:left;border-right:#e7e7e7 solid 1px;width:76px;padding:10px 0 0 0;height:28px;text-align:center;}
.paixu .d1 .a3{background:url(img/j2.gif) no-repeat;background-position:58px 13px;}
.paixu .d1 .a2{background:url(img/j1.gif) no-repeat;background-position:58px 13px;color:#FF8A00;}
.paixu .d1 .a1{background:url(img/j3.gif) no-repeat;background-position:58px 13px;color:#FF8A00;}
.paixu .d1 .a4{color:#FF8A00;}
.paixu .d1 a:hover{text-decoration:none;}
.paixu .d2{float:right;}
.paixu .d2 .slistsea{float:right;width:195px;margin:6px 0 0 0;}
.paixu .d2 .slistsea li{float:left;}
.paixu .d2 .slistsea .l1{width:150px;}
.paixu .d2 .slistsea .l1 input{border:#BEBEBE solid 1px;width:146px;height:25px;background-color:#fff;}
.paixu .d2 .slistsea .l2{width:43px;}
.prlist{float:left;width:1110px;padding:0 0 15px 0;text-align:left;}
.prlist .u2{float:left;width:230px;height:350px;border:#ddd solid 1px;margin:10px 22px 0 0;}
.prlist .u2 li{float:left;}
.prlist .u2 .l1{padding:10px;width:210px;height:210px;}
.prlist .u2 .l2{width:220px;font-size:16px;color:#ff6600;padding:0 0 0 10px;height:30px;font-family:Arial, Helvetica, sans-serif;}
.prlist .u2 .l3{width:210px;padding:0 10px;height:40px;line-height:20px;overflow:hidden;}
.prlist .u2 .l3 a:hover{text-decoration:none;color:#ff6600;}
.prlist .u2 .l4{width:130px;padding:15px 0 0 10px;}
.prlist .u2 .l5{width:80px;padding:12px 10px 0 0;}
.prlist .u2 .l5 a{float:right;border:#EA7F00 solid 1px;background-color:#FF8A00;width:68px;padding:2px 0 0 0;height:18px;text-align:center;color:#fff;}
.prlist .u2 .l5 a:hover{text-decoration:none;background-color:#E87F04;}
.prlist .u21{margin-right:0;}

/*服务列表*/
.srlist{float:left;width:1110px;padding:0 0 15px 0;text-align:left;}
.srlist .u2{float:left;width:230px;height:280px;border:#ddd solid 1px;margin:10px 22px 0 0;}
.srlist .u2 li{float:left;}
.srlist .u2 .l1{padding:10px;width:210px;height:140px;}
.srlist .u2 .l2{width:220px;font-size:16px;color:#ff6600;padding:0 0 0 10px;height:30px;font-family:Arial, Helvetica, sans-serif;}
.srlist .u2 .l3{width:210px;padding:0 10px;height:45px;line-height:20px;}
.srlist .u2 .l3 a:hover{text-decoration:none;color:#ff6600;}
.srlist .u2 .l4{width:130px;padding:10px 0 0 10px;}
.srlist .u2 .l5{width:80px;padding:5px 10px 0 0;}
.srlist .u2 .l5 a{float:right;border:#EA7F00 solid 1px;background-color:#FF8A00;width:68px;padding:2px 0 0 0;height:18px;text-align:center;color:#fff;}
.srlist .u2 .l5 a:hover{text-decoration:none;background-color:#E87F04;}
.srlist .u21{margin-right:0;}

/*内页右侧关于我们*/
.right{float:right;width:1010px;margin:10px 0 0 0;text-align:left;}
.right .about{float:left;width:1010px;}
.right .about .rcap{float:left;width:1010px;border:#ddd solid 1px;background-color:#F2F2F2;border-bottom:#ddd solid 1px;height:40px;}
.right .about .rcap li{float:left;}
.right .about .rcap .l1{font-weight:700;padding:10px 0 0 20px;width:420px;}
.right .about .rcap .l2{font-weight:700;padding:10px 20px 0 0;width:550px;text-align:right;}
.right .about .txt{float:left;width:980px;background-color: #ffffff;border:#ddd solid 1px;padding:15px;font-size:14px;line-height:25px;border-top:0;min-height:400px;}

/*到期*/
.shopdq{float:left;width:1248px;margin:10px 0 0 0;border:#ddd solid 1px;text-align:left;}
.shopdq .u1{float:left;width:550px;margin:50px 0 50px 374px;}
.shopdq .u1 li{float:left;}
.shopdq .u1 .l1{width:490px;height:50px;font-size:16px;background:url(img/gth.gif) left top no-repeat;padding:7px 0 0 60px;font-weight:700;}
.shopdq .u1 .l2{width:490px;height:50px;font-size:14px;padding-left:60px;}
.shopdq .u1 .l3{width:550px;}
.shopdq .u1 .l3 .a1{float:left;font-size:14px;text-align:center;background-color:#EC3A34;border-radius:5px;color:#fff;font-size:14px;width:200px;padding:8px 0 0 0;height:27px;margin-left:60px;}
.shopdq .u1 .l3 .a1:hover{background-color:#DC2A24;text-decoration:none;}
.shopdq .u1 .l3 .a2{float:left;margin:9px 0 0 20px;color:#0466CC;}













