@charset "utf-8";
@-webkit-keyframes fadeIn {
0% {opacity: 0.5;}
20% {opacity: 0.5;}
50% {opacity: 0.7;}
75% {opacity: 0.75;}
100% {opacity: 1;}
}



/*类型 区服*/
.game-ensure{padding: 15px 15px 15px 0px; border-bottom: 1px dotted #dfdfdf; overflow: hidden;}
.game-ensure p{float: left; color: #999; line-height: 20px;}
.game-ensure p span{color: #666;}
.game-ensure p.type{width: 140px;}
.game-ensure p.gift,.game-ensure p.xjbt{float: right; text-align: right;}
.game-ensure p.gift span{color: #ff6700;}
.game-ensure p.xjbt span.jgl{color:#E83631;}
/*属性*/
.role-info{ padding-top: 10px;}
.role-info ul{overflow:hidden;}
.role-info ul li{float: left; /*width: 160px;*/ line-height: 30px;padding: 0 20px 0 0;}
.role-info ul li span{display: inline-block; *display: inline; *zoom: 1; text-align: right; color: #999;}


body{background-color:#f5f5f5;}
/*限时活动时间*/
#yhsjv b{background: #fff; color: #435ae5; border: 1px solid #fff; border-radius: 4px; padding: 1px 4px}
.viewleft{float:left;width:1000px;text-align:left;}
.viewleft .proinf{float:left;margin:10px 0 0 0;text-align:left;width:960px;background-color:#fff;padding:20px;}
.viewleft .proinf .pleft{float:left;width:300px;}
.viewleft .proinf .pleft .protp{float:left;width:300px;}
.viewleft .proinf .pleft .protp img{width:298px;border-radius:0;border:#e9ecf3 solid 1px;}
.viewleft .proinf .pleft .u1{float:left;margin-top:10px;border:#f0f1f5 solid 1px;}
.viewleft .proinf .pleft .u1 li{float:left;height:22px;line-height:22px;padding-left:7px;}
.viewleft .proinf .pleft .u1 .l1{width:56px;border-right:#f0f1f5 solid 1px;background-color:#f8f9fc;color:#999;}
.viewleft .proinf .pleft .u1 .l2{width:92px;}
.viewleft .proinf .pleft .u11{float:right;}
.viewleft .proinf .pleft .u11 .l2{width:50px;}
.viewleft .proinf .pleft .laba{float:left;height:25px;color:#ff8400;padding-left:26px;width:272px;margin-top:10px;background:url(img/laba.gif) no-repeat;background-position:9px 7px;line-height:25px;border:#ff8400 solid 1px;}
.viewleft .proinf .pleft .u2{float:left;width:100%;margin:15px 0 0 0;}
.viewleft .proinf .pleft .u2 li{float:left;line-height:20px;}
.viewleft .proinf .pleft .u2 .l1{width:170px;text-align:left;}
.viewleft .proinf .pleft .u2 .l2{width:130px;}
.viewleft .proinf .pleft .u2 .l2 a{float:right;background:url(img/fav.gif) no-repeat;background-position:0 3px;padding:0 0 0 18px;}
.viewleft .proinf .pcenter{float:left;margin:0 10px 0 30px;width:620px;}
.viewleft .proinf .pcenter .tit{float:left;width:100%;font-weight:400;font-size:22px;}
.viewleft .proinf .pcenter .u1{float:left;width:100%;color:#999;margin-top:11px;}
.viewleft .proinf .pcenter .u1 li{float:left;padding-left:14px;padding-right:21px;height:20px;line-height:20px;cursor:default;}
.viewleft .proinf .pcenter .u1 .l1{background:url(img/x1.png) left center no-repeat;}
.viewleft .proinf .pcenter .u1 .l2{background:url(img/x2.png) left center no-repeat;}
.viewleft .proinf .pcenter .u1 .l3{background:url(img/x3.png) left center no-repeat;}
.viewleft .proinf .pcenter .u1 .l4{background:url(img/x4.png) left center no-repeat;}
.viewleft .proinf .pcenter .u1 .l5{float:right;width:150px;padding-right:0;cursor:pointer;}
.viewleft .proinf .pcenter .u1 .l5 .s1{float:right;width:150px;text-align:right;color:#ff0000;}
.viewleft .proinf .pcenter .u1 .l5 .s2{float:right;width:147px;position:relative;margin:10px 0 0 0;z-index:8;}
.viewleft .proinf .pcenter .u1 .l5 .s2 img{border:#ddd solid 1px;}
.viewleft .proinf .pcenter .xianshi{float:left;width:100%;margin-top:10px;background:url(img/hdbg.png) no-repeat;height:57px;color:#fff;overflow:hidden;}
.viewleft .proinf .pcenter .xianshi li{float:left;}
.viewleft .proinf .pcenter .xianshi .l1{font-size:18px;line-height:57px;padding:0 10px 0 17px;}
.viewleft .proinf .pcenter .xianshi .l2{height:17px;border-left:#fff solid 1px;margin:20px 0;}
.viewleft .proinf .pcenter .xianshi .l3{font-size:14px;line-height:57px;padding-left:10px;}
.viewleft .proinf .pcenter .xianshi .l4{float:right;}
.viewleft .proinf .pcenter .xianshi .l4 a{float:left;border:#fff solid 1px;width:54px;height:24px;background:url(img/huang.png) no-repeat;padding-left:26px;background-position:8px 7px;line-height:24px;color:#fff;margin:15px 15px 0 0;}
.viewleft .proinf .pcenter .u2{float:left;width:100%;height:50px;line-height:50px;margin-top:16px;background-color:#fafbfd;font-size:14px;}
.viewleft .proinf .pcenter .u2 li{float:left;}
.viewleft .proinf .pcenter .u2 .l1{background:url(img/zz.png) no-repeat;background-position:23px 19px;padding-left:41px;color:#666;}
.viewleft .proinf .pcenter .u2 .l2{background:url(img/dian.png) left center no-repeat;padding-left:9px;margin-left:18px;color:#999;}
.viewleft .proinf .pcenter .u2 .l2 span{cursor:default;}
.viewleft .proinf .pcenter .u3{float:left;width:100%;margin:15px 0 5px 0;}
.viewleft .proinf .pcenter .u3 li{float:left;}
.viewleft .proinf .pcenter .u3 .l1{color:#ef1c2b;}
.viewleft .proinf .pcenter .u3 .l1 span{float:left;}
.viewleft .proinf .pcenter .u3 .l1 .s1{margin-top:11px;}
.viewleft .proinf .pcenter .u3 .l1 .s2{font-size:25px;}
.viewleft .proinf .pcenter .u3 .l1 .s3{margin:10px 0 0 5px;font-size:14px;}
.viewleft .proinf .pcenter .u3 .l2{color:#ef1c2b;margin:12px 0 0 10px;}
.viewleft .proinf .pcenter .u3 .l2 span{color:#505050;}
.viewleft .proinf .pcenter .u3 .l3{margin:12px 0 0 10px;}
.viewleft .proinf .pcenter .u3 .l3 a{color:#ef1c2b;}
.viewleft .proinf .pcenter #vipmoney{float:left;width:300px;border:#ddd solid 1px;border-top:0;background-color:#fff;}
.viewleft .proinf .pcenter #vipmoney .djmcap{float:left;width:300px;height:27px;background-color:#f2f2f2;font-weight:700;}
.viewleft .proinf .pcenter #vipmoney .djmcap li{float:left;padding:5px 0 0 0;}
.viewleft .proinf .pcenter #vipmoney .djmcap .l1{width:90px;padding-left:10px;}
.viewleft .proinf .pcenter #vipmoney .djmcap .l2{width:100px;}
.viewleft .proinf .pcenter #vipmoney .djmcap .l3{width:100px;}
.viewleft .proinf .pcenter #vipmoney .djm{float:left;width:300px;height:27px;border-bottom:#E5E5E5 solid 1px;}
.viewleft .proinf .pcenter #vipmoney .djm li{float:left;padding:5px 0 0 0;}
.viewleft .proinf .pcenter #vipmoney .djm .l1{width:90px;padding-left:10px;}
.viewleft .proinf .pcenter #vipmoney .djm .l2{width:100px;}
.viewleft .proinf .pcenter #vipmoney .djm .l3{width:100px;}
.viewleft .proinf .pcenter #vipmoney .djkt{float:left;width:300px;}
.viewleft .proinf .pcenter #vipmoney .djkt li{float:left;}
.viewleft .proinf .pcenter #vipmoney .djkt .l1{width:280px;padding:10px 10px 0 10px;height:30px;}
.viewleft .proinf .pcenter #vipmoney .djkt .l1 a{float:left;font-size:14px;width:280px;color:#fff;border-radius:4px;padding:5px 0 0 0;height:25px;background-color:#EC3A34;text-align:center;}
.viewleft .proinf .pcenter #vipmoney .djkt .l1 a:hover{text-decoration:none;}
.viewleft .proinf .pcenter #vipmoney .djkt .l2{padding:10px;}
.viewleft .proinf .pcenter .utc{float:left;width:618px;padding-top:5px;border:#fff solid 1px;font-size:14px;}
.viewleft .proinf .pcenter .utc li{float:left;}
.viewleft .proinf .pcenter .utc .l1{width:47px;padding:1px 0 0 9px;line-height:33px;}
.viewleft .proinf .pcenter .utc .l2{width:562px;}
.viewleft .proinf .pcenter .utc .l2 a{text-align:center;float:left;min-width:10px;height:33px;line-height:33px;border:1px solid #dedede;padding:0 10px 0 13px;color:#333;margin:0 10px 5px 0;}
.viewleft .proinf .pcenter .utc .l2 a:hover{color:#E8393C;text-decoration:none;}
.viewleft .proinf .pcenter .utc .l2 .a1{min-width:10px;border:1px solid #E52222;color:#E8393C;text-decoration:none;}
.viewleft .proinf .pcenter .utc1{border:#fb1016 solid 1px;border-radius:2px;}
.viewleft .proinf .pcenter .u6{float:left;width:45px;height:35px;margin:10px 0 0 0;border:#DEE3E9 solid 1px;}
.viewleft .proinf .pcenter .u6 li{float:left;}
.viewleft .proinf .pcenter .u6 .l1{width:29px;}
.viewleft .proinf .pcenter .u6 .l1 input{float:left;width:29px;height:28px;padding:7px 0 0 0;border:0;text-align:center;font-weight:700;font-size:16px;}
@media screen and (-webkit-min-device-pixel-ratio:0) {
.viewleft .proinf .pcenter .u6 .l1 input{height:35px;padding:0 0 0 0;}
}
.viewleft .proinf .pcenter .u6 .l2{width:15px;height:35px;border-left:#dee3e9 solid 1px;font-family:Arial, Helvetica, sans-serif;}
.viewleft .proinf .pcenter .u6 .l2 a{float:left;width:15px;height:17px;text-align:center;}
.viewleft .proinf .pcenter .u6 .l2 .a1{background-color:#F3F4F9;border-bottom:#dee3e9 solid 1px;}
.viewleft .proinf .pcenter .u6 .l2 .a2{background-color:#F3F4F8;}
.viewleft .proinf .pcenter .u6 .l2 a:hover{text-decoration:none;}
.viewleft .proinf .pcenter .buydiv{float:left;margin:10px 0 0 10px;width:563px;}
.viewleft .proinf .pcenter .buydiv a{float:left;border-radius:5px;margin-right:13px;height:37px;padding:0 20px 0 41px;line-height:37px;font-size:15px;}
.viewleft .proinf .pcenter .buydiv .buy{background:url(img/buy1.png) no-repeat;background-position:22px 13px;background-color:#fb1016;color:#fff;}
.viewleft .proinf .pcenter .buydiv .ysweb{background:url(img/ys.png) no-repeat;background-position:22px 14px;background-color:#7270f3;color:#fff;}
.viewleft .proinf .pcenter .buydiv .car{background:url(img/carbg.png) no-repeat;background-position:22px 12px;background-color:#ff8400;color:#fff;}

.viewleft .viewmain{float:left;text-align:left;width:1000px;margin:20px 0 0 0;}
.viewleft .viewmain .ucap{float:left;width:1000px;height:59px;background-color:#FAFAFA;}
.viewleft .viewmain .ucap li{float:left;border-right:#E5E5E5 solid 1px;height:41px;padding:18px 45px 0 45px;font-size:16px;cursor:pointer;}
.viewleft .viewmain .ucap .l1{background-color:#fff;color:#ff6600;font-weight:700;}
.viewleft .viewmain .ucap li strong{color:#ff6600;font-weight:100;}
.viewleft .viewmain .ucap .l2{border-right:0;padding:0;float:right;display:none;}
.viewleft .viewmain .ucap .l2 a{float:left;border-radius:3px;margin:11px 11px 0 0;height:37px;padding:0 20px 0 41px;line-height:37px;font-size:15px;background:url(img/buy1.png) no-repeat;background-position:22px 13px;background-color:#fb1016;color:#fff;}
.viewleft .viewmain .fixednav{position:fixed;top:0px;background-color:#F7F7F7;border-bottom:#e5e5e5 solid 1px;}
.viewleft .viewmain .fixednav .l2{display:block;}
.viewleft .viewmain .ucapH{float:left;width:100%;height:60px;display:none;}
.viewleft .viewmain .viewtxt{float:left;width:960px;padding:20px;line-height:25px;border-top:0;font-size:14px;background-color:#fff;text-align:left;}
.viewleft .viewmain .viewtxt .txtad{float:left;width:960px;}
.viewleft .viewmain .viewtxt img{max-width:960px;}
.viewleft .viewmain .viewtxt .probqm{/*float:left;*/width:958px;margin:0 0 15px 0;}
.viewleft .viewmain .viewtxt .probq{/*float:left;*/border-left:#F5F4F4 solid 1px;border-top:#F5F4F4 solid 1px;font-size:14px;margin:10px 0 0 0;}
.viewleft .viewmain .viewtxt .probq li{/*float:left;*/border-bottom:#F5F4F4 solid 1px;padding:0 10px 0 10px;height:35px;border-right:#F5F4F4 solid 1px;line-height:35px;overflow:hidden;}
.viewleft .viewmain .viewtxt .probq .l1{float: left;width:92px;background-color:#FAFAFA;color:#8F8F8F;}
.viewleft .viewmain .viewtxt .probq .l2{width:820px;cursor:default;}
.viewleft .viewmain .viewtxt .clear{float:left;width:100%;}
.viewleft .viewmain .videomain{float:left;width:960px;padding:0 20px 20px 20px;background-color:#fff;}
.viewleft .viewmain .videofr{float:left;width:821px;height:470px;background-color:#fff;border:#e5e5e5 solid 1px;border-right:0;}
.viewleft .viewmain .videolist{float:left;width:137px;background-color:#E3F7F5;text-align:left;height:470px;border:#e5e5e5 solid 1px;border-left:0;overflow-y:scroll;}
.viewleft .viewmain .videolist a{float:left;width:104px;padding:8px;}
.viewleft .viewmain .videolist a:hover{text-decoration:none;}
.viewleft .viewmain .videolist .a1{background-color:#fff;color:#16A495;}
.viewleft .viewmain .bqcap{float:left;width:1000px;background-color:#fff;padding:25px 0 10px 0;margin:10px 0 0 0;}
.viewleft .viewmain .bqcap li{float:left;}
.viewleft .viewmain .bqcap .l1{width:1000px;height:45px;background:url(img/capbg1.gif) center top no-repeat;font-weight:700;font-size:25px;color:#424242;text-align:center;}

.viewleft .viewmain .pjcap{float:left;width:1000px;background-color:#fff;padding:0 0 10px 0;border-bottom:#F6F5F7 solid 1px;}
.viewleft .viewmain .pjcap li{float:left;}
.viewleft .viewmain .pjcap .l2{border-right:#E5E5E5 dotted 1px;width:120px;margin:10px 0 0 0;height:40px;text-align:center;color:#999;line-height:20px;}
.viewleft .viewmain .pjcap .l2 strong{font-size:18px;font-family:Arial, Helvetica, sans-serif;color:#ff6600;}
.viewleft .viewmain .pjcap .l3{width:486px;}
.viewleft .viewmain .pjcap .l3 a{float:right;margin:18px 0 0 0;color:#fff;background-color:#ff6600;width:150px;font-size:14px;height:29px;text-align:center;padding:10px 0 0 0;}

.viewleft .viewmain .wenda1{float:left;width:1000px;background-color:#fff;padding:20px 0 20px 0;text-align:center;font-size:14px;}
.viewleft .viewmain .wenda1 a{color:#999;border:#dedede solid 1px;padding:7px 20px 7px 20px;border-radius:5px;text-align:center;}
.viewleft .viewmain .wenda1 a:hover{background-color:#f2f2f2;}
.viewleft .viewmain .wdlist{float:left;width:960px;padding:15px 20px 15px 20px;border-bottom:#EDEDED solid 1px;font-size:14px;background-color:#fff;text-align:left;}
.viewleft .viewmain .wdlist .u1{float:left;width:960px;}
.viewleft .viewmain .wdlist .u1 li{float:left;}
.viewleft .viewmain .wdlist .u1 .l1{width:25px;margin:0px 0 0 0;}
.viewleft .viewmain .wdlist .u1 .l1 span{float:left;color:#fff;background-color:#FF9911;width:19px;height:19px;border-radius:16px;text-align:center;padding:0 0 0 0;}
.viewleft .viewmain .wdlist .u1 .l2{width:730px;font-weight:700;}
.viewleft .viewmain .wdlist .u1 .l3{width:205px;color:#999;text-align:right;}
.viewleft .viewmain .wdlist .u2{float:left;width:960px;margin:15px 0 0 0;}
.viewleft .viewmain .wdlist .u2 li{float:left;}
.viewleft .viewmain .wdlist .u2 .l1{width:25px;margin:0px 0 0 0;}
.viewleft .viewmain .wdlist .u2 .l1 span{float:left;color:#fff;background-color:#99BB11;width:19px;height:19px;border-radius:16px;text-align:center;padding:0 0 0 0;}
.viewleft .viewmain .wdlist .u2 .l2{width:730px;font-weight:700;}
.viewleft .viewmain .wdlist .u2 .l3{width:205px;color:#999;text-align:right;}

.viewleft .viewmain .pjlist{float:left;width:960px;background-color:#fff;padding:0 20px 20px 20px;}
.viewleft .viewmain .pjlist .pj{float:left;width:960px;margin:20px 0 0 0;background-color:#fff;padding:5px 0 5px 0;}
.viewleft .viewmain .pjlist .pj .u1{float:left;text-align:center;width:100px;}
.viewleft .viewmain .pjlist .pj .u1 li{float:left;}
.viewleft .viewmain .pjlist .pj .u1 .l1{width:100px;padding:0 0 5px 0;}
.viewleft .viewmain .pjlist .pj .u1 .l1 img{border-radius:50px;}
.viewleft .viewmain .pjlist .pj .u1 .l2{width:100px;color:#999;}
.viewleft .viewmain .pjlist .pj .u2{float:left;text-align:left;width:730px;}
.viewleft .viewmain .pjlist .pj .u2 li{float:left;}
.viewleft .viewmain .pjlist .pj .u2 .l1{border-bottom:#DBDBDB dotted 1px;font-size:16px;padding:0 0 5px 0;line-height:25px;width:730px;}
.viewleft .viewmain .pjlist .pj .u2 .l1 img{border:#f2f2f2 solid 1px;margin:5px 5px 0 0;}
.viewleft .viewmain .pjlist .pj .u2 .l2{padding:10px 0 0 0;line-height:20px;width:730px;font-size:14px;color:#AF874D;}
.viewleft .viewmain .pjlist .pj .u2 .l3{padding:10px 0 0 0;width:730px;color:#999;}
.viewleft .viewmain .pjlist .pj .d2{float:right;color:#FFD600;font-size:16px;width:130px;text-align:right;}
.viewleft .viewmain .pjlist .pj .d2 span{float:left;padding:0 30px 0 0;width:100px;}
.viewleft .viewmain .pjlist .pj .d2 .s1{background:url(img/pj1.gif) right center no-repeat;}
.viewleft .viewmain .pjlist .pj .d2 .s2{background:url(img/pj2.gif) right center no-repeat;}
.viewleft .viewmain .pjlist .pj .d2 .s3{background:url(img/pj3.gif) right center no-repeat;}
.viewleft .viewmain .pjlist .pj .d3{float:right;width:80px;height:28px;padding:8px 0 0 50px;}
.viewleft .viewmain .pjlist .pj .d3 .img1{float:left;}
.viewleft .viewmain .pjlist .pj .d3 .pf{float:left;margin-top:-15px;height:15px;overflow:hidden;}
.viewleft .viewmain .pjlist .pj1{border-left:#FFAC13 solid 2px;}
.viewleft .viewmain .pjlist .pj2{border-left:#83C44E solid 2px;}
.viewleft .viewmain .pjlist .pj3{border-left:#2196F3 solid 2px;}
.viewleft .viewmain .allpj{float:left;width:1000px;background-color:#fff;padding:0 0 15px 0;}
.viewleft .viewmain .allpj a{color:#999;border:#dedede solid 1px;padding:7px 0 0 0;height:27px;margin-left:425px;float:left;font-size:14px;width:148px;border-radius:5px;text-align:center;}
.viewleft .viewmain .allpj a:hover{background-color:#f2f2f2;}

.viewright{float:right;width:237px;text-align:left;margin-top:10px;}
/*店主信息*/
.viewright .userinf{float:left;width:235px;background-color:#fff;border:#f0f0f0 solid 1px;padding-bottom:15px;}
.viewright .userinf .u1{float:left;width:235px;background:url(img/ubg.gif) repeat-x;height:62px;}
.viewright .userinf .u1 li{float:left;}
.viewright .userinf .u1 .l1{width:35px;padding:2px;border:#eeeeee solid 1px;margin:9px 0 0 12px;}
.viewright .userinf .u1 .l1 img{width:35px;height:35px;float:left;}
.viewright .userinf .u1 .l2{width:170px;margin:9px 0 0 12px;}
.viewright .userinf .u1 .l2 a{font-size:13px;font-weight:700;float:left;width:100%;height:20px;overflow:hidden;line-height:20px;}
.viewright .userinf .u1 .l2 .s1{float:left;margin-top:4px;}
.viewright .userinf .u2{float:left;width:209px;margin:13px 13px 0 13px;border-bottom:#ededed solid 1px;}
.viewright .userinf .u2 li{float:left;}
.viewright .userinf .u2 .l1{width:60px;height:26px;}
.viewright .userinf .u2 .l2{width:149px;height:26px;}
.viewright .userinf .u3{float:left;width:209px;margin:10px 13px 0 13px;border-bottom:#ededed solid 1px;padding-bottom:10px;}
.viewright .userinf .u3 li{float:left;}
.viewright .userinf .u3 .l1{font-size:15px;font-weight:700;background:url(img/lx.gif) left center no-repeat;padding-left:24px;width:185px;line-height:25px;height:25px;}
.viewright .userinf .u3 .l2{line-height:30px;height:30px;padding-left:24px;width:185px;background:url(../../img/qqsmall.png) left center no-repeat;}
.viewright .userinf .u3 .l3{line-height:20px;height:20px;padding-left:24px;width:185px;background:url(../../img/wxsmall.gif) left center no-repeat;}
.viewright .userinf .u4{float:left;width:209px;margin:3px 13px 0 13px;border-bottom:#ededed solid 1px;}
.viewright .userinf .u4 li{float:left;}
.viewright .userinf .u4 .l1{font-size:15px;font-weight:700;background:url(img/sj.gif) left center no-repeat;padding-left:24px;width:185px;line-height:36px;height:36px;}
.viewright .userinf .u4 .l2{width:149px;height:26px;}
.viewright .userinf .u5{float:left;width:212px;margin:10px 0 0 11px;}
.viewright .userinf .u5 li{float:left;width:70px;color:#999999;border-right:#ededed solid 1px;height:37px;padding-top:1px;text-align:center;line-height:19px;}
.viewright .userinf .u5 .l0{border-right:0;}
.viewright .userinf .u5 li span{color:#ff6600;}
.viewright .userinf .u6{float:left;width:235px;}
.viewright .userinf .u6 li{float:left;}
.viewright .userinf .u6 .l1{width:235px;}
.viewright .userinf .u6 .l1 a{float:left;width:63px;height:30px;border:#e5e5e5 solid 1px;color:#666;margin:10px 0 0 15px;line-height:30px;padding-left:29px;}
.viewright .userinf .u6 .l1 .a1{background:url(img/shop1.gif) no-repeat;background-position:8px 8px;}
.viewright .userinf .u6 .l1 .a2{background:url(img/shop1.gif) no-repeat;background-position:8px 8px;}
.viewright .userinf .u6 .l1 a:hover{color:#000;}
.viewright .userinf .dub{float:left;background:url(img/bao.gif) no-repeat;background-position:10px 10px;width:173px;padding-left:30px;border:#c6f6bc solid 1px;height:35px;color:#2e8a11;margin:10px 0 0 15px;font-size:13px;background-color:#f6fdf4;line-height:35px;}
.viewright .userinf .dub strong{font-size:15px;font-weight:500;color:#ff6600;}

/*本店销售榜*/
.viewright .ulist1{float:left;width:233px;border:#E5E5E5 solid 1px;margin:10px 0 0 0;background-color:#fff;}
.viewright .ulist1 li{float:left;}
.viewright .ulist1 .l1{font-size:14px;font-weight:700;background-color:#FAFAFA;height:25px;width:223px;padding:6px 0 0 10px;}
.viewright .ulist1 .l2{width:223px;padding:5px 5px 0 5px;height:61px;line-height:18px;border-top:#E5E5E5 dotted 1px;}
.viewright .ulist1 .l2 img{border:#E5E5E5 solid 1px;padding:2px;float:left;}
.viewright .ulist1 .l2 .a1{color:#247FBD;float:left;overflow:hidden;width:159px;height:38px;margin-left:5px;}
.viewright .ulist1 .l2 .a1:hover{color:#ff6600;}
.viewright .ulist1 .l2 strong{float:left;width:124px;margin-left:5px;}



.g_box {width: 100%; background: #fff;-webkit-box-shadow: 0 0 5px rgba(49,42,42,.06);box-shadow: 0 0 5px rgba(49,42,42,.06);
    /*margin-bottom: 10px;*/float: left;}
.c_g_inf{float: right; width: 100%; OVERFLOW: hidden; padding: 0 0 10px 0;background: #fff;}
.c_g_inf ul {OVERFLOW:hidden;display:block;padding:5px 0;margin:0 13px}
.c_g_inf ul.c_g_sell{font-size:13px; padding:9px 0 11px 12px; width:100%; margin:0; background:url(../img/f-icons-ex1.png) 0 bottom repeat-x; color:#fff}
.c_s_tx {float:left;background:#fff;padding:2px;border:1px solid #eee}
.c_s_name {float:left;padding:0 0 0 8px;height:35px;width:160px}
.c_s_name p {font-size:14px;font-weight:700;width:100%;line-height:20px;height:20px;padding-bottom:3px;overflow:hidden;text-overflow:ellipsis; white-space:nowrap}
.c_g_inf ul.tit {padding:5px 0 0 0;font-size:14px;font-weight:700; border-top:1px solid #ededed;margin:0 13px}
.c_g_inf ul.c_s_cont { padding:0 0 0 2px}
.c_g_inf .shop_btns a { background:#fff; border-color:#e5e5e5}
.c_s_info {padding:5px 10px 15px 10px}
.c_s_info li { OVERFLOW:hidden; display:block; padding:5px 0}
.certification i{background:url(../img/focus2018.png) no-repeat}
.c_s_cont .uim p,.d_g_my .uim a {padding:7px 0 4px 22px}
.c_g_inf .shop_btns a { background:#fff; border-color:#e5e5e5}
.c_s_info { padding:5px 10px 15px 10px}
.c_s_info li { OVERFLOW:hidden; display:block;padding:5px 0}
.shop_btns i {float:left;margin:2px 0 0 13%;color:#00a1ec}
.shop_btns span { float:left; padding-left:2px; margin-top:1px}
.shop_btns a {color:#666;
    float:left;
    width:46%;
    vertical-align:middle;
    padding:6px 0 8px 0;
    height:16px;
    border:1px solid #ededed;
    background:#f9f9f9;
    transition:background .5s
}
.shop_btns a:hover {
    color:#000
}
.shop_btns a:hover i {
    color:#f60
}
.shop_btns a.collection {
    float:right
}
.shop_score div {
    OVERFLOW:hidden;
    display:block;
    padding-top:10px;
    border-top:1px solid #ededed
}
.shop_score cite {
    float:right;
    width:25%;
    padding-left:16px;
    border-right:#ededed solid 1px;
    margin-right:-1px
}
.shop_score cite span {
    color:#999
}
.shop_score cite .up {
    color:#f60
}
.shop_score cite .down {
    color:#479313
}
.shop_score cite i {
    vertical-align:-2px
}
.bond_info {
    text-align:center;
    display:block;
    font-size:12px;
    color:#2E8A11;
    border:1px solid #C6F6BC;
    background:#F6FDF4;
    vertical-align:middle;
    padding:5px 0 7px 0
}
.bond_info em {
    font-size:16px
}
.bond_info i {
    padding-right:2px
}
.bond_info.not {
    color:#333;
    border-color:#eee;
    background:#fafafa
}
.bond_info:hover {
    color:#24760b
}
.certification i {
    margin:0 3px -3px 0;
    width:16px;
    height:16px;
    display:inline-block;
    BACKGROUND-POSITION:-20px -124px
}
.certification i.success {
    BACKGROUND-POSITION:0 -124px
}
.certification i.company {
    BACKGROUND-POSITION:0 -164px
}
.certification i.idcard {
    BACKGROUND-POSITION:-20px -144px
}
.certification i.idcard.success {
    BACKGROUND-POSITION:0 -144px
}
.certification i.phone {
    BACKGROUND-POSITION:-20px -104px;
    margin-right:2px
}
.certification i.phone.success {
    BACKGROUND-POSITION:0 -104px
}
.c_s_conts{
	width: 100%;
    height: 36px;
    text-align: left;
    border-top: 1px dashed rgb(229, 229, 229);
    border-bottom: 1px dashed rgb(229, 229, 229);
    line-height: 36px;
    font-size: 12px;
    color: rgb(114, 114, 114);
    box-sizing: border-box;
    padding-left: 28px;
}
.c_s_conts i{
	width: 19px;
    height: 19px;
    background: url(../img/qqsml.png) center center no-repeat;
    margin-right: 5px;
    position: relative;
    top: 5px;
}


/*qq 微信图标*/

.c_s_cont .qq p{
  background: url(../img/focus2018.png) no-repeat;
  background-position: -306px -85px;
    padding: 7px 0 4px 22px;
}
.c_s_cont .weixin p{
  background: url(../img/focus2018.png) no-repeat;
  background-position: -305px -133px;
    padding: 7px 0 4px 22px;
}
/*电话*/
.c_s_cont .phone p {
	 background: url(../img/focus2018.png) no-repeat;
     background-position: -305px -110px; 
     padding: 7px 0 4px 22px;
     cursor: pointer; 
}


/*保证金颜色*/
.orange1 {
    color: #fb1016;
}



.sx{
    display: flex;
    margin: 0;
    padding: 0;
    height: 40px;
    line-height: 40px;
    margin-top: 2px;
    width: 100%;
}

.sx span{
    margin: 0;
    padding: 0;
    display: flex;
    padding: 0px 8px 3px 7px;
    font-size: 11px;
    font-weight: bold;
    color: #666;
}
.sx div{
    margin: 0;
    padding: 0;
}
.lie{
    border: 1px solid #bcbcbc;
    padding: 8px 13px 8px 13px;
    font-size: 14px;
}

.sx2{
    height: 40px;
    width: 30%;
    /* border: 1px solid red; */
    margin: 0px;
    display: flex;
    line-height: 40px;
    float: left;

}

.sx2 span{
    margin: 0;
    padding: 0;
    display: flex;
    padding: 0px 8px 3px 7px;
    font-size: 11px;
    font-weight: bold;
    color: #666;
}
.sx2 select{
    height: 30px;
    border: 1px solid #bcbcbc;
    border-radius: 2px;
    min-width: 100px;
}

.sl{
    display: flex;
    align-items: center;
}
 .a33{
     min-width: 10px;
     border: 1px solid #E52222;
     color: #E8393C;
     text-decoration: none;
 }


























