@charset "utf-8";
@-webkit-keyframes fadeIn {
0% {opacity: 0.5;}
20% {opacity: 0.5;}
50% {opacity: 0.7;}
75% {opacity: 0.75;}
100% {opacity: 1;}
}


.main {
   /* position: relative;*/
   width: auto;
   /* background: #fff;*/
}

.main .user-info-bg .ad-word span, .main .user-info-bg .ad-word p, .main .user-info-bg .ad-word div, .main .user-info-bg .ad-word li, .main .user-info-bg .ad-word ol, .main .user-info-bg .ad-word h1, .main .user-info-bg .ad-word h2, .main .user-info-bg .ad-word h3, .main .user-info-bg .ad-word h4, .main .user-info-bg .ad-word h5, .main .user-info-bg .ad-word h6, .main .user-info-bg .ad-word a, .main .user-info-bg .ad-word em, .main .user-info-bg .ad-word strong, .main .user-info-bg .ad-word i, .main .user-info-bg .ad-word b { color: #fff; font-family: "微软雅黑"; font-weight: bold; }

.main div, .main ul, .main li, .main p, .main span, .main a, .main input, .main i {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    position: relative;
    color: #333;
    font-family: 'Arial','Microsoft Yahei';
}
.main span {
    display: inline-block;
}
.main .font12 {
    font-size: 12px;
}
.main .color999 {
    color: #999;
}
.main .colorFF5 {
    color: #FF5B01;
}
.main i {
    display: inline-block;
}
/*背景*/
.main .user-info-bg {
   /* position: absolute;*/
    height: 300px;
    min-width: 1250px;
}
.main .user-info-bg {
    width: 100%;
    height: 130px;
}

.main .user-info-bg > a, .main .user-info-bg .game-info-name {
    width: 100%;
    height: 130px;
    z-index: 99;
    display: block;
}
.main .user-info-bg .user-person-info {
    float: left;
}
.main .user-info-bg .user-info-box {
    height: 130px;
}
.main .user-info-bg .user-reputation, .main .user-info-bg .user-person-info {
    padding-top: 20px;
}

.main .user-info-bg .user-person-info .usre-img {
    width: 80px;
    height: 80px;
    border-radius: 16%;
    overflow: hidden;
    float: left;
    margin-right: 16px;
}

.main .user-info-bg .user-person-info .user-name-box {
    float: left;
    margin-top: 10px;
    width: 450px;
}
.main .user-info-bg .user-person-info .same-name {
    font-size: 30px;
    color: #fff;
    text-shadow: 2px 2px 2px black;
    height: 33px;
    line-height: 33px;
}
.main .user-info-bg .user-person-info .user-name-box p:last-child {
    margin-top: 6px;
    text-align: left;
    height: 16px;
    line-height: 16px;
}

.main .user-info-bg .user-person-info .user-name-box p:last-child span {
    font-size: 14px;
    color: #fff;
    margin-right: 6px;
    float: left;
}
.main .user-info-bg .user-person-info .seller-style {
    text-shadow: 1px 1px 1px black;
}
.main .user-info-bg .seller-style {
    color: #fff;
}
.main .user-info-bg .ad-word {
   float: right;
    font-size: 42px;
    font-weight: bold;
    color: #fff;
    line-height: 120px;
    font-family: "微软雅黑";
}

/**/

.main .goods-select-condition-box {
   /* padding-top: 120px;*/
}
.main .goods-select-condition {
    width: 1250px;
    margin: auto;
    background: #fff;
	top: -10px;
}
.main .user-info-box {
    width: 1250px;
    margin: auto;
}
.main .current-address {
    height: 52px;
    line-height: 50px;
    padding: 0 16px;
    border: 1px solid #ededed;
    border-bottom: none;
}
.main .current-address > div:first-child {
    float: left;
}
.main .current-address > div > span {
    float: left;
}
.main .current-address a {
    display: inline-block;
    padding-right: 25px;
    font-size: 12px;
    float: left;
}
.main .current-address .wdwz a:after {
    position: absolute;
    content: "";
    top: 22px;
    right: 12px;
    width: 6px;
    height: 6px;
    border-left: 1px solid #b8b8b8;
    border-top: 1px solid #b8b8b8;
    transform: rotate(135deg);
}

/*右*/
.main .current-right-box {
    float: right;
}

.main .current-right-box a, .main .current-right-box p {
    float: left;
}

.main .current-right-box a {
    padding-right: 0;
}
.main .current-right-box h1 span:first-child {
    max-width: 783px;
    height: 50px;
    overflow: hidden;
}
.main .current-right-box span {
    font-size: 12px;
    float: left;
}
.main .goods-select-content {
    border-bottom: 1px solid #ededed;
}
.main .goods-select-item {
    width: 100%;
    border-top: 1px solid #ededed;
    display: table;
    min-height: 49px;
}
.main .goods-select-item .your-select-value .your-attr a {
    border: 1px solid #d6d6d6;
    height: 24px;
    line-height: 22px;
    float: none;
    margin-right: 0;
}


.main .goods-select-item .your-select-value .next-dir, .main .goods-select-item .your-select-value .your-attr > a {
    display: inline-block;
    padding: 0 10px;
}
.main .goods-select-item .your-select-value .your-select-item span,.main .goods-select-item .your-select-value .your-select-item > a {
    float: right;
    border: none!important;
}

.main .goods-select-item .goods-select-title {
    vertical-align: top;
    background: #f5f5f5;
    width: 105px;
    text-align: center;
    border-right: 1px solid #ededed;
    padding: 0 16px;
}
.main .goods-select-item > div {
    display: table-cell;
    vertical-align: middle;
}
.main .goods-select-item .goods-select-title > span {
    font-size: 12px;
    color: #999;
    margin-top: 16px;
    width: 100%;
    overflow: hidden;
    height: 16px;
    text-align: left;
}

.main .goods-select-item .goods-select-value, .main .goods-select-item .your-select-value {
    padding: 14px 16px 4px 16px;
    border-right: 1px solid #ededed;
}

.main .goods-select-item .your-select-value .your-select-item {
    float: left;
}
.main .goods-select-item .your-select-value .your-select-item > div {
    float: left;
}

.main .goods-select-item .your-select-value .icon-list-4 {
    margin-left: 6px;
    bottom: 1px;
}
.icon-list-4 {
    background: url(../image/goods_list_sprite.png) no-repeat -33px -120px;
    background-size: 162px 131px;
    width: 7px;
    height: 7px;
}
.icon-list-del {
    background: url(../image/goods_list_sprite.png) no-repeat -142px -24px;
    background-size: 162px 131px;
    width: 13px;
    height: 14px;
}

.main .goods-select-item .goods-select-value span, .main .goods-select-item .goods-select-value a, .main .goods-select-item .your-select-value a {
    font-size: 12px;
   text-align: center;
    height: 20px;
    line-height: 20px;
    margin-bottom: 10px;
    cursor: pointer;
    float: left;
    background: #fff;
    padding: 0 10px;
    margin-right: 5px;
}

.main .goods-select-item .your-select-value > a i {
    top: 3px;
	margin-right: 5px;
}

.main .goods-select-item .goods-select-value .active, .main .goods-select-item .goods-select-value .active:hover, .main .goods-select-item .your-select-value .active, .main .goods-select-item .your-select-value .active:hover {
    background: #624bea;
    color: #fff;
    border-radius: 12px;
}

.main .goods-select-item .your-select-attr {
    margin-right: 0 !important;
    padding-right: 25px;
}

.fenlei{min-height: 760px;}
.gametype{padding-left: 18px; height: 65px; position: relative;}
.gametype ul li{float: left; cursor: pointer; font-size: 20px; line-height: 46px; font-family: "microsoft yahei"; padding:0 23px; position: relative;}
.gametype ul li span{position: absolute; width: 20px; height: 4.5px; background: #f52f3e; bottom:-1px; left: 50%; margin-left: -10px; display: none;}
.gametype ul li:hover{color: #f52f3e;}
.gametype ul li.on{transition: transform 0.4s; transform: scale(1.3); font-weight: bold;color: #333; *font-size: 26px;}
.gametype ul li.on span{display: block;}
.gametype ul li.on a{color: #f52f3e;}
.gametype a.tosale{position: absolute; top: 15px; right: 30px; width: 140px; height: 35px; line-height: 35px; font-size: 16px; font-family: "microsoft yahei"; border-radius: 40px; text-align: center; color: #fff; background: #f7194c; background: linear-gradient(to right, #fe5745,#f7174c); box-shadow:0px 2px 6px 2px rgba(245,47,62,0.26);}
.gametype a.tosale:hover{ background: #fe5745; background: linear-gradient(to right, #f7174c,#fe5745); }
.gametype a.tosale em{display: inline-block; width: 19px; height: 19px; margin-right:8px; margin-top: -3px; vertical-align: middle; background: url('../image/money-icon.png') no-repeat;}
.ptfilter{width: 100%; margin: 0 auto; height: 46px; background: #f5f5f5;}
.ptfilter p{float: left; margin-left: 30px; margin-top: 15px;}
.ptfilter ul{overflow: hidden; height: 24px; margin-top: 11px; float: left; margin-left: 15px;}
.ptfilter ul li{float: left; cursor: pointer; width: 24px; text-align: center; height: 24px; line-height: 24px; font-size: 14px; font-family: arial; margin: 0 4px;}
.ptfilter ul li:hover{color:#f52f3e;}
.ptfilter ul li.on{color:#fff; background: #f52f3e; border-radius: 24px;}
.ptfilter ul li.on a{color:#fff; }
.gameList{overflow: hidden; margin-top: 30px;}
.gameList dl{width: 138px; float: left; text-align: center; margin-bottom: 20px;}
.gameList dl dt{width: 80px;height: 80px; margin: 0 auto; position: relative; border-radius: 10px; overflow: hidden;}
.gameList dl dt .game-jb{position: absolute; top: -1px; left: -1px;}
.gameList dl dt img{max-height: 80px; vertical-align: middle;}
.gameList dl dd{width: 120px; margin: 6px auto; height: 22px; /*overflow: hidden;*/ position: relative;}
.gameList dl dd p{height: 22px; line-height: 22px; font-size: 14px; font-family:"microsoft yahei"; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
.gameList dl dd h3{height: 22px; position: absolute; bottom: 0px; width: 100%; left: 0; text-align: center;}
.gameList dl dd h3 a{display:inline-block; *display: inline; *zoom: 1; width: 50px; height: 22px; text-align: center; line-height: 20px;  line-height: 22px\9; box-sizing: border-box; margin: 0 3px;}
.gameList dl dd h3 a.ios{ border: 1px solid #3399ff; color: #39f; border-radius: 22px; margin-left: 0;}
.gameList dl dd h3 a.ios:hover{background: #39f; color: #fff;}
.gameList dl dd h3 a.android{ border: 1px solid #22ac38; color: #22ac38; border-radius: 22px; margin-right: 0;}
.gameList dl dd h3 a.android:hover{background: #22ac38; color: #fff;}
.gameList dl.mgame dd p{transition:all .4s ease-in-out;-moz-transition:all .4s ease-in-out;-webkit-transition:all .4s ease-in-out;-o-transition:all .4s ease-in-out;}
.gameList dl.mgame:hover dd p{transform:scale(0,0);-ms-transform:scale(0,0);-moz-transform:scale(0,0);-webkit-transform:scale(0,0);-o-transform:scale(0,0); display: none\9;}
.gameList dl.mgame dd h3{opacity:0;filter:Alpha(opacity=0);transform:translate(0px,45px);-ms-transform:translate(0px,45px);-moz-transform:translate(0px,45px);-webkit-transform:translate(0px,45px);-o-transform:translate(0px,45px);transition:all .4s ease-in-out;-moz-transition:all .4s ease-in-out;-webkit-transition:all .4s ease-in-out;-o-transition:all .4s ease-in-out;}
.gameList dl.mgame:hover dd h3{opacity:1;filter:Alpha(opacity=100);transform:translate(0px,0px);-ms-transform:translate(0px,0px);-moz-transform:translate(0px,0px);-webkit-transform:translate(0px,0px);-o-transform:translate(0px,0px);fill-opacity:1;}
.nodata{text-align: center; padding-top: 80px;}
.nodata p{font-size: 18px; font-family: "microsoft yahei"; line-height: 40px;}




 .sort_select dt span.curr { color: #3F51B5;}



/*列表*/
.bfbpro{background:url(../img/bg.png) center top no-repeat;text-align:left;}
.bfbpro .search{float:left;width:100%;margin:10px 0 0 0;}
.bfbpro .search .u1{float:left;margin:0 0 0 130px;width:776px;height:40px;border-width:2px;border-style:solid;border-radius:4px;}
.bfbpro .search .u1 li{float:left;}
.bfbpro .search .u1 .l1{width:671px;height:40px;}
.bfbpro .search .u1 .l1 input{float:left;width:671px;padding-left:40px;border:0;font-size:14px;height:40px;background:url(../img/wen.png) no-repeat;background-position:10px 10px;background-color:#fff;}
.bfbpro .search .u1 .l1 #searchHtml{float:left;width:671px;border-width:2px;border-style:solid;border-top:0;position:relative;background-color:#fff;margin:-1px 0 0 -2px;z-index:9;}
.bfbpro .search .u1 .l1 #searchHtml a{float:left;padding:0 10px 0 10px;font-size:13px;height:29px;width:651px;line-height:29px;overflow:hidden;}
.bfbpro .search .u1 .l1 #searchHtml a:hover{background-color:#f2f2f2;text-decoration:none;color:#000;font-weight:700;}
.bfbpro .search .u1 .l2{width:105px;}
.bfbpro .search .u1 .l2 input{float:left;border:0;width:105px;height:40px;font-size:16px;cursor:pointer;}
.bfbpro .search .dhis{float:left;width:135px;padding:13px 0 0 45px;font-size:14px;height:31px;background:url(../img/his.gif) no-repeat;background-position:12px 12px;background-color:#fff;cursor:pointer;margin:0 0 0 30px;}
.bfbpro .search .dhis:hover{color:#ff6600;}
.bfbpro .search .remen{float:left;color:#999999;margin:15px 105px 0 155px;width:990px;font-size:14px;}
.bfbpro .search .remen a{color:#6f6f6f;}
.bfbpro .search .remen a:hover{text-decoration:underline;}
.bfbpro .selmain{float:left;width:1198px;margin:15px 0 0 0;border:#eeeeee solid 1px;padding:0 25px 15px 25px;background-color:#fff;}
.bfbpro .selmain .u1{float:left;width:100%;margin:15px 0 0 0;font-size:14px;color:#555555;}
.bfbpro .selmain .u1 li{float:left;}
.bfbpro .selmain .u1 .l1{width:72px;padding-top:9px;padding-right:10px;text-align:right;}
.bfbpro .selmain .u1 .l1 span{float:left;cursor:default;width:56px;overflow:hidden;height:17px;}
.bfbpro .selmain .u1 .l2{width:1026px;overflow:hidden;height:33px;}
.bfbpro .selmain .u1 .l2 a{float:left;padding:3px 10px 0 10px;height:23px;border:#fff solid 1px;color:#726e6e;margin-right:10px;margin-top:5px;border-radius:2px;}
.bfbpro .selmain .u1 .l2 a:hover{border:#b4b4b4 solid 1px;background-color:#f7f7f7;color:#726e6e;}
.bfbpro .selmain .u1 .l2 .a1{border:#68bef9 solid 1px;background-color:#dceff9;color:#1c99ef;}
.bfbpro .selmain .u1 .l21{height:auto;overflow:auto;}
.bfbpro .selmain .u1 .l3{width:90px;}
.bfbpro .selmain .u1 .l3 a{float:right;margin-top:5px;width:46px;height:22px;border:#dddddd solid 1px;border-radius:2px;font-size:12px;padding:4px 0 0 9px;background:url(../img/jiandown.gif) no-repeat;background-position:37px 10px;}
.bfbpro .selmain .u1 .l3 a:hover{background-color:#f9f9f9;}
.bfbpro .selmain .u1 .l3 .a1{background:url(../img/jianup.gif) no-repeat;background-position:37px 10px;}
.bfbpro .selmain .xiala{float:left;width:1198px;margin:15px 0 0 0;font-size:14px;color:#555555;}
.bfbpro .selmain .xiala .d1{width:52px;padding-top:9px;float:left;}
.bfbpro .selmain .xiala .d2{float:left;width:127px;height:30px;margin:4px 10px 0 0;}
.bfbpro .selmain .xiala .d2 .s1{float:left;width:120px;height:24px;border:#DDDDDD solid 1px;border-radius:2px;padding:4px 0 0 5px;background:url(../img/jianv.gif) right center no-repeat;background-color:#fff;cursor:pointer;}
.bfbpro .selmain .xiala .d2 .xllist{float:left;width:125px;margin-top:-2px;border:#ddd solid 1px;position:relative;background-color:#fff;z-index:9;}
.bfbpro .selmain .xiala .d2 .xllist a{float:left;padding:4px 5px 0 5px;height:24px;width:115px;}
.bfbpro .selmain .xiala .d2 .xllist a:hover{text-decoration:none;background-color:#f2f2f2;}
.bfbpro .selmain .xiala .d2 .xllist1{width:375px;}
.bfbpro .nser{float:left;background-color:#F9F9F9;border:#E1E1E1 solid 1px;border-top:0;width:1248px;text-align:left;font-size:14px;padding:0 0 8px 0;}
.bfbpro .nser .u1{float:left;width:1248px;}
.bfbpro .nser .u1 li{float:left;}
.bfbpro .nser .u1 .l1{width:80px;text-align:left;color:#808080;padding:8px 0 0 13px;}
.bfbpro .nser .u1 .l2{width:1155px;}
.bfbpro .nser .u1 .l2 .s1{float:left;}
.bfbpro .nser .u1 .l2 .s1 a{color:#808080;border:#FFBC89 solid 1px;padding:0 23px 0 6px;height:19px;background:url(../../img/serclose1.gif) right center no-repeat;margin:7px 4px 0 0;background-color:#fff;float:left;}
.bfbpro .nser .u1 .l2 .s1 a:hover{border:#FF8040 solid 1px;background:url(../../img/serclose2.gif) right center no-repeat;background-color:#fff;}

.mydqwz{float:left;color:#666;text-align:left;width:1250px;margin:17px 0 0 0;height:26px;}
.mydqwz li{float:left;}
.mydqwz .l1 a{color:#666666;}

/*列表 缩略图形式*/
.yjcode .biglist{float:left;text-align:left;width:1250px;}
.yjcode .biglist .u1{float:left;width:238px;padding:1px;margin:10px 10px 0 0;border:#F2F2F2 solid 1px;background-color:#fff;}
.yjcode .biglist .u1 li{float:left;}
.yjcode .biglist .u1 .l1{width:238px;height:238px;overflow:hidden;position:relative;}
.yjcode .biglist .u1 .l1 img{width:238px;height:238px;transition: all 0.5s;-moz-transition: all 0.5s;-webkit-transition: all 0.5s;-o-transition: all 0.5s;}
.yjcode .biglist .u1 .l1 .d1{float:left;position:absolute;background:url(../img/ysbg.png) left top no-repeat;width:238px;height:30px;margin:238px 0 0 0;text-align:left;-webkit-animation-name:fadeIn;-webkit-animation-duration:1s;-webkit-animation-iteration-count: 1;-webkit-animation-delay: 0s;z-index:1;}
.yjcode .biglist .u1 .l1 .d1 a{color:#fff;}
.yjcode .biglist .u1 .l1 .d1 .s1{float:left;width:130px;padding:7px 0 0 40px;}
.yjcode .biglist .u1 .l1 .d1 .s2{float:left;width:60px;color:#fff;padding:7px 0 0 8px;}
.yjcode .biglist .u1 .l1 .d1 a:hover{text-decoration:none;}
.yjcode .biglist .u1 .l3{width:228px;height:38px;font-size:14px;padding:8px 5px 0 5px;overflow:hidden;}
.yjcode .biglist .u1 .l3 .st{float:left;font-family:"宋体";font-size:12px;text-align:center;margin:2px 0 0 0;}
.yjcode .biglist .u1 .l3 .s1{color:#fff;background-color:#000000;width:27px;height:15px;padding:1px 0 0 2px;border-radius:2px 0 0 2px;}
.yjcode .biglist .u1 .l3 .s2{color:#000;border:#000 solid 1px;background-color:#EFC532;width:26px;height:14px;margin-right:3px;border-radius:0 2px 2px 0;}
.yjcode .biglist .u1 .l3 a{color:#666;}
.yjcode .biglist .u1 .l3 a:hover{color:#E23A3A;text-decoration:none;}
.yjcode .biglist .u1 .l2{width:197px;height:26px;padding:6px 0 0 1px;font-size:19px;color:#F34479;}
.yjcode .biglist .u1 .l21{width:40px;height:32px;padding:0 0 0 0;font-size:12px;color:#ff0000;text-align:right;}
.yjcode .biglist .u1 .l21 span{float:right;color:fff;margin:8px 0 0 0;background-color:#e23a3a;padding:2px 0 0 0;height:19px;border-radius:20px 0 0 20px;text-align:center;width:100%;}
.yjcode .biglist .u1 .l5{width:230px;font-size:14px;height:18px;padding:1px 3px 0 5px;overflow:hidden;}
.yjcode .biglist .u1 .l5 a{color:#999;}
.yjcode .biglist .u1 .l5 a:hover{color:#E23A3A;}
.yjcode .biglist .u1 .l6{width:231px;text-align:center;padding:0 5px 0 2px;height:34px;}
.yjcode .biglist .u1 .l6 span{float:right;padding:1px 4px 1px 4px;cursor:pointer;margin:7px 0 0 3px;border-radius:2px;font-family:Arial, Helvetica, sans-serif;}
.yjcode .biglist .u1 .l6 .s0{float:left;background-color:#E23A3A;border:#E23A3A solid 1px;color:#fff;}
.yjcode .biglist .u1 .l6 .s1{border:#E23A3A solid 1px;color:#E23A3A;}
.yjcode .biglist .u1 .l1:hover .d1{display:block; margin-top:208px;transition:all .3s;}
.yjcode .biglist .u0{margin-right:0;}
.yjcode .biglist .u1:hover{box-shadow:0 0 10px rgba(0,0,0,.3);}
.yjcode .biglist .u1:hover .l1 img{-webkit-transform:scale(1.05);-moz-transform:scale(1.05);-ms-transform:scale(1.05);-o-transform:scale(1.05);transform:scale(1.05);}
.yjcode .biglist .u11{border:#e23a3a solid 1px;}

/*横向无图*/
.list{float:left;width:305px;margin:10px 10px 0 0;border-top:#2667E9 solid 3px;text-align:left;height:335px;background:url(../img/duanbg.png) left top no-repeat;background-color:#fff;}
.list .u1{float:left;margin:16px 20px 0 20px;width:265px;height:30px;}
.list .u1 li{float:left;}
.list .u1 .l1{width:205px;}
.list .u1 .l1 span{float:left;padding:1px 4px 1px 4px;cursor:pointer;margin:0 3px 0 0;border-radius:2px;font-family:Arial, Helvetica, sans-serif;}
.list .u1 .l1 .s0{float:left;background-color:#E23A3A;border:#E23A3A solid 1px;color:#fff;}
.list .u1 .l1 .s1{border:#E23A3A solid 1px;color:#E23A3A;}
.list .u1 .l2{width:60px;}
.list .u1 .l2  span{float:right;color:#3665C2;padding:2px 15px 0 15px;height:18px;border-radius:25px;background-color:#E9EDF7;}
.list .d1{float:left;width:265px;height:45px;padding:0 20px;}
.list .d1 a{float:left;overflow:hidden;width:100%;height:50px;font-size:16px;font-weight:700;line-height:25px;}
.list .u2{float:left;margin:16px 20px 0 20px;width:265px;height:40px;}
.list .u2 li{float:left;}
.list .u2 .l1{font-size:18px;color:#FD4249;font-weight:700;width:220px;}
.list .u2 .l2{width:40px;}
.list .u2 .l2 span{float:right;color:fff;margin:1px 0 0 0;background-color:#e23a3a;padding:2px 0 0 0;height:19px;border-radius:2px;text-align:center;width:100%;}
.list .u3{float:left;width:305px;border-bottom:#ECEDF5 solid 1px;font-size:13px;overflow:hidden;height:126px;}
.list .u3 li{float:left;width:132px;border-top:#ECEDF5 solid 1px;height:53px;padding:9px 0 0 20px;line-height:22px;color:#555266;}
.list .u3 li span{color:#AFACBF;font-size:12px;}
.list .u3 .l1{border-left:#ECEDF5 solid 1px;width:131px;}
.list .u3 .l3{border-left:#ECEDF5 solid 1px;width:131px;}
.list .u4{float:left;height:61px;width:305px;}
.list .u4 li{float:left;height:61px;}
.list .u4 .l0{width:10px;height:61px;}
.list .u4 .l0 span{width:1px;border-left:#ECEDF5 solid 1px;height:12px;margin:24px 0 0 0;float:left;}
.list .u4 .l1{width:152px;}
.list .u4 .l1 a{float:left;background:url(../../img/qq2.gif) no-repeat;color:#9EC7D9;font-size:14px;margin:18px 0 0 0;padding:3px 0 0 45px;height:30px;background-position:14px 0;}
.list .u4 .l2 a{float:left;background:url(../img/view.gif) no-repeat;color:#AFACBF;font-size:14px;margin:18px 0 0 0;padding:3px 0 0 40px;height:30px;background-position:14px 4px;}
.list0{margin-right:0;}
.listzd{border-top:#e23a3a solid 3px;}

/*列表 多行形式*/
.zxlist{float:left;width:1248px;border:#ECECEC solid 1px;background-color:#fff;text-align:left;margin:14px 0 0 0;padding:0 0 20px 0;}
.zxlist .listl{float:left;margin:20px 0 0 12px;width:1066px;}
.zxlist .listl .d1{float:left;width:100%;margin:0 0 20px 0;}
.zxlist .listl .d1 img{float:left;width:22px;height:22px;border-radius:22px;margin:5px 0 0 0;}
.zxlist .listl .d1 span{float:left;margin:0 0 0 10px;width:934px;height:28px;font-size:23px;overflow:hidden;}
.zxlist .listl .d1 a:hover{color:#ff6600;}
.zxlist .listl .d2{float:left;font-size:16px;padding:0 48px 0 32px;line-height:22px;border-right:#EBEBEB solid 1px;height:45px;}
.zxlist .listl .d2 span{color:#A7A7A7;font-size:12px;}
.zxlist .listl .d3{float:left;margin:0 0 0 32px;color:#F32424;font-family:Georgia, "Times New Roman", Times, serif;}
.zxlist .listl .d3 .s1{font-size:20px;}
.zxlist .listl .d3 .s2{font-size:35px;font-weight:700;}
.zxlist .listl .d4{float:left;width:1036px;clear:both;border-top:#DBDBDB dotted 1px;margin:19px 30px 0 0;clear:both;}
.zxlist .listl .d4 .s1{float:left;border:#F6B585 solid 1px;color:#F6B585;font-size:14px;padding:3px 15px 0 15px;margin:10px 20px 0 0;border-radius:15px;height:22px;}
.zxlist .listl .d4 .s2{float:right;color:#999;margin:14px 0 0 0;}
.zxlist .listl .d4 .s3{float:right;color:#999;margin:14px 0 0 20px;background:url(../img/sj.png) no-repeat;background-position:0 1px;padding:0 0 0 17px;}
.zxlist .listl .d4 .szd{float:left;border:#e23a3a solid 1px;color:#fff;background-color:#e23a3a;font-size:14px;padding:3px 15px 0 15px;margin:10px 20px 0 0;border-radius:15px;height:22px;}
.zxlist .listr{float:right;margin:20px 12px 0 0;width:150px;}
.zxlist .listr img{float:right;width:150px;height:150px;border-radius:10px;}
.zxlist:hover{background-color:#F7F7F7;}
.zxlistzd{border:#e23a3a solid 1px;}

/*更多评论*/
.allpjcap{float:left;width:1250px;background-color:#fff;padding:0 0 10px 0;margin:10px 0 0 0;border-bottom:#F6F5F7 solid 1px;}
.allpjcap li{float:left;}
.allpjcap .l2{border-right:#E5E5E5 dotted 1px;width:120px;margin:10px 0 0 0;height:40px;text-align:center;color:#999;line-height:20px;}
.allpjcap .l2 strong{font-size:18px;font-family:Arial, Helvetica, sans-serif;color:#ff6600;}
.allpjcap .l3{width:736px;}
.allpjcap .l3 a{float:right;margin:18px 0 0 0;color:#fff;background-color:#ff6600;width:150px;font-size:14px;height:29px;text-align:center;padding:10px 0 0 0;}
.allpjlist{float:left;width:1190px;background-color:#fff;padding:0 30px 20px 30px;}
.allpjlist .pj{float:left;width:1190px;margin:20px 0 0 0;background-color:#fff;padding:5px 0 5px 0;}
.allpjlist .pj .u1{float:left;text-align:center;width:100px;}
.allpjlist .pj .u1 li{float:left;}
.allpjlist .pj .u1 .l1{width:100px;padding:0 0 5px 0;}
.allpjlist .pj .u1 .l1 img{border-radius:50px;}
.allpjlist .pj .u1 .l2{width:100px;color:#999;}
.allpjlist .pj .u2{float:left;text-align:left;width:960px;}
.allpjlist .pj .u2 li{float:left;}
.allpjlist .pj .u2 .l1{border-bottom:#DBDBDB dotted 1px;font-size:16px;padding:0 0 5px 0;line-height:25px;width:800px;}
.allpjlist .pj .u2 .l1 img{border:#f2f2f2 solid 1px;margin:5px 5px 0 0;}
.allpjlist .pj .u2 .l2{padding:10px 0 0 0;line-height:20px;width:800px;}
.allpjlist .pj .u2 .l3{padding:10px 0 0 0;width:800px;color:#999;}
.allpjlist .pj .d2{float:right;color:#FFD600;font-size:16px;width:130px;text-align:right;}
.allpjlist .pj .d2 span{float:left;padding:0 30px 0 0;width:100px;}
.allpjlist .pj .d2 .s1{background:url(img/pj1.gif) right center no-repeat;}
.allpjlist .pj .d2 .s2{background:url(img/pj2.gif) right center no-repeat;}
.allpjlist .pj .d2 .s3{background:url(img/pj3.gif) right center no-repeat;}
.allpjlist .pj .d3{float:right;width:80px;height:28px;padding:8px 0 0 50px;}
.allpjlist .pj .d3 .img1{float:left;}
.allpjlist .pj .d3 .pf{float:left;margin-top:-15px;height:15px;overflow:hidden;}
.allpjlist .pj1{border-left:#FFAC13 solid 2px;}
.allpjlist .pj2{border-left:#83C44E solid 2px;}
.allpjlist .pj3{border-left:#2196F3 solid 2px;}

/*所有问答*/
.allwdlist{float:left;width:1190px;padding:15px 30px 15px 30px;border-bottom:#EDEDED solid 1px;font-size:14px;background-color:#fff;text-align:left;}
.allwdlist .u1{float:left;width:1190px;}
.allwdlist .u1 li{float:left;}
.allwdlist .u1 .l1{width:25px;margin:0px 0 0 0;}
.allwdlist .u1 .l1 span{float:left;color:#fff;background-color:#FF9911;width:19px;height:19px;border-radius:16px;text-align:center;padding:0 0 0 0;}
.allwdlist .u1 .l2{width:960px;font-weight:700;}
.allwdlist .u1 .l3{width:205px;color:#999;text-align:right;}
.allwdlist .u2{float:left;width:1190px;margin:15px 0 0 0;}
.allwdlist .u2 li{float:left;}
.allwdlist .u2 .l1{width:25px;margin:0px 0 0 0;}
.allwdlist .u2 .l1 span{float:left;color:#fff;background-color:#99BB11;width:19px;height:19px;border-radius:16px;text-align:center;padding:0 0 0 0;}
.allwdlist .u2 .l2{width:960px;font-weight:700;}
.allwdlist .u2 .l3{width:205px;color:#999;text-align:right;}






















