body{background-color:#f5f5f5;}

.protit{float:left;padding:0 15px 0 15px;min-height:56px;width:880px;margin:10px 0 0 0;text-align:left;background-color:#fff;}
.protit .s1{float:left;color:#fff;background-color:#000;font-family:Arial, Helvetica, sans-serif;height:15px;padding:1px 2px 0 2px;margin:20px 0 0 0;}
.protit .s2{float:left;color:#000;border:#000 solid 1px;background-color:#EFC532;font-family:Arial, Helvetica, sans-serif;height:14px;padding:0 2px 0 2px;margin:20px 0 0 0;}
.protit h1{float:left;font-size:16px;font-weight:100;margin:16px 0 0 10px;}
.protit .s3{float:left;margin:14px 0 0 5px;}

.userinf{float:right;width:325px;background-color:#fff;height:56px;margin:10px 0 0 0;text-align:left;}
.userinf .s1{float:left;color:#fff;background-color:#E23A3A;height:15px;padding:1px 2px 0 2px;border-radius:2px;font-family:Arial, Helvetica, sans-serif;margin:20px 0 0 15px;}
.userinf .a1{float:left;margin:17px 0 0 5px;font-weight:100;font-size:15px;text-decoration:none;}
.userinf .s2{float:left;margin:21px 0 0 5px;}

.mainleft{float:left;width:910px;}
.mainleft .tpvideo{float:left;padding:15px;width:880px;margin:10px 0 0 0;text-align:left;background-color:#fff;}
.mainleft .tpvideo .protp{float:left;width:880px;}
.mainleft .tpvideo .protp .Homeslide{width:880px;color:#666565;overflow: hidden;position:relative;max-height:880px;}
.mainleft .tpvideo .protp .Homeslide_hand0{width:37px;height:53px;position:absolute;left: 0;top:363px;background:url(../img/home_slide.png) 0 -53px;cursor: pointer;}
.mainleft .tpvideo .protp .Homeslide_hand0:hover{background-position: 0 0;}
.mainleft .tpvideo .protp .Homeslide_hand1{width:37px;height:53px;position:absolute;right: 0;top:363px;background:url(../img/home_slide.png) -37px -53px;cursor: pointer;}
.mainleft .tpvideo .protp .Homeslide_hand1:hover{background-position: -37px 0}
.mainleft .tpvideo .protp .Homeslide_bigwrap{width:880px;min-height:880px;position:relative;}
.mainleft .tpvideo .protp .Homeslide_bigpicdiv{width:880px;min-height:880px;}
.mainleft .tpvideo .protp .Homeslide_bigpicdiv img{width:880px;border:0;}
.mainleft .tpvideo .protp .Homeslide_thumb{height:60px;border:1px solid #d2d2d2;border-top: none;background:#f2f2f2;position:relative;}
.mainleft .tpvideo .protp .Homeslide_angle{width:13px; height:7px; position:absolute;left:55px;top:-7px; overflow:hidden;display:none;background:url(../img/angle.gif) -1px -1px;}
.mainleft .tpvideo .protp .Homeslide_thumb ul{position:absolute;left:0;top:0;width:10000px;}
.mainleft .tpvideo .protp .Homeslide_thumb li{width:80px;height:55px;float:left;text-align:center;cursor:pointer;position:relative;padding-top:5px;}
.mainleft .tpvideo .protp .Homeslide_thumb li.this{background:#d2d2d2;}
.mainleft .tpvideo .protp .Homeslide_thumb li.this .Homeslide_angle{display:block;}
.mainleft .tpvideo .protp .Homeslide_thumb li img{width:70px;height:50px;display:block;margin:0 auto;margin-bottom:13px;}
.mainleft #ksdw1{float:left;width:100%;margin-top:20px;}
.mainleft .ucap{float:left;width:910px;height:59px;background-color:#FAFAFA;}
.mainleft .ucap li{float:left;border-right:#E5E5E5 solid 1px;height:41px;padding:18px 40px 0 40px;font-size:16px;cursor:pointer;}
.mainleft .ucap .l1{background-color:#fff;color:#ff6600;font-weight:700;}
.mainleft .ucap li strong{color:#ff6600;font-weight:100;}
.mainleft .ucap .l2{border-right:0;padding:0;float:right;display:none;}
.mainleft .ucap .l2 a{float:left;border-radius:3px;margin:11px 11px 0 0;height:37px;padding:0 20px 0 41px;line-height:37px;font-size:15px;background:url(img/buy1.png) no-repeat;background-position:22px 13px;background-color:#fb1016;color:#fff;}
.mainleft .fixednav{position:fixed;top:0px;background-color:#F7F7F7;border-bottom:#e5e5e5 solid 1px;}
.mainleft .fixednav .l2{display:block;}
.mainleft .ucapH{float:left;width:100%;height:60px;display:none;}
.mainleft .viewtxt{float:left;width:880px;padding:15px;line-height:25px;border-top:0;font-size:14px;background-color:#fff;text-align:left;}
.mainleft .viewtxt .txtad{float:left;width:880px;}
.mainleft .viewtxt img{max-width:880px;}
.mainleft .viewtxt .probqm{float:left;width:880px;margin:0 0 15px 0;}
.mainleft .viewtxt .probq{float:left;border-left:#F5F4F4 solid 1px;border-top:#F5F4F4 solid 1px;font-size:14px;margin:10px 0 0 0;}
.mainleft .viewtxt .probq li{float:left;border-bottom:#F5F4F4 solid 1px;padding:0 10px 0 10px;height:62px;border-right:#F5F4F4 solid 1px;line-height:62px;overflow:hidden;}
.mainleft .viewtxt .probq .l1{width:92px;background-color:#FAFAFA;color:#8F8F8F;}
.mainleft .viewtxt .probq .l2{width:159px;cursor:default;}
.mainleft .viewtxt .clear{float:left;width:100%;}
.mainleft .videomain{float:left;width:880px;padding:0 15px 15px 15px;background-color:#fff;}
.mainleft .videofr{float:left;width:741px;height:470px;background-color:#fff;border:#e5e5e5 solid 1px;border-right:0;}
.mainleft .videolist{float:left;width:137px;background-color:#E3F7F5;text-align:left;height:470px;border:#e5e5e5 solid 1px;border-left:0;overflow-y:scroll;}
.mainleft .videolist a{float:left;width:104px;padding:8px;}
.mainleft .videolist a:hover{text-decoration:none;}
.mainleft .videolist .a1{background-color:#fff;color:#16A495;}
.mainleft .bqcap{float:left;width:910px;background-color:#fff;padding:25px 0 10px 0;margin:10px 0 0 0;}
.mainleft .bqcap li{float:left;}
.mainleft .bqcap .l1{width:910px;height:45px;background:url(img/capbg1.gif) center top no-repeat;font-weight:700;font-size:25px;color:#424242;text-align:center;}

.mainleft .pjcap{float:left;width:910px;background-color:#fff;padding:0 0 10px 0;border-bottom:#F6F5F7 solid 1px;}
.mainleft .pjcap li{float:left;}
.mainleft .pjcap .l2{border-right:#E5E5E5 dotted 1px;width:120px;margin:10px 0 0 0;height:40px;text-align:center;color:#999;line-height:20px;}
.mainleft .pjcap .l2 strong{font-size:18px;font-family:Arial, Helvetica, sans-serif;color:#ff6600;}
.mainleft .pjcap .l3{width:396px;}
.mainleft .pjcap .l3 a{float:right;margin:18px 0 0 0;color:#fff;background-color:#ff6600;width:150px;font-size:14px;height:29px;text-align:center;padding:10px 0 0 0;}

.mainleft .wenda1{float:left;width:910px;background-color:#fff;padding:20px 0 20px 0;text-align:center;font-size:14px;}
.mainleft .wenda1 a{color:#999;border:#dedede solid 1px;padding:7px 20px 7px 20px;border-radius:5px;text-align:center;}
.mainleft .wenda1 a:hover{background-color:#f2f2f2;}
.mainleft .wdlist{float:left;width:880px;padding:15px;border-bottom:#EDEDED solid 1px;font-size:14px;background-color:#fff;text-align:left;}
.mainleft .wdlist .u1{float:left;width:880px;}
.mainleft .wdlist .u1 li{float:left;}
.mainleft .wdlist .u1 .l1{width:25px;margin:0px 0 0 0;}
.mainleft .wdlist .u1 .l1 span{float:left;color:#fff;background-color:#FF9911;width:19px;height:19px;border-radius:16px;text-align:center;padding:0 0 0 0;}
.mainleft .wdlist .u1 .l2{width:650px;font-weight:700;}
.mainleft .wdlist .u1 .l3{width:205px;color:#999;text-align:right;}
.mainleft .wdlist .u2{float:left;width:960px;margin:15px 0 0 0;}
.mainleft .wdlist .u2 li{float:left;}
.mainleft .wdlist .u2 .l1{width:25px;margin:0px 0 0 0;}
.mainleft .wdlist .u2 .l1 span{float:left;color:#fff;background-color:#99BB11;width:19px;height:19px;border-radius:16px;text-align:center;padding:0 0 0 0;}
.mainleft .wdlist .u2 .l2{width:650px;font-weight:700;}
.mainleft .wdlist .u2 .l3{width:205px;color:#999;text-align:right;}

.mainleft .pjlist{float:left;width:880px;background-color:#fff;padding:0 15px 15px 15px;}
.mainleft .pjlist .pj{float:left;width:880px;margin:20px 0 0 0;background-color:#fff;padding:5px 0 5px 0;}
.mainleft .pjlist .pj .u1{float:left;text-align:center;width:100px;}
.mainleft .pjlist .pj .u1 li{float:left;}
.mainleft .pjlist .pj .u1 .l1{width:100px;padding:0 0 5px 0;}
.mainleft .pjlist .pj .u1 .l1 img{border-radius:50px;}
.mainleft .pjlist .pj .u1 .l2{width:100px;color:#999;}
.mainleft .pjlist .pj .u2{float:left;text-align:left;width:650px;}
.mainleft .pjlist .pj .u2 li{float:left;}
.mainleft .pjlist .pj .u2 .l1{border-bottom:#DBDBDB dotted 1px;font-size:16px;padding:0 0 5px 0;line-height:25px;width:650px;}
.mainleft .pjlist .pj .u2 .l1 img{border:#f2f2f2 solid 1px;margin:5px 5px 0 0;}
.mainleft .pjlist .pj .u2 .l2{padding:10px 0 0 0;line-height:20px;width:650px;font-size:14px;color:#AF874D;}
.mainleft .pjlist .pj .u2 .l3{padding:10px 0 0 0;width:650px;color:#999;}
.mainleft .pjlist .pj .d2{float:right;color:#FFD600;font-size:16px;width:130px;text-align:right;}
.mainleft .pjlist .pj .d2 span{float:left;padding:0 30px 0 0;width:100px;}
.mainleft .pjlist .pj .d2 .s1{background:url(img/pj1.gif) right center no-repeat;}
.mainleft .pjlist .pj .d2 .s2{background:url(img/pj2.gif) right center no-repeat;}
.mainleft .pjlist .pj .d2 .s3{background:url(img/pj3.gif) right center no-repeat;}
.mainleft .pjlist .pj .d3{float:right;width:80px;height:28px;padding:8px 0 0 50px;}
.mainleft .pjlist .pj .d3 .img1{float:left;}
.mainleft .pjlist .pj .d3 .pf{float:left;margin-top:-15px;height:15px;overflow:hidden;}
.mainleft .pjlist .pj1{border-left:#FFAC13 solid 2px;}
.mainleft .pjlist .pj2{border-left:#83C44E solid 2px;}
.mainleft .pjlist .pj3{border-left:#2196F3 solid 2px;}
.mainleft .allpj{float:left;width:910px;background-color:#fff;padding:0 0 15px 0;}
.mainleft .allpj a{color:#999;border:#dedede solid 1px;padding:7px 0 0 0;height:27px;margin-left:380px;float:left;font-size:14px;width:148px;border-radius:5px;text-align:center;}
.mainleft .allpj a:hover{background-color:#f2f2f2;}

.mainright{float:left;width:325px;text-align:left;margin:10px 0 0 15px;}
.mainright #vipmoney{float:left;width:300px;border:#ddd solid 1px;background-color:#fff;}
.mainright #vipmoney .djmcap{float:left;width:300px;height:27px;background-color:#f2f2f2;font-weight:700;}
.mainright #vipmoney .djmcap li{float:left;padding:5px 0 0 0;}
.mainright #vipmoney .djmcap .l1{width:90px;padding-left:10px;}
.mainright #vipmoney .djmcap .l2{width:100px;}
.mainright #vipmoney .djmcap .l3{width:100px;}
.mainright #vipmoney .djm{float:left;width:300px;height:27px;border-bottom:#E5E5E5 solid 1px;}
.mainright #vipmoney .djm li{float:left;padding:5px 0 0 0;}
.mainright #vipmoney .djm .l1{width:90px;padding-left:10px;}
.mainright #vipmoney .djm .l2{width:100px;}
.mainright #vipmoney .djm .l3{width:100px;}
.mainright #vipmoney .djkt{float:left;width:300px;}
.mainright #vipmoney .djkt li{float:left;}
.mainright #vipmoney .djkt .l1{width:280px;padding:10px 10px 0 10px;height:30px;}
.mainright #vipmoney .djkt .l1 a{float:left;font-size:14px;width:280px;color:#fff;border-radius:4px;padding:5px 0 0 0;height:25px;background-color:#EC3A34;text-align:center;}
.mainright #vipmoney .djkt .l1 a:hover{text-decoration:none;}
.mainright #vipmoney .djkt .l2{padding:10px;}
.mainright .mr0{float:left;width:295px;background-color:#fff;padding:15px 15px 0 15px;}
.mainright .mr0 .a1{float:left;width:85px;height:25px;border-radius:15px;font-size:14px;color:#fff;font-weight:700;padding:5px 0 0 0;text-align:center;}
.mainright .mr0 .qq{background-color:#2B3D63;margin-right:10px;}
.mainright .mr0 .wx{background-color:#999;}
.mainright .mr0 .ys{float:right;background-color:#FF580E;}
.mainright .mr1{float:left;padding:12px 15px 0 15px;width:295px;background-color:#fff;}
.mainright .mr1 .d1{float:left;height:25px;width:295px;font-size:14px;}
.mainright .mr1 .d1 a:hover{text-decoration:none;}
.mainright .mr1 .u5{float:left;width:295px;margin:5px 0 0 0;font-size:14px;height:60px;border-radius:5px;color:#fff;background:url(img/yhbg.png) no-repeat;}
.mainright .mr1 .u5 li{float:left;}
.mainright .mr1 .u5 .l1{width:42px;padding:10px 0 0 5px;}
.mainright .mr1 .u5 .l2{width:248px;}
.mainright .mr1 .u5 .l2 .s1{margin:9px 10px 0 0;float:left;color:#E23A3A;padding:1px 3px 2px 3px;clear:both;background-color:#fff;border-radius:2px;}
.mainright .mr1 .u5 .l2 .s2{margin:6px 0 0 0;font-size:12px;float:left;padding:1px 3px 2px 3px;clear:both;}
.mainright .mr1 .utc{float:left;width:295px;padding:10px 0 0 0;font-size:14px;}
.mainright .mr1 .utc li{float:left;}
.mainright .mr1 .utc .l1{width:42px;padding:6px 0 0 0;}
.mainright .mr1 .utc .l2{width:253px;}
.mainright .mr1 .utc .l2 a{text-align:center;float:left;height:24px;border:1px solid #dedede;padding:5px 10px 0 10px;color:#333;margin:0 10px 5px 0;}
.mainright .mr1 .utc .l2 a:hover{color:#E8393C;text-decoration:none;}
.mainright .mr1 .utc .l2 .a1{height:23px;background:url(../img/right.png) right bottom no-repeat;border:2px solid #666;color:#E8393C;text-decoration:none;padding:4px 9px 0 9px;}
.mainright .mr1 .utc1{}
.mainright .mr1 .u6{float:left;width:45px;height:35px;margin:15px 0 0 0;border:#DEE3E9 solid 1px;}
.mainright .mr1 .u6 li{float:left;}
.mainright .mr1 .u6 .l1{width:29px;}
.mainright .mr1 .u6 .l1 input{float:left;width:29px;height:28px;padding:7px 0 0 0;border:0;text-align:center;font-weight:700;font-size:16px;}
@media screen and (-webkit-min-device-pixel-ratio:0) {
.mainright .mr1 .u6 .l1 input{height:35px;padding:0 0 0 0;}
}
.mainright .mr1 .u6 .l2{width:15px;height:35px;border-left:#dee3e9 solid 1px;font-family:Arial, Helvetica, sans-serif;}
.mainright .mr1 .u6 .l2 a{float:left;width:15px;height:17px;text-align:center;}
.mainright .mr1 .u6 .l2 .a1{background-color:#F3F4F9;border-bottom:#dee3e9 solid 1px;}
.mainright .mr1 .u6 .l2 .a2{background-color:#F3F4F8;}
.mainright .mr1 .u6 .l2 a:hover{text-decoration:none;}
.mainright .mr1 .u4{float:left;margin:15px 0 0 0;width:248px;}
.mainright .mr1 .u4 li{float:left;}
.mainright .mr1 .u4 .l1{width:100%;}
.mainright .mr1 .u4 .l1 a{float:left;width:112px;margin:0 0 0 10px;text-align:center;font-size:16px;}
.mainright .mr1 .u4 .l1 a:hover{text-decoration:none;}
.mainright .mr1 .u4 .l1 .buy{border-radius:3px;height:30px;padding:7px 0 0 0;}
.mainright .mr1 .u4 .l1 .buy:hover{color:#fff;}
.mainright .mr1 .u4 .l1 .car{border-radius:3px;height:29px;padding:6px 0 0 0;border-style:solid;border-width:1px;}
.mainright .mr1 .u4 .l1 .carok{background-color:#FBFBFB;color:#BBC7DA;}
.mainright .mr1 .dvip{float:left;color:#fff;font-size:16px;text-align:center;width:295px;margin:15px 0 0 0;height:31px;padding:9px 0 0 0;border-radius:5px;background-color:#FF6600;cursor:pointer;}
.mainright .mr1 .u1{float:left;margin:22px 0 0 0;height:30px;border-bottom:#EEEEEE solid 1px;width:295px;}
.mainright .mr1 .u1 li{float:left;color:#7F7F7F;}
.mainright .mr1 .u1 .l1{width:140px;}
.mainright .mr1 .u1 .l2{text-align:right;width:155px;}
.mainright .mr1 .probq{float:left;margin:10px 0 5px 0;color:#7F7F7F;width:295px;}
.mainright .mr1 .probq li{float:left;margin:8px 0 0 0;width:295px;}
.mainright .mrfx{float:left;width:295px;padding:10px 15px;background-color:#fff;margin:15px 0 0 0;}
.mainright .mr2{float:left;width:325px;background-color:#fff;margin:15px 0 0 0;padding:0 0 15px 0;}
.mainright .mr2 .u1{float:left;width:295px;margin:15px 15px 0 15px;font-size:14px;}
.mainright .mr2 .u1 li{float:left;}
.mainright .mr2 .u1 .l1{width:100px;padding:6px 0 0 0;}
.mainright .mr2 .u1 .l2{width:195px;}
.mainright .mr2 .u1 .l2 a{float:right;color:#fff;width:74px;padding:6px 0 0 0;height:24px;text-align:center;border-radius:3px;}
.mainright .mr2 .u1 .l2 a:hover{text-decoration:none;}
.mainright .mr2 .u2{float:left;margin:15px 0 0 15px;width:140px;height:190px;}
.mainright .mr2 .u2 li{float:left;}
.mainright .mr2 .u2 .l1{width:140px;height:140px;}
.mainright .mr2 .u2 .l1 img{width:140px;height:140px;}
.mainright .mr2 .u2 .l2{width:140px;padding:5px 0 0 0;line-height:20px;height:45px;overflow:hidden;}
.mainright .mr2 .u2 .l2 span{color:#ff6600;}
.mainright .mr2 .allm{float:left;margin:15px 0 0 0;font-size:14px;width:325px;}
.mainright .mr2 .allm a{float:left;margin:0 15px;border-radius:4px;width:295px;text-align:center;padding:9px 0 0 0;height:28px;border:#C9C9C9 solid 1px;color:#929292;}
.mainright .mr2 .allm a:hover{text-decoration:none;}
.mainright .mr3{float:left;width:310px;background-color:#fff;margin:15px 0 0 0;padding:0 15px 15px 0;}
.mainright .mr3 .d1{float:left;width:295px;margin:15px 0 0 15px;font-size:14px;}
.mainright .mr3 a{float:left;color:#9A9A9A;padding:4px 10px 0 10px;height:22px;border:#EEEEEE solid 1px;border-radius:2px;margin:14px 0 0 14px;}
.mainright .mr3 a:hover{text-decoration:none;color:#000;}




