body{background-color:#f8f8f8;}

.contact1{}
.contact1 .d1{margin:50px 0 70px 0;text-align:center;font-size:14px;}
.contact1 .d1 img{max-width:100px;margin:0 0 10px 0;border:#eee solid 1px;padding:10px;border-radius:5px;}
.contact2{border-bottom:#f2f2f2 solid 1px;padding:15px 0;font-size:14px;}
.contact2 .d1{width:90px;margin:0 0 0 10px;color:#383838;}
.contact2 .d2{margin:0 10px 0 0;text-align:right;color:#929292;}
.contact2 .d2 .qq1{float:right;}
.contact2 .d2 .qq2{float:right;margin:2px 5px 0 0;}

.contactb{}
.contactb .d1{margin:30px 0 0 20px;text-align:center;line-height:30px;}
.contactb .d1 a{margin:0 20px 0 0;font-size:14px;color:#6793e8;}

.txtmain{}
.txtmain .dmain{margin:15px;font-size:14px;text-align:left;line-height:30px;}





