<?
$pageall=$page_count;
?>
<?
if($page_count>1){
?>
<div id="page" class="page box">
 <div class="oprev flex">
  <? if($page>1){?><a href="<?=rentser('p',$page-1,'','',$nowurl)?>">上一页</a><? }else{?><a href="javascript:void(0);" onclick="layerts('已经是第一页')">上一页</a><? }?>
 </div>
 <div class="onext flex">
  <? if($page<$pageall){?><a href="<?=rentser('p',$page+1,'','',$nowurl)?>">下一页</a><? }else{?><a href="javascript:void(0);" onclick="layerts('已经是最后一页')">下一页</a><? }?>
 </div>
</div>
<? }?>