@charset "utf-8";
body{background-color:#ebebeb;}

/*列表*/
.topfix{position:fixed;width:100%;z-index:9;}
.ntopv .d1{height:140px;margin:0;-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;}
.listtop{height:50px;background-color:#fff;}
.listtop .d1{margin:10px 13px 0 13px;-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;text-align:left;border-radius:5px;height:30px;background-color:#F3F3F3;}
.listtop .d1 span{float:left;}
.listtop .d1 .s1{width:24px;height:24px;margin:6px 0 0 5px;}
.listtop .d1 .s1 img{width:18px;}
.listtop .d1 .s2{font-size:14px;margin:5px 0 0 0;color:#999;}
.psel{border-bottom:#ddd solid 1px;height:45px;background-color:#FBFBFB;}
.psel .search{margin:0;-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;font-size:14px;}
.psel .search .d1{position:relative;float:left;width:calc(33% - 5px);height:27px;padding:3px 0 0 5px;overflow:hidden;border-right:#DCDCDC solid 1px;margin-top:8px;text-align:left;}
.psel .search .d1 .s1 span{overflow:hidden;width:80%;height:20px;float:left;}
.psel .search .d1 .s1:after{width:12px;height:7px;background: url(../img/jiana.gif) 0 0 no-repeat;display:inline-block;position:absolute;top:11px;margin-left:5px;content:'';}
.psel .search .d0{border-right:0;}
.sertj{background-color:#fff;width:100%;z-index:8;text-align:left;max-height:300px;overflow-y:scroll;position:absolute;}
.sertj .d1{margin:0 0 0 0;-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;font-size:14px;}
.sertj .d1 a{display:block;padding:15px 0 0 10px;height:29px;border-bottom:#F3F3F3 solid 1px;border-right:#F3F3F3 solid 1px;}
.sertj .d1 .nx{color:#ff0000;}
.list1{background-color:#fff;}
.list1 .d1{margin:7px 0 0 10px;text-align:left;height:22px;border-bottom:#EDEDED dotted 1px;-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;}
.list1 .d1 span{float:left;}
.list1 .d1 .s1{margin:0 0 0 5px;}
.list1 .d2{margin:7px 10px 0 0;text-align:right;height:22px;border-bottom:#EDEDED dotted 1px;width:80px;color:#666;}
.list2{background-color:#fff;text-align:left;border-bottom:#E5E5E5 solid 1px;margin:0 0 10px 0;}
.list2 .d1{width:80px;margin:10px 0 0 10px;height:90px;}
.list2 .d2{-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;margin:10px 10px 0 10px;}
.list2 .d2 .a1{float:left;width:100%;overflow:hidden;height:35px;color:#000;font-size:13px;}
.list2 .d2 .dn1{float:left;width:150px;height:29px;margin:21px 0 0 0;}
.list2 .d2 .dn1 .szd{float:left;margin-right:5px;}
.list2 .d2 .dn1 .s2{float:left;border:#00BA97 solid 1px;padding:0 3px 0 18px;color:#00BA97;background:url(../img/bao.gif) left top no-repeat;height:14px;}
.list2 .d2 .dn2{float:right;color:#F32A38;font-weight:700;margin:20px 0 0 0;}
.list2 .d2 .dn2 strong{font-size:16px;}
.list2zd{border-bottom:#ff5b53 solid 1px;}

.pjlist{background-color:#fff;border-bottom:#ddd solid 1px;padding:0 0 10px 0;}
.pjlist .d1{margin:10px 10px 0 10px;text-align:center;width:50px;}
.pjlist .d1 img{margin:0 0 7px 0;border-radius:8px;}
.pjlist .d2{margin:10px 10px 0 10px;-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;}
.pjlist .d2 .s0{float:left;color:#fff;margin:0 5px 0 0;}
.pjlist .d2 .s01{background-color:#FFAC13;}
.pjlist .d2 .s02{background-color:#83C44E;}
.pjlist .d2 .s03{background-color:#2196F3;}
.pjlist .d2 .s1{width:80px;height:28px;float:left;}
.pjlist .d2 .s1 .img1{float:left;}
.pjlist .d2 .s1 .pf{float:left;margin-top:-15px;height:15px;overflow:hidden;}
.pjlist .d2 .s2{float:right;}
.pjlist .d2 .s3{float:left;width:100%;line-height:20px;border-top:#dddddd dotted 1px;padding:6px 0 0 0;}
.pjlist .d2 .s5{float:left;width:100%;padding:6px 0 0 0;}
.pjlist .d2 .s4{float:left;width:100%;line-height:20px;padding:6px 0 0 0;color:#ff6600;}

.wutulist1{}
.wutulist1 .dmain{margin:10px 10px 0 10px;padding:11px 0 10px 0;border-radius:5px;background-color:#fff;}
.wutulist1 .dmain .dtit{float:left;width:calc(100% - 20px);height:25px;line-height:25px;margin:0 10px;overflow:hidden;font-size:14px;font-weight:700;}
.wutulist1 .dmain .dtit span{float:left;}
.wutulist1 .dmain .dtit .s1{width:16px;height:16px;margin-top:5px;}
.wutulist1 .dmain .dtit .s1 img{width:16px;height:16px;border-radius:3px;}
.wutulist1 .dmain .dtit .s2{width:calc(100% - 21px);margin:0 0 0 5px;}
.wutulist1 .dmain .u1{float:left;width:calc(100% - 20px);margin:0 10px;font-size:12px;}
.wutulist1 .dmain .u1 li{float:left;height:27px;line-height:27px;overflow:hidden;color:#666;}
.wutulist1 .dmain .u1 .l0{width:41%;}
.wutulist1 .dmain .u1 .l1{width:34%;}
.wutulist1 .dmain .u1 .l2{text-align:right;width:25%;}
.wutulist1 .dmain .u1 .l3{width:41%;}
.wutulist1 .dmain .u1 .l4{width:34%;}
.wutulist1 .dmain .u1 .l5{text-align:right;color:#ff0000;font-size:15px;font-weight:700;width:25%;}
.wutulist1zd .dmain{border:#ff0000 solid 1px;margin:10px 9px 0 9px;}

.nopro{}
.nopro .dmain{margin:50px 20px;background-color:#fff3e2;border:#ffb05a solid 1px;padding:30px 0 20px 0;line-height:40px;text-align:center;font-size:14px;}
.nopro .dmain strong{font-size:17px;font-weight:700;}
.nopro .dmain img{margin-bottom:20px;}

























