@charset "utf-8";

/*买家首页B*/
.infcap{margin:10px 0 0 0;background-color:#fff;}
.infcap .d2{margin:10px 0 0 10px;height:30px;border-bottom:#eee solid 1px;-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;font-size:14px;}
.infcap .d3{margin:12px 0 0 0;width:100px;height:28px;border-bottom:#eee solid 1px;text-align:right;}
.infcap .d4{border-bottom:#eee solid 1px;height:28px;width:9px;margin:12px 10px 0 0;padding-left:5px;}
.infcap .d4 img{width:9px;}
.infcap0 .d2{border-bottom:0;}
.infcap0 .d3{border-bottom:0;}
.infcap0 .d4{border-bottom:0;}
.iloginlog{background-color:#fff;padding:10px 0;}
.iloginlog .d1{margin:0 0 0 10px;width:50%;}
.iloginlog .d2{margin:0 10px 0 0;text-align:right;}
.infmain{margin:0;background-color:#fff;}
.infmain .d1{margin:15px 0 0 0;height:50px;text-align:center;-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;}
.infmain .d1 div{float:left;width:20%;}
.infmain .d1 div img{width:20px;height:20px;margin:0 0 5px 0;}
.infmain .d1 div span{color:#fff;padding:1px 2px 1px 2px;float:left;min-width:12px;text-align:center;margin:-10px 0 0 0;background-color:#ff0000;border-radius:5px;position:absolute;}
.infmain .dtask{margin:0;}
.infmain .dtask .u1{float:left;width:100%;}
.infmain .dtask .u1 li{float:left;width:calc(50% - 21px);height:38px;padding:0 0 0 0;margin:0 10px 0 10px;border-bottom:#F5F5F5 solid 1px;}
.infmain .dtask .u1 li .s1{float:left;margin:11px 0 0 0;}
.infmain .dtask .u1 li .s2{float:right;font-size:12px;border:#5EA2E7 solid 1px;padding:2px 5px 2px 5px;border-radius:5px;color:#5EA2E7;margin:8px 0 0 0;}
.infmain .dtask .u1 .l1 .s2{border:#ff0000 solid 1px;color:#ff0000;}
.infmain .dautojy{margin:0;}
.infmain .dautojy .u1{float:left;width:100%;}
.infmain .dautojy .u1 li{float:left;width:calc(50% - 21px);height:38px;padding:0 0 0 0;margin:0 10px 0 10px;border-bottom:#F5F5F5 solid 1px;}
.infmain .dautojy .u1 li .s1{float:left;margin:11px 0 0 0;}
.infmain .dautojy .u1 li .s2{float:right;font-size:12px;border:#5EA2E7 solid 1px;padding:2px 5px 2px 5px;border-radius:5px;color:#5EA2E7;margin:8px 0 0 0;}
.infmain .dautojy .u1 .l1 .s2{border:#ff0000 solid 1px;color:#ff0000;}
.tuig{background-color:#fff;margin:10px 0 0 0;border-top:#eee solid 1px;border-bottom:#eee solid 1px;}
.tuig .dmain{margin:10px;}
.tuig .dmain .d1{float:left;width:100%;line-height:18px;}
.tuig .dmain .d2{float:left;width:calc(100% - 12px);padding:5px;border:#eee solid 1px;margin:8px 0 0 0;color:#ff6600;}

/*短信发送*/
.smsmain{text-align:center;position:fixed;margin:50% 0 0 0;}
.smsmain .d1{margin:auto 10px;-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;border:#FF6838 solid 3px;background-color:#fff;}
.smsmain .d1 .s1{float:left;width:100%;margin:10px 0 0 0;height:20px;}
.smsmain .d1 #s2{float:left;width:100%;font-size:40px;margin:10px 0 0 0;height:55px;font-weight:700;color:#FF6838;}
.smsmain .d1 .s3{float:left;width:100%;font-size:14px;margin:10px 0 0 0;height:30px;color:#34A8FF;}

/*买家头B*/
.buytop{background:url(../img/buybg.png) center top no-repeat;color:#fff;padding:10px 0 52px 0;}
.buytop .d1{margin:10px 0 0 10px;width:60px;}
.buytop .d1 img{border-radius:4px;}
.buytop .d2{margin:5px 0 0 10px;}
.buytop .d2 .u1{float:left;width:100%;}
.buytop .d2 .u1 li{float:left;width:100%;padding:5px 0 0 0;}
.buytop .d2 .u1 .l1{font-size:14px;}
.buytop .d2 .u1 li a{color:#FF0;}
.buytop .d3{margin:0 10px 0 0;width:62px;}
.buytop .d3 a{float:left;clear:both;width:60px;padding:3px 0 0 0;height:19px;text-align:center;border-radius:2px;margin:10px 0 0 0;}
.buytop .d3 .a1{color:#fff;background-color:#FF6000;border:#FF6000 solid 1px;}
.buytop .d3 .a2{color:#FF6000;background-color:#FFF2E3;border:#FFB865 solid 1px;}

.buytop1{height:42px;margin-top:-42px;color:#fff;background:url(../img/bg1.png) repeat;}
.buytop1 .d1{line-height:18px;text-align:center;-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;margin:3px 0 0 0;}
.buytop1 .d1 img{margin:3px 0 1px 0;}
.buytop1 .d2{color:#FF3;}

/*买方订单详情*/
.ordervtopfd{height:43px;position:fixed;width:100%;z-index:11;}
.ordervtopfdv{display:block;height:43px;}
.ordervtop{background:url(../img/topbg.png) center top repeat-y;height:43px;color:#fff;}
.ordervtop .d1{margin:11px 0 0 10px;width:30px;}
.ordervtop .d2{margin:10px 0 0 0;-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;font-size:18px;text-align:left;}
.ordervtop .d3{margin:10px 10px 0 0;width:60px;text-align:right;}
.ordervtop1{background:url(../img/topbg.png) center top repeat-y;color:#fff;height:80px;}
.ordervtop1 .d1{margin:11px 0 0 40px;-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;text-align:left;line-height:23px;}
.ordervtop1 .d1 strong{font-size:15px;font-weight:100;}
.ordervtop1 .d2{margin:12px 10px 0 0;width:70px;}
.ordervtop1 .d2 img{width:70px;}
.wuliu1{border-bottom:#DDDDDD solid 1px;padding:0 0 7px 0;background-color:#fff;}
.wuliu1 .d1{margin:28px 0 28px 10px;text-align:left;width:40px;}
.wuliu1 .d1 img{width:30px;}
.wuliu1 .d2{margin:10px 0 0 0;-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;text-align:left;line-height:22px;font-size:13px;overflow:hidden;height:67px;}
.wuliu1 .d2 .kdall{float:left;width:100%;padding-bottom:10px;}
.wuliu1 .d21{overflow:auto;height:auto;}
.wuliu1 .d21 .kdall{background:url(../img/wuliu.png) no-repeat;background-position:0 6px;padding-left:20px;width:calc(100% - 20px);}
.wuliu1 .d3{margin:39px 10px 0 0;width:40px;text-align:right;}
.wuliu1 .d3 img{height:8px;}
.wuliu2{background-color:#fff;margin:0 0 10px 0;}
.wuliu2 .d1{margin:18px 0 18px 10px;text-align:left;width:40px;}
.wuliu2 .d1 img{width:30px;}
.wuliu2 .d2{margin:10px 10px 0 0;-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;text-align:left;line-height:22px;font-size:13px;}
.orderpro{background-color:#fff;height:30px;}
.orderpro .d1{margin:7px 0 0 10px;width:20px;}
.orderpro .d2{-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;margin:7px 0 0 0;}
.orderpro1{background-color:#fff;padding:5px 0 10px 0;}
.orderpro1 .d1{margin:0 0 0 10px;width:70px;}
.orderpro1 .d2{margin:0 10px 0 10px;-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;line-height:18px;color:#000;}
.orderpro1 .d3{margin:0 10px 0 0;width:60px;line-height:18px;text-align:right;}
.ordermain1{background-color:#fff;margin:10px 0 0 0;height:32px;}
.ordermain1 .d1{border-left:#ff6600 solid 2px;height:14px;margin:10px 0 0 10px;}
.ordermain1 .d2{-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;margin:7px 0 0 5px;font-size:14px;}
.ordermain2{background-color:#fff;color:#666;padding:10px 0 0 0;}
.ordermain2 .d1{margin:0 0 0 17px;width:80px;}
.ordermain2 .d2{-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;margin:0 10px 0 0;}
.ordermain3{background-color:#fff;height:15px;}
.ordermain4{background-color:#fff;padding:6px 0;border-top:#f5f5f5 solid 1px;margin:0 0 10px 0;}
.ordermain4 .d1{margin:0 10px 0 0;-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;text-align:right;}
.ordermain4 .d1 a{float:right;border:#dedede solid 1px;border-radius:12px;padding:5px 12px 0 12px;height:20px;margin-left:8px;}
.ordermain4 .d1 .a1{color:#ff6600;border:#ff6600 solid 1px;}
.ordersell{background-color:#fff;margin:10px 0 0 0;height:32px;}
.ordersell .d1{border-left:#ff6600 solid 2px;height:14px;margin:10px 0 0 10px;}
.ordersell .d2{-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;margin:7px 0 0 5px;font-size:14px;}
.ordersell1{background-color:#fff;color:#666;padding:10px 0 0 0;}
.ordersell1 .d1{margin:0 0 0 17px;width:80px;}
.ordersell1 .d2{-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;margin:0 10px 0 0;}
.ordersell2{background-color:#fff;height:15px;}

/*购物车*/
.shdz{width:100%;background:url(../img/xian.png) left top no-repeat;background-color:#fff;}
.shdz .d1{-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;margin:16px 0 0 30px;}
.shdz .d2{width:100px;margin:16px 22px 0 0;text-align:right;}
.shdz1{width:100%;background-color:#fff;padding:0 0 10px 0;}
.shdz1 .d1{width:20px;margin:5px 0 0 10px;;}
.shdz1 .d2{-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;margin:6px 0 0 0;}
.shdz1 .d3{width:30px;margin:6px 10px 0 0;text-align:right;}
.shdzaddt{width:100%;background:url(../img/xian.png) left top no-repeat;background-color:#fff;}
.shdzaddt .d1{margin:16px 0 0 10px;height:27px;-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;font-size:16px;color:#333;border-bottom:#f5f5f5 solid 1px;}
.shdzadd{background-color:#fff;}
.shdzadd .d1{margin:10px 0 0 10px;height:29px;-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;font-size:15px;color:#666;}
.shdzadd .d2{height:26px;width:20px;margin:11px 5px 0 0;}
.carM{text-align:left;border-top:#DEDEDE solid 1px;height:35px;background-color:#fff;font-size:14px;}
.carM .d1{margin:10px 0 0 10px;width:20px;}
.carM .d2{margin:9px 0 0 0;-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;color:#666;}
.car{text-align:left;padding:10px 0;background-color:#fff;border-top:#f2f2f2 solid 1px;}
.car .d1{width:30px;margin:0 0 0 10px;}
.car .d2{width:50px;margin:0 10px 0 0;text-align:center;}
.car .d3{-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;margin:0 10px 0 0;}
.car .d3 .s1{float:left;clear:both;width:100%;}
.car .d3 .yh{float:left;clear:both;color:#fff;padding:2px;clear:both;margin:2px 0 0 0;background-color:#36AB67;}
.car .d3 .yf{float:left;color:#FF4400;padding:2px;clear:both;margin:5px 0 0 0;background-color:#FFF0E7;border:#FFE1D3 solid 1px;}
.car .d3 .s3{float:left;clear:both;color:#999;margin:3px 0 0 0;}
.car .d3 .s3 strong{color:#ff6600;}
.car .d3 .s4{float:right;margin:0px 0 0 0;}
.car .d3 .s4 span{float:left;text-align:center;background-color:#f7f7f7;padding:3px 0 0 0;height:17px;width:20px;}
.car .d3 .s4 input{float:left;width:24px;height:20px;border:#ddd solid 1px;text-align:center;}
.car .d3 .liuyan{float:left;width:100%;margin:5px 0 0 0;}
.car .d3 .liuyan textarea{float:left;width:100%;height:20px;outline:none;-webkit-appearance:none;border-radius:0;border:#F5F5F5 solid 1px;}
.car .d3 .liuyan .t1{width:80%;height:50px;border-right:0;}
.car .d3 .liuyan a{float:left;color:#fff;background-color:#ff6600;text-align:center;width:20%;padding:17px 0 0 0;height:33px;}
.car .d3 .liuyan a:hover{text-decoration:none;}
.car .d3 .ub{float:left;width:100%;clear:both;margin:7px 0 0 0;}
.car .d3 .ub .ub1{float:left;width:100%;}
.car .d3 .ub .ub2{float:left;border:#F5F5F5 solid 1px;height:22px;margin:2px 0 0 0;width:calc(100% - 2px);}
.yunfei{background-color:#fff;padding:0 0 10px 0;font-size:14px;}
.yunfei .d1{margin:3px 0 0 0;text-align:right;}
.yunfei .d2{margin:0;width:100px;}
.yunfei .d2 span{float:left;color:#FF4400;padding:2px 10px;clear:both;background-color:#FFF0E7;border:#FFE1D3 solid 1px;}
.carbottom{border-top:#eee solid 1px;height:10px;}
.carjs{background-color:#fff;height:38px;}
.carjs .d1{color:#666;margin:0 0 0 10px;line-height:38px;}
.carjs .d1 .s1{font-family:Verdana, Geneva, sans-serif;font-size:20px;font-weight:700;color:#FF5500;}
.carjs .d2{height:38px;margin:0;line-height:38px;background-color:#E55765;color:#fff;width:80px;font-size:16px;text-align:center;}
.carnum{background-color:#F5F8FE;line-height:none;padding:10px 0;width:100%;float:left;border-radius:10px;}
.carnum .carnum1{float:left;width:50%;}
.carnum .carnum1 input{float:left;width:calc(100% - 20px);margin-left:10px;height:26px;text-align:center;font-size:14px;font-weight:700;}
.carnum .carnum2{float:left;width:50%;}
.carnum .carnum2 input{float:left;width:calc(100% - 10px);height:29px;font-size:14px;color:#fff;border:0;background-color:#ff6600;}

/*收银台*/
.syt{height:40px;border-bottom:#ddd solid 1px;border-top:#f5f5f5 solid 1px;font-size:14px;background-color:#fff;}
.syt .d1{margin:10px 0 0 10px;;-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;}
.syt .d2{margin:10px 10px 0 0;text-align:right;-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;}
.syt strong{color:#ff0000;font-size:16px;}
.pay1 .d1{margin:15px 10px 0 10px;background-color:#458ef7;text-align:center;color:#fff;height:40px;line-height:40px;border-radius:8px 8px 0 0;font-size:15px;}
.pay4 .dmain{margin:0 10px 0 0;}
.pay4 .dmain .d1{float:left;border-radius:5px;font-size:14px;color:#448ae3;width:calc(25% - 10px);height:55px;margin:10px 0 0 10px;line-height:55px;background-color:#fff;text-align:center;}
.pay4 .dmain .d1 span{float:left;width:100%;height:55px;}
.pay4 .dmain .d1 span strong{font-size:18px;}
.pay4 .dmain .d1 i{float:left;margin-top:-55px;background-color:#f06060;color:#fff;padding:0 5px;height:18px;font-size:12px;line-height:18px;border-radius:5px 0 5px 0;}
.pay2 .d1{margin:0 10px 0 10px;background-color:#fff;text-align:center;border-radius:0 0 8px 8px;}
.pay2 .d1 input{width:100%;border:0;height:60px;font-size:17px;text-align:center;border-radius:0 0 8px 8px;}
.pay3{margin:10px 0 0 0;}
.pay3 .dmain{margin:0 10px;background-color:#fff;border-radius:8px;padding:15px 10px 0 10px;font-size:14px;}
.pay3 .dmain .d1{float:left;width:100%;height:27px;}
.pay3 .dmain .u1{float:left;width:100%;border-bottom:#dfdfdf solid 1px;padding:11px 0 8px 0;}
.pay3 .dmain .u1 li{float:left;}
.pay3 .dmain .u1 .l1{width:35px;}
.pay3 .dmain .u1 .l1 img{height:25px;}
.pay3 .dmain .u1 .l2{width:180px;padding:3px 0 0 0;}
.pay3 .dmain .u1 .l3{width:calc(100% - 215px);margin:3px 0 0 0;}
.pay3 .dmain .u1 .l3 span{float:right;width:17px;height:17px;border-radius:17px;line-height:17px;text-align:center;border:#d8d8d8 solid 1px;color:#fff;}
.pay3 .dmain .u1 .l3 .s1{color:#fff;background-color:#4290f5;border:#4290f5 solid 1px;}
.pay3 .dmain .u1:last-child{border-bottom:0;}
.pay5{margin:10px 0 0 0;}
.pay5 .dmain{margin:0 10px;background-color:#fff;border-radius:8px;padding:15px 10px 0 10px;font-size:14px;}
.pay5 .dmain .d1{float:left;width:100%;height:25px;}
.pay5 .dmain .d2{float:left;width:100%;border-bottom:#dfdfdf solid 1px;height:40px;line-height:40px;}
.pay5 .dmain .d2 strong{color:#ff0000;}
.pay5 .dmain .d2:last-child{border-bottom:0;}
.paybtn .d1{margin:30px 10px 0 10px;}
.paybtn .d1 input{float:left;width:100%;color:#fff;border:0;border-radius:5px;height:45px;background-color:#549bf5;font-size:14px;}


/*收货地址*/
.shdzlist{text-align:left;padding:10px 0 5px 0;background-color:#fff;border-top:#f5f5f5 solid 1px;}
.shdzlist .d1{-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;margin:0 0 0 10px;}
.shdzlist .d2{width:100px;margin:0 10px 0 0;text-align:right;}
.shdzlist .d3{width:20px;margin:0 10px 0 0;text-align:right;}
.shdzlist1{text-align:left;padding:0 0 10px 0;background-color:#fff;}
.shdzlist1 .d0{width:10px;margin:0;}
.shdzlist1 .d1{-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;margin:0;}

/*收藏夹*/
.favpro{text-align:left;padding:10px 0;color:#666;border-bottom:#EDECEC solid 1px;background-color:#fff;}
.favpro .d1{width:70px;margin:0 0 0 10px;}
.favpro .d2{-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;margin:0 10px 0 0;}
.favpro .d2 strong{color:#ff6600;font-size:14px;}
.favpro .d3{width:30px;margin:0 10px 0 0;text-align:right;}
.favshop{text-align:left;padding:10px 0;color:#666;border-bottom:#EDECEC solid 1px;background-color:#fff;}
.favshop .d1{width:40px;margin:0 10px 0 10px;}
.favshop .d2{-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;margin:0 10px 0 0;font-size:14px;color:#000;}
.favshop .d2 img{margin:4px 0 0 0;}
.favshop .d3{width:30px;margin:0 10px 0 0;text-align:right;}

/*积分明细、签到明细*/
.jftj{background-color:#fff;text-align:center;font-size:14px;line-height:20px;}
.jftj .d1{margin:0 0 0 0;-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;border-top:#D2E7F6 solid 2px;padding:10px 0;}
.jftj .d2{margin:0 0 0 0;-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;border-top:#F0D0C3 solid 2px;padding:10px 0;border-left:#f1f1f1 solid 1px;border-right:#f1f1f1 solid 1px;}
.jftj .d3{margin:0 0 0 0;-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;border-top:#69D092 solid 2px;padding:10px 0;}
.jflog{border-top:#f5f5f5 solid 1px;height:50px;background-color:#fff;line-height:18px;color:#000;}
.jflog .d1{margin:8px 0 0 10px;-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;}
.jflog .d2{width:70px;margin:8px 10px 0 0;text-align:right;}

/*资金明细*/
.paytj{background-color:#fff;text-align:center;font-size:14px;line-height:20px;}
.paytj .d1{margin:0 0 0 0;-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;border-top:#D2E7F6 solid 2px;padding:10px 0;}
.paytj .d2{margin:0 0 0 0;-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;border-top:#F0D0C3 solid 2px;padding:10px 0;border-left:#f1f1f1 solid 1px;border-right:#f1f1f1 solid 1px;}
.paytj .d3{margin:0 0 0 0;-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;border-top:#69D092 solid 2px;padding:10px 0;}
.paylog{border-top:#f5f5f5 solid 1px;padding:0 0 8px 0;background-color:#fff;line-height:18px;color:#000;}
.paylog .d1{margin:8px 0 0 10px;-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;}
.paylog .d2{width:70px;margin:8px 10px 0 0;text-align:right;}

/*登录日志*/
.loginlog{background-color:#fff;padding:10px 0;border-top:#eee solid 1px;}
.loginlog .d1{margin:0 0 0 10px;width:50%;}
.loginlog .d2{margin:0 10px 0 0;text-align:right;}

/*浏览记录*/
.prohis{border-bottom:#ddd solid 1px;padding:0 0 10px 0;}
.prohis .d1{margin:10px 0 0 10px;width:60px;}
.prohis .d2{margin:10px 10px 0 0;line-height:18px;-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;font-size:14px;}

/*买家订单*/
.wpay{}
.wpay .d1{width:80px;margin:10px 0 10px 10px;}
.wpay .d1 a{float:left;line-height:30px;width:100%;color:#fff;background-color:#ff0000;border-radius:3px;text-align:center;}
.wpay .d2{margin:10px 0 10px 10px;line-height:30px;}
.wpay .d3{margin:10px 10px 0 0;width:60px;}
.wpay .d3 input{float:right;height:14px;width:14px;margin-top:11px;}
.wpay .d3 span{float:right;line-height:36px;margin-left:5px;}
.ordertopfdv{display:block;height:75px;}
.ordertopfd{height:43px;position:fixed;width:100%;z-index:11;}
.ordertop{background-color:#ff6600;color:#fff;height:43px;}
.ordertop .d1{margin:11px 0 0 10px;width:30px;}
.ordertop .d2{margin:10px 0 0 0;-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;font-size:18px;text-align:center;}
.ordertop .d3{margin:0 20px 0 0;width:30px;text-align:right;}
.ordertop1{background-color:#fff;height:32px;border-bottom:#f1f1f1 solid 1px;}
.ordertop1 .d1{margin:8px 0 0 10px;height:24px;-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;text-align:center;}
.ordertop1 .d11{height:22px;border-bottom:#ff6600 solid 2px;color:#ff6600;}
.orderlist{background-color:#fff;height:36px;}
.orderlist .d1{margin:10px 0 0 10px;width:20px;}
.orderlist .d2{-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;line-height:36px;font-size:13px;}
.orderlist .d3{width:60px;margin:0 10px 0 0;text-align:right;}
.orderlist .d3 input{float:right;height:14px;width:14px;margin-top:11px;}
.orderlist .d3 span{float:right;line-height:36px;margin-left:5px;}
.orderlist1{background-color:#F8F8F8;padding:5px 0;}
.orderlist1 .d1{margin:0 0 0 10px;width:70px;}
.orderlist1 .d2{margin:0 10px 0 10px;-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;line-height:18px;color:#000;}
.orderlist1 .d2 strong{font-size:13px;}
.orderlist1 .d3{margin:0 10px 0 0;width:60px;line-height:18px;text-align:right;}
.orderlist2{background-color:#fff;padding:7px 0;}
.orderlist2 .d1{margin:0 0 0 10px;-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;line-height:20px;color:#000;}
.orderlist2 .d2{margin:0 10px 0 0;width:150px;text-align:right;line-height:20px;}
.orderlist4{background-color:#fff;padding:6px 0;border-top:#f5f5f5 solid 1px;margin:0 0 10px 0;}
.orderlist4 .d1{margin:0 10px 0 0;-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;text-align:right;}
.orderlist4 .d1 a{float:right;border:#dedede solid 1px;border-radius:10px;padding:2px 8px 0 8px;height:17px;margin-left:8px;}
.orderlist4 .d1 .a1{color:#ff6600;border:#ff6600 solid 1px;}
.orderpj{background-color:#fff;}
.orderpj .d1{-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;margin:0 10px 10px 10px;}
.orderpj .d1 textarea{float:left;width:98%;border:#ddd solid 1px;height:100px;}

/*自助交易*/
.autolist1{background-color:#fff;height:30px;border-top:#eee solid 1px;border-bottom:#dedede dotted 1px;margin:10px 0 0 0;}
.autolist1 .d1{margin:7px 0 0 10px;}
.autolist1 .d2{margin:7px 10px 0 0;width:100px;text-align:right;color:#ff6600;}
.autolist2{background-color:#fff;}
.autolist2 .d1{margin:10px 0 0 10px;font-size:14px;font-weight:700;}
.autolist3{background-color:#fff;}
.autolist3 .d1{margin:0 10px 10px 0;}
.autolist3 .d1 span{float:left;border:#eee solid 1px;color:#666;margin:10px 0 0 10px;border-radius:4px;padding:3px 5px 5px 5px;}
.autolist4{background-color:#fff;padding:6px 0;margin:0 0 10px 0;border-top:#dedede dotted 1px;border-bottom:#eee solid 1px;}
.autolist4 .d1{margin:0 10px 0 0;}
.autolist4 .d1 a{float:right;border:#dedede solid 1px;border-radius:10px;padding:2px 8px 0 8px;height:17px;margin-left:8px;}
.autolist4 .d1 .a1{color:#ff6600;border:#ff6600 solid 1px;}

/*服务订单*/
.ddztcap{height:32px;width:100%;z-index:10;border-bottom:#ddd solid 1px;background-color:#fff;}
.ddztcap .dmain{margin:5px 0 0 10px;}
.ddztcap .dmain .swiper-slide{height:30px;width:auto;margin:0 5px;}
.ddztcap .dmain .swiper-slide a{float:left;text-align:center;padding:4px 0 0 0;}
.ddztcap .dmain .swiper-slide .a1{color:#ff6600;}
.serverorderlist{background-color:#fff;height:30px;}
.serverorderlist .d1{margin:7px 0 0 10px;width:20px;}
.serverorderlist .d2{-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;margin:7px 0 0 0;}
.serverorderlist .d3{width:80px;margin:7px 10px 0 0;text-align:right;}
.serverorderlist1{background-color:#F8F8F8;padding:5px 0;}
.serverorderlist1 .d1{margin:0 0 0 10px;width:110px;}
.serverorderlist1 .d2{margin:0 10px 0 10px;-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;line-height:18px;color:#000;}
.serverorderlist1 .d3{margin:0 10px 0 0;width:80px;line-height:18px;text-align:right;}
.serverorderlist2{background-color:#fff;padding:7px 0;}
.serverorderlist2 .d1{margin:0 0 0 10px;-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;line-height:18px;color:#000;}
.serverorderlist2 .d2{margin:0 10px 0 0;width:150px;text-align:right;line-height:18px;}
.serverorderlist4{background-color:#fff;padding:6px 0;border-top:#f5f5f5 solid 1px;margin:0 0 10px 0;}
.serverorderlist4 .d1{margin:0 10px 0 0;-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;text-align:right;}
.serverorderlist4 .d1 a{float:right;border:#dedede solid 1px;border-radius:10px;padding:2px 8px 0 8px;height:17px;margin-left:8px;}
.serverorderlist4 .d1 .a1{color:#ff6600;border:#ff6600 solid 1px;}

/*提现明细*/
.txlog{border-top:#f5f5f5 solid 1px;height:50px;background-color:#fff;line-height:18px;color:#000;}
.txlog .d1{margin:8px 0 0 10px;-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;}
.txlog .d2{width:70px;margin:8px 10px 0 0;text-align:right;}

/*纠纷沟通*/
.jflist{}
.jfgtlist{-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;margin:0;border-top:#E1E6EB solid 1px;border-bottom:#E1E6EB solid 1px;background-color:#fff;}
.jfgtlist .cap{float:left;padding-top:6px;height:21px;font-weight:700;width:100%;font-size:14px;background-color:#FFF7EB;border-bottom:#E1E6EB solid 1px;}
.jfgtlist .u1{float:left;padding:10px 0 7px 0;margin:0 10px;width:calc(100% - 20px);border-top:#BCBCBC dotted 1px;}
.jfgtlist .u1 li{float:left;}
.jfgtlist .u1 .l1{width:50px;text-align:left;}
.jfgtlist .u1 .l2{width:calc(100% - 50px);line-height:18px;}
.jfgtlist .u1 .l2 img{max-width:100%;}
.jfgtlist .u0{border-top:0;}

/*评价*/
.orderpj1{background-color:#fff;color:#666;padding:10px 0 0 0;}
.orderpj1 .d1{margin:0 0 0 17px;width:80px;}
.orderpj1 .d2{-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;margin:0 10px 10px 0;}

/*设置*/
.shezhi{background-color:#fff;}
.shezhi .d1{margin:9px 0 0 10px;font-size:14px;-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;border-bottom:#f5f5f5 solid 1px;height:29px;}
.shezhi .d2{margin:12px 0 0 0;width:15px;text-align:left;border-bottom:#f5f5f5 solid 1px;height:26px;}
.shezhi1{margin-top:10px;}

/*支付宝打开提示*/
.wxalipay .d1{-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;margin:0;}
.wxalipay .d1 img{width:100%;}

/*会员等级*/
.userdj{}
.userdj .dmain{margin:0;}
.djcap{float:left;margin:0 0 0 0;width:100%;border-top:#ddd solid 1px;border-bottom:#ddd solid 1px;height:30px;background-color:#f2f2f2;}
.userdj .dmain .djcap li{float:left;padding-top:8px;text-align:left;}
.userdj .dmain .djcap .l1{width:100px;padding-left:10px;}
.userdj .dmain .djcap .l2{width:calc(100% - 110px);text-align:left;}
.userdj .dmain .djlist{float:left;width:100%;border-bottom:#ddd solid 1px;height:60px;font-size:12px;background-color:#fff;}
.userdj .dmain .djlist li{float:left;padding-top:13px;}
.userdj .dmain .djlist .l1{width:100px;text-align:left;padding-left:10px;font-size:12px;}
.userdj .dmain .djlist .l1 strong{color:green;font-size:14px;}
.userdj .dmain .djlist .l2{width:calc(100% - 240px);text-align:left;}
.userdj .dmain .djlist .l2 strong{color:red;}
.userdj .dmain .djlist .l4{width:120px;text-align:center;padding:0 10px 0 0;}
.userdj .dmain .djlist .l4 a{float:right;width:80px;padding:3px 0 0 0;height:19px;text-align:center;color:#fff;border-radius:4px;margin:8px 0 0 25px;font-size:12px;}
.userdj .dmain .djlist .l4 .a1{background-color:#F39;}
.userdj .dmain .djlist .l4 .a0{background-color:#63C;}
.userdj .dmain .djlist .l4 a:hover{text-decoration:none;}
.userdj .dmain .djlist .l4 .s1{float:right;width:130px;padding:5px 0 5px 0;font-size:12px;text-align:right;}

.ksbkM{float:left;width:100%;height:50px;margin-top:10px;}
.ksbk{position:fixed;bottom:10px;width:100%;height:35px;z-index:9;font-size:13px;text-align:center;}
.ksbk .d1{margin:0 10px 0 10px;background-color:#d7565a;height:35px;line-height:35px;border-radius:20px;color:#fff;}

/*实名认证*/
.smrztpup{}
.smrztpup .dmain{margin:20px 30px;border-radius:5px;background-color:#4c9bf8;}
.smrztpup .dmain .d1{float:left;width:calc(100% - 60px);margin:20px 30px;}
.smrztpup .dmain .d2{float:left;width:100%;text-align:center;font-size:15px;color:#fff;padding:0 0 16px 0;}










