.ordermain1{background-color:#fff;margin:10px 0 0 0;height:32px;}
.ordermain1 .d1{border-left:#ff6600 solid 2px;height:14px;margin:10px 0 0 10px;}
.ordermain1 .d2{-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;margin:7px 0 0 5px;font-size:14px;}
.ordermain2{background-color:#fff;color:#666;padding:10px 0 0 0;}
.ordermain2 .d1{margin:0 0 0 17px;width:80px;}
.ordermain2 .d2{-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;margin:0 10px 0 0;}
.ordermain3{background-color:#fff;height:15px;}
.ordermain0{margin-top:0;}
.ordermain4{background-color:#fff;color:#666;padding:10px 0 0 0;}
.ordermain4 .d1{-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;margin:0 10px 0 10px;}

/*纠纷沟通*/
.jflist{}
.jfgtlist{-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;margin:0;border-top:#E1E6EB solid 1px;border-bottom:#E1E6EB solid 1px;background-color:#fff;}
.jfgtlist .cap{float:left;padding-top:6px;height:21px;font-weight:700;width:100%;font-size:14px;background-color:#FFF7EB;border-bottom:#E1E6EB solid 1px;}
.jfgtlist .u1{float:left;padding:10px 0 7px 0;margin:0 10px;width:calc(100% - 20px);border-top:#BCBCBC dotted 1px;}
.jfgtlist .u1 li{float:left;}
.jfgtlist .u1 .l1{width:50px;text-align:left;}
.jfgtlist .u1 .l2{width:calc(100% - 50px);line-height:18px;}
.jfgtlist .u1 .l2 img{max-width:100%;}
.jfgtlist .u0{border-top:0;}
