@charset "utf-8";
body{background-color:#F5F5F5;}
.bghui{position:fixed;background:url(../img/bghui.png) repeat;width:100%;height:100%;}

/*会员中心公用头部1B d3为小图标 d4为文字*/
.bfbtop1{background-color:#fff;height:43px;}
.bfbtop1 .d1{margin:11px 0 0 10px;width:30px;}
.bfbtop1 .d2{margin:10px 0 0 0;-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;font-size:18px;text-align:center;}
.bfbtop1 .d3{margin:0 20px 0 0;width:30px;text-align:right;}
.bfbtop1 .d4{margin:12px 10px 0 0;width:30px;text-align:right;font-size:14px;}
.bfbtop1fdv{display:block;height:43px;}
.bfbtop1fd{height:43px;position:fixed;width:100%;z-index:11;}
.bfbtop2{background-color:#0DB7E8;height:43px;color:#fff;}
.bfbtop2 .d1{margin:11px 0 0 10px;width:30px;}
.bfbtop2 .d2{margin:10px 0 0 0;-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;font-size:18px;text-align:center;}
.bfbtop2 .d3{margin:11px 10px 0 0;width:30px;text-align:right;}
.bfbtop2 .d4{margin:12px 10px 0 0;width:30px;text-align:right;font-size:14px;}
.bfbtop2 .d4 a{color:#fff;}
.listcap{background-color:#fff;height:35px;border-top:#eeeeee solid 1px;margin:10px 0 0 0;}
.listcap .d1{width:30px;margin:0 0 0 10px;}
.listcap .d2{margin:10px 0 0 10px;-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;}
.listcap .d3{margin:10px 10px 0 0;width:60px;text-align:right;}
.botbtnF{float:left;width:100%;height:41px;}
.botbtn{position:fixed;bottom:0;height:40px;width:100%;z-index:9;}
.botbtn .d1{-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;margin:0;color:#fff;font-size:15px;text-align:center;padding:10px 0 0 0;height:30px;background-color:#ff6600;}

/*新编辑B*/
.tishi{border-bottom:#f5f5f5 solid 1px;font-size:14px;}
.tishi .d1{margin:10px;line-height:22px;-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;}
.shdzt{background-color:#fff;}
.shdzt .d1{-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;margin:10px 0 0 10px;font-size:18px;}
.shdzt2{background-color:#fff;}
.shdzt2 .d1{-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;margin:0 0 0 0;}
/*新编辑E*/

/*编辑（即将弃用）*/
.xgtp{background-color:#fff;text-align:left;border-top:#EFEFEF solid 1px;border-bottom:#EFEFEF solid 1px;}
.xgtp .xgtpm{-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;}
.xgtp .xgtpm #xgtp1{float:left;margin:5px 0 0 9px;width:73px;padding:9px 0 0 0;border:#D3D4D3 solid 1px;text-align:center;height:21px;background-color:#fff;z-index:3;position:absolute;}
.xgtp .xgtpm #xgtp2{float:left;width:100%;padding-bottom:5px;}
.xgtp .xgtpm #xgtp2 .d1{float:left;width:75px;margin:5px 0 0 9px;height:55px;}
.xgtp .xgtpm #xgtp2 .d1 .img{float:left;width:75px;height:55px;}
.xgtp .xgtpm #xgtp2 .d1 .a2{float:left;margin-top:-19px;text-align:center;position:relative;background:url(../img/bg1.png) left top repeat-x;width:75px;padding:4px 0 0 0;height:15px;}
.rts{margin-top:45px;}
.rts .d1{margin:5px 0;background-color:#FEFEEF;border-top:#FFE4DD solid 1px;border-bottom:#FFE4DD solid 1px;padding:3px 3px 2px 3px;line-height:20px;text-align:center;color:#FF4400;-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;}
.rts .d1 strong{font-size:16px;}

/*头部切换标签*/
.topmcap{background-color:#fff;}
.topmcap .d1{margin:0;-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;line-height:40px;text-align:center;font-size:13px;border-bottom:#eee solid 1px;}
.topmcap .d11{color:#299af4;border-bottom:#299af4 solid 2px;}

/*列表相关*/
.listcontrol{height:39px;}
.listcontrol .d1{margin:11px 0 0 10px;width:50px;}
.listcontrol .d2{margin:8px 0 0 0;-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;}
.listcontrol .d2 a{float:right;padding:3px 8px 3px 8px;border-radius:5px;margin-right:5px;}
.listcontrol .d2 .a1{color:#333;border:#ddd solid 1px;}
.listcontrol .d2 .a2{color:#FD2D35;border:#FD2D35 solid 1px;}

/*上传图片 图片框常规的话，宽不要低于103*/
.tpupload{background-color:#fff;border-top:#ddd solid 1px;}
.tpupload .d1{-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;margin:0;}
.tpupload .dm103{width:103px;margin:10px 0;}

/*没有数据*/
.wait .d1{-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;margin:100px 0 0 0;text-align:center;}
.wait .d1 .s0{float:left;width:100%;height:90px;text-align:center;}
.wait .d1 .s1{float:left;font-size:20px;width:100%;height:40px;color:#333;}
.wait .d1 .s2{float:left;font-size:14px;width:100%;color:#999;}

/*操作提示*/
.czts{margin:30px 0 0 0;}
.czts .d1{margin:0 50px;-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;text-align:center;}
.czts .d1 a{float:left;width:100%;padding:10px 0 0 0;height:28px;margin:20px 0 0 0;font-size:14px;background-color:#fff;border:#ddd solid 1px;}

/*短信发送*/
.smsmain{text-align:center;}
.smsmain .dmain{margin:0;}
.smsmain .dmain .s1{float:left;width:100%;margin:18px 0 0 0;height:20px;font-size:14px;}
.smsmain .dmain #s2{float:left;width:100%;font-size:40px;margin:10px 0 0 0;height:55px;font-weight:700;color:#FF6838;}
.smsmain .dmain .s3{float:left;width:100%;font-size:14px;margin:10px 0 0 0;height:30px;color:#34A8FF;}

/*稿件*/
.newslist1{background-color:#fff;padding:10px 0 10px 0;border-bottom:#ebebeb solid 1px;margin-top:10px;}
.newslist1 .d1{width:70px;margin:0 0 0 10px;height:70px;overflow:hidden;}
.newslist1 .d1 img{width:70px;border-radius:3px;float:left;}
.newslist1 .d2{margin:0 20px 0 10px;}
.newslist1 .d2 .dtit{float:left;width:100%;font-size:14px;color:#151515;line-height:18px;height:36px;overflow:hidden;}
.newslist1 .d2 span{float:left;margin:10px 8px 0 0;height:20px;line-height:20px;padding:0 5px;border-radius:2px;}
.newslist1 .d2 .s1{border:#ff0000 solid 1px;color:#ff0000;}
.newslist1 .d2 .s2{border:#33b435 solid 1px;color:#33b435;}
.newslist1 .d2 .zt0{border:#33b435 solid 1px;color:#33b435;}
.newslist1 .d2 .zt1{border:#ebebeb solid 1px;color:#999;}
.newslist1 .d2 .zt2{border:#red solid 1px;color:#red;}
.newslist1 .d3{width:18px;margin:0 0 0 8px;text-align:right;}
.newslist2{background-color:#fff;padding:10px 0;}
.newslist2 .d1{margin:0 0 0 0;}
.newslist2 .d1 .a1{float:right;color:#151515;padding:0 10px;height:26px;font-size:13px;margin-right:5px;line-height:26px;border:#9c9c9c solid 1px;border-radius:3px;}

/*快捷菜单*/
.kjmenu{}
.kjmenu .dmain{margin:12px 12px 0 12px;padding:0 0 12px 0;background-color:#fff;border-radius:5px;}
.kjmenu .dmain .u1{float:left;width:calc(100% - 30px);margin:15px 15px 0 15px;}
.kjmenu .dmain .u1 li{float:left;}
.kjmenu .dmain .u1 .l1{width:50%;font-size:14px;font-weight:700;}
.kjmenu .dmain .u1 .l2{width:50%;text-align:right;}
.kjmenu .dmain .u1 .l2 img{height:15px;margin:2px 0 0 0;}
.kjmenu .dmain .u2{float:left;margin:0 12px 0 12px;width:calc(100% - 24px);}
.kjmenu .dmain .u2 li{float:left;}
.kjmenu .dmain .u2 .l1{width:20px;text-align:center;height:35px;padding:5px 0 0 0;border-radius:3px;line-height:15px;margin-top:12px;}
.kjmenu .dmain .u2 .l2{width:calc(100% - 20px);}
.kjmenu .dmain .u2 .l2 a{float:left;margin-left:15px;width:calc(33% - 15px);height:40px;line-height:40px;margin-top:12px;text-align:center;background-color:#f9f9f9;border-radius:5px;color:#4c4951;}
.kjmenu .dmain .u2 .l0{background-color:#f4c69a;color:#f5f5f5;}
.kjmenu .dmain .u2 .la{background-color:#e4f0fd;color:#79aae2;}
.kjmenu .dmain .u2 .lb{background-color:#fcf2e2;color:#d0ba96;}
.kjmenu .dmain .u2 .lc{background-color:#f3e9fd;color:#cab4e2;}
.kjmenu .dmain .u2 .ld{background-color:#fbe7e7;color:#cfadad;}
