.gtlistv{}
.gtlist{-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;margin:0;border-bottom:#E1E6EB solid 1px;background-color:#fff;}
.gtlist .u1{float:left;padding:10px 0 7px 0;margin:0 10px;width:calc(100% - 20px);border-top:#BCBCBC dotted 1px;}
.gtlist .u1 li{float:left;}
.gtlist .u1 .l1{width:40px;text-align:center;}
.gtlist .u1 .l1 img{border-radius:3px;}
.gtlist .u1 .l2{width:calc(100% - 50px);margin-left:10px;line-height:18px;}
.gtlist .u1 .l2 img{max-width:100%;}
.gtlist .u0{border-top:0;}

