@charset "utf-8";

/*卖家首页*/
.selltop{height:50px;}
.selltop .d1{margin:14px 0 0 12px;}
.selltop .d1 img{height:22px;}
.selltop .d2{margin:14px 12px 0 0;text-align:right;}
.selltop .d2 img{height:22px;float:right;margin-right:12px;}
.selltop .d2 .s1{color:#fff;background-color:#eb6a65;padding:0 4px 0 4px;height:17px;border-radius:5px;float:right;position:relative;margin:-10px 0 0 -15px;}
.selltop1{height:80px;}
.selltop1 .d1{margin:5px 0 0 12px;width:62px;}
.selltop1 .d1 img{border-radius:60px;width:60px;height:60px;border:#fff solid 1px;}
.selltop1 .d2{margin:10px 0 0 12px;}
.selltop1 .d2 span{float:left;clear:both;}
.selltop1 .d2 .s1{font-size:16px;font-weight:700;}
.selltop1 .d2 .s2{color:#898989;margin:10px 0 0 0;}
.selltop2{height:82px;margin:0 0 0 0;}
.selltop2 .d1{margin:0;text-align:center;}
.selltop2 .d1 .s1{color:#919192;float:left;width:100%;}
.selltop2 .d1 .s2{color:#000;font-weight:700;margin:8px 0 0 0;font-size:14px;float:left;width:100%;}
.selltop3{}
.selltop3 .dmain{margin:-27px 12px 0 12px;border-radius:5px;background-color:#fff;height:70px;}
.selltop3 .dmain .d1{float:left;width:20%;margin:12px 0 0 0;text-align:center;}
.selltop3 .dmain .d1 img{height:22px;margin:0 0 7px 0;}
.sellindex1{}
.sellindex1 .dmain{margin:12px 12px 0 12px;color:#fff;background:url(../img/sellbg1.png) repeat;padding:0 0 12px 0;border-radius:5px;}
.sellindex1 .dmain .u1{float:left;width:calc(100% - 30px);margin:15px 15px 0 15px;}
.sellindex1 .dmain .u1 li{float:left;}
.sellindex1 .dmain .u1 .l1{width:50%;font-size:15px;font-weight:700;}
.sellindex1 .dmain .u1 .l2{width:50%;text-align:right;}
.sellindex1 .dmain .u1 .l2 img{height:16px;margin:2px 0 0 0;}
.sellindex1 .dmain .u2{float:left;width:calc(100% - 30px);margin:10px 15px 0 15px;color:#e2e3ea;font-size:13px;}
.sellindex1 .dmain .u2 li{float:left;}
.sellindex1 .dmain .u2 .l1{width:50%;}
.sellindex1 .dmain .u2 .l2{width:50%;text-align:right;}
.sellindex1 .dmain .u3{float:left;width:calc(100% - 26px);margin:8px 15px 0 11px;font-size:23px;}
.sellindex1 .dmain .u3 li{float:left;}
.sellindex1 .dmain .u3 .l1{width:50%;}
.sellindex1 .dmain .u3 .l2{width:50%;text-align:right;color:#eaecf2;}
.sellindex2{}
.sellindex2 .dmain{margin:-4px 12px 0 12px;background-color:#fff;padding:0 0 12px 0;color:#333;border-radius:0 0 5px 5px;}
.sellindex2 .dmain .d0{float:left;width:4px;height:4px;border-radius:4px;margin:16px 0 0 12px;background-color:#d75e3f;}
.sellindex2 .dmain .d1{float:left;width:calc(100% - 36px);margin:10px 12px 0 8px;color:#808080;}
.sellksbkM{float:left;width:100%;height:50px;margin-top:10px;}
.sellindex3{}
.sellindex3 .dmain{margin:12px 12px 0 12px;background-color:#fff;border-radius:5px;}
.sellindex3 .dmain .u1{float:left;width:calc(100% - 30px);margin:15px 15px 0 15px;}
.sellindex3 .dmain .u1 li{float:left;}
.sellindex3 .dmain .u1 .l1{width:50%;font-size:14px;font-weight:700;}
.sellindex3 .dmain .u1 .l2{width:50%;text-align:right;}
.sellindex3 .dmain .u1 .l2 img{height:15px;margin:2px 0 0 0;}
.sellindex3 .dmain .swiper-containerpp {float:left;width:calc(100% - 20px);overflow:hidden;margin:15px 10px;}
.sellindex3 .dmain .swiper-containerpp .dv{float:left;width:100%;}
.sellindex3 .dmain .swiper-containerpp .dv .d1{float:left;width:100%;padding-top:100%;position:relative;overflow:hidden;}
.sellindex3 .dmain .swiper-containerpp .dv .d1 img{position: absolute;top: 0;left:0;width: 100%;height:100%;border-radius:5px;}
.sellindex3 .dmain .swiper-containerpp .dv .d2{float:left;width:100%;margin:10px 0 0 0;height:16px;overflow:hidden;}
.sellindex3 .dmain .swiper-containerpp .dv .d3{float:left;width:100%;margin:5px 0 0 0;height:16px;overflow:hidden;color:#d75e3f;font-size:13px;}
.sellindex3 .dmain .txtadd{float:left;width:120px;color:#666;margin-left:calc(50% - 61px);margin-bottom:12px;height:27px;line-height:27px;text-align:center;border:#ebebeb solid 1px;border-radius:20px;}

.sellksbk{position:fixed;bottom:10px;width:100%;height:35px;z-index:9;font-size:13px;text-align:center;}
.sellksbk .d1{margin:0 0 0 10px;background-color:#d7565a;height:35px;line-height:35px;border-radius:20px 0 0 20px;color:#fff;}
.sellksbk .d2{margin:0 10px 0 0;background-color:#779fea;height:35px;line-height:35px;width:140px;border-radius:0 20px 20px 0;color:#fff;}

/*卖家订单*/
.sellordertopfdv{display:block;height:75px;}
.sellordertopfd{height:43px;position:fixed;width:100%;z-index:11;}
.sellordertop1{background-color:#fff;height:32px;border-bottom:#f1f1f1 solid 1px;}
.sellordertop1 .d1{margin:8px 0 0 10px;height:24px;-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;text-align:center;}
.sellordertop1 .d11{height:22px;border-bottom:#0DACDA solid 2px;color:#0DACDA;}
.sellorderlist{background-color:#fff;height:30px;}
.sellorderlist .d1{margin:5px 0 0 10px;width:20px;}
.sellorderlist .d2{-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;margin:7px 0 0 0;color:#929292;}
.sellorderlist .d3{width:60px;margin:7px 10px 0 0;text-align:right;}
.sellorderlist1{background-color:#F8F8F8;padding:5px 0;}
.sellorderlist1 .d1{margin:0 0 0 10px;width:70px;}
.sellorderlist1 .d2{margin:0 10px 0 10px;-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;line-height:18px;color:#000;}
.sellorderlist1 .d3{margin:0 10px 0 0;width:60px;line-height:18px;text-align:right;}
.sellorderlist2{background-color:#fff;padding:7px 0;}
.sellorderlist2 .d1{margin:0 0 0 10px;-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;line-height:18px;color:#000;}
.sellorderlist2 .d2{margin:0 10px 0 0;width:150px;text-align:right;line-height:18px;}
.sellorderlist4{background-color:#fff;padding:6px 0;border-top:#f5f5f5 solid 1px;margin:0 0 10px 0;}
.sellorderlist4 .d1{margin:0 10px 0 0;-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;text-align:right;}
.sellorderlist4 .d1 a{float:right;border:#dedede solid 1px;border-radius:10px;padding:2px 8px 0 8px;height:17px;margin-left:8px;}
.sellorderlist4 .d1 .a1{color:#ff6600;border:#ff6600 solid 1px;}
.sellordertk{background-color:#fff;}
.sellordertk .d1{-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;margin:0 10px 10px 10px;}
.sellordertk .d1 textarea{float:left;width:98%;border:#ddd solid 1px;height:100px;}

/*服务订单*/
.ddztcap{height:32px;width:100%;z-index:10;border-bottom:#ddd solid 1px;background-color:#fff;}
.ddztcap .dmain{margin:5px 0 0 10px;}
.ddztcap .dmain .swiper-slide{height:30px;width:auto;margin:0 5px;}
.ddztcap .dmain .swiper-slide a{float:left;text-align:center;padding:4px 0 0 0;}
.ddztcap .dmain .swiper-slide .a1{color:#ff6600;}
.sellserverorderlist{background-color:#fff;height:30px;}
.sellserverorderlist .d1{margin:7px 0 0 10px;width:20px;}
.sellserverorderlist .d2{-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;margin:7px 0 0 0;}
.sellserverorderlist .d3{width:80px;margin:7px 10px 0 0;text-align:right;}
.sellserverorderlist1{background-color:#F8F8F8;padding:5px 0;}
.sellserverorderlist1 .d1{margin:0 0 0 10px;width:110px;}
.sellserverorderlist1 .d2{margin:0 10px 0 10px;-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;line-height:18px;color:#000;}
.sellserverorderlist1 .d3{margin:0 10px 0 0;width:80px;line-height:18px;text-align:right;}
.sellserverorderlist2{background-color:#fff;padding:7px 0;}
.sellserverorderlist2 .d1{margin:0 0 0 10px;-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;line-height:18px;color:#000;}
.sellserverorderlist2 .d2{margin:0 10px 0 0;width:150px;text-align:right;line-height:18px;}
.sellserverorderlist4{background-color:#fff;padding:6px 0;border-top:#f5f5f5 solid 1px;margin:0 0 10px 0;}
.sellserverorderlist4 .d1{margin:0 10px 0 0;-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;text-align:right;}
.sellserverorderlist4 .d1 a{float:right;border:#dedede solid 1px;border-radius:10px;padding:2px 8px 0 8px;height:17px;margin-left:8px;}
.sellserverorderlist4 .d1 .a1{color:#ff6600;border:#ff6600 solid 1px;}

/*卖方订单详情*/
.ordervtopfd{height:43px;position:fixed;width:100%;z-index:11;}
.ordervtopfdv{display:block;height:43px;}
.ordervtop{background-color:#0DB7E8;height:43px;color:#fff;}
.ordervtop .d1{margin:11px 0 0 10px;width:30px;}
.ordervtop .d2{margin:10px 0 0 0;-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;font-size:18px;text-align:left;}
.ordervtop .d3{margin:10px 10px 0 0;width:60px;text-align:right;}
.ordervtop1{background-color:#0DB7E8;color:#fff;height:80px;}
.ordervtop1 .d1{margin:11px 0 0 40px;-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;text-align:left;line-height:23px;}
.ordervtop1 .d1 strong{font-size:15px;font-weight:100;}
.ordervtop1 .d2{margin:12px 10px 0 0;width:70px;}
.ordervtop1 .d2 img{width:70px;}
.wuliu1{border-bottom:#DDDDDD solid 1px;padding:0 0 7px 0;background-color:#fff;}
.wuliu1 .d1{margin:28px 0 28px 10px;text-align:left;width:40px;}
.wuliu1 .d1 img{width:30px;}
.wuliu1 .d2{margin:10px 0 0 0;-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;text-align:left;line-height:22px;font-size:13px;overflow:hidden;height:67px;}
.wuliu1 .d2 .kdall{float:left;width:100%;padding-bottom:10px;}
.wuliu1 .d21{overflow:auto;height:auto;}
.wuliu1 .d21 .kdall{background:url(../img/wuliu.png) no-repeat;background-position:0 6px;padding-left:20px;width:calc(100% - 20px);}
.wuliu1 .d3{margin:39px 10px 0 0;width:40px;text-align:right;}
.wuliu1 .d3 img{height:8px;}
.wuliu2{background-color:#fff;margin:0 0 10px 0;}
.wuliu2 .d1{margin:18px 0 18px 10px;text-align:left;width:40px;}
.wuliu2 .d1 img{width:30px;}
.wuliu2 .d2{margin:10px 10px 0 0;-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;text-align:left;line-height:22px;font-size:13px;}
.orderpro1{background-color:#fff;padding:10px 0 10px 0;}
.orderpro1 .d1{margin:0 0 0 10px;width:70px;}
.orderpro1 .d2{margin:0 10px 0 10px;-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;line-height:18px;color:#000;}
.orderpro1 .d3{margin:0 10px 0 0;width:60px;line-height:18px;text-align:right;}
.ordermain1{background-color:#fff;margin:10px 0 0 0;height:32px;}
.ordermain1 .d1{border-left:#0DB7E8 solid 2px;height:14px;margin:10px 0 0 10px;}
.ordermain1 .d2{-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;margin:7px 0 0 5px;font-size:14px;}
.ordermain2{background-color:#fff;color:#666;padding:10px 0 0 0;}
.ordermain2 .d1{margin:0 0 0 17px;width:80px;}
.ordermain2 .d2{-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;margin:0 10px 0 0;}
.ordermain3{background-color:#fff;height:15px;}
.ordermain4{background-color:#fff;padding:6px 0;border-top:#f5f5f5 solid 1px;margin:0 0 10px 0;}
.ordermain4 .d1{margin:0 10px 0 0;-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;text-align:right;}
.ordermain4 .d1 a{float:right;border:#dedede solid 1px;border-radius:12px;padding:5px 12px 0 12px;height:20px;margin-left:8px;}
.ordermain4 .d1 .a1{color:#ff6600;border:#ff6600 solid 1px;}
.orderbuy{background-color:#fff;margin:10px 0 0 0;height:32px;}
.orderbuy .d1{border-left:#0DB7E8 solid 2px;height:14px;margin:10px 0 0 10px;}
.orderbuy .d2{-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;margin:7px 0 0 5px;font-size:14px;}
.orderbuy1{background-color:#fff;color:#666;padding:10px 0 0 0;}
.orderbuy1 .d1{margin:0 0 0 17px;width:80px;}
.orderbuy1 .d2{-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;margin:0 10px 0 0;}
.orderbuy2{background-color:#fff;height:15px;}

/*认证*/
.rzcap{background-color:#fff;height:55px;border-top:#ddd solid 1px;}
.rzcap .d1{width:40px;margin:6px 0 0 10px;}
.rzcap .d2{margin:10px 0 0 10px;-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;line-height:18px;}
.rzcap .d2 strong{font-size:14px;}
.rzcap .d3{margin:17px 0 0 0;width:60px;text-align:right;font-size:14px;}
.rzcap .d4{margin:19px 10px 0 0;width:18px;text-align:right;font-size:14px;}

/*开店*/
.kdcap{border-top:#f1f1f1 solid 1px;padding:10px 0 10px 0;}
.kdcap .d1{margin:0 5px;-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;background-color:#E7E6E9;padding:5px 0 0 5px;height:20px;}
.kdcap .d11{background-color:#ff6600;color:#fff;}
.kdcap .d2{width:20px;margin:5px 0 0 0;text-align:center;}
.kdcap .d2 img{height:14px;}

/*纠纷沟通*/
.jflist{}
.jfgtlist{-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;margin:0 0;border-top:#E1E6EB solid 1px;border-bottom:#E1E6EB solid 1px;background-color:#fff;}
.jfgtlist .cap{float:left;padding-top:6px;height:21px;font-weight:700;width:100%;font-size:14px;background-color:#FFF7EB;border-bottom:#E1E6EB solid 1px;}
.jfgtlist .u1{float:left;padding:10px 0 7px 0;margin:0 10px;width:calc(100% - 20px);border-top:#BCBCBC dotted 1px;}
.jfgtlist .u1 li{float:left;}
.jfgtlist .u1 .l1{width:50px;text-align:left;}
.jfgtlist .u1 .l2{width:calc(100% - 50px);line-height:18px;}
.jfgtlist .u1 .l2 img{max-width:100%;}
.jfgtlist .u0{border-top:0;}

/*卖家商品*/
.prots{background-color:#FFFAC3;padding:5px 0;}
.prots .d1{margin:0 10px;-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;text-align:center;}
.productlist0{background-color:#E9E8E8;padding:5px 0;border-top:#ddd solid 1px;}
.productlist0 .d0{margin:1px 0 0 10px;width:20px;}
.productlist0 .d0 input{border:#ddd solid 1px;}
.productlist0 .d1{margin:0;width:140px;}
.productlist0 .d2{margin:0 10px 0 0;-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;text-align:right;}
.productlist1{background-color:#fff;padding:5px 0;}
.productlist1 .d1{margin:0 0 0 10px;width:70px;}
.productlist1 .d2{margin:0 10px 0 10px;-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;line-height:16px;color:#000;}
.productlist1 .d2 .s0{float:left;width:100%;height:32px;overflow:hidden;}
.productlist1 .d2 .s1{color:#61B9FF;border:#61B9FF solid 1px;float:left;padding:0 3px 0 3px;height:16px;line-height:none;margin:3px 5px 0 0;}
.productlist1 .d2 .s2{color:#FF7D5A;border:#FF7D5A solid 1px;float:left;padding:0 3px 0 3px;height:16px;line-height:none;margin:3px 5px 0 0;}
.productlist1 .d2 .s3{float:left;margin:3px 0 0 0;width:100%;}
.productlist1 .d3{margin:0 10px 0 0;width:60px;line-height:16px;text-align:right;color:#ff6600;}
.productlist2{background-color:#fff;padding:6px 0;border-top:#f5f5f5 solid 1px;margin:0 0 10px 0;border-bottom:#ddd solid 1px;}
.productlist2 .d1{margin:0 10px 0 0;-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;text-align:right;}
.productlist2 .d1 a{float:right;border:#dedede solid 1px;border-radius:10px;padding:2px 8px 0 8px;height:17px;margin-left:8px;}
.tclist{border-top:#eee solid 1px;background-color:#fff;}
.tclist .d0{margin:9px 0 0 10px;font-size:18px;border:#eee solid 1px;width:20px;line-height:18px;height:20px;text-align:center;font-weight:700;}
.tclist .d1{margin:10px 0 10px 10px;}
.tclist .d1 .at{float:left;width:50%;font-weight:700;font-size:14px;}
.tclist .d1 .s1{float:left;width:25%;color:#ff6600;}
.tclist .d1 .s2{float:left;width:25%;}
.tclist .d1 .s2 .a1{color:#ff0000;}
.tclist .d2{width:18px;margin:10px 0 0 8px;text-align:right;}
.tclist2 .d1{margin-left:40px;}
.tclist2 .d1 .at{font-size:12px;}
.kamikclist{border-top:#eee solid 1px;background-color:#fff;}
.kamikclist .d1{margin:10px;line-height:20px;}
.kamikclist .d2{margin:10px 0 0 0;width:120px;line-height:20px;}
.kamikclist .d3{width:18px;margin:11px 0 0 8px;text-align:right;}

/*商品发布*/
#djv{padding:0 0 10px 0;background-color:#fff;}
.djuk{border-top:#ededed solid 1px;}
.djuk .d1{margin:10px 0 0 10px;width:130px;}
.djuk .d2{margin:10px 0 0 10px;}
.djuk1{background-color:#fff;}
.djuk1 .d1{margin:10px 0 0 10px;width:130px;}
.djuk1 .d1 input{float:left;width:128px;border:#ddd solid 1px;background-color:#f9f9f9;height:25px;}
.djuk1 .d2{margin:10px 0 0 10px;-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;}
.djuk1 .d2 input{float:left;width:calc(100% - 12px);border:#ddd solid 1px;background-color:#f9f9f9;height:25px;}

/*商品评价*/
.propjcap{background-color:#fff;height:32px;border-top:#f1f1f1 solid 1px;}
.propjcap .d1{margin:8px 0 0 10px;height:24px;-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;text-align:center;}
.propjcap .d11{height:22px;border-bottom:#0DACDA solid 2px;color:#0DACDA;}
.propjlist{}
.propjlist .dmain{margin:0 10px 0 10px;}
.propjlist .dmain .u1{float:left;width:calc(100% - 1px);text-align:left;border-bottom:#E3E3E4 solid 1px;border-right:#E3E3E4 solid 1px;margin-top:10px;background-color:#fff;}
.propjlist .dmain .u1 li{float:left;padding-top:10px;height:27px;border-top:#E3E3E4 solid 1px;border-left:#E3E3E4 solid 1px;}
.propjlist .dmain .u1 .l1{width:60px;text-align:center;background-color:#F3F6FB;}
.propjlist .dmain .u1 .l2{width:calc(100% - 67px);padding-left:5px;}
.propjlist .dmain .u1 .l2 a:hover{color:#ff6600;}
.propjlist .dmain .u1 .l3{width:calc(50% - 67px);padding-left:5px;}
.propjlist .dmain .u1 .l31{width:calc(33% - 66px);padding-left:5px;}
.propjlist .dmain .u2{float:left;width:calc(100% - 2px);text-align:left;border-bottom:#E3E3E4 solid 1px;border-right:#E3E3E4 solid 1px;border-left:#E3E3E4 solid 1px;background-color:#fff;}
.propjlist .dmain .u2 li{float:left;padding:7px 0;line-height:20px;}
.propjlist .dmain .u2 .l1{width:60px;text-align:center;}
.propjlist .dmain .u2 .l2{width:calc(100% - 71px);padding-left:5px;padding-right:5px;border-left:#E3E3E4 solid 1px;}

/*商家待办*/
.daiban{}
.daiban .dmain{margin:0 15px 0 0;}
.daiban .dmain .d1{float:left;width:calc(33% - 17px);margin:15px 0 0 15px;border:#ebebeb solid 1px;}
.daiban .dmain .d1 a{float:left;width:100%;height:50px;text-align:center;font-size:22px;line-height:50px;background-color:#fff;color:#ff0000;font-weight:700;}
.daiban .dmain .d1 span{float:left;width:100%;height:25px;text-align:center;line-height:25px;background-color:#f3e9fd;color:#666;}

/*商品视频*/
.provideolist1{background-color:#fff;padding:10px 0 10px 0;border-bottom:#ebebeb solid 1px;margin-top:10px;}
.provideolist1 .d1{width:70px;margin:0 0 0 10px;}
.provideolist1 .d1 img{width:70px;border-radius:3px;float:left;height:70px;}
.provideolist1 .d1 span{float:right;margin-top:-70px;color:#fff;background-color:#c91b1a;width:30px;border-radius:0 3px 0 3px;text-align:center;height:18px;line-height:18px;}
.provideolist1 .d2{margin:0 10px 0 10px;}
.provideolist1 .d2 .dtit{float:left;width:100%;font-size:14px;color:#151515;line-height:18px;height:36px;overflow:hidden;}
.provideolist1 .d2 span{float:left;margin:10px 8px 0 0;height:20px;line-height:20px;padding:0 5px;border-radius:2px;}
.provideolist1 .d2 .zt0{border:#33b435 solid 1px;color:#33b435;}
.provideolist1 .d2 .zt1{border:#ebebeb solid 1px;color:#999;}
.provideolist1 .d2 .zt2{border:#red solid 1px;color:#red;}
.provideolist1 .d2 .s1{border:#ff0000 solid 1px;color:#ff0000;}
.provideolist1 .d2 .s2{border:#33b435 solid 1px;color:#33b435;}
.provideolist1 .d3{width:18px;margin:0 0 0 8px;text-align:right;}
.provideolist2{background-color:#fff;border-bottom:#ebebeb solid 1px;}
.provideolist2 .d1{margin:0 0 0 10px;width:130px;background:url(../../img/his.gif) left center no-repeat;color:#999;background-size:14px 14px;height:30px;line-height:30px;padding-left:20px;}
.provideolist2 .d2{margin:0 10px 0 0;text-align:right;height:30px;line-height:30px;}
.provideolist2 .d2 strong{font-size:14px;color:#c91b1a;}
.provideolist3{background-color:#fff;padding:10px 0;}
.provideolist3 .d1{margin:0 0 0 0;}
.provideolist3 .d1 .a1{float:right;color:#151515;padding:0 10px;height:26px;font-size:13px;margin-right:5px;line-height:26px;border:#9c9c9c solid 1px;border-radius:3px;}
