@charset "utf-8";
body{background-color:#f2f2f2;}

/*列表*/
.listleft{float:left;width:1010px;text-align:left;}
.slist{float:left;width:100%;}
.slist ul{float:left;width:100%;background:#fff;margin-bottom:10px;}
.slist ul:hover{transition:all .2s ease-in-out;box-shadow:0 0 16px 0 hsla(0,0%,77%,.5);}
.slist li{float:left;width:100%;}
.slist .imgOut_1{float:left;width:19%;height:172px;padding:15px 10px;text-align:center;}
.slist .imgOut_1 img{width:170px;height:170px;border:1px solid #ececec;}
.slist .fl{float:left;width:76%;color:#666;margin-right:2%;position:relative;}
.slist .tit{border-bottom:1px solid #eee;height:40px;line-height:35px;padding-top:10px;margin-bottom:10px;}
.slist .tit h3{float:left;width: 80%;color:#0a3070;font-weight:400;font-size:16px;overflow: hidden;text-overflow: ellipsis; white-space: nowrap;}
.slist .tit span{float:right;color:#ccc;}
.slist .info span{float:left;border-right:1px solid #ececec;padding-right:9px;margin-right:10px;}
.slist .info .pingfen_btn{float:left;}
.slist .info i{float:left;margin:2px 3px 0 0;}
.slist .info .xy{padding:0 3px;vertical-align:2.5px;}
.slist .info .list_seller{padding:1px;background:#fafafa;border:1px solid #e3e3e3;display:inline-block;height:18px;}
.slist .note_icon{position:absolute;top:65px;right:-5px;}
.slist .listBtn2{float:left;zoom:1;-webkit-transition:all .3s;-moz-transition:all .3s;-ms-transition:all .3s;-o-transition:all .3s;background:#FFEEBA;border:1px solid #EFD88F;color:#97813E;width:97px;height:32px;text-align:center;display:inline-block;line-height:32px;border-radius:4px;}
.slist .listBtn2:hover{background:#FFF9E6;}
.slist .listBtn{float:left;zoom:1;-webkit-transition:all .3s;-moz-transition:all .3s;-ms-transition:all .3s;-o-transition:all .3s;border:1px solid #dfdfdf;background:#fcfcfc;width:90px;height:32px;text-align:center;display:inline-block;line-height:32px;margin-left:8px;border:1px solid #d6d6d6;border-radius:4px;}
.slist .listBtn:hover{background:#f3f3f3;}
.slist .pre{font-size:14px;margin-top:5px;border-bottom:1px solid #f5f5f5;margin-bottom:10px;padding-bottom:10px;width:100%;}
.slist .pre strong{color:#f1453a;font-size:24px;margin-right:15px;}



/*右*/
.listright{float:right;width:220px;text-align:left;padding:0 0 16px 0;}
.listright .u1{float:left;margin:15px 0 0 0;padding:0 10px;width:200px;border-bottom:#EBEBEB solid 1px;height:55px;background-color:#fff;}
.listright .u1 li{float:left;}
.listright .u1 .l1{width:100px;font-size:16px;padding:16px 0 0 0;}
.listright .u1 .l2{width:78px;text-align:right;font-size:12px;padding:19px 0 0 0;}
.listright .u2{float:left;width:200px;border-bottom:#f2f2f2 solid 1px;padding:10px 10px;background-color:#fff;}
.listright .u2 li{float:left;}
.listright .u2 .l1{width:100%;}
.listright .u2 .l1 img{width:100%;}
.listright .u2 .l2{width:100%;font-size:13px;line-height:20px;padding:6px 0 0 0;}
.listright .u2 .l2 a{float:left;width:100%;max-height:40px;overflow:hidden;}
.listright .u2 .l2 a:hover{color:#ff6600;}


/*详情*/
.sermain{float:right;background-color:#fff;text-align:left;margin:0 0 25px 0;padding:20px 21px;}
.sermain .dleft{float:right;width:254px;}
.sermain .dleft .tp{float:right;width:254px;}
.sermain .dleft .tp img{width:100%;border-radius:5px 5px 0 0;}
.sermain .dleft .u1{float:right;width:252px;margin:10px 0 0 0;background-color:#fff;border:#e5e5e5 solid 1px;border-bottom:0;}
.sermain .dleft .u1 li{float:right;}
.sermain .dleft .u1 .l1{width:30px;border-top:#AAAAAA solid 1px;margin:22px 0 0 45px;}
.sermain .dleft .u1 .l2{width:102px;text-align:center;font-size:16px;font-weight:700;margin:10px 0 0 0;}
.sermain .dleft .u1 .l3{width:30px;border-top:#AAAAAA solid 1px;margin:22px 45px 0 0;}
.sermain .dleft .u1 .l4{width:100%;padding:7px 0 10px 0;text-align:center;color:#AAAAAA;}
.sermain .dleft .gdmain{float:right;width:252px;overflow:hidden;height:140px;background-color:#fff;border:#e5e5e5 solid 1px;border-top:0;border-radius:0 0 5px 5px;}
.sermain .dleft .gdmain .gd{float:right;width:252px;height:70px;}
.sermain .dleft .gdmain .gd .u2{float:right;width:232px;height:60px;margin:0 10px 0 10px;border-radius:4px;background-color:#F3F3F3;}
.sermain .dleft .gdmain .gd .u2 li{float:right;}
.sermain .dleft .gdmain .gd .u2 .l1{width:60px;padding:10px 0 0 0;color:#A0A0A0;background:url(../img/jianright.gif) no-repeat;background-position:0 15px;margin-left:5px;}
.sermain .dleft .gdmain .gd .u2 .l2{width:162px;text-align:right;padding:10px 5px 0 0;color:#A0A0A0;}
.sermain .dleft .gdmain .gd .u2 .l3{width:222px;padding:6px 5px 0 5px;}
.sermain .dleft .gdmain .gd .u2 .l3 span{float:left;width:222px;height:16px;overflow:hidden;color:#6a6a6a;}
.sermain .dleft .gdmain .gd .u2 .l3 a:hover{color:#ff6600;}

.sermain .dcenter{float:right;width:700px;}
.sermain .dcenter h1{float:left;margin:0 0px 0 0px;width:672px;font-size:20px;font-weight:100;}
.sermain .dcenter .jgm{float:left;width:672px;margin:20px 0 0 0px;background-color:#F9F9F9;height:94px;}
.sermain .dcenter .jgm .jgu1{float:left;width:350px;margin:17px 0 0 20px;}
.sermain .dcenter .jgm .jgu1 li{float:left;}
.sermain .dcenter .jgm .jgu1 .l1{width:350px;height:23px;color:#8F8F8F;font-size:14px;}
.sermain .dcenter .jgm .jgu1 .l2{color:#FF6600;font-size:20px;font-weight:700;width:350px;}
.sermain .dcenter .jgm .jgu1 .l2 #nowmoney{font-size:28px;}
.sermain .dcenter .jgm .jgu2{float:left;width:246px;margin:20px 0 0 0px;height:52px;border-left:#ddd solid 1px;padding:2px 0 0 15px;font-size:14px;}
.sermain .dcenter .jgm .jgu2 li{float:left;}
.sermain .dcenter .jgm .jgu2 .l0{width:70px;height:30px;color:#000;}
.sermain .dcenter .jgm .jgu2 .l1{width:100px;padding-right:16px;padding-top:1px;height:29px;}
.sermain .dcenter .jgm .jgu2 .l1 .img1{float:left;}
.sermain .dcenter .jgm .jgu2 .l1 .pf{float:left;margin-top:-15px;height:15px;overflow:hidden;}
.sermain .dcenter .jgm .jgu2 .l2{width:196px;height:30px;color:#8F8F8F;}
.sermain .dcenter .u3{float:left;padding:10px 0 0 0;margin:20px 0 0 0px;width:672px;background:url(../img/dian.gif) left bottom repeat-x;}
.sermain .dcenter .u3 li{float:left;}
.sermain .dcenter .u3 .l1{width:47px;padding:5px 0 0 10px;}
.sermain .dcenter .u3 .l2{width:543px;}
.sermain .dcenter .u3 .l2 a{float:left;width:65px;height:20px;padding:5px 0 0 29px;margin:0 10px 0 0;text-align:left;background:url(../img/gou.gif) no-repeat;background-position:8px 6px;}
.sermain .dcenter .u3 .l2 .a1{border:#e5e5e5 solid 1px;padding:4px 0 0 29px;height:19px;border-bottom:#fff solid 1px;background-position:8px 5px;}
.sermain .dcenter .u3 .l2 a:hover{text-decoration:none;}
.sermain .dcenter .utc{float:left;width:630px;padding:10px 0 0 0;border:#fff solid 1px;margin:10px 10px 0 26px;clear:both;}
.sermain .dcenter .utc li{float:left;}
.sermain .dcenter .utc .l1{width:40px;padding:10px 0 0 10px;}
.sermain .dcenter .utc .l2{width:538px;}
.sermain .dcenter .utc .l2 a{text-align:center;float:left;min-width:10px;height:25px;border:1px solid #dedede;padding:8px 10px 0 13px;color:#333;margin: 0 10px 5px 0;}
.sermain .dcenter .utc .l2 a:hover{color:#E8393C;text-decoration:none;}
.sermain .dcenter .utc .l2 .a1{height:24px;min-width:10px;border:2px solid #ff6600;color:#E8393C;text-decoration:none;padding:7px 9px 0 12px;}
.sermain .dcenter .utc1{border:#ff6600 solid 1px;padding-left:10px;}
.sermain .dcenter .u6{float:left;width:45px;height:35px;margin:15px 0 0 0px;border:#DEE3E9 solid 1px;}
.sermain .dcenter .u6 li{float:left;}
.sermain .dcenter .u6 .l1{width:29px;}
.sermain .dcenter .u6 .l1 input{float:left;width:29px;height:28px;padding:7px 0 0 0;border:0;text-align:center;font-weight:700;font-size:16px;}
@media screen and (-webkit-min-device-pixel-ratio:0) {
.sermain .dcenter .u6 .l1 input{height:35px;padding:0 0 0 0;}
}
.sermain .dcenter .u6 .l2{width:15px;height:35px;border-left:#dee3e9 solid 1px;font-family:Arial, Helvetica, sans-serif;}
.sermain .dcenter .u6 .l2 a{float:left;width:15px;height:17px;text-align:center;}
.sermain .dcenter .u6 .l2 .a1{background-color:#F3F4F9;border-bottom:#dee3e9 solid 1px;}
.sermain .dcenter .u6 .l2 .a2{background-color:#F3F4F8;}
.sermain .dcenter .u6 .l2 a:hover{text-decoration:none;}
.sermain .dcenter .buydiv{float:left;/*width:300px;*/margin:15px 0 0 15px;}
.sermain .dcenter .buydiv .buy{float:left;border-radius:3px;color:#fff;background-color:#ff6600;text-align:center;width:150px;font-size:16px;padding:7px 0 0 0;height:30px;}
.sermain .dcenter .tsmain{float:left;border:#e5e5e5 solid 1px;border-top:0;/*margin-left:26px;*/padding:10px 0 0 10px;height:22px;width:662px;}
.sermain .dcenter .fx{float:right;/*width:330px;*/margin:10px 0 0 20px;}
.sermain .dcenter .fx li{float:left;}
.sermain .dcenter .fx .l1{width:40px;padding:19px 0 0 10px;}
.sermain .dcenter .fx .l2{/*width:490px;*/padding:13px 0 0 0;}
.sermain .dcenter .fx .l3{/*width:150px;*/cursor:pointer;padding:20px 35px 0 0;}
.sermain .dcenter .fx .l3 .s1{float:right;padding:2px 0 0 0;/*width:150px;*/text-align:right;color:#ff0000;}
.sermain .dcenter .fx .l3 .s2{float:right;width:147px;position:absolute;margin:25px 0 0 -25px;z-index:8;}
.sermain .dcenter .fx .l3 .s2 img{border:#ddd solid 1px;}

.sermain .dright{float:right;width:212px;}
.sermain .dright .u1{float:left;width:210px;height:384px;border:#F3F4F5 solid 1px;}
.sermain .dright .u1 li{float:left;}
.sermain .dright .u1 .l1{width:210px;padding:20px 0 0 0;height:35px;text-align:center;font-size:14px;background:url(../img/bg1.gif) center top no-repeat;}
.sermain .dright .u1 .l2{width:210px;text-align:center;height:155px;}
.sermain .dright .u1 .l2 img{width:140px;height:140px;border-radius:70px;}
.sermain .dright .u1 .l3{width:210px;font-size:14px;text-align:center;height:27px;}
.sermain .dright .u1 .l4{width:210px;font-size:14px;text-align:center;height:40px;}
.sermain .dright .u1 .l4 a{float:left;width:120px;padding:5px 0 0 0;margin-left:45px;height:25px;border-radius:20px;}
.sermain .dright .u1 .l31{width:60px;height:28px;padding-left:20px;}
.sermain .dright .u1 .l41{width:130px;height:27px;padding:1px 0 0 0;}
.sermain .dright .u1 .l51{width:60px;height:27px;padding-left:20px;}
.sermain .dright .u1 .l61{width:130px;height:26px;padding:1px 0 0 0;}
.sermain .dright .u1 .l61 img{margin-right:5px;}
.sermain .dright .u1 .l71{width:60px;height:24px;padding-left:20px;}
.sermain .dright .u1 .l81{width:130px;height:24px;}

.sermain1{float:left;width:1250px;margin:20px 0 0 0;text-align:left;}
.sermain1 .serleft{float:right;width:998px;/*background-color:#fff;*/}
.sermain1 .serleft .dcap{float:left;width:998px;background-color:#F8F7FB;height:56px;}
.sermain1 .serleft .dcap a{float:left;width:125px;border-right:#E5E5E5 solid 1px;height:40px;font-size:16px;text-align:center;padding:16px 0 0 0;}
.sermain1 .serleft .dcap .a1{border-width:2px 0 0 0;border-style:solid;border-left:0;border-bottom:0;background-color:#fff;padding-top:14px;}
#dmain2,#dmain3 {float: left;background-color: #fff;font-size: 14px;}
.sermain1 .serleft .ymtxt{float:left;line-height:30px;background-color:#fff;font-size:14px;padding:20px;width:958px;}
.sermain1 .serleft .ymtxt img{max-width:958px;}
.sermain1 .serleft .ymtxt .probqm{float:left;width:956px;margin:0 0 15px 0;}
.sermain1 .serleft .ymtxt .probq{float:left;border-left:#F5F4F4 solid 1px;border-top:#F5F4F4 solid 1px;font-size:14px;margin:10px 0 0 0;}
.sermain1 .serleft .ymtxt .probq li{float:left;border-bottom:#F5F4F4 solid 1px;padding:19px 0 0 10px;height:43px;border-right:#F5F4F4 solid 1px;}
.sermain1 .serleft .ymtxt .probq .l1{width:102px;background-color:#FAFAFA;color:#8F8F8F;}
.sermain1 .serleft .ymtxt .probq .l2{width:194px;}
.sermain1 .serleft .cju1{float:left;width:958px;height:35px;font-size:14px;font-weight:700;text-align:center;margin:20px 20px 0 20px;}
.sermain1 .serleft .cju1 li{float:left;}
.sermain1 .serleft .cju1 .l1{width:458px;}
.sermain1 .serleft .cju1 .l2{width:100px;}
.sermain1 .serleft .cju1 .l3{width:100px;}
.sermain1 .serleft .cju1 .l4{width:100px;}
.sermain1 .serleft .cju1 .l5{width:200px;}
.sermain1 .serleft .cju2{float:left;width:958px;font-size:14px;padding:15px 0 15px 0;text-align:center;border-top:#f2f2f2 solid 1px;margin:0 20px;}
.sermain1 .serleft .cju2 li{float:left;}
.sermain1 .serleft .cju2 .l1{width:438px;padding-right:20px;text-align:left;}
.sermain1 .serleft .cju2 .l2{width:100px;}
.sermain1 .serleft .cju2 .l3{width:100px;}
.sermain1 .serleft .cju2 .l4{width:100px;}
.sermain1 .serleft .cju2 .l5{width:200px;}

.sermain1 .serleft .pjcap{float:left;width:976px;margin:10px 10px 0 10px;border:#E5E5E5 solid 1px;padding:0 0 10px 0;}
.sermain1 .serleft .pjcap li{float:left;}
.sermain1 .serleft .pjcap .l1{width:966px;height:25px;border-bottom:#E5E5E5 dotted 1px;padding:10px 0 0 10px;font-size:14px;font-weight:700;background-color:#F6F6F6;}
.sermain1 .serleft .pjcap .l2{border-right:#E5E5E5 dotted 1px;width:120px;margin:10px 0 0 0;height:40px;text-align:center;color:#999;line-height:20px;}
.sermain1 .serleft .pjcap .l2 strong{font-size:18px;font-family:Arial, Helvetica, sans-serif;}
.sermain1 .serleft .pjcap .l3{width:478px;}
.sermain1 .serleft .pjcap .l3 a{float:right;margin:18px 0 0 0;color:#fff;border-radius:3px;background-color:#ff6600;width:113px;height:21px;text-align:center;padding:6px 0 0 0;}
.sermain1 .serleft .pjcap .l3 a:hover{color:#ff6600;}
.sermain1 .serleft .pj{float:left;width:978px;margin:20px 10px 0 10px;background-color:#fff;padding:5px 0 5px 0;}
.sermain1 .serleft .pj .u1{float:left;text-align:center;width:100px;}
.sermain1 .serleft .pj .u1 li{float:left;}
.sermain1 .serleft .pj .u1 .l1{width:100px;padding:0 0 5px 0;}
.sermain1 .serleft .pj .u1 .l1 img{border-radius:50px;}
.sermain1 .serleft .pj .u1 .l2{width:100px;color:#999;}
.sermain1 .serleft .pj .u2{float:left;text-align:left;width:748px;}
.sermain1 .serleft .pj .u2 li{float:left;}
.sermain1 .serleft .pj .u2 .l1{border-bottom:#DBDBDB dotted 1px;font-size:16px;padding:0 0 5px 0;line-height:25px;width:748px;}
.sermain1 .serleft .pj .u2 .l1 img{border:#f2f2f2 solid 1px;margin:5px 5px 0 0;}
.sermain1 .serleft .pj .u2 .l2{padding:10px 0 0 0;line-height:20px;width:748px;}
.sermain1 .serleft .pj .u2 .l3{padding:10px 0 0 0;width:748px;color:#999;}
.sermain1 .serleft .pj .d2{float:right;color:#FFD600;font-size:16px;width:130px;text-align:right;}
.sermain1 .serleft .pj .d2 span{float:left;padding:0 20px 0 0;width:100px;}
.sermain1 .serleft .pj .d2 .s1{background:url(../img/pj1.gif) right center no-repeat;}
.sermain1 .serleft .pj .d2 .s2{background:url(../img/pj2.gif) right center no-repeat;}
.sermain1 .serleft .pj .d2 .s3{background:url(../img/pj3.gif) right center no-repeat;}
.sermain1 .serleft .pj .d3{float:right;width:80px;height:28px;padding:8px 0 0 40px;}
.sermain1 .serleft .pj .d3 .img1{float:left;}
.sermain1 .serleft .pj .d3 .pf{float:left;margin-top:-15px;height:15px;overflow:hidden;}
.sermain1 .serleft .pj1{border-left:#FFAC13 solid 2px;}
.sermain1 .serleft .pj2{border-left:#83C44E solid 2px;}
.sermain1 .serleft .pj3{border-left:#2196F3 solid 2px;}

.cjmore{float:left;width:100%;}
.cjmore a{float:left;width:198px;padding:10px 0 0 0;height:29px;font-size:14px;text-align:center;border:#ff6600 solid 1px;color:#ff6600;border-radius:5px;margin:10px 0 20px 399px;}

.sermain1 .serright{float:left;width:235px;text-align:left;background-color:#fff;padding:0 0 16px 0;margin:10px 0 0 0;}
.sermain1 .serright .u1{float:left;margin:0 10px 0 10px;width:215px;border-bottom:#EBEBEB solid 1px;height:55px;}
.sermain1 .serright .u1 li{float:left;}
.sermain1 .serright .u1 .l1{width:100px;font-size:16px;padding:16px 0 0 0;}
.sermain1 .serright .u1 .l2{width:112px;text-align:right;font-size:12px;padding:20px 0 0 0;}
.sermain1 .serright .u2{float:left;margin:0 10px 0 10px;width:215px;border-bottom:#f2f2f2 solid 1px;padding:10px 0;}
.sermain1 .serright .u2 li{float:left;}
.sermain1 .serright .u2 .l1{width:100%;}
.sermain1 .serright .u2 .l1 img{width:100%;}
.sermain1 .serright .u2 .l2{width:100%;font-size:13px;line-height:20px;padding:6px 0 0 0;}
.sermain1 .serright .u2 .l2 a:hover{color:#ff6600;}

.morecj{float:left;width:100%;background-color:#fff;margin:20px 0 0 0;padding:0 0 20px 0;}
.morecju1{float:left;width:1210px;height:35px;font-size:14px;font-weight:700;text-align:center;margin:20px 20px 0 20px;}
.morecju1 li{float:left;}
.morecju1 .l1{width:610px;}
.morecju1 .l2{width:150px;}
.morecju1 .l3{width:150px;}
.morecju1 .l4{width:100px;}
.morecju1 .l5{width:200px;}
.morecju2{float:left;width:1210px;font-size:14px;padding:15px 0 15px 0;text-align:center;border-top:#f2f2f2 solid 1px;margin:0 20px;}
.morecju2 li{float:left;}
.morecju2 .l1{width:590px;padding-right:20px;text-align:left;}
.morecju2 .l2{width:150px;}
.morecju2 .l3{width:150px;}
.morecju2 .l4{width:100px;}
.morecju2 .l5{width:200px;}
.morecj .npa{margin-right:17px;}


.morepj{float:left;width:100%;background-color:#fff;margin:20px 0 0 0;padding:0 0 20px 0;}
.morepj .pj{float:left;width:1230px;margin:20px 10px 0 10px;background-color:#fff;padding:5px 0 5px 0;}
.morepj .pj .u1{float:left;text-align:center;width:100px;}
.morepj .pj .u1 li{float:left;}
.morepj .pj .u1 .l1{width:100px;padding:0 0 5px 0;}
.morepj .pj .u1 .l1 img{border-radius:50px;}
.morepj .pj .u1 .l2{width:100px;color:#999;}
.morepj .pj .u2{float:left;text-align:left;width:1000px;}
.morepj .pj .u2 li{float:left;}
.morepj .pj .u2 .l1{border-bottom:#DBDBDB dotted 1px;font-size:16px;padding:0 0 5px 0;line-height:25px;width:1000px;}
.morepj .pj .u2 .l1 img{border:#f2f2f2 solid 1px;margin:5px 5px 0 0;}
.morepj .pj .u2 .l2{padding:10px 0 0 0;line-height:20px;width:1000px;}
.morepj .pj .u2 .l3{padding:10px 0 0 0;width:1000px;color:#999;}
.morepj .pj .d2{float:right;color:#FFD600;font-size:16px;width:130px;text-align:right;}
.morepj .pj .d2 span{float:left;padding:0 20px 0 0;width:100px;}
.morepj .pj .d2 .s1{background:url(../img/pj1.gif) right center no-repeat;}
.morepj .pj .d2 .s2{background:url(../img/pj2.gif) right center no-repeat;}
.morepj .pj .d2 .s3{background:url(../img/pj3.gif) right center no-repeat;}
.morepj .pj .d3{float:right;width:80px;height:28px;padding:8px 0 0 40px;}
.morepj .pj .d3 .img1{float:left;}
.morepj .pj .d3 .pf{float:left;margin-top:-15px;height:15px;overflow:hidden;}
.morepj .pj1{border-left:#FFAC13 solid 2px;}
.morepj .pj2{border-left:#83C44E solid 2px;}
.morepj .pj3{border-left:#2196F3 solid 2px;}
.morepj .npa{margin-right:17px;}




.g_box {
    width: 100%;
    background: #fff;
    -webkit-box-shadow: 0 0 5px rgba(49,42,42,.06);
    box-shadow: 0 0 5px rgba(49,42,42,.06);
    /*margin-bottom: 10px;*/
    float: left;
}
.c_g_inf{float: right; width: 100%; OVERFLOW: hidden; padding: 0 0 10px 0;background: #fff;}
.c_g_inf ul {
    OVERFLOW:hidden;
    display:block;
    padding:5px 0;
    margin:0 13px
}
.c_g_inf ul.c_g_sell{font-size:13px; padding:9px 0 11px 12px; width:100%; margin:0; background:url(https://www.baizhimeng.com/code/img/f-icons-ex1.png) 0 bottom repeat-x; color:#fff}
.c_s_tx {
    float:left;
    background:#fff;
    padding:2px;
    border:1px solid #eee
}
.c_s_name {
    float:left;
    padding:0 0 0 8px;
    height:35px;
    width:160px
}
.c_s_name p {
    font-size:14px;
    font-weight:700;
    width:100%;
    line-height:20px;
    height:20px;
    padding-bottom:3px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap
}
.c_g_inf ul.tit {
    padding:5px 0 0 0;
    font-size:14px;
    font-weight:700;
    border-top:1px solid #ededed;
    margin:0 13px
}


.c_g_inf ul.c_s_cont {
    padding:0 0 0 2px
}

.c_g_inf .shop_btns a {
    background:#fff;
    border-color:#e5e5e5
}
.c_s_info {
    padding:5px 10px 15px 10px
}
.c_s_info li {
    OVERFLOW:hidden;
    display:block;
    padding:5px 0
}

.certification i{
    background:url(https://www.baizhimeng.com/code/img/focus2018.png) no-repeat
}

.c_s_cont .uim p,.d_g_my .uim a {
    padding:7px 0 4px 22px
}
.c_g_inf .shop_btns a {
    background:#fff;
    border-color:#e5e5e5
}
.c_s_info {
    padding:5px 10px 15px 10px
}
.c_s_info li {
    OVERFLOW:hidden;
    display:block;
    padding:5px 0
}

.shop_btns i {
    float:left;
    margin:2px 0 0 13%;
    color:#00a1ec
}
.shop_btns span {
    float:left;
    padding-left:2px;
    margin-top:1px
}
.shop_btns a {
    color:#666;
    float:left;
    width:46%;
    vertical-align:middle;
    padding:6px 0 8px 0;
    height:16px;
    border:1px solid #ededed;
    background:#f9f9f9;
    transition:background .5s
}
.shop_btns a:hover {
    color:#000
}
.shop_btns a:hover i {
    color:#f60
}
.shop_btns a.collection {
    float:right
}
.shop_score div {
    OVERFLOW:hidden;
    display:block;
    padding-top:10px;
    border-top:1px solid #ededed
}
.shop_score cite {
    float:right;
    width:25%;
    padding-left:16px;
    border-right:#ededed solid 1px;
    margin-right:-1px
}
.shop_score cite span {
    color:#999
}
.shop_score cite .up {
    color:#f60
}
.shop_score cite .down {
    color:#479313
}
.shop_score cite i {
    vertical-align:-2px
}
.bond_info {
    text-align:center;
    display:block;
    font-size:12px;
    color:#2E8A11;
    border:1px solid #C6F6BC;
    background:#F6FDF4;
    vertical-align:middle;
    padding:5px 0 7px 0
}
.bond_info em {
    font-size:16px
}
.bond_info i {
    padding-right:2px
}
.bond_info.not {
    color:#333;
    border-color:#eee;
    background:#fafafa
}
.bond_info:hover {
    color:#24760b
}
.certification i {
    margin:0 3px -3px 0;
    width:16px;
    height:16px;
    display:inline-block;
    BACKGROUND-POSITION:-20px -124px
}
.certification i.success {
    BACKGROUND-POSITION:0 -124px
}
.certification i.company {
    BACKGROUND-POSITION:0 -164px
}
.certification i.idcard {
    BACKGROUND-POSITION:-20px -144px
}
.certification i.idcard.success {
    BACKGROUND-POSITION:0 -144px
}
.certification i.phone {
    BACKGROUND-POSITION:-20px -104px;
    margin-right:2px
}
.certification i.phone.success {
    BACKGROUND-POSITION:0 -104px
}
.c_s_conts{
	width: 100%;
    height: 36px;
    text-align: left;
    border-top: 1px dashed rgb(229, 229, 229);
    border-bottom: 1px dashed rgb(229, 229, 229);
    line-height: 36px;
    font-size: 12px;
    color: rgb(114, 114, 114);
    box-sizing: border-box;
    padding-left: 28px;
}
.c_s_conts i{
	width: 19px;
    height: 19px;
    background: url(https://www.baizhimeng.com/code/img/qqsml.png) center center no-repeat;
    margin-right: 5px;
    position: relative;
    top: 5px;
}


/*qq 微信图标*/

.c_s_cont .qq p{
  background: url(https://www.baizhimeng.com/code/img/focus2018.png) no-repeat;
  background-position: -306px -85px;
    padding: 7px 0 4px 22px;
}
.c_s_cont .weixin p{
  background: url(https://www.baizhimeng.com/code/img/focus2018.png) no-repeat;
  background-position: -305px -133px;
    padding: 7px 0 4px 22px;
}
/*电话*/
.c_s_cont .phone p {
	 background: url(https://www.baizhimeng.com/code/img/focus2018.png) no-repeat;
     background-position: -305px -110px; 
     padding: 7px 0 4px 22px;
     cursor: pointer; 
}


/*保证金颜色*/
.orange1 {
    color: #fb1016;
}



