.mb_ys1{float:left;width:1250px;text-align:left;margin:30px 0 0 0;}
.mb_ys1 .u1{float:left;border:#DDDDDD solid 1px;width:260px;text-align:left;height:220px;text-align:center;}
.mb_ys1 .u1 li{float:left;}
.mb_ys1 .u1 .l1{font-size:18px;padding:15px 0 0 0;height:40px;width:260px;background-color:#F5F5F5;color:#333;}
.mb_ys1 .u1 .l2{width:100%;padding:10px 0 0 0;}
.mb_ys1 .u1 .l2 img{width:140px;}
.mb_ys1 .u2{float:left;border:#DDDDDD solid 1px;width:547px;text-align:left;height:220px;margin:0 0 0 50px;}
.mb_ys1 .u2 li{float:left;}
.mb_ys1 .u2 .l1{font-size:18px;padding:15px 0 0 25px;height:40px;width:522px;background-color:#F5F5F5;color:#333;}
.mb_ys1 .u2 .l2{width:360px;height:33px;margin:20px 0 0 25px;padding:13px 0 0 0;background:url(../img/u.gif) left top no-repeat;}
.mb_ys1 .u2 .l2 a{float:left;clear:both;font-weight:700;font-size:15px;padding-left:45px;width:215px;}
.mb_ys1 .u2 .l2 a:hover{text-decoration:none;color:#ff6600;}
.mb_ys1 .u2 .l2 span{float:left;font-size:13px;margin:35px 0 0 0;line-height:25px;}
.mb_ys1 .u2 .l3{width:155px;margin-top:5px;}
.mb_ys1 .u3{float:left;border:#DDDDDD solid 1px;width:337px;text-align:left;height:220px;text-align:center;margin:0 0 0 50px;}
.mb_ys1 .u3 li{float:left;}
.mb_ys1 .u3 .l1{font-size:18px;padding:15px 0 0 0;height:40px;width:337px;background-color:#F5F5F5;color:#333;}
.mb_ys1 .u3 .l2{width:100%;padding:5px 0 0 0;}
.mb_ys1 .u3 .l2 a{float:left;width:242px;height:52px;margin:15px 0 0 46px;border:#ddd solid 1px;}
.mb_ys1 .u3 .l2 .a1{background:url(../img/a.gif) left top no-repeat;}
.mb_ys1 .u3 .l2 .a2{background:url(../img/a1.gif) left top no-repeat;}
