 <!--服务中心-->
<div class="bfb bfbbottom">
<div class="yjcode">
<!--右侧浮动-->
<div class="right-btn-group" style="display:;"> 
<ul class="btn-group"> 
<li><a href="http://152.32.175.128:85/user/" class="icon-2 login-a"><span>个人中心</span></a></li> 
<li class="sign-but"><a href="http://152.32.175.128:85/user/qiandao.php" class="icon-4 login-a" rel="nofollow"><span>点击签到</span></a></li> 
<li><a href="http://152.32.175.128:85/user/newslx.php" class="icon-3 login-a"><span>投稿</span></a></li> 
<li><a href="http://152.32.175.128:85/user/gdlx.php" class="icon-5" target="_blank"><span>意见反馈</span></a></li> </ul> 
<div class="show-wechat">
<a href="" rel="nofollow" class="icon-7">
<span><img src="http://152.32.175.128:85/ad88/0046272001636673529.jpg" width="137" height="137" alt="微信关注工作室"/><em>微信关注公众号</em>
 </span></a></div>
<div class="to-top">
<a href="javascript:;" id="returnTop" class="icon-6" rel="nofollow" onClick="gotoTop();return false;"><span>返回顶部</span></a></div></div> <div class="d1">
 <ul class="u1">
 <li>
 <span><a href="http://152.32.175.128:85/help/search_j9v.html" target="_blank">买家指南</a></span>
  <a href="http://152.32.175.128:85/help/search_j9v_k14v.html" target="_blank" class="a1">如何注册</a><br>
  <a href="http://152.32.175.128:85/help/search_j9v_k15v.html" target="_blank" class="a1">如何购买</a><br>
  <a href="http://152.32.175.128:85/help/search_j9v_k16v.html" target="_blank" class="a1">搜索商品</a><br>
  <a href="http://152.32.175.128:85/help/search_j9v_k17v.html" target="_blank" class="a1">支付方式</a><br>
 </li><li>
 <span><a href="http://152.32.175.128:85/help/search_j10v.html" target="_blank">卖家指南</a></span>
  <a href="http://152.32.175.128:85/help/search_j10v_k18v.html" target="_blank" class="a1">如何出售</a><br>
  <a href="http://152.32.175.128:85/help/search_j10v_k19v.html" target="_blank" class="a1">收费标准</a><br>
  <a href="http://152.32.175.128:85/help/search_j10v_k20v.html" target="_blank" class="a1">入驻签约</a><br>
 </li><li>
 <span><a href="http://152.32.175.128:85/help/search_j11v.html" target="_blank">安全交易</a></span>
  <a href="http://152.32.175.128:85/help/search_j11v_k21v.html" target="_blank" class="a1">钓鱼防骗</a><br>
  <a href="http://152.32.175.128:85/help/search_j11v_k22v.html" target="_blank" class="a1">预防盗号</a><br>
  <a href="http://152.32.175.128:85/help/search_j11v_k23v.html" target="_blank" class="a1">谨防诈骗</a><br>
  <a href="http://152.32.175.128:85/help/search_j11v_k24v.html" target="_blank" class="a1">实名认证</a><br>
 </li><li>
 <span><a href="http://152.32.175.128:85/help/search_j12v.html" target="_blank">常见问题</a></span>
  <a href="http://152.32.175.128:85/help/search_j12v_k25v.html" target="_blank" class="a1">如何充值</a><br>
  <a href="http://152.32.175.128:85/help/search_j12v_k26v.html" target="_blank" class="a1">如何提现</a><br>
  <a href="http://152.32.175.128:85/help/search_j12v_k27v.html" target="_blank" class="a1">真假客服</a><br>
  <a href="http://152.32.175.128:85/help/search_j12v_k28v.html" target="_blank" class="a1">忘记密码</a><br>
 </li><li>
 <span><a href="http://152.32.175.128:85/help/search_j13v.html" target="_blank">服务中心</a></span>
  <a href="http://152.32.175.128:85/help/search_j13v_k29v.html" target="_blank" class="a1">我要咨询</a><br>
  <a href="http://152.32.175.128:85/help/search_j13v_k30v.html" target="_blank" class="a1">我要建议</a><br>
  <a href="http://152.32.175.128:85/help/search_j13v_k31v.html" target="_blank" class="a1">我要投诉</a><br>
  <a href="http://152.32.175.128:85/help/search_j13v_k32v.html" target="_blank" class="a1">QQ客服</a><br>
 </li></ul></div>
 <!--平台客服-->
 <div class="d2">
 <strong>平台客服</strong><br>
 Q Q ：940304595<br>
 电话：400******<br>
 邮箱：940304595@qq.com<br>
 时间：09:00 - 22:00
 </div>
 <!--二维码-->
 <div class="d3">
<li class="gz" style="float: left;margin: 15px 0 0 30px; width: 100px;text-align: center;"><a href="" target="_blank"><img src="http://152.32.175.128:85/ad88/0046272001636673529.jpg" width="100" height="100" /><br>微信关注工作室</a> </li><li class="gz" style="float: left;margin: 15px 0 0 30px; width: 100px;text-align: center;"><a href="" target="_blank"><img src="http://152.32.175.128:85/ad88/0331558001636673546.png" width="100" height="100" /><br>加入QQ群交流</a> </li></div>
<!--关于我们-->
 <ul class="u2">
<li class="l1">
 <a href="http://152.32.175.128:85/help/aboutview2.html" target="_blank">关于我们</a>&nbsp;&nbsp;
 <a href="http://152.32.175.128:85/help/aboutview3.html" target="_blank">广告合作</a>&nbsp;&nbsp;
 <a href="http://152.32.175.128:85/help/aboutview4.html" target="_blank">联系我们</a>&nbsp;&nbsp;
 <a href="http://152.32.175.128:85/help/aboutview5.html" target="_blank">隐私条款</a>&nbsp;&nbsp;
 <a href="http://152.32.175.128:85/help/aboutview6.html" target="_blank">免责声明</a>&nbsp;&nbsp;
 <a href="http://152.32.175.128:85/help/map.html" target="_blank">网站地图</a>&nbsp;&nbsp;
 <i>|&nbsp;&nbsp;Copyright 2024 <a href="http://152.32.175.128:85/" style="color: #999;">沫沫账号</a>  版权所有</i><br><a href="http://www.miitbeian.gov.cn/" target="_blank">皖公网安备6416548854号</a> <script type="text/javascript" src="https://js.users.51.la/21031943.js"></script></li>
<!--信誉认证-->
<li class="l2">
 </li></ul></div></div>
 

<script>
(function(){
    var bp = document.createElement('script');
    var curProtocol = window.location.protocol.split(':')[0];
    if (curProtocol === 'https') {
        bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
    }
    else {
        bp.src = 'http://push.zhanzhang.baidu.com/push.js';
    }
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();
</script>
<script>
(function(){
var src = "https://jspassport.ssl.qhimg.com/11.0.1.js?d182b3f28525f2db83acfaaf6e696dba";
document.write('<script src="' + src + '" id="sozz"><\/script>');
})();
</script>
<script>
(function(){
var src = "https://s.ssl.qhres2.com/ssl/ab77b6ea7f3fbf79.js";
document.write('<script src="' + src + '" id="sozz"><\/script>');
})();
</script>