<?
if($cssjsty=="a"){$l=weburl;}
elseif($cssjsty=="b"){$l="";}
else{$l="../";}
?>
<meta http-equiv="Expires" content="0">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-control" content="no-cache">
<meta http-equiv="Cache" content="no-cache">
<link rel="shortcut icon" href="<?=$l?>img/favicon.ico?t=<?=$glosxbh?>" type="image/x-icon" />
<link href="<?=$l?>css/global.css?t=<?=$glosxbh?>" rel="stylesheet" type="text/css" />
<link href="<?=$l?>css/basic.css?t=<?=$glosxbh?>" rel="stylesheet" type="text/css" />
<? if($cssjsty!="a"){?>
<link href="css/index.css?t=<?=$glosxbh?>" rel="stylesheet" type="text/css" />
<? }?>
<script language="javascript" src="<?=$l?>js/global.js?t=<?=$glosxbh?>"></script>
<script language="javascript" src="<?=$l?>js/basic.js?t=<?=$glosxbh?>"></script>
<script language="javascript" src="<?=$l?>js/jquery.min.js?t=<?=$glosxbh?>"></script>
<script language="javascript" src="<?=$l?>js/layer.js?t=<?=$glosxbh?>"></script>
<? if($cssjsty!="a"){?>
<script language="javascript" src="js/index.js?t=<?=$glosxbh?>"></script>
<? }?>
