
<div class="bfb bfbtop">
<div class="yjcode">
 <div class="huany">您好！欢迎来到<a href="http://152.32.175.128:85/">沫沫账号</a>！</div>
 
 <div class="nologin" id="notlogin">
  <a href="http://152.32.175.128:85/reg/reg.php" class="topreg">注册</a>
  <div class="toplogin">
   <a href="http://152.32.175.128:85/reg/" class="a1"><span>登录</span><img src="../homeimg/bzm_yxImg/jian.png" /></a>
   <div class="loginxl">
    <a href="http://152.32.175.128:85//reg/" class="zh">账号登录</a>
            <a href="http://152.32.175.128:85/reg/index.php?xs=mot" class="dx">短信登录</a>   </div>
  </div>
 </div>
 
 <div class="yeslogin" id="yeslogin" style="display:none;">
  <a href="http://152.32.175.128:85/user/" class="topuid"><span id="yesuid"></span><img class="img1" src="../homeimg/bzm_yxImg/jian.png" /></a>
  <div class="yesxl">
   <ul class="u1">
   <li class="l1"><a href="http://152.32.175.128:85/user/"><img src="" id="topusertx" onerror="this.src='/img/none60x60.gif'" /></a></li>
   <li class="l2">ID：<span id="topuserid"></span><br>余额：<span class="feng" id="topusermoney">0.00</span>元<br>积分：<span class="green" id="topuserjf">0</span>积分</li>
   <li class="l3"><a href="http://152.32.175.128:85/user/pay.php" class="a1">充值</a><a href="http://152.32.175.128:85/user/qiandao.php" class="a2" id="needqd">签到</a><a href="http://152.32.175.128:85/user/qiandao.php" class="a2" id="dontqd" style="display:none;">已签到</a></li>
   </ul>
   <div class="yeskj">
    <span><a href="http://152.32.175.128:85/user/tixian.php" class="a1">提现</a></span>
    <span><a href="http://152.32.175.128:85/user/zfmm.php" class="a2">安全</a></span>
    <span><a href="http://152.32.175.128:85/user/smrz.php" class="a3">认证</a></span>
    <span><a href="http://152.32.175.128:85/user/favpro.php" class="a4">收藏</a></span>
   </div>
   <a href="http://152.32.175.128:85/user/un.php" class="un">退出登录</a>
  </div>
 </div>
 
 <div class="topright">
  <div class="dmenu">
   <a href="http://152.32.175.128:85/">网站首页</a>
      <a href="http://152.32.175.128:85/top/">排行榜</a>
   <!--a href="http://152.32.175.128:85/mt/">手机版</a-->
   <a href="http://152.32.175.128:85/help/gglist.html">网站公告</a>
   <a href="http://152.32.175.128:85/help/">帮助中心</a>
   <a href="http://152.32.175.128:85/user/gdlist.php">工单管理</a>
  </div>
  <div class="rightxl">
   <a href="http://152.32.175.128:85/user/" class="gl"><span>管理中心</span><img src="../homeimg/bzm_yxImg/jian.png" /></a>
   <ul class="u1">
   <li class="l1">
    <span class="cap">财务管理</span>
    <a href="http://152.32.175.128:85/user/pay.php">在线充值</a>
    <a href="http://152.32.175.128:85/user/tixian.php">快速提现</a>
    <a href="http://152.32.175.128:85/user/tixianlog.php">提现历史</a>
    <a href="http://152.32.175.128:85/user/paylog.php">财务明细</a>
    <a href="http://152.32.175.128:85/user/jflog.php">积分明细</a>
   </li>
   <li class="l2">
    <span class="cap">我是买家</span>
    <a href="http://152.32.175.128:85/user/car.php">购物车</a>
    <a href="http://152.32.175.128:85/renwu/fabu.php">发布需求</a>
    <a href="http://152.32.175.128:85/user/renwulist.php">需求管理</a>
    <a href="http://152.32.175.128:85/user/order.php">买入订单</a>
    <a href="http://152.32.175.128:85/user/autojylx.php">建立自助交易</a>
   </li>
   <li class="l3">
    <span class="cap">我是卖家</span>
    <a href="http://152.32.175.128:85/user/productlx.php">发布出售</a>
    <a href="http://152.32.175.128:85/user/productlist.php">商品管理</a>
    <a href="http://152.32.175.128:85/user/sellorder.php">售出订单</a>
    <a href="http://152.32.175.128:85/user/shop.php">店铺管理</a>
    <a href="http://152.32.175.128:85/user/baomoneylog.php">商家保证金</a>
   </li>
   <li class="l4">
    <span class="cap">帮助咨询</span>
    <a href="http://152.32.175.128:85/help/">帮助中心</a>
    <a href="http://152.32.175.128:85/user/gdlist.php">投诉建议</a>
    <a href="http://152.32.175.128:85/help/aboutview4.html">联系客服</a>
    <a href="http://152.32.175.128:85/help/aboutview2.html">关于我们</a>
   </li>
   <li class="l5">
    <span class="cap">用户管理</span>
    <a href="http://152.32.175.128:85/user/inf.php">基本资料</a>
    <a href="http://152.32.175.128:85/user/smrz.php">认证中心</a>
    <a href="http://152.32.175.128:85/user/favpro.php">我的收藏</a>
    <a href="http://152.32.175.128:85/user/userdj.php">用户等级</a>
   </li>
   <li class="l6">
    <span class="cap">账户安全</span>
    <a href="http://152.32.175.128:85/user/pwd.php">修改密码</a>
    <a href="http://152.32.175.128:85/user/zfmm.php">安全码修改</a>
    <a href="http://152.32.175.128:85/user/loginlog.php">登录记录</a>
    <a href="http://152.32.175.128:85/user/un.php">安全退出</a>
   </li>
   </ul>
  </div>
 </div>
 
</div>
</div>

<span id="webhttp" style="display:none">http://152.32.175.128:85/</span>
<script language="javascript">
userCheckses();
</script>
