<div class="bfb bfbtop1 clearfix">
<div class="yjcode">
 <div class="top1">
  <h1 class="logo"><a href="http://152.32.175.128:85/"><img alt="沫沫账号" border="0" src="http://152.32.175.128:85/img/logo.png" /></a></h1>
  
  <div class="resou clearfix">
  <form name="topf1" method="post" onSubmit="return topftj()">
  <ul class="u1">
  <li class="l1" onMouseOver="topover()" onMouseOut="topout()">
  <div class="topnwd"><span id="topnwd">商品</span><img src="/homeimg/bzm_yxImg/jian.png" /></div>
  <div id="topdiv" style="display:none;">
  <a href="javascript:void();" onClick="topjconc(1,'商品')">商品</a>
  <a href="javascript:void();" onClick="topjconc(8,'服务')">服务</a>
  <a href="javascript:void();" onClick="topjconc(2,'商家')">商家</a>
  <a href="javascript:void();" onClick="topjconc(3,'游戏星球')">知识</a>
  </div>
  </li>
  <li class="l2"><input name="topt" id="topt" type="text" /></li>
  <li class="l3"><input type="submit" value="搜 索" /></li>
  </ul>
  </form>
  <div class="d1 clearfix">
  热门搜索：
    <a href="/youxi/search_s陌陌号v.html" target="_blank">陌陌号</a>&nbsp;&nbsp;&nbsp;
    <a href="/youxi/search_s王者荣耀v.html" target="_blank">王者荣耀</a>&nbsp;&nbsp;&nbsp;
    <a href="/youxi/search_s微信v.html" target="_blank">微信</a>&nbsp;&nbsp;&nbsp;
    </div>
  </div>
  
  <div class="topfbxl clearfix">
   <a href="javascript:void(0);" class="a1"><span>免费发布需求</span><img src="/homeimg/bzm_yxImg/jianr.png" /></a>
   <div class="d1">
    <a href="http://152.32.175.128:85/renwu/fabu.php">免费发布任务</a>
    <a href="http://152.32.175.128:85/user/autojylx.php" class="j">建立自助交易</a>
    <a href="http://152.32.175.128:85/user/productlx.php">免费发布商品</a>
   </div>
  </div>
 
  <div class="menu clearfix">
   <div class="m2 clearfix">
   <a class="" href="http://152.32.175.128:85/">首页</a>
      <a class="" href="/product/search_j2v.html" name="全部游戏">全部游戏</a>
      <a class="" href="/serve/" name="服务市场">服务市场</a>
      <a class="" href="/renwu/" name="任务大厅">任务大厅</a>
      <a class="" href="/news/" name="大神玩家">大神玩家</a>
      <a class="" href="/shop/" name="推荐店铺">推荐店铺</a>
      </div>
  </div>
    <!--导航栏头上小图标-->
<script type="text/javascript">
 	$(function(){
 		$('a[name="任务大厅"]').append('<br/><b ><img class="hotxin" src="../homeimg/bzm_yxImg/new.png"/></b>');
    $('a[name="全部账号"]').append('<br/><b ><img class="hotxin" src="../homeimg/bzm_yxImg/hot1.png" /> </b>');
    $('a[name="服务市场"]').append('<br/><b ><img class="hotxin" src="../homeimg/bzm_yxImg/hot.png" /> </b>');
    	$('a[name="未知"]').append('<br/><b ><img class="ziying" src="../homeimg/bzm_yxImg/ziying.png"/></b>');
 	
 	})
 </script>
 
 </div>
</div>
</div>
