@charset "utf-8";
.pleft{float:left;width:89px;height:calc(100% - 50px);background-color:#f9f9f9;overflow-y:scroll;text-align:left;}
.pleft a{float:left;border-top:#fff solid 1px;color:#666;border-left:#f9f9f9 solid 2px;line-height:15px;padding:15px 7px 15px 7px;width:73px;font-size:14px;}
.pleft .a1{border-left:#ff0000 solid 2px;color:#ff0000;}
.pleft::-webkit-scrollbar{display:none;}

.pright{float:left;width:calc(100% - 109px);margin-left:10px;margin-right:10px;height:calc(100% - 50px);overflow-y:scroll;}
.pright .d1{float:left;width:calc(33% - 30px);padding:0 15px;text-align:center;height:69px;overflow:hidden;margin:20px 0 0 0;}
.pright .d1 img{width:40px;height:40px;margin:0 0 10px 0;}
.pright::-webkit-scrollbar{display:none;}








