@charset "utf-8";
body{background-color:#f2f2f2;}

/*列表*/
.topfix{position:fixed;width:100%;z-index:9;}
.ntopv .d1{height:140px;margin:0;-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;}
.listtop{height:50px;background-color:#fff;}
.listtop .d1{margin:10px 13px 0 13px;-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;text-align:left;border-radius:5px;height:30px;background-color:#F3F3F3;}
.listtop .d1 span{float:left;}
.listtop .d1 .s1{width:24px;height:24px;margin:6px 0 0 5px;}
.listtop .d1 .s1 img{width:18px;}
.listtop .d1 .s2{font-size:14px;margin:5px 0 0 0;color:#999;}
.psel{border-bottom:#ddd solid 1px;height:45px;background-color:#FBFBFB;}
.psel .search{margin:0;-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;font-size:14px;}
.psel .search .d1{position:relative;float:left;width:calc(33% - 5px);height:27px;padding:3px 0 0 5px;overflow:hidden;border-right:#DCDCDC solid 1px;margin-top:8px;text-align:left;}
.psel .search .d1 .s1 span{overflow:hidden;width:80%;height:20px;float:left;}
.psel .search .d1 .s1:after{width:12px;height:7px;background:url(../img/jiana.gif) 0 0 no-repeat;display:inline-block;position:absolute;top:11px;margin-left:5px;content:'';}
.psel .search .d0{border-right:0;}
.sertj{background-color:#fff;width:100%;z-index:8;text-align:left;max-height:300px;overflow-y:scroll;position:absolute;}
.sertj .d1{margin:0 0 0 0;-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;font-size:14px;}
.sertj .d1 a{display:block;padding:15px 0 0 10px;height:29px;border-bottom:#F3F3F3 solid 1px;border-right:#F3F3F3 solid 1px;}
.sertj .d1 .nx{color:#ff0000;}

.shoplist{}
.shoplist .dmain{margin:10px 10px 0 10px;background-color:#fff;border-radius:5px;padding:0 0 10px 0;}
.shoplist .dmain .u1{float:left;margin:10px 10px 0 10px;width:calc(100% - 20px);}
.shoplist .dmain .u1 li{float:left;}
.shoplist .dmain .u1 .l1{width:45px;margin-top:1px;}
.shoplist .dmain .u1 .l1 img{width:35px;height:35px;border-radius:5px;}
.shoplist .dmain .u1 .l2{width:calc(100% - 100px);}
.shoplist .dmain .u1 .l2 a{float:left;font-weight:700;font-size:14px;width:100%;height:20px;line-height:20px;color:#555;}
.shoplist .dmain .u1 .l2 span{float:left;width:100%;height:17px;overflow:hidden;color:#777;}
.shoplist .dmain .u1 .l3{width:55px;text-align:right;}
.shoplist .dmain .u1 .l3 img{width:25px;}
.shoplist .dmain .d1{float:left;width:calc(100% - 20px);margin:5px 10px;height:17px;color:#777;overflow:hidden;}
.shoplist .dmain .d2{float:left;margin:2px 0 0 10px;color:#777;}
.shoplist .dmain .d3{float:left;margin:0 0 0 10px;color:#fff;background-color:#ff9800;border-radius:3px;padding:0 5px;height:20px;line-height:20px;}
.shoplist .dmain .d4{float:left;margin:0 0 0 10px;color:#fff;background-color:#02d6ac;border-radius:3px;padding:0 5px;height:20px;line-height:20px;}

.topbg{background:url(../img/bg.png) left bottom no-repeat;}
.indextop{height:50px;}
.indextop .d1{margin:15px 0 0 10px;width:30px;}
.indextop .d2{margin:9px 0 0 0;-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;text-align:left;border-radius:10px;height:30px;background-color:#fff;}
.indextop .d2 span{float:left;}
.indextop .d2 .s1{margin:7px 0 0 7px;}
.indextop .d2 .s2{font-size:14px;margin:5px 0 0 5px;color:#999;}
.indextop .d3{margin:12px 10px 0 0;width:30px;text-align:right;}

.indextop1{height:45px;margin:10px 0 0 0;color:#fff;line-height:20px;}
.indextop1 .d1{margin:0 0 0 10px;width:50px;}
.indextop1 .d2{-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;margin:0;border-right:#ADBCD5 dotted 1px;height:40px;}
.indextop1 .d2 img{margin:2px 0 0 0;}
.indextop1 .d3{margin:0 0 0 0;width:50px;text-align:center;border-right:#fff dotted 1px;height:40px;}
.indextop1 .d4{margin:0 0 0 0;width:50px;text-align:center;height:40px;}

.topmenu{background-color:#fff;}
.topmenu .d1{-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;margin:0;height:35px;line-height:35px;text-align:center;}
.topmenu .d1 a{float:left;width:25%;}
.topmenu .d1 .a1{color:#ff6600;font-weight:700;font-size:14px;}

.indexcap{}
.indexcap .d1{margin:0;margin:10px 0 0 0;height:30px;font-size:14px;font-weight:700;border-left:#ff6600 solid 2px;padding-left:10px;line-height:30px;background-color:#fff;}
.prolist{}
.prolist .dmain{margin:0 10px 0 10px;}
.prolist .dmain .listmain{float:left;width:100%;text-align:left;column-count:2;}
.prolist .dmain .listmain .list{float:left;margin:10px 0 0 0;break-inside:avoid;width:100%;}
.prolist .dmain .listmain .list .u1{float:left;width:100%;background-color:#fff;border-radius:5px;padding:0 0 5px 0;}
.prolist .dmain .listmain .list .u1 li{float:left;}
.prolist .dmain .listmain .list .u1 .l1{width:100%;}
.prolist .dmain .listmain .list .u1 .l1 img{width:100%;border-radius:5px 5px 0 0;}
.prolist .dmain .listmain .list .u1 .l002{width:100%;}
.prolist .dmain .listmain .list .u1 .l002 .s1{float:left;width:23px;margin:6px 0 0 5px;}
.prolist .dmain .listmain .list .u1 .l002 .s1 img{width:18px;height:18px;float:left;border-radius:3px;}
.prolist .dmain .listmain .list .u1 .l002 .s2{float:left;font-size:14px;margin-top:5px;}
.prolist .dmain .listmain .list .u1 .l002 .s3{float:right;text-align:center;width:60px;height:18px;line-height:18px;background-color:#ff4081;color:#fff;border-radius:0 5px 0 5px;}
.prolist .dmain .listmain .list .u1 .l2{width:calc(100% - 16px);font-size:13px;padding:5px 5px 0px 5px;line-height:20px;font-weight:700;}
.prolist .dmain .listmain .list .u1 .l3{width:calc(100% - 16px);font-size:15px;padding:0px 5px 5px 5px;font-weight:700;color:#e51c23;}
.prolist .dmain .listmain .list .u1 .l4{width:calc(100% - 10px);margin:0 5px;border-top:#ddd dotted 1px;padding:6px 0 0 0;}
.prolist .dmain .listmain .list .u1 .l4 .d1{float:left;width:50%;height:34px;margin-top:3px;text-align:center;color:#666666;overflow:hidden;}
.prolist .dmain .listmain .list .u1 .l4 .d1 span{float:left;width:100%;height:17px;overflow:hidden;}
.prolist .dmain .listmain .list .u1 .l4 .d1 .s1{font-weight:700;color:#000;}

.aboutview{margin:10px 0 0 0;background-color:#fff;}
.aboutview .dmain{margin:0 10px 0 10px;padding:10px 0;font-size:14px;line-height:22px;-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;color:#666;}
.aboutview .dmain img{max-width:100%;}

.shopdq .d1{margin:50px 20px 0 20px;}
.shopdq .d1 .u1{float:left;width:100%;}
.shopdq .d1 .u1 li{float:left;width:100%;}
.shopdq .d1 .u1 .l1{font-size:18px;font-weight:700;color:#ff0000;}
.shopdq .d1 .u1 .l2{margin:30px 0 0 0;line-height:25px;font-size:14px;}

.type1{background-color:#f2f2f2;font-size:14px;font-weight:700;height:37px;}
.type1 .d1{margin:10px 0 0 20px;-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;}
.type2 .dm{margin:15px 0 5px 20px;-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;}
.type2 .d1{float:left;width:33%;height:30px;}



