@charset "utf-8";

.newslistcap{float:left;border:#E1E1E2 solid 1px;width:1038px;margin:10px 10px 0 10px;height:40px;text-align:center;background-color:#F5F5F5;}
.newslistcap li{float:left;border-right:#e1e1e2 solid 1px;padding:12px 0 0 0;height:28px;}
.newslistcap .l0{width:30px;padding-top:13px;height:27px;}
.newslistcap .l1{width:540px;padding-left:10px;text-align:left;}
.newslistcap .l2{width:100px;}
.newslistcap .l3{width:204px;}
.newslistcap .l4{width:150px;border-right:0;}
.newslist{float:left;border:#E1E1E2 solid 1px;width:1038px;margin:0 10px 0 10px;height:32px;border-top:0;text-align:center;}
.newslist li{float:left;border-right:#e1e1e2 solid 1px;padding:8px 0 0 0;height:24px;}
.newslist .l0{width:30px;padding:10px 0 0 0;height:22px;text-align:center;}
.newslist .l1{width:540px;padding-left:10px;text-align:left;}
.newslist .l2{width:100px;}
.newslist .l3{width:204px;}
.newslist .l4{width:150px;border-right:0;padding-top:6px;height:26px;}
.newslist .l4 .s1{float:left;width:69px;border:#E6E6E6 solid 1px;padding:1px 0 0 9px;height:18px;margin:0 0 0 10px;text-align:left;background:url(../img/jian.gif) no-repeat;background-position:65px 8px;background-color:#fff;}
.newslist .l4 .gl{float:left;width:78px;border:#e6e6e6 solid 1px;border-top:0;margin:0 0 0 10px;position:relative;background-color:#fff;text-align:left;}
.newslist .l4 .gl a{float:left;width:69px;padding:3px 0 0 9px;height:18px;}
.newslist .l4 .gl a:hover{text-decoration:none;background-color:#f2f2f2;}
.newslist:hover{background:rgba(252,253,254,1);-webkit-transition:background-color 0.3s linear;-moz-transition:background-color 0.3s linear;-o-transition:background-color 0.3s linear;transition:background-color 0.3s linear;}

/*自助广告*/
.bautolist{float:left;background-color:#fff;width:1060px;margin:10px 0 0 0;padding:0 0 10px 0;}
.bautolist .u1{float:left;margin:10px 10px 0 10px;width:1038px;height:33px;border:#e4e4e6 solid 1px;background-color:#E8F1F6;}
.bautolist .u1 li{float:left;font-weight:700;padding-top:8px;text-align:center;}
.bautolist .u1 .l1{width:478px;}
.bautolist .u1 .l2{width:170px;}
.bautolist .u1 .l3{width:150px;}
.bautolist .u1 .l4{width:130px;}
.bautolist .u1 .l5{width:110px;}
.bautolist .u2{float:left;border:#e4e4e6 solid 1px;border-top:0;height:74px;width:1038px;margin:0 10px;}
.bautolist .u2 li{float:left;text-align:center;}
.bautolist .u2 .l1{width:468px;text-align:left;padding:0 0 0 10px;}
.bautolist .u2 .l1 .s1{float:left;margin:11px 5px 0 0;font-size:13px;cursor:pointer;text-align:center;}
.bautolist .u2 .l1 .a1{float:left;margin:10px 5px 0 0;font-size:14px;}
.bautolist .u2 .l1 .s2{float:left;background-color:#EEF9FF;border:#71A3F5 solid 1px;padding:1px 5px 0 5px;margin:10px 5px 0 0;height:18px;color:#71A3F5;}
.bautolist .u2 .l1 .zt{float:left;margin:10px 5px 0 0;padding:1px 5px 0 5px;height:18px;}
.bautolist .u2 .l1 .zt1{background-color:#EEF9FF;border:#71A3F5 solid 1px;color:#71A3F5;}
.bautolist .u2 .l1 .zt2{background-color:#F9F9F9;border:#DDDDDD solid 1px;color:#999;}
.bautolist .u2 .l1 .zt3{background-color:#FFFBFB;border:#FF0000 solid 1px;color:#FF0000;}
.bautolist .u2 .l1 .zt4{background-color:#FFFBF6;border:#E3C8BD solid 1px;color:#E3C8BD;}
.bautolist .u2 .l1 .zt5{background-color:#F9F9F9;border:#DDDDDD solid 1px;color:#999;}
.bautolist .u2 .l1 .s3{float:left;padding:1px 5px 0 5px;margin:10px 5px 0 0;height:18px;background-color:#F9F9F9;border:#DDDDDD solid 1px;color:#666;}
.bautolist .u2 .l2{width:170px;padding:28px 0 0 0;}
.bautolist .u2 .l3{width:150px;padding:28px 0 0 0;color:#F85659;}
.bautolist .u2 .l4{width:130px;padding:16px 0 0 0;line-height:21px;}
.bautolist .u2 .l5{width:100px;line-height:normal;}
.bautolist .u2 .l5 .a1{float:left;margin:19px 0 0 10px;background-color:#ff6600;color:#fff;width:90px;padding:7px 0 0 0;height:23px;border-radius:3px;}
.bautolist .u2:hover{background-color:#FDFDFD;}

/*广告位选择*/
.ukad{float:left;margin:20px 0 0 0;width:1060px;font-size:14px;}
.ukad li{float:left;}
.ukad .l1{color:#666;width:160px;padding:26px 10px 0 0;text-align:right;}
.ukad .l2{width:890px;line-height:25px;font-size:14px;}
.ukad .l2 .s3{float:left;width:110px;height:60px;margin:0 10px 10px 0;text-align:center;border:#D1D1D1 solid 1px;padding:10px 0 0 0;}
.ukad .l2 .s3 strong{color:red;font-size:16px;font-family:Arial, Helvetica, sans-serif;}
.ukad .l2 .s3:hover{text-decoration:none;background-color:#F6F6F6;}
.ukad .l2 .s31{color:#999;}
.ukad .l2 .s31 strong{color:#999;}
.ukad .l2 .s32{color:#fff;border:#66F solid 1px;background-color:#66F;}
.ukad .l2 .s32 strong{color:#fff;}
.ukad .l2 .s32:hover{background-color:#66F;}

.tjuidcap{float:left;border:#E1E1E2 solid 1px;width:1038px;margin:10px 10px 0 10px;height:40px;text-align:center;background-color:#F5F5F5;}
.tjuidcap li{float:left;border-right:#e1e1e2 solid 1px;padding:12px 0 0 0;height:28px;}
.tjuidcap .l1{width:540px;padding-left:10px;text-align:left;}
.tjuidcap .l2{width:487px;border-right:0;}
.tjuid{float:left;border:#E1E1E2 solid 1px;width:1038px;margin:0 10px 0 10px;height:32px;border-top:0;text-align:center;}
.tjuid li{float:left;border-right:#e1e1e2 solid 1px;padding:8px 0 0 0;height:24px;}
.tjuid .l1{width:540px;padding-left:10px;text-align:left;}
.tjuid .l2{width:487px;border-right:0;}
.tjuid:hover{background:rgba(252,253,254,1);-webkit-transition:background-color 0.3s linear;-moz-transition:background-color 0.3s linear;-o-transition:background-color 0.3s linear;transition:background-color 0.3s linear;}

/*工单*/
.gdcap{float:left;color:#999999;width:1038px;margin:10px 0 0 10px;border:#E1E6EB solid 1px;background-color:#F5F6FA;height:33px;}
.gdcap li{float:left;padding-top:9px;}
.gdcap .l1{width:195px;padding-left:5px;}
.gdcap .l2{width:492px;}
.gdcap .l3{width:150px;}
.gdcap .l4{width:120px;}
.gdcap .l5{width:76px;}
.gdlist{float:left;color:#999999;width:1038px;margin:0 0 0 10px;border:#E1E6EB solid 1px;border-top:0;height:42px;}
.gdlist li{float:left;padding-top:13px;}
.gdlist li a{color:#007DDA;}
.gdlist li a:hover{color:#ff6600;text-decoration:none;}
.gdlist .l1{width:195px;padding-left:5px;}
.gdlist .l2{width:492px;}
.gdlist .l3{width:150px;}
.gdlist .l4{width:120px;}
.gdlist .l5{width:76px;}
.gdlist1{background-color:#F9F9FA;}
.gdhflist{float:left;width:1038px;margin:10px 0 0 10px;border:#9ABCE9 solid 1px;background-color:#fff;}
.gdhflist .cap{float:left;padding-top:6px;height:21px;font-weight:700;width:1038px;font-size:14px;background-color:#F5F6FA;border-bottom:#E1E6EB solid 1px;}
.gdhflist .u1{float:left;padding:17px 0 13px 0;margin:0 20px;width:998px;border-bottom:#BCBCBC dotted 1px;}
.gdhflist .u1 li{float:left;}
.gdhflist .u1 .l1{width:75px;text-align:center;}
.gdhflist .u1 .l2{width:923px;line-height:18px;}
.gdhflist .u2{float:left;margin:20px 0 0 0;width:1038px;font-size:14px;}
.gdhflist .u2 li{float:left;}
.gdhflist .u2 .l1{width:98px;text-align:right;padding:13px 10px 0 0;height:465px;}
.gdhflist .u2 .l2{width:910px;height:465px;padding:13px 20px 0 0;}
.gdhflist .u2 .l2 li{float:none;}
.gdhflist .u2 .l3{width:930px;height:60px;padding:10px 0 0 108px;}

/*自助交易*/
.autojylistcap{float:left;border:#E1E1E2 solid 1px;width:1038px;margin:10px 10px 0 10px;height:40px;text-align:center;background-color:#F5F5F5;}
.autojylistcap li{float:left;border-right:#e1e1e2 solid 1px;padding:12px 0 0 0;height:28px;}
.autojylistcap .l0{width:30px;padding-top:13px;height:27px;}
.autojylistcap .l1{width:492px;padding-left:10px;text-align:left;}
.autojylistcap .l2{width:100px;}
.autojylistcap .l3{width:100px;}
.autojylistcap .l4{width:80px;}
.autojylistcap .l5{width:100px;}
.autojylistcap .l6{width:120px;border-right:0;}
.autojylist{float:left;border:#E1E1E2 solid 1px;width:1038px;margin:0 10px 0 10px;height:75px;border-top:0;text-align:center;}
.autojylist li{float:left;border-right:#e1e1e2 solid 1px;padding:8px 0 0 0;height:67px;line-height:20px;}
.autojylist .l0{width:30px;padding:10px 0 0 0;height:65px;text-align:center;}
.autojylist .l1{width:492px;padding-left:10px;text-align:left;}
.autojylist .l1 a{font-size:14px;clear:both;float:left;}
.autojylist .l1 a:hover{color:#ff0000;}
.autojylist .l1 span{clear:both;float:left;border:#ebebeb solid 1px;padding:1px 8px 0 8px;height:22px;border-radius:3px;margin:3px 0 0 0;}
.autojylist .l2{width:100px;}
.autojylist .l2 .s1{float:left;clear:both;width:100%;}
.autojylist .l2 a{float:left;text-align:center;width:70px;height:20px;margin:6px 14px 10px 14px;padding:3px 0 0 0;border-radius:2px;line-height:normal;}
.autojylist .l2 a:hover{text-decoration:none;}
.autojylist .l2 .a1{border:#C9C9C9 solid 1px;}
.autojylist .l2 .a1:hover{background-color:#f2f2f2;}
.autojylist .l3{width:100px;}
.autojylist .l4{width:80px;}
.autojylist .l5{width:100px;}
.autojylist .l6{width:120px;border-right:0;line-height:normal;}
.autojylist .l6 a{float:left;text-align:center;width:70px;height:20px;margin:0 24px 10px 24px;padding:3px 0 0 0;border-radius:2px;}
.autojylist .l6 a:hover{text-decoration:none;}
.autojylist .l6 .a1{border:#C9C9C9 solid 1px;}
.autojylist .l6 .a1:hover{background-color:#f2f2f2;}
.autojylist .l6 .a2{color:#fff;border:#1E9FFF solid 1px;background-color:#1E9FFF;}
.autojylist .l6 .a2:hover{background-color:#1390ED;}
.autojylist .l6 .a3{color:#fff;border:#ff6600 solid 1px;background-color:#ff6600;}
.autojylist .l6 .a3:hover{background-color:#ff0000;}
.autojylist:hover{background:rgba(252,253,254,1);-webkit-transition:background-color 0.3s linear;-moz-transition:background-color 0.3s linear;-o-transition:background-color 0.3s linear;transition:background-color 0.3s linear;}
.autojyview{float:left;margin:10px 10px 0 10px;width:1040px;}
.autojyview .table1{float:left;width:1039px;border-right:#E8E8E8 solid 1px;border-bottom:#E8E8E8 solid 1px;}
.autojyview .table1 .td1{border-left:#E8E8E8 solid 1px;text-align:center;padding:10px 0;background-color:#FCFDFE;width:170px;font-weight:700;}
.autojyview .table1 .td2{border-left:#E8E8E8 solid 1px;text-align:left;padding:10px 15px 10px 15px;width:806px;line-height:22px;}
.autojyview .table1 .td2 img{max-width:100%;}
.autojyview .table11{border-top:#E8E8E8 solid 1px;}
.ordercz{float:left;width:1006px;margin:10px 10px 0 10px;border:#F58B0F solid 1px;background-color:#FFF7EB;text-align:left;padding:0 0 0 30px;}
.ordercz li{float:left;text-align:left;}
.ordercz .l1{width:976px;padding:10px 0 7px 0;line-height:22px;border-bottom:#DDDDDD solid 1px;font-size:14px;}
.ordercz .l1 a{color:#3366CC;}
.ordercz .l1 a:hover{color:#ff6600;}
.ordercz .l2{width:976px;padding:10px 0 7px 0;}
.ordercz .l3{width:976px;padding:10px 0 7px 0;}
.ordercz .l3 .inp{font-size:14px;padding:6px 0 0 2px;background:url(../img/bg2.gif) left top repeat-x;height:22px;border:#CCCCCC solid 1px;}
.ordercz .l3 label{float:left;cursor:pointer;margin:-2px 10px 0 0;padding:7px 10px 0 10px;height:24px;background-color:#FCFCFD;border:#ECECEC solid 1px;border-radius:5px;}
.ordercz .l4{width:976px;padding:10px 0 10px 0;}
.ordercz .l5{width:976px;padding:10px 0 10px 0;}
.jfgtlist{float:left;width:1038px;margin:10px 10px 0 10px;border:#5FB878 solid 1px;background-color:#fff;}
.jfgtlist .cap{float:left;padding:6px 0 6px 10px;font-weight:700;width:1028px;font-size:14px;background-color:#5FB878;color:#fff;border-bottom:#5FB878 solid 1px;}
.jfgtlist .u1{float:left;padding:17px 0 13px 0;margin:0 20px;width:998px;border-top:#D2D2D2 dotted 1px;}
.jfgtlist .u1 li{float:left;}
.jfgtlist .u1 .l1{width:65px;}
.jfgtlist .u1 .l2{width:933px;line-height:20px;font-size:14px;}
.jfgtlist .u1 .l2 img{max-width:871px;}
.jfgtlist .u0{border-top:0;}

.autolist{float:left;background-color:#fff;width:1060px;margin:10px 0 0 0;padding:0 0 10px 0;}
.autolist .u1{float:left;margin:10px 10px 0 10px;width:1038px;height:33px;border:#e4e4e6 solid 1px;background-color:#E8F1F6;}
.autolist .u1 li{float:left;font-weight:700;text-align:center;line-height:33px;}
.autolist .u1 .l0{width:120px;}
.autolist .u1 .l1{width:358px;}
.autolist .u1 .l2{width:170px;}
.autolist .u1 .l3{width:150px;}
.autolist .u1 .l4{width:130px;}
.autolist .u1 .l5{width:110px;}
.autolist .u2{float:left;border:#e4e4e6 solid 1px;border-top:0;height:68px;width:1038px;margin:0 10px;}
.autolist .u2 li{float:left;text-align:center;line-height:68px;font-size:14px;}
.autolist .u2 .l0{width:120px;font-weight:700;}
.autolist .u2 .l1{width:358px;}
.autolist .u2 .l2{width:170px;color:#F85659;padding:0 0 0 0;}
.autolist .u2 .l3{width:150px;font-size:16px;color:#00F;}
.autolist .u2 .l4{width:130px;font-size:16px;color:#ff6600;}
.autolist .u2 .l5{width:110px;line-height:normal;}
.autolist .u2 .l5 .a1{float:left;margin:19px 0 0 10px;background-color:#1E9FFF;color:#fff;width:90px;padding:7px 0 0 0;height:23px;border-radius:3px;font-size:12px;}
.autolist .u2:hover{background-color:#FDFDFD;}
