@charset "utf-8";
/*新版任务大厅专属样式*/
.renwucap{float:left;width:1060px;text-align:center;padding:10px 0;border-top:#f5f5f5 solid 10px;margin:10px 0 0 0;border-bottom:#ededed solid 1px;}
.renwucap li{float:left;}
.renwucap .l0{width:50px;padding-top:2px;}
.renwucap .l1{width:500px;}
.renwucap .l2{width:180px;}
.renwucap .l3{width:230px;}
.renwucap .l4{width:100px;}
.renwulist{float:left;width:1060px;padding:0 0 20px 0;border-bottom:#ededed solid 1px;}
.renwulist li{float:left;}
.renwulist .l0{width:50px;text-align:center;padding-top:23px;}
.renwulist .l1{width:500px;}
.renwulist .l1 .a1{float:left;width:100%;font-size:15px;margin:18px 0 15px 0;}
.renwulist .l1 .a1:hover{color:#ff0000;}
.renwulist .l1 .zt{float:left;}
.renwulist .l1 .zt span{float:left;padding:0 10px;height:18px;line-height:18px;border-radius:2px;}
.renwulist .l1 .zt .zt0{color:#5c93ee;border:#5c93ee solid 1px;background-color:#ccdcf7;}
.renwulist .l1 .zt .zt1{color:#ff5858;border:#ff5858 solid 1px;background-color:#ffe5e5;}
.renwulist .l1 .djl{float:left;height:20px;color:#999;margin-left:20px;background:url(../img/djl.gif) left center no-repeat;padding-left:20px;line-height:20px;}
.renwulist .l1 .bmsj{float:left;height:20px;color:#999;margin-left:20px;background:url(../img/sj.gif) left center no-repeat;padding-left:20px;line-height:20px;}
.renwulist .l2{width:180px;padding:21px 0 0 0;text-align:center;}
.renwulist .l2 .s1{float:right;color:#e61717;font-size:16px;width:100%;}
.renwulist .l2 .s2{float:right;clear:both;font-size:14px;margin:10px 0 0 0;width:100%;}
.renwulist .l3{width:230px;text-align:center;color:#ff6838;padding-top:15px;}
.renwulist .l3 .s1{font-size:22px;font-weight:100;}
.renwulist .l3 .s2{float:left;width:98px;font-size:14px;margin:5px 65px 0 65px;height:24px;line-height:24px;border:#FF6838 dotted 1px;}
.renwulist .l3 .s2 a{color:#ff6838;}
.renwulist .l4{width:100px;padding:10px 0 0 0;}
.renwulist .l4 a{float:left;width:80px;line-height:30px;text-align:center;border-radius:2px;margin:10px 0 0 10px;}
.renwulist .l4 .a1{background-color:#1AA094;color:#fff;}
.renwulist .l4 .a2{background-color:#ff0000;color:#fff;}
.renwulist:hover{background-color:#fcfcfc;}

.renwujiecap{float:left;text-align:left;margin:10px 10px 0 10px;width:1038px;height:38px;border:#E8E8E8 solid 1px;background-color:#F5F5F5;}
.renwujiecap li{float:left;line-height:38px;}
.renwujiecap .l0{padding:2px 0 0 0;width:33px;text-align:center;}
.renwujiecap .l1{width:532px;text-align:center;}
.renwujiecap .l2{width:141px;text-align:center;}
.renwujiecap .l3{width:181px;text-align:center;}
.renwujiecap .l4{width:151px;text-align:center;}
.renwujielist1{float:left;text-align:left;margin:10px 10px 0 10px;width:1038px;height:41px;border:#E8E8E8 solid 1px;background-color:#F5F5F5;}
.renwujielist1 li{float:left;}
.renwujielist1 .l1{padding:14px 0 0 20px;}
.renwujielist1 .l2{padding:12px 0 0 10px;}
.renwujielist1 .l3{padding:12px 0 0 10px;}
.renwujielist1 .l4{padding:12px 0 0 70px;}
.renwujielist1 .l5{padding:9px 0 0 10px;}
.renwujielist1 .l6{float:right;}
.renwujielist1 .l6 a{float:left;width:101px;margin:8px 25px 0 25px;line-height:24px;background-color:#ffd401;text-align:center;}
.renwujielist2{float:left;text-align:left;margin:0 10px 0 10px;width:1038px;height:81px;border:#E8E8E8 solid 1px;border-top:0;}
.renwujielist2 li{float:left;text-align:center;}
.renwujielist2 .l1{padding-left:33px;padding-top:15px;line-height:25px;width:532px;color:#999;text-align:left;}
.renwujielist2 .l1 .a1{color:#000;font-size:14px;font-weight:700;}
.renwujielist2 .l1 .a1:hover{color:#ff6600;}
.renwujielist2 .l2{width:141px;line-height:81px;font-weight:700;color:#ff6600;font-size:14px;}
.renwujielist2 .l3{width:181px;padding-top:14px;}
.renwujielist2 .l3 span{float:left;width:100%;}
.renwujielist2 .l3 .zts3{border:green dotted 1px;color:green;padding:2px 5px;margin:5px 20px;width:129px;}
.renwujielist2 .l3 .zts5{border:#ff0000 dotted 1px;color:#ff0000;padding:2px 5px;margin:5px 20px;width:129px;}
.renwujielist2 .l4{width:151px;line-height:normal;padding:14px 0 0 0;}
.renwujielist2 .l4 a{float:left;width:101px;margin:0 25px 0 25px;border-radius:3px;}
.renwujielist2 .l4 a:hover{color:#ff0000;}
.renwujielist2 .l4 .a1{color:#fff;background-color:#ff6600;line-height:30px;margin-bottom:9px;font-size:14px;}
.renwujielist2 .l4 .a1:hover{background-color:#ed6003;color:#fff;}
.renwujielist2:hover{background-color:#fcfcfc;}

.renwujielogcap{float:left;text-align:left;margin:10px 10px 0 10px;width:1028px;font-size:14px;padding-left:10px;line-height:38px;border:#E8E8E8 solid 1px;background-color:#F5F5F5;}
.renwujielog{float:left;width:1038px;margin:0 10px 0 10px;border:#E8E8E8 solid 1px;border-top:0;background-color:#fff;}
.renwujielog .u1{float:left;padding:15px;width:1008px;border-top:#D2D2D2 dotted 1px;}
.renwujielog .u1 li{float:left;}
.renwujielog .u1 .l1{width:40px;text-align:center;}
.renwujielog .u1 .l1 img{margin-bottom:5px;}
.renwujielog .u1 .l2{width:938px;margin-left:30px;line-height:20px;font-size:14px;}
.renwujielog .u1 .l2 img{max-width:100%;}
.renwujielog .u1:first-child{border-top:0;}

.renwujsfcap{float:left;text-align:left;margin:10px 10px 0 10px;width:1038px;height:38px;border:#E8E8E8 solid 1px;background-color:#F5F5F5;}
.renwujsfcap li{float:left;line-height:38px;}
.renwujsfcap .l1{width:150px;text-align:center;}
.renwujsfcap .l2{width:238px;text-align:center;}
.renwujsfcap .l3{width:250px;text-align:center;}
.renwujsfcap .l4{width:250px;text-align:center;}
.renwujsfcap .l5{width:150px;text-align:center;}
.renwujsflist{float:left;text-align:left;margin:0 10px 0 10px;width:1038px;min-height:77px;border:#E8E8E8 solid 1px;border-top:0;}
.renwujsflist li{float:left;text-align:center;}
.renwujsflist .l1{line-height:81px;font-weight:700;color:#ff6600;font-size:14px;width:150px;}
.renwujsflist .l2{width:238px;padding-top:8px;line-height:30px;}
.renwujsflist .l3{width:250px;padding-top:14px;}
.renwujsflist .l3 span{float:left;width:100%;}
.renwujsflist .l3 .zts3{border:green dotted 1px;color:green;padding:2px 5px;margin:5px 54px;width:130px;}
.renwujsflist .l3 .zts5{border:#ff0000 dotted 1px;color:#ff0000;padding:2px 5px;margin:5px 54px;width:130px;}
.renwujsflist .l4{width:250px;}
.renwujsflist .l4 span{float:left;width:100%;margin-top:14px;}
.renwujsflist .l4 a{float:left;width:80px;margin:10px 85px 0 85px;line-height:24px;background-color:#ffd401;}
.renwujsflist .l5{width:150px;line-height:normal;padding:23px 0 0 0;}
.renwujsflist .l5 a{float:left;width:100px;margin:0 25px 0 25px;border-radius:3px;}
.renwujsflist .l5 a:hover{color:#ff0000;}
.renwujsflist .l5 .a1{color:#fff;background-color:#ff6600;line-height:31px;margin-bottom:9px;font-size:14px;}
.renwujsflist .l5 .a1:hover{background-color:#ed6003;color:#fff;}
.renwujsflist:hover{background-color:#fcfcfc;}














