@charset "utf-8";

.caishen{float:left;margin:13px 0 0 0;width:998px;padding:10px 0 0 60px;height:30px;font-size:14px;border:#FFE8C2 solid 1px;text-align:left;background:url(../img/money.png) no-repeat;background-color:#FEFEDA;background-position:8px 8px;color:#E51F1F;}

.ordercap{float:left;text-align:left;margin:10px 10px 0 10px;width:1038px;height:38px;border:#E8E8E8 solid 1px;background-color:#F5F5F5;}
.ordercap li{float:left;}
.ordercap .l0{padding:14px 0 0 20px;}
.ordercap .l1{padding:12px 0 0 0;width:508px;text-align:center;}
.ordercap .l2{padding:12px 0 0 0;width:141px;text-align:center;}
.ordercap .l3{padding:12px 0 0 0;width:81px;text-align:center;}
.ordercap .l4{padding:12px 0 0 0;width:151px;text-align:center;}
.ordercap .l5{padding:12px 0 0 0;width:124px;text-align:center;}
.order1{float:left;text-align:left;margin:10px 10px 0 10px;width:1038px;height:41px;border:#DAF3FF solid 1px;background-color:#EAF8FF;}
.order1 li{float:left;}
.order1 .l1{padding:14px 0 0 20px;}
.order1 .l2{padding:12px 0 0 10px;font-weight:700;}
.order1 .l3{padding:12px 0 0 10px;}
.order1 .l4{padding:12px 0 0 70px;}
.order1 .l5{padding:9px 0 0 10px;}
.orderlist{float:left;width:1040px;border-bottom:#DAF3FF solid 1px;margin:0 10px 0 10px;}
.order2{float:left;text-align:left;width:1038px;height:117px;border:#DAF3FF solid 1px;border-top:0;border-bottom:0;}
.order2 li{float:left;}
.order2 .l1{padding:18px 0 0 20px;width:80px;}
.order2 .l1 img{width:80px;height:80px;border-radius:5px;}
.order2 .l2{padding:18px 30px 0 10px;width:400px;line-height:20px;color:#999;}
.order2 .l2 .a1{color:#000;font-weight:700;font-size:14px;}
.order2 .l2 .a1:hover{color:#ff6600;}
.order2 .l3{padding:18px 0 0 0;width:140px;text-align:center;border-right:#E8E8E8 solid 1px;height:98px;border-top:#fff solid 1px;}
.order2 .l4{padding:18px 0 0 0;width:80px;text-align:center;border-right:#E8E8E8 solid 1px;height:98px;border-top:#fff solid 1px;}
.order2 .l5{padding:18px 0 0 0;width:150px;text-align:center;line-height:20px;border-right:#E8E8E8 solid 1px;height:99px;}
.order2 .l6{padding:20px 0 0 0;width:125px;text-align:center;}
.order2 .l6 a{float:left;width:100%;text-align:center;margin:0 0 10px 0;}
.order2 .l6 .btn{width:75px;height:23px;color:#fff;border-radius:3px;font-size:13px;background-color:#66B6FF;padding:5px 0 0 0;margin-left:25px;}
.order2 .l6 .btn:hover{background-color:#118ADB;}
.order21 .l1{border-top:#E8E8E8 solid 1px;}
.order21 .l2{border-top:#E8E8E8 solid 1px;}
.order21 .l3{border-top:#E8E8E8 solid 1px;}
.order21 .l4{border-top:#E8E8E8 solid 1px;}

.sellserverordercap{float:left;text-align:left;margin:10px 10px 0 10px;width:1038px;height:38px;border:#E8E8E8 solid 1px;background-color:#F5F5F5;}
.sellserverordercap li{float:left;}
.sellserverordercap .l0{padding:14px 0 0 20px;}
.sellserverordercap .l1{padding:12px 0 0 0;width:508px;text-align:center;}
.sellserverordercap .l2{padding:12px 0 0 0;width:141px;text-align:center;}
.sellserverordercap .l3{padding:12px 0 0 0;width:81px;text-align:center;}
.sellserverordercap .l4{padding:12px 0 0 0;width:151px;text-align:center;}
.sellserverordercap .l5{padding:12px 0 0 0;width:124px;text-align:center;}
.sellserverorder1{float:left;text-align:left;margin:10px 10px 0 10px;width:1038px;height:41px;border:#DAF3FF solid 1px;background-color:#EAF8FF;}
.sellserverorder1 li{float:left;}
.sellserverorder1 .l1{padding:14px 0 0 20px;}
.sellserverorder1 .l2{padding:12px 0 0 10px;font-weight:700;}
.sellserverorder1 .l3{padding:12px 0 0 10px;}
.sellserverorder1 .l4{padding:12px 0 0 70px;}
.sellserverorder1 .l5{padding:9px 0 0 10px;}
.sellserverorder2{float:left;text-align:left;margin:0 10px 0 10px;width:1038px;height:103px;border:#DAF3FF solid 1px;border-top:0;}
.sellserverorder2 li{float:left;}
.sellserverorder2 .l1{padding:18px 0 0 20px;width:100px;}
.sellserverorder2 .l1 img{width:100px;height:66px;}
.sellserverorder2 .l2{padding:18px 30px 0 10px;width:380px;line-height:20px;color:#999;}
.sellserverorder2 .l2 .a1{color:#000;font-size:14px;}
.sellserverorder2 .l2 .a1:hover{color:#ff6600;}
.sellserverorder2 .l3{padding:19px 0 0 0;width:140px;text-align:center;border-right:#DAF3FF solid 1px;height:84px;}
.sellserverorder2 .l3 strong{font-size:14px;}
.sellserverorder2 .l4{padding:19px 0 0 0;width:80px;text-align:center;border-right:#DAF3FF solid 1px;height:84px;}
.sellserverorder2 .l5{padding:18px 0 0 0;width:150px;text-align:center;line-height:20px;border-right:#DAF3FF solid 1px;height:85px;}
.sellserverorder2 .l6{padding:20px 0 0 0;width:125px;text-align:center;}
.sellserverorder2 .l6 a{float:left;width:100%;text-align:center;margin:0 0 10px 0;}
.sellserverorder2 .l6 .btn{width:75px;height:23px;color:#fff;border-radius:3px;font-size:13px;background-color:#66B6FF;padding:5px 0 0 0;margin-left:25px;}
.sellserverorder2 .l6 .btn:hover{background-color:#118ADB;}

/*卖家方订单专属样式*/
.orderv1{float:left;width:1020px;margin:0 20px 0 20px;text-align:left;}
.orderv1 .u1{float:left;width:1020px;margin:10px 0 10px 0;}
.orderv1 .u1 li{float:left;}
.orderv1 .u1 .l1{width:540px;font-size:14px;height:32px;padding:1px 0 0 0;border-bottom:#EEEEEE solid 1px;color:#000;}
.orderv1 .u1 .l2{width:480px;font-size:12px;text-align:right;height:33px;border-bottom:#EEEEEE solid 1px;}
.orderv1 .u1 .l2 span{float:right;padding:2px 5px 1px 5px;border:#FE686F dotted 1px;color:#FE686F;margin-left:10px;}
.orderv1 .u1 .l3{padding-right:20px;height:59px;border-right:#eee solid 1px;margin:30px 0 0 20px;}
.orderv1 .u1 .l3 span{float:left;width:100%;clear:both;}
.orderv1 .u1 .l3 .s1{font-size:12px;color:#999;}
.orderv1 .u1 .l3 .s2{color:#000;margin:7px 0 0 0;color:#FB6E52;font-size:25px;}
.orderv1 .u1 .l4{width:110px;height:59px;border-right:#eee solid 1px;margin:30px 0 0 30px;}
.orderv1 .u1 .l4 span{float:left;width:100%;clear:both;}
.orderv1 .u1 .l4 .s1{font-size:12px;color:#999;}
.orderv1 .u1 .l4 .s2{color:#000;margin:7px 0 0 0;font-size:25px;}
.orderv1 .u1 .l5{height:59px;border-right:#eee solid 1px;padding-right:50px;margin:30px 0 0 30px;}
.orderv1 .u1 .l5 .s1{font-size:12px;color:#999;float:left;width:100%;}
.orderv1 .u1 .l5 .s2{clear:both;float:left;margin:12px 0 0 0;}
.orderv1 .u1 .l5 .s2 span{float:left;border-radius:10px;padding:1px 10px 3px 10px;font-size:14px;}
.orderv1 .u1 .l5 .s2 .green{color:#fff;background-color:#008800;}
.orderv1 .u1 .l5 .s2 .red{color:#fff;background-color:#ff0000;}
.orderv1 .u1 .l5 .s2 .blue{color:#fff;background-color:#0000FF;}
.orderv1 .u1 .l5 .s2 .feng{color:#fff;background-color:#ff6600;}
.orderv1 .u1 .l5 .s2 .hui{color:#fff;background-color:#333333;}
.orderv1 .u1 .l6{width:272px;height:59px;margin:30px 0 0 20px;}
.orderv1 .u1 .l6 .s1{font-size:12px;color:#999;float:left;width:100%;}
.orderv1 .u1 .l6 .s1 strong{color:#000;}
.orderv1 .u1 .l6 .s2{float:left;margin:12px 20px 0 0;background:url(../img/qq.gif) left center no-repeat;background-color:#5CB95C;padding:2px 4px 0 30px;height:21px;color:#fff;font-size:14px;border-radius:4px;}
.orderv1 .u1 .l6 .s3{float:left;margin:12px 20px 0 0;background:url(../img/tel1.gif) left center no-repeat;background-color:#44B7F8;padding:2px 4px 0 20px;height:21px;color:#fff;font-size:14px;border-radius:4px;}
.orderv1 .dtit{float:left;width:997px;margin:20px 0 0 0;padding:10px;background-color:#f5f5f5;border:#E8E8E8 solid 1px;font-size:14px;font-weight:700;}
.orderv1 .dtit a:hover{color:#ff6600;}
.orderv1 .u2{float:left;width:1018px;border-right:#E8E8E8 solid 1px;}
.orderv1 .u2 li{float:left;border-bottom:#E8E8E8 solid 1px;}
.orderv1 .u2 .l1{border-left:#E8E8E8 solid 1px;text-align:center;padding:10px 0 0 0;height:28px;background-color:#FCFDFE;width:176px;font-weight:700;}
.orderv1 .u2 .l2{border-left:#E8E8E8 solid 1px;text-align:left;padding:10px 0 0 15px;height:28px;width:316px;}
.orderv1 .table1{float:left;width:1019px;border-right:#E8E8E8 solid 1px;border-bottom:#E8E8E8 solid 1px;}
.orderv1 .table1 .td1{border-left:#E8E8E8 solid 1px;text-align:center;padding:10px 0;background-color:#FCFDFE;width:182px;font-weight:700;}
.orderv1 .table1 .td2{border-left:#E8E8E8 solid 1px;text-align:left;padding:10px 0 10px 15px;width:851px;line-height:22px;}
.orderv1 .table1 .td2 .fontc{font-size:16px;color:#F0F;line-height:26px;}
.orderv1 .table1 .td2 .fontc a{color:#F00;font-weight:700;}
.orderv1 .table1 .td2 .kdall{float:left;width:100%;}
.orderv1 .table11{border-top:#E8E8E8 solid 1px;}
.orderv1 .ztcontrol{float:left;width:1020px;}
.orderv1 .ztcontrol .d1{float:left;width:1020px;background:url(../img/orderj.png) no-repeat;height:13px;background-position:367px 0;}
.orderv1 .ztcontrol .d2{float:left;width:998px;font-size:14px;background-color:#F5FAFF;border:#BDDEFE solid 1px;padding:10px;}
.orderv1 .ztcontrol .d2:hover{-moz-box-shadow:4px 4px 10px #F5FAFF; -webkit-box-shadow:4px 4px 10px #F5FAFF; box-shadow:4px 4px 10px #F5FAFF;}
.orderv1 .ztcontrol .d2 .ds1{float:left;border-bottom:#ddd dotted 1px;padding:0 0 10px 0;width:100%;}
.orderv1 .ztcontrol .d2 .ds2{float:left;padding:10px 0 0 0;width:100%;line-height:24px;}
.orderv1 .ztcontrol .d2 .ds2 a{text-decoration:underline;}
.orderv1 .ztcontrol .d2 .ds2 a:hover{color:#ff6600;}
.orderv1 .ztcontrol .d2 .ds3{float:left;margin:10px 0 0 0;width:100%;}
.orderv1 .ztcontrol .d2 .ds3 a{float:left;padding:6px 20px 0 20px;height:27px;text-align:center;margin:0 20px 0 0;}
.orderv1 .ztcontrol .d2 .ds3 .a1{font-weight:700;color:#fff;background-color:#FF6838;}
.orderv1 .ztcontrol .d2 .ds3 .a0{color:#333;padding-top:5px;height:26px;border:#CDCDCD solid 1px;background-color:#fff;}
.orderv1 .ztcontrol .d2 .ds3 .a0:hover{background-color:#f2f2f2;}
.orderv1 .ztcontrol .d2 .ds3 a:hover{text-decoration:none;}

.serverorderv2{float:left;width:1018px;margin:20px 0 0 10px;text-align:left;}
.serverorderv2 .u1{float:left;width:1018px;margin:0 0 30px 0;}
.serverorderv2 .u1 li{float:left;}
.serverorderv2 .u1 .l1{width:798px;font-size:14px;height:32px;padding:1px 0 0 0;border-bottom:#EEEEEE solid 1px;color:#000;}
.serverorderv2 .u1 .l1 a{color:#3266CE;}
.serverorderv2 .u1 .l1 a:hover{color:#ff6600;text-decoration:none;}
.serverorderv2 .u1 .l2{width:220px;font-size:12px;text-align:right;height:33px;border-bottom:#EEEEEE solid 1px;}
.serverorderv2 .u1 .l2 span{float:right;padding:2px 5px 1px 5px;border:#FE686F dotted 1px;color:#FE686F;}
.serverorderv2 .u1 .l3{width:134px;height:59px;border-right:#eee solid 1px;margin:30px 0 0 10px;}
.serverorderv2 .u1 .l3 span{float:left;width:100%;clear:both;}
.serverorderv2 .u1 .l3 .s1{font-size:12px;color:#999;}
.serverorderv2 .u1 .l3 .s2{color:#000;margin:7px 0 0 0;color:#FB6E52;font-size:25px;}
.serverorderv2 .u1 .l7{width:110px;height:59px;border-right:#eee solid 1px;margin:30px 0 0 20px;}
.serverorderv2 .u1 .l7 span{float:left;}
.serverorderv2 .u1 .l7 .s1{font-size:12px;color:#999;width:100%;}
.serverorderv2 .u1 .l7 .s2{margin:7px 0 0 0;color:333;font-size:25px;}
.serverorderv2 .u1 .l7 .s3{margin:18px 0 0 10px;color:#ff0000;cursor:pointer;}
.serverorderv2 .u1 .l8{width:110px;height:59px;border-right:#eee solid 1px;margin:30px 0 0 20px;}
.serverorderv2 .u1 .l8 span{float:left;}
.serverorderv2 .u1 .l8 .s1{font-size:12px;color:#999;width:100%;}
.serverorderv2 .u1 .l8 .s2{margin:7px 0 0 0;color:333;font-size:25px;}
.serverorderv2 .u1 .l8 .s3{margin:18px 0 0 10px;color:#ff0000;cursor:pointer;}
.serverorderv2 .u1 .l4{width:80px;height:59px;border-right:#eee solid 1px;margin:30px 0 0 20px;}
.serverorderv2 .u1 .l4 span{float:left;width:100%;clear:both;}
.serverorderv2 .u1 .l4 .s1{font-size:12px;color:#999;}
.serverorderv2 .u1 .l4 .s2{color:#000;margin:7px 0 0 0;font-size:25px;}
.serverorderv2 .u1 .l5{width:130px;height:59px;border-right:#eee solid 1px;margin:30px 0 0 20px;}
.serverorderv2 .u1 .l5 .s1{font-size:12px;color:#999;float:left;width:100%;}
.serverorderv2 .u1 .l5 .s2{clear:both;float:left;margin:12px 0 0 0;}
.serverorderv2 .u1 .l5 .s2 span{float:left;border-radius:10px;padding:1px 10px 3px 10px;font-size:14px;}
.serverorderv2 .u1 .l5 .s2 .green{color:#fff;background-color:#008800;}
.serverorderv2 .u1 .l5 .s2 .red{color:#fff;background-color:#ff0000;}
.serverorderv2 .u1 .l5 .s2 .blue{color:#fff;background-color:#0000FF;}
.serverorderv2 .u1 .l5 .s2 .feng{color:#fff;background-color:#ff6600;}
.serverorderv2 .u1 .l5 .s2 .hui{color:#fff;background-color:#333333;}
.serverorderv2 .u1 .l6{width:239px;height:59px;margin:30px 0 0 20px;}
.serverorderv2 .u1 .l6 .s1{font-size:12px;color:#999;float:left;width:100%;}
.serverorderv2 .u1 .l6 .s1 strong{color:#000;}
.serverorderv2 .u1 .l6 .s2{float:left;margin:12px 20px 0 0;background:url(../img/qq.gif) left center no-repeat;background-color:#5CB95C;padding:2px 4px 0 30px;height:21px;color:#fff;font-size:14px;border-radius:4px;}
.serverorderv2 .u1 .l6 .s3{float:left;margin:12px 20px 0 0;background:url(../img/tel1.gif) left center no-repeat;background-color:#44B7F8;padding:2px 4px 0 20px;height:21px;color:#fff;font-size:14px;border-radius:4px;}
.serverorderv2 .u2{float:left;width:1016px;border-top:#F0F0F0 solid 1px;border-right:#F0F0F0 solid 1px;}
.serverorderv2 .u2 li{float:left;border-bottom:#F0F0F0 solid 1px;}
.serverorderv2 .u2 .l1{border-left:#F0F0F0 solid 1px;text-align:center;padding:10px 0 0 0;height:30px;background-color:#FCFDFE;width:200px;font-weight:700;}
.serverorderv2 .u2 .l2{border-left:#F0F0F0 solid 1px;text-align:left;padding:10px 0 0 15px;height:30px;width:291px;}
.serverorderv2 .table1{float:left;width:917px;border-right:#F0F0F0 solid 1px;border-bottom:#F0F0F0 solid 1px;}
.serverorderv2 .table1 .td1{border-left:#F0F0F0 solid 1px;text-align:center;padding:10px 0;background-color:#FCFDFE;width:201px;font-weight:700;}
.serverorderv2 .table1 .td2{border-left:#F0F0F0 solid 1px;text-align:left;padding:10px 0 10px 15px;width:700px;line-height:22px;}
.serverorderv2 .table11{border-top:#F0F0F0 solid 1px;}
.serverorderv2 .ztcontrol{float:left;width:1018px;margin:0 0 20px 0;}
.serverorderv2 .ztcontrol .d1{float:left;width:1018px;background:url(../img/orderj.png) no-repeat;height:13px;background-position:437px 0;}
.serverorderv2 .ztcontrol .d2{float:left;width:996px;font-size:14px;background-color:#F5FAFF;border:#BDDEFE solid 1px;padding:10px;}
.serverorderv2 .ztcontrol .d2:hover{-moz-box-shadow:4px 4px 10px #F5FAFF; -webkit-box-shadow:4px 4px 10px #F5FAFF; box-shadow:4px 4px 10px #F5FAFF;}
.serverorderv2 .ztcontrol .d2 .ds1{float:left;border-bottom:#ddd dotted 1px;padding:0 0 10px 0;width:100%;}
.serverorderv2 .ztcontrol .d2 .ds2{float:left;padding:10px 0 0 0;width:100%;line-height:24px;}
.serverorderv2 .ztcontrol .d2 .ds2 a{text-decoration:underline;}
.serverorderv2 .ztcontrol .d2 .ds2 a:hover{color:#ff6600;}
.serverorderv2 .ztcontrol .d2 .ds3{float:left;margin:10px 0 0 0;width:100%;}
.serverorderv2 .ztcontrol .d2 .ds3 a{float:left;padding:6px 20px 0 20px;height:27px;text-align:center;margin:0 20px 0 0;}
.serverorderv2 .ztcontrol .d2 .ds3 .a1{font-weight:700;color:#fff;background-color:#FF6838;}
.serverorderv2 .ztcontrol .d2 .ds3 .a0{color:#333;padding-top:5px;height:26px;border:#CDCDCD solid 1px;background-color:#fff;}
.serverorderv2 .ztcontrol .d2 .ds3 .a0:hover{background-color:#f2f2f2;}
.serverorderv2 .ztcontrol .d2 .ds3 a:hover{text-decoration:none;}
.serverorderv20{margin-top:0;}

.jfgtlist{float:left;width:1018px;margin:20px 20px 0 20px;border:#DAF3FF solid 1px;background-color:#fff;}
.jfgtlist .cap{float:left;padding:6px 0 6px 10px;font-weight:700;width:1008px;font-size:14px;background-color:#EAF8FF;border-bottom:#DAF3FF solid 1px;}
.jfgtlist .u1{float:left;padding:17px 0 13px 0;margin:0 20px;width:978px;border-top:#BCBCBC dotted 1px;}
.jfgtlist .u1 li{float:left;}
.jfgtlist .u1 .l1{width:65px;}
.jfgtlist .u1 .l2{width:913px;line-height:20px;font-size:14px;}
.jfgtlist .u1 .l2 img{max-width:851px;}
.jfgtlist .u0{border-top:0;}

.ordercz{float:left;width:986px;margin:10px 20px 0 20px;border:#F58B0F solid 1px;background-color:#FFF7EB;text-align:left;padding:0 0 0 30px;}
.ordercz li{float:left;text-align:left;}
.ordercz .l1{width:956px;padding:10px 0 7px 0;line-height:22px;border-bottom:#DDDDDD solid 1px;font-size:14px;}
.ordercz .l1 a{color:#3366CC;}
.ordercz .l1 a:hover{color:#ff6600;}
.ordercz .l2{width:956px;padding:10px 0 7px 0;}
.ordercz .l3{width:956px;padding:0 0 7px 0;}
.ordercz .l3 .inp{font-size:14px;padding:6px 0 0 2px;background:url(../img/bg2.gif) left top repeat-x;height:22px;border:#CCCCCC solid 1px;}
.ordercz .l3 label{float:left;cursor:pointer;margin:-2px 10px 0 0;padding:7px 10px 0 10px;height:24px;background-color:#FCFCFD;border:#ECECEC solid 1px;border-radius:5px;}
.ordercz .l4{width:956px;padding:10px 0 10px 0;}
.ordercz .l5{width:956px;padding:10px 0 10px 0;}
.ordercz .l6{padding:10px;width:934px;margin:5px 0 0 0;border:#FAEEDC solid 1px;background-color:#fff;line-height:24px;}
.ordercz .l6 img{max-width:934px;}

/*运费*/
.yunfeicap{float:left;border:#E1E1E2 solid 1px;border-left:0;border-bottom:0;width:1039px;margin:10px 10px 0 10px;height:40px;text-align:center;background-color:#F5F5F5;font-size:14px;}
.yunfeicap li{float:left;border-left:#e1e1e2 solid 1px;padding:10px 0 0 0;height:30px;}
.yunfeicap .l1{width:133px;}
.yunfeicap .l2{width:105px;}
.yunfeilist{float:left;border:#E1E1E2 solid 1px;border-left:0;border-top:0;width:1039px;margin:0 10px 0 10px;text-align:center;}
.yunfeilist li{float:left;border-left:#e1e1e2 solid 1px;border-top:#E1E1E2 solid 1px;}
.yunfeilist .l1{width:133px;padding:10px 0 0 0;height:30px;font-size:14px;background-color:#F5F5F5;}
.yunfeilist .l2{width:105px;height:40px;}
.yunfeilist .l2 input{float:left;width:73px;margin:8px 0 0 19px;font-size:14px;text-align:center;color:#009;}
.yunfeifb{float:left;width:100%;}
.yunfeifb input{float:left;color:#fff;font-size:14px;border:0;width:240px;height:40px;cursor:pointer;border-radius:3px;margin:20px 0 10px 410px;background-color:#ff0000;}


/*商品搜索*/
.prosel{float:left;background-color:#fff;border:#E4E4E6 solid 1px;width:998px;padding:15px 30px;margin:13px 0 0 0;}
.prosel li{float:left;}
.prosel .l1{width:60px;text-align:right;height:30px;padding:3px 0 0 0;}
.prosel .l2{width:272px;text-align:left;height:33px;}
.prosel .l2 .inp{float:left;background:url(../img/prosel.gif) left top no-repeat;height:22px;border:#CACBCD solid 1px;margin-right:10px;}
.prosel .l2 .fd{float:left;margin:3px 10px 0 0;}
.prosel .ltj{width:579px;margin:10px 0 0 0;padding-left:369px;}
.prosel .ltj input{float:left;width:90px;height:30px;text-align:center;margin:0 20px;cursor:pointer;font-weight:700;}
.prosel .ltj .bt1{color:#fff;border:#48A7E7 solid 1px;background-color:#48A7E7;}
.prosel .ltj .bt2{color:#2B2B2B;border:#C6C7C9 solid 1px;}

/*商品列表*/
.procz{float:left;margin:10px 10px 0 10px;width:1040px;}
.procz li{float:left;}
.procz .l1{width:52px;padding:7px 0 0 0;}
.procz .l2{width:822px;}
.procz .l2 .a1{float:left;margin-right:20px;background-color:#fff;border:#C6C7C9 solid 1px;padding:6px 20px 0 20px;height:23px;}
.procz .l2 .a1:hover{text-decoration:none;background-color:#f2f2f2;}
.procz .l2 .fd{float:left;margin:7px 0 0 0;}
.procz .l2 .fd a:hover{color:#ff6600;}
.procz .l3{width:166px;}
.procz .l3 a{float:right;color:#fff;background-color:#85CCFA;width:110px;text-align:center;padding:7px 0 0 0;height:24px;}
.procz .l3 a:hover{background-color:#7BC7F8;text-decoration:none;}
.prou1{float:left;margin:10px 10px 0 10px;width:1038px;height:33px;border:#e4e4e6 solid 1px;background-color:#E8F1F6;}
.prou1 li{float:left;font-weight:700;padding-top:8px;text-align:center;}
.prou1 .l1{width:538px;}
.prou1 .l2{width:120px;}
.prou1 .l3{width:100px;}
.prou1 .l4{width:70px;}
.prou1 .l5{width:110px;}
.prou1 .l6{width:100px;}
.prou2{float:left;border:#e4e4e6 solid 1px;border-top:0;height:115px;width:1038px;margin:0 10px;}
.prou2 li{float:left;}
.prou2 .l1{width:34px;text-align:center;height:21px;padding:9px 0 0 0;background-color:#F5F6FA;margin-bottom:10px;}
.prou2 .l2{width:1004px;height:23px;padding:7px 0 0 0;background-color:#F5F6FA;margin-bottom:10px;}
.prou2 .l3{width:18px;padding:0 8px 0 8px;text-align:center;}
.prou2 .l4{width:75px;}
.prou2 .l4 img{width:65px;height:65px;}
.prou2 .l5{width:429px;line-height:20px;}
.prou2 .l5 .a1:hover{color:#ff6600;}
.prou2 .l6{width:120px;text-align:center;line-height:20px;}
.prou2 .l7{width:100px;text-align:center;line-height:20px;}
.prou2 .l8{width:70px;text-align:center;line-height:20px;}
.prou2 .l9{width:110px;text-align:center;line-height:20px;}
.prou2 .l9 span{float:left;width:100%;}
.prou2 .l9 .a1{float:left;width:80px;margin:10px 0 0 10px;border:#ff6600 solid 1px;color:#ff6600;border-radius:3px;}
.prou2 .l9 .a1:hover{background-color:#f9f9f9;}
.prou2 .l9 .a2{color:#666;}
.prou2 .l9 .a2:hover{color:#ff6600;}
.prou2 .l10{width:100px;text-align:center;}
.prou2 .l10 a{float:left;text-align:center;width:60px;height:20px;margin:0 20px 10px 20px;padding:3px 0 0 0;border-radius:2px;}
.prou2 .l10 a:hover{text-decoration:none;}
.prou2 .l10 .a1{border:#C9C9C9 solid 1px;}
.prou2 .l10 .a1:hover{background-color:#f2f2f2;}
.prou2 .l10 .a2{color:#fff;border:#1E9FFF solid 1px;background-color:#1E9FFF;}
.prou2 .l10 .a2:hover{background-color:#1390ED;}

/*服务列表*/
.serveru1{float:left;margin:10px 10px 0 10px;width:1038px;height:33px;border:#e4e4e6 solid 1px;background-color:#E8F1F6;}
.serveru1 li{float:left;font-weight:700;padding-top:8px;text-align:center;}
.serveru1 .l1{width:538px;}
.serveru1 .l2{width:120px;}
.serveru1 .l3{width:100px;}
.serveru1 .l4{width:80px;}
.serveru1 .l5{width:100px;}
.serveru1 .l6{width:100px;}
.serveru2{float:left;border:#e4e4e6 solid 1px;border-top:0;height:115px;width:1038px;margin:0 10px;}
.serveru2 li{float:left;}
.serveru2 .l1{width:34px;text-align:center;height:21px;padding:9px 0 0 0;background-color:#F5F6FA;margin-bottom:10px;}
.serveru2 .l2{width:1004px;height:23px;padding:7px 0 0 0;background-color:#F5F6FA;margin-bottom:10px;}
.serveru2 .l3{width:18px;padding:0 8px 0 8px;text-align:center;}
.serveru2 .l4{width:75px;}
.serveru2 .l4 img{width:65px;height:65px;}
.serveru2 .l5{width:429px;line-height:20px;}
.serveru2 .l5 .a1:hover{color:#ff6600;}
.serveru2 .l6{width:120px;text-align:center;line-height:20px;}
.serveru2 .l7{width:100px;text-align:center;line-height:20px;}
.serveru2 .l8{width:80px;text-align:center;line-height:20px;}
.serveru2 .l9{width:100px;text-align:center;line-height:20px;}
.serveru2 .l10{width:100px;text-align:center;}
.serveru2 .l10 a{float:left;text-align:center;width:60px;height:20px;margin:0 20px 10px 20px;padding:3px 0 0 0;border-radius:2px;}
.serveru2 .l10 a:hover{text-decoration:none;}
.serveru2 .l10 .a1{border:#C9C9C9 solid 1px;}
.serveru2 .l10 .a1:hover{background-color:#f2f2f2;}
.serveru2 .l10 .a2{color:#fff;border:#1E9FFF solid 1px;background-color:#1E9FFF;}
.serveru2 .l10 .a2:hover{background-color:#1390ED;}

.serverjfgtlist{float:left;width:1016px;margin:10px 0 0 10px;border:#F58B0F solid 1px;background-color:#fff;}
.serverjfgtlist .cap{float:left;padding:6px 0 0 10px;height:21px;font-weight:700;width:1006px;font-size:14px;background-color:#FFF7EB;border-bottom:#E1E6EB solid 1px;}
.serverjfgtlist .u1{float:left;padding:17px 0 13px 0;margin:0 20px;width:976px;border-top:#BCBCBC dotted 1px;}
.serverjfgtlist .u1 li{float:left;}
.serverjfgtlist .u1 .l1{width:75px;text-align:center;}
.serverjfgtlist .u1 .l2{width:901px;line-height:20px;font-size:14px;}
.serverjfgtlist .u1 .l2 img{max-width:901px;}
.serverjfgtlist .u0{border-top:0;}

.serverordercz{float:left;width:986px;margin:10px 0 0 10px;border:#F58B0F solid 1px;background-color:#FFF7EB;text-align:left;padding:0 0 0 30px;}
.serverordercz li{float:left;text-align:left;}
.serverordercz .l1{width:956px;padding:10px 0 7px 0;line-height:22px;border-bottom:#DDDDDD solid 1px;font-size:14px;}
.serverordercz .l1 a{color:#3366CC;}
.serverordercz .l1 a:hover{color:#ff6600;}
.serverordercz .l2{width:956px;padding:10px 0 7px 0;}
.serverordercz .l3{width:956px;padding:0 0 7px 0;}
.serverordercz .l3 .inp{font-size:14px;padding:6px 0 0 2px;background:url(../img/bg2.gif) left top repeat-x;height:22px;border:#CCCCCC solid 1px;}
.serverordercz .l3 label{float:left;cursor:pointer;margin:0 10px 0 0;padding:7px 10px 0 10px;height:24px;background-color:#FCFCFD;border:#ECECEC solid 1px;border-radius:5px;font-size:14px;}
.serverordercz .l4{width:956px;padding:10px 0 10px 0;}
.serverordercz .l5{width:956px;padding:10px 0 10px 0;}
.serverordercz .l6{padding:10px;width:934px;margin:5px 0 0 0;border:#FAEEDC solid 1px;background-color:#fff;line-height:24px;}
.serverordercz .l6 img{max-width:934px;}

.rproglo{float:left;width:1040px;margin:13px 0 0 0;padding:10px;background-color:#fff;}
.rproglo .u1{float:left;width:1040px;}
.rproglo .u1 li{float:left;}
.rproglo .u1 .l1{background-color:#F4F4F4;border:#D2CCCC solid 1px;padding:7px;width:80px;}
.rproglo .u1 .l1 .tp{float:left;}
.rproglo .u1 .l2{margin:0 0 0 10px;width:934px;font-size:14px;height:35px;}
.rproglo .u1 .l2 strong{font-size:16px;}
.rproglo .u1 .l3{margin:0 0 0 10px;width:934px;height:30px;}
.rproglo .u1 .l4{margin:0 0 0 10px;width:924px;height:20px;border-top:#D2CCCC dotted 1px;border-bottom:#D2CCCC dotted 1px;background-color:#F4F4F4;padding:6px 0 0 10px;font-family:Arial, Helvetica, sans-serif;}

.rserverglo{float:left;width:1040px;margin:13px 0 0 0;padding:10px;background-color:#fff;}
.rserverglo .u1{float:left;width:1040px;}
.rserverglo .u1 li{float:left;}
.rserverglo .u1 .l1{background-color:#F4F4F4;border:#D2CCCC solid 1px;padding:7px;width:122px;}
.rserverglo .u1 .l1 .tp{float:left;}
.rserverglo .u1 .l2{margin:0 0 0 10px;width:892px;font-size:14px;height:35px;}
.rserverglo .u1 .l2 strong{font-size:16px;}
.rserverglo .u1 .l3{margin:0 0 0 10px;width:892px;height:30px;}
.rserverglo .u1 .l4{margin:0 0 0 10px;width:882px;height:20px;border-top:#D2CCCC dotted 1px;border-bottom:#D2CCCC dotted 1px;background-color:#F4F4F4;padding:6px 0 0 10px;font-family:Arial, Helvetica, sans-serif;}

/*会员等级*/
.dju1{float:left;width:697px;height:25px;margin:0 0 0 170px;clear:both;font-size:14px;}
.dju1 li{float:left;}
.dju1 .l1{width:200px;}
.dju1 .l2{width:497px;}
.dju2{float:left;width:697px;height:40px;margin:0 0 0 170px;}
.dju2 li{float:left;}
.dju2 li input{float:left;border:#CCCCCC solid 1px;height:31px;padding:0 0 0 5px;font-family:"Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",华文细黑,STHeiti,MingLiu;}
.dju2 .l1{width:200px;}
.dju2 .l1 input{width:180px;background-color:#F7FBFD;}
.dju2 .l2{width:497px;}
.dju2 .l2 input{widht:100px;}

/*商家自定义分类*/
.protypecap{float:left;border:#E1E1E2 solid 1px;width:1038px;margin:10px 10px 0 10px;height:40px;text-align:center;background-color:#F5F5F5;}
.protypecap li{float:left;border-right:#e1e1e2 solid 1px;padding:12px 0 0 0;height:28px;}
.protypecap .l1{width:30px;padding-top:13px;height:27px;}
.protypecap .l2{width:390px;padding-left:10px;text-align:left;}
.protypecap .l3{width:250px;}
.protypecap .l4{width:254px;}
.protypecap .l5{width:100px;border-right:0;}
.protypelist{float:left;border:#E1E1E2 solid 1px;width:1038px;margin:0 10px 0 10px;height:32px;border-top:0;text-align:center;background-color:#F9F9F9;}
.protypelist li{float:left;border-right:#e1e1e2 solid 1px;padding:8px 0 0 0;height:24px;}
.protypelist .l1{width:30px;padding:10px 0 0 0;height:22px;text-align:center;font-weight:700;}
.protypelist .l2{width:390px;padding-left:10px;text-align:left;}
.protypelist .l3{width:250px;}
.protypelist .l4{width:254px;}
.protypelist .l5{width:100px;border-right:0;padding-top:6px;height:26px;}
.protypelist .l5 .s1{float:left;width:69px;border:#E6E6E6 solid 1px;padding:1px 0 0 9px;height:18px;margin:0 0 0 10px;text-align:left;background:url(../img/jian.gif) no-repeat;background-position:65px 8px;background-color:#fff;}
.protypelist .l5 .gl{float:left;width:78px;border:#e6e6e6 solid 1px;border-top:0;margin:0 0 0 10px;position:relative;background-color:#fff;text-align:left;}
.protypelist .l5 .gl a{float:left;width:69px;padding:3px 0 0 9px;height:18px;}
.protypelist .l5 .gl a:hover{text-decoration:none;background-color:#f2f2f2;}
.protypelist2{float:left;border:#E1E1E2 solid 1px;width:1038px;margin:0 10px 0 10px;height:32px;border-top:0;text-align:center;}
.protypelist2 li{float:left;border-right:#e1e1e2 solid 1px;padding:8px 0 0 0;height:24px;}
.protypelist2 .l1{width:30px;padding:10px 0 0 0;height:22px;text-align:center;}
.protypelist2 .l2{width:370px;padding-left:30px;text-align:left;}
.protypelist2 .l3{width:250px;}
.protypelist2 .l4{width:254px;}
.protypelist2 .l5{width:100px;border-right:0;padding-top:6px;height:26px;}
.protypelist2 .l5 .s1{float:left;width:69px;border:#E6E6E6 solid 1px;padding:1px 0 0 9px;height:18px;margin:0 0 0 10px;text-align:left;background:url(../img/jian.gif) no-repeat;background-position:65px 8px;background-color:#fff;}
.protypelist2 .l5 .gl{float:left;width:78px;border:#e6e6e6 solid 1px;border-top:0;margin:0 0 0 10px;position:relative;background-color:#fff;text-align:left;}
.protypelist2 .l5 .gl a{float:left;width:69px;padding:3px 0 0 9px;height:18px;}
.protypelist2 .l5 .gl a:hover{text-decoration:none;background-color:#f2f2f2;}

/*商家自定义导航*/
.shopmenucap{float:left;border:#E1E1E2 solid 1px;width:1038px;margin:10px 10px 0 10px;height:40px;text-align:center;background-color:#F5F5F5;}
.shopmenucap li{float:left;border-right:#e1e1e2 solid 1px;padding:12px 0 0 0;height:28px;}
.shopmenucap .l1{width:30px;padding-top:13px;height:27px;}
.shopmenucap .l2{width:390px;padding-left:10px;text-align:left;}
.shopmenucap .l3{width:250px;}
.shopmenucap .l4{width:254px;}
.shopmenucap .l5{width:100px;border-right:0;}
.shopmenulist{float:left;border:#E1E1E2 solid 1px;width:1038px;margin:0 10px 0 10px;height:32px;border-top:0;text-align:center;background-color:#F9F9F9;}
.shopmenulist li{float:left;border-right:#e1e1e2 solid 1px;padding:8px 0 0 0;height:24px;}
.shopmenulist .l1{width:30px;padding:10px 0 0 0;height:22px;text-align:center;font-weight:700;}
.shopmenulist .l2{width:390px;padding-left:10px;text-align:left;}
.shopmenulist .l3{width:250px;}
.shopmenulist .l4{width:254px;}
.shopmenulist .l5{width:100px;border-right:0;padding-top:6px;height:26px;}
.shopmenulist .l5 .s1{float:left;width:69px;border:#E6E6E6 solid 1px;padding:1px 0 0 9px;height:18px;margin:0 0 0 10px;text-align:left;background:url(../img/jian.gif) no-repeat;background-position:65px 8px;background-color:#fff;}
.shopmenulist .l5 .gl{float:left;width:78px;border:#e6e6e6 solid 1px;border-top:0;margin:0 0 0 10px;position:relative;background-color:#fff;text-align:left;}
.shopmenulist .l5 .gl a{float:left;width:69px;padding:3px 0 0 9px;height:18px;}
.shopmenulist .l5 .gl a:hover{text-decoration:none;background-color:#f2f2f2;}
.shopmenulist2{float:left;border:#E1E1E2 solid 1px;width:1038px;margin:0 10px 0 10px;height:32px;border-top:0;text-align:center;}
.shopmenulist2 li{float:left;border-right:#e1e1e2 solid 1px;padding:8px 0 0 0;height:24px;}
.shopmenulist2 .l1{width:30px;padding:10px 0 0 0;height:22px;text-align:center;}
.shopmenulist2 .l2{width:370px;padding-left:30px;text-align:left;}
.shopmenulist2 .l3{width:250px;}
.shopmenulist2 .l4{width:254px;}
.shopmenulist2 .l5{width:100px;border-right:0;padding-top:6px;height:26px;}
.shopmenulist2 .l5 .s1{float:left;width:69px;border:#E6E6E6 solid 1px;padding:1px 0 0 9px;height:18px;margin:0 0 0 10px;text-align:left;background:url(../img/jian.gif) no-repeat;background-position:65px 8px;background-color:#fff;}
.shopmenulist2 .l5 .gl{float:left;width:78px;border:#e6e6e6 solid 1px;border-top:0;margin:0 0 0 10px;position:relative;background-color:#fff;text-align:left;}
.shopmenulist2 .l5 .gl a{float:left;width:69px;padding:3px 0 0 9px;height:18px;}
.shopmenulist2 .l5 .gl a:hover{text-decoration:none;background-color:#f2f2f2;}

/*商家轮播*/
.shopbannarcap{float:left;border:#E1E1E2 solid 1px;width:1038px;margin:10px 10px 0 10px;height:40px;text-align:center;background-color:#F5F5F5;}
.shopbannarcap li{float:left;border-right:#e1e1e2 solid 1px;padding:12px 0 0 0;height:28px;}
.shopbannarcap .l1{width:30px;padding-top:13px;height:27px;}
.shopbannarcap .l2{width:590px;padding-left:10px;text-align:left;}
.shopbannarcap .l3{width:100px;}
.shopbannarcap .l4{width:204px;}
.shopbannarcap .l5{width:100px;border-right:0;}
.shopbannarlist{float:left;border:#E1E1E2 solid 1px;width:1038px;margin:0 10px 0 10px;height:90px;border-top:0;text-align:center;}
.shopbannarlist li{float:left;border-right:#e1e1e2 solid 1px;padding:8px 0 0 0;height:82px;}
.shopbannarlist .l1{width:30px;padding:10px 0 0 0;height:80px;text-align:center;font-weight:700;}
.shopbannarlist .l2{width:590px;padding-left:10px;text-align:left;line-height:20px;}
.shopbannarlist .l2 img{margin:0 10px 0 0;}
.shopbannarlist .l2 a:hover{text-decoration:none;}
.shopbannarlist .l3{width:100px;}
.shopbannarlist .l4{width:204px;}
.shopbannarlist .l5{width:100px;border-right:0;padding-top:6px;height:84px;}
.shopbannarlist .l5 .s1{float:left;width:69px;border:#E6E6E6 solid 1px;padding:1px 0 0 9px;height:18px;margin:0 0 0 10px;text-align:left;background:url(../img/jian.gif) no-repeat;background-position:65px 8px;background-color:#fff;}
.shopbannarlist .l5 .gl{float:left;width:78px;border:#e6e6e6 solid 1px;border-top:0;margin:0 0 0 10px;position:relative;background-color:#fff;text-align:left;}
.shopbannarlist .l5 .gl a{float:left;width:69px;padding:3px 0 0 9px;height:18px;}
.shopbannarlist .l5 .gl a:hover{text-decoration:none;background-color:#f2f2f2;}
.shopbannarlist:hover{background:rgba(252,253,254,1);-webkit-transition:background-color 0.3s linear;-moz-transition:background-color 0.3s linear;-o-transition:background-color 0.3s linear;transition:background-color 0.3s linear;}

.rstep{float:left;width:1040px;margin:13px 0 0 0;padding:10px;background-color:#fff;}
.rstep li{float:left;font-size:15px;}
.rstep .l1{background-color:#DCDEE4;width:313px;padding:10px 0 0 0;height:29px;text-align:center;color:#fff;}
.rstep .l0{width:50px;padding:12px 0 0 0;text-align:center;}
.rstep .l11{font-weight:700;background-color:#8B6D47;}

/*卡密*/
.kamikccap{float:left;border:#E1E1E2 solid 1px;width:1038px;margin:10px 0 0 10px;height:40px;text-align:center;background-color:#F5F5F5;}
.kamikccap li{float:left;border-right:#e1e1e2 solid 1px;padding:12px 0 0 0;height:28px;}
.kamikccap .l1{width:30px;padding-top:13px;height:27px;}
.kamikccap .l2{width:50px;}
.kamikccap .l3{width:352px;}
.kamikccap .l4{width:150px;}
.kamikccap .l5{width:90px;}
.kamikccap .l6{width:120px;}
.kamikccap .l7{width:149px;}
.kamikccap .l8{width:90px;border-right:0;}
.kamikclist{float:left;border:#E1E1E2 solid 1px;width:1038px;margin:0 0 0 10px;height:32px;border-top:0;text-align:center;}
.kamikclist li{float:left;border-right:#e1e1e2 solid 1px;padding:8px 0 0 0;height:24px;}
.kamikclist .l1{width:30px;}
.kamikclist .l2{width:50px;}
.kamikclist .l3{width:352px;}
.kamikclist .l4{width:150px;}
.kamikclist .l5{width:90px;}
.kamikclist .l6{width:120px;}
.kamikclist .l7{width:149px;}
.kamikclist .l8{width:90px;border-right:0;padding:6px 0 0 0;height:26px;}
.kamikclist .l8 .s1{float:left;width:59px;border:#E6E6E6 solid 1px;padding:1px 0 0 9px;height:18px;margin:0 0 0 10px;text-align:left;
background:url(../img/jian.gif) no-repeat;background-position:55px 8px;background-color:#fff;}
.kamikclist .l8 .gl{float:left;width:68px;border:#e6e6e6 solid 1px;border-top:0;margin:0 0 0 10px;position:relative;background-color:#fff;}
.kamikclist .l8 .gl a{float:left;width:68px;padding:3px 0 0 0;height:18px;}
.kamikclist .l8 .gl a:hover{text-decoration:none;background-color:#f2f2f2;}
.kamikclist:hover{background-color:#f9f9f9;}


.urz1{float:left;width:1020px;border-bottom:#E1E1E1 solid 1px;height:45px;margin-left:20px;}
.urz1 li{float:left;padding:16px 0 0 0;height:29px;}
.urz1 .l1{width:100px;padding-left:30px;font-weight:700;}
.urz1 .err{background:url(../img/delbtn.png) left center no-repeat;}
.urz1 .l2{width:830px;}
.urz1 .l3{width:60px;text-align:right;}
.urz1 .l3 a{color:#ff0000;}

/*评价*/
.propjlist{float:left;margin:20px 10px 0 10px;width:1039px;text-align:left;border-bottom:#E3E3E4 solid 1px;border-right:#E3E3E4 solid 1px;}
.propjlist li{float:left;padding-top:10px;height:27px;border-top:#E3E3E4 solid 1px;border-left:#E3E3E4 solid 1px;}
.propjlist .l1{width:100px;text-align:center;background-color:#F3F6FB;}
.propjlist .l2{width:927px;padding-left:10px;}
.propjlist .l2 a:hover{color:#ff6600;}
.propjlist .l3{width:234px;padding-left:10px;}
.propjlist1{float:left;margin:0 0 0 10px;width:1038px;text-align:left;border-bottom:#E3E3E4 solid 1px;border-right:#E3E3E4 solid 1px;border-left:#E3E3E4 solid 1px;background:url(../img/kuangbg.gif) left top repeat-y;}
.propjlist1 li{float:left;padding:7px 0;line-height:20px;}
.propjlist1 .l1{width:101px;text-align:center;}
.propjlist1 .l2{width:927px;padding-left:10px;}

/*问答*/
.prowdlist{float:left;margin:20px 10px 0 10px;width:1039px;text-align:left;border-bottom:#E3E3E4 solid 1px;border-right:#E3E3E4 solid 1px;}
.prowdlist li{float:left;padding-top:10px;height:27px;border-top:#E3E3E4 solid 1px;border-left:#E3E3E4 solid 1px;}
.prowdlist .l1{width:100px;text-align:center;background-color:#F3F6FB;}
.prowdlist .l2{width:927px;padding-left:10px;}
.prowdlist .l2 a:hover{color:#ff6600;}
.prowdlist .l3{width:407px;padding-left:10px;}
.prowdlist1{float:left;margin:0 0 0 10px;width:1038px;text-align:left;border-bottom:#E3E3E4 solid 1px;border-right:#E3E3E4 solid 1px;border-left:#E3E3E4 solid 1px;background:url(../img/kuangbg.gif) left top repeat-y;}
.prowdlist1 li{float:left;padding:7px 0;line-height:20px;}
.prowdlist1 .l1{width:100px;text-align:center;}
.prowdlist1 .l2{width:927px;padding-left:10px;border-left:#E3E3E4 solid 1px;}

/*套餐*/
.tccap{float:left;border:#E1E1E2 solid 1px;width:1038px;margin:10px 0 0 10px;height:40px;text-align:center;background-color:#F5F5F5;}
.tccap li{float:left;border-right:#e1e1e2 solid 1px;padding:12px 0 0 0;height:28px;}
.tccap .l0{width:30px;padding-top:13px;height:27px;}
.tccap .l1{width:400px;text-align:left;padding-left:10px;}
.tccap .l2{width:102px;}
.tccap .l3{width:100px;}
.tccap .l4{width:148px;}
.tccap .l5{width:152px;}
.tccap .l6{width:90px;border-right:0;}
.tclist{float:left;border:#E1E1E2 solid 1px;width:1038px;margin:0 0 0 10px;height:32px;border-top:0;text-align:center;}
.tclist li{float:left;border-right:#e1e1e2 solid 1px;padding:8px 0 0 0;height:24px;}
.tclist .l0{width:30px;}
.tclist .l1{width:400px;text-align:left;padding-left:10px;}
.tclist .l2{width:102px;}
.tclist .l3{width:100px;}
.tclist .l4{width:148px;}
.tclist .l5{width:152px;color:#ff6600;}
.tclist .l6{width:90px;border-right:0;padding:6px 0 0 0;height:26px;}
.tclist .l6 .s1{float:left;width:59px;border:#E6E6E6 solid 1px;padding:1px 0 0 9px;height:18px;margin:0 0 0 10px;text-align:left;background:url(../img/jian.gif) no-repeat;background-position:55px 8px;background-color:#fff;}
.tclist .l6 .gl{float:left;width:68px;border:#e6e6e6 solid 1px;border-top:0;margin:0 0 0 10px;position:relative;background-color:#fff;}
.tclist .l6 .gl a{float:left;width:68px;padding:3px 0 0 0;height:18px;}
.tclist .l6 .gl a:hover{text-decoration:none;background-color:#f2f2f2;}
.tclist:hover{background-color:#f9f9f9;}
.tclist1{background-color:#f9f9f9;}

/*统计*/
.selltjlist{float:left;margin:20px 10px 0 10px;width:1039px;text-align:left;border-bottom:#E3E3E4 solid 1px;border-right:#E3E3E4 solid 1px;}
.selltjlist li{float:left;padding-top:10px;height:27px;border-top:#E3E3E4 solid 1px;border-left:#E3E3E4 solid 1px;}
.selltjlist .l1{width:100px;text-align:center;background-color:#F3F6FB;}
.selltjlist .l2{width:927px;padding-left:10px;}
.selltjlist .l2 a:hover{color:#ff6600;}
.selltjlist .l3{width:234px;padding-left:10px;}
