@charset "utf-8";

/*ui-choose样式，可根据实际项目需求进行调整*/
select.ui-choose{display: none;}
ul.ui-choose { box-sizing: border-box; display: inline-block; border: 1px solid transparent; font: 100 16px/30px 'microsoft yahei'; border-right: none; border-bottom: none; font-size: 14px; margin: 0; padding: 0; list-style: none; vertical-align: middle; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
ul.ui-choose:after { content: ""; display: table; clear: both; }
ul.ui-choose>li { box-sizing: border-box; border: 1px solid #ccc; float: left; height: 30px; line-height: 28px; margin-right: 7px; padding: 0 16px; cursor: pointer; position: relative; z-index: 1; min-width: 20px; text-align: center; border-radius: 4px;background:#fff;}
/* ul.ui-choose>li:first-child { border-radius: 3px 0 0 3px; }
ul.ui-choose>li:last-child { border-radius: 0 3px 3px 0; } */
ul.ui-choose>li:hover { z-index: 4; border-color: #e1e1e1; color: #ff6600; }
ul.ui-choose>li.selected { z-index: 3; border-color: #e1e1e1; background-color: #ff6600; color: #fff; }
ul.ui-choose>li.disabled { z-index: 2; background-color: #f2f2f2; color: #aaa; cursor: not-allowed; }
ul.ui-choose>li.disabled:hover { border-color: #aaa; }
ul.ui-choose>li.selected.disabled { z-index: 2; background-color: #8FC7FF; color: #fff; cursor: not-allowed; border-color: #8FC7FF; } 
ul.choose-type-right>li.selected { color: #ff6600; background: transparent url("/user/img/icon-selected.png") no-repeat right bottom;background-color: #fff; }
ul.ui-choose.choose-flex { display: flex; }
ul.ui-choose.choose-flex>li { flex: 1; padding: 0 8px; }
.notes{overflow: hidden;background: #f6f9ff;padding: 10px 0;font-size: 13px;width: 100%;border-top: #ededed solid 1px;}
.notes li{padding-left: 20px;float: left;width: 90%;line-height: 25px;}
.notes h3{float: left;font-size: 14px;background: url(/user/img/tsicon.gif) 0 center no-repeat;padding-left: 20px;font-weight: 700;width: 90%;}
.layui-form-item{margin-top: 15px;clear: both;}
.layui-form-label{float: left;display: block;padding: 6px 15px;width: 80px;font-weight: 400;text-align: right;}
.layui-form-label, .layui-form-mid, .layui-textarea{line-height: 20px;position: relative;}
.element.style{width: 380px;}
.layui-form-item .layui-input-inline{float: left;width: 200px;margin-right: 10px;}
.layui-input-inline{display: inline-block;vertical-align: middle;}
element.style{height: 50px;}
.layui-textarea{min-height: 100px;height: auto;padding: 6px 10px;resize: vertical;}
.layui-input, .layui-textarea{display: block;width: 100%;padding-left: 10px;}
.layui-form-label, .layui-form-mid, .layui-textarea{line-height: 20px;position: relative;}
.layui-form-mid{float: left;display: block;padding: 6px 0;margin-right: 10px;}
.layui-form-label, .layui-form-mid, .layui-textarea{line-height: 20px;position: relative;}
.layui-word-aux{font-size: 12px;color: #999;padding: 0 5px;margin-left:15px;}
.layui-form-item{margin-top: 15px;clear: both;}
.layui-form-label{float: left;display: block;padding: 6px 15px;width: 80px;font-weight: 400;text-align: right;}
.layui-form-label, .layui-form-mid, .layui-textarea{line-height: 20px;position: relative;}
.layui-input-block{margin-left: 110px;min-height: 36px;}
.demo-box{margin: 40px auto;width: 600px;padding: 20px;border: 5px solid #ccc;}
.demo-table{border-collapse: collapse;width: 100%;}
.demo-table caption{border-bottom: 1px dashed #ccc;height: 40px;margin-bottom: 20px;font: 18px/1.2 normal 'microsoft yahei';}
.demo-table tr td{padding: 8px 10px;font: 16px/1.8 normal 'microsoft yahei';vertical-align: top;}
.ui-input{vertical-align: top;height: 18px;font-size: 16px;line-height: 20px;border: 1px solid #aaa;padding: 6px 8px;border-radius: 3px;}
.jq22-header h1{text-align: center;font-size: 16px;}

/*附加选项列表*/
.kuang{float: left;}
.kuang a:hover{color: #ff6600;}
.kuang select{font-size: 14px; width: 121px; position: relative; height: 29px; line-height: 29px; border: 1px solid #CCC; background: url(http://static.928vip.cn/img/inputbg.gif) left top repeat-x; float: left;}
.kuang ul{float: left; padding: 10px 0;}
.kuang .l1{width: 160px; text-align: right; padding: 19px 10px 0 0; height: 38px; color: #666666;}
.kuang li{float: left;width: 35px; text-align: right; padding:15px 0px 0 0; height: 38px; color: #666666;}

/*移动端*/
.tysx{float:left;width:940px;margin:10px 0 0 10px;padding:10px 0 10px 0;background-color:#F7FBFD;}
.uk11{float:left;margin:0 0 0 10px;width:898px;font-size:14px;}
.uk11 li{float:left;}
.uk11 .l1{width:100px;text-align:right;padding:0px 5px 0 0;height:35px;}
.uk11 .l2{width:90px;padding-top:0px;}
.uk11 .l2 label{float:left;cursor:pointer;margin:-1px 10px 0 0;padding:7px 10px 0 10px;height:24px;background-color:#FCFCFD;border:#ECECEC solid 1px;border-radius:5px;}
.uk11 .l2 .inp{float:left;border:#CCCCCC solid 1px;height:31px;padding:0 0 0 5px;margin-right:7px;font-family:"Microsoft YaHei",????,"MicrosoftJhengHei",????,STHeiti,MingLiu;}
/*主机类型*/
.userright .rkuang .ukk{float:left;margin:20px 0 0 0;width:940px;font-size:14px;}
.userright .rkuang .ukk li{float:left;}
.userright .rkuang .ukk .l1{width:130px;text-align:right;padding:19px 10px 0 0;height:38px;color:#666666;}
.userright .rkuang .ukk .l21{width:790px;height:38px;padding:19px 0 0 0;}
.userright .rkuang .ukk .l2{width:680px;height:46px;padding:11px 0 0 0;}
.userright .rkuang .ukk .l2 label{float:left;cursor:pointer;margin:-2px 10px 0 0;padding:7px 10px 0 10px;height:24px;background-color:#FCFCFD;border:#ECECEC solid 1px;border-radius:5px;}
.userright .rkuang .ukk .l2 .fd{float:left;margin:6px 7px 0 0;}
.userright .rkuang .ukk .l2 .inp{float:left;border:#CCCCCC solid 1px;height:34px;padding:0 0 0 5px;margin-right:7px;}
.userright .rkuang .ukk .l2 .finp{float:left;}@media screen and (-webkit-min-device-pixel-ratio:0) {
.userright .rkuang .ukk .l2 .finp{padding:5px 0 0 0;}
.userright .rkuang .ukk .l2 .sf, .ukk .l2 .mf {float: left;padding: 0px 10px;width: 80px;height: 30px;text-align: center;line-height: 30px;position: absolute;left: 0;top: 0;cursor: pointer;}
.userright .rkuang .ukk .l2 .sf {left: 95px;}