@charset "utf-8";
.ilist{margin:0;background-color:#fff;border-bottom:#f2f2f2 solid 1px;padding:10px 0;text-align:left;}
.ilist .d1{margin:5px 10px 0 10px;}
.ilist .d1 .s1{float:left;width:100%;font-size:14px;padding:0 0 8px 0;font-weight:700;}
.ilist .d1 .s2{float:left;width:50%;color:#999;}
.ilist .d1 .s3{float:left;width:50%;color:#999;text-align:right;}

.ntit{background-color:#fff;border-bottom:#dddddd dotted 1px;line-height:20px;color:#999;}
.ntit .d1{display:block;margin:0;webkit-box-flex:1;-moz-box-flex:1;box-flex:1;padding:8px 5px 5px 5px;font-size:14px;line-height:24px;}
.ntit .d1 strong{font-size:16px;font-weight:700;color:#000;}
.ntxt{background-color:#fff;font-size:14px;text-align:left;line-height:25px;padding:5px 0 20px 0;}
.ntxt .d1{display:block;margin:0;webkit-box-flex:1;-moz-box-flex:1;box-flex:1;margin:7px 5px 0 5px;}
.ntxt .d1 img{max-width:100%;}

.xgtxt{padding:15px 0;background-color:#fff;border-top:#ddd solid 1px;}
.xgtxt .dm{webkit-box-flex:1;-moz-box-flex:1;box-flex:1;margin:0;width:100%;}
.xgtxt a{width:100px;text-align:center;color:#fff;border-radius:5px;padding:8px 0 0 0;height:27px;font-size:14px;}
.xgtxt .a1{background-color:#2FADE8;float:left;margin:0 0 0 10px;}
.xgtxt .a2{background-color:#FA7D7F;float:right;margin:0 10px 0 0;}
