@charset "gb2312";
body{background-color:#F5F5F5;}

.bghui{position:fixed;background:url(img/bghui.png) repeat;width:100%;height:100%;}

/*买家头B*/
.buytop{background:url(img/buybg.png) center top no-repeat;height:160px;}
.buytop .d1{width:80px;margin:10px 0 0 10px;}
.buytop .d2{margin:25px 0 0 0;-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;text-align:center;color:#fff;font-size:14px;}
.buytop .d2 img{border-radius:40px;margin:0 0 5px 0;}
.buytop .d3{width:80px;margin:19px 20px 0 0;text-align:right;}
.buytop .d3 a{float:right;color:#fff;border:#fff solid 1px;padding:2px 5px 0 5px;height:18px;}
.buytop1{height:42px;margin-top:-42px;color:#fff;background:url(img/bg1.png) repeat;}
.buytop1 .d1{line-height:18px;text-align:center;-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;margin:3px 0 0 0;}
.buytop1 .d1 img{margin:3px 0 1px 0;}
.buytop1 .d2{color:#FF3;}

/*买家首页B*/
.infcap{border-top:#ddd solid 1px;margin:10px 0 0 0;background-color:#fff;}
.infcap .d1{margin:10px 0 0 10px;width:30px;height:30px;border-bottom:#ddd solid 1px;}
.infcap .d1 img{width:20px;height:20px;}
.infcap .d2{margin:10px 0 0 0;height:30px;border-bottom:#ddd solid 1px;-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;font-size:14px;}
.infcap .d3{margin:12px 0 0 0;width:100px;height:28px;border-bottom:#ddd solid 1px;text-align:right;}
.infcap .d4{border-bottom:#ddd solid 1px;height:28px;width:20px;margin:12px 0 0 0;padding-left:5px;}
.infcap .d4 img{height:16px;}
.infmain{border-bottom:#ddd solid 1px;margin:0;background-color:#fff;}
.infmain .d1{margin:15px 0 0 0;height:50px;text-align:center;-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;}
.infmain .d1 div{float:left;width:20%;}
.infmain .d1 div img{width:20px;height:20px;margin:0 0 5px 0;}
.infmain .d1 div span{color:#fff;padding:1px 2px 1px 2px;float:left;min-width:12px;text-align:center;margin:-10px 0 0 0;background-color:#ff0000;border-radius:5px;position:absolute;}

/*公用头部1B d3为小图标 d4为文字*/
.bfbtop1{background-color:#fff;height:43px;}
.bfbtop1 .d1{margin:11px 0 0 10px;width:30px;}
.bfbtop1 .d2{margin:10px 0 0 0;-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;font-size:18px;text-align:center;}
.bfbtop1 .d3{margin:0 20px 0 0;width:30px;text-align:right;}
.bfbtop1 .d4{margin:12px 10px 0 0;width:30px;text-align:right;font-size:14px;}
.bfbtop1fdv{display:block;height:43px;}
.bfbtop1fd{height:43px;position:fixed;width:100%;z-index:11;}
.bfbtop2{background-color:#0DB7E8;height:43px;color:#fff;}
.bfbtop2 .d1{margin:11px 0 0 10px;width:30px;}
.bfbtop2 .d2{margin:10px 0 0 0;-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;font-size:18px;text-align:center;}
.bfbtop2 .d3{margin:0 20px 0 0;width:30px;text-align:right;}
.bfbtop2 .d4{margin:12px 10px 0 0;width:30px;text-align:right;font-size:14px;}
.listcap{background-color:#fff;height:35px;border-top:#ddd solid 1px;margin:10px 0 0 0;}
.listcap .d1{width:30px;margin:0 0 0 10px;}
.listcap .d2{margin:10px 0 0 10px;-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;}
.listcap .d3{margin:10px 10px 0 0;width:60px;text-align:right;}
.tishi{border-bottom:#f5f5f5 solid 1px;}
.tishi .d1{margin:10 15px 10px 15px;line-height:22px;-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;}
.botbtnF{float:left;width:100%;height:41px;}
.botbtn{position:fixed;bottom:0;height:40px;width:100%;z-index:9;}
.botbtn .d1{-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;margin:0;color:#fff;font-size:15px;text-align:center;padding:10px 0 0 0;height:30px;background-color:#ff6600;}

/*没有数据B*/
.wait .d1{-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;margin:100px 0 0 0;text-align:center;}
.wait .d1 .s0{float:left;width:100%;height:90px;text-align:center;}
.wait .d1 .s1{float:left;font-size:20px;width:100%;height:40px;color:#333;}
.wait .d1 .s2{float:left;font-size:14px;width:100%;color:#999;}

/*浏览记录*/
.prohis{border-bottom:#ddd solid 1px;padding:0 0 10px 0;}
.prohis .d1{margin:10px 0 0 10px;width:60px;}
.prohis .d2{margin:10px 10px 0 0;line-height:18px;-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;font-size:14px;}

.boxcap{padding:10px 0;text-align:left;background-color:#f2f2f2;}
.boxcap .d1{margin:0 0 0 10px;-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;font-size:14px;}
.boxcap .d2{margin:0 10px 0 0;text-align:right;width:70px;font-size:14px;}

/*设置*/
.shezhi{background-color:#fff;}
.shezhi .d1{margin:9px 0 0 10px;font-size:14px;-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;border-bottom:#f5f5f5 solid 1px;height:29px;}
.shezhi .d2{margin:12px 0 0 0;width:15px;text-align:left;border-bottom:#f5f5f5 solid 1px;height:26px;}
.shezhi1{margin-top:10px;}

/*认证*/
.rzcap{background-color:#fff;height:55px;border-top:#ddd solid 1px;}
.rzcap .d1{width:40px;margin:6px 0 0 10px;}
.rzcap .d2{margin:10px 0 0 10px;-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;line-height:18px;}
.rzcap .d2 strong{font-size:14px;}
.rzcap .d3{margin:17px 0 0 0;width:60px;text-align:right;font-size:14px;}
.rzcap .d4{margin:19px 10px 0 0;width:18px;text-align:right;font-size:14px;}

/*收货地址*/
.shdzlist{text-align:left;padding:10px 0 5px 0;background-color:#fff;border-top:#f5f5f5 solid 1px;}
.shdzlist .d1{-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;margin:0 0 0 10px;}
.shdzlist .d2{width:100px;margin:0 10px 0 0;text-align:right;}
.shdzlist .d3{width:20px;margin:0 10px 0 0;text-align:right;}
.shdzlist1{text-align:left;padding:0 0 10px 0;background-color:#fff;}
.shdzlist1 .d0{width:10px;margin:0;}
.shdzlist1 .d1{-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;margin:0;}
.shdzt{}
.shdzt .d1{-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;margin:10px 0 0 10px;font-size:18px;}
.shdzt2{}
.shdzt2 .d1{-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;margin:0 0 0 0;}

/*购物车*/
.shdz{width:100%;background:url(img/xian.png) left top no-repeat;background-color:#fff;}
.shdz .d1{-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;margin:16px 0 0 30px;}
.shdz .d2{width:100px;margin:16px 22px 0 0;text-align:right;}
.shdz1{width:100%;background-color:#fff;padding:0 0 10px 0;}
.shdz1 .d1{width:20px;margin:5px 0 0 10px;;}
.shdz1 .d2{-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;margin:6px 0 0 0;}
.shdz1 .d3{width:30px;margin:6px 10px 0 0;text-align:right;}
.shdzaddt{width:100%;background:url(img/xian.png) left top no-repeat;background-color:#fff;}
.shdzaddt .d1{margin:16px 0 0 10px;height:27px;-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;font-size:16px;color:#333;border-bottom:#f5f5f5 solid 1px;}
.shdzadd{background-color:#fff;}
.shdzadd .d1{margin:10px 0 0 10px;height:29px;-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;font-size:15px;color:#666;}
.shdzadd .d2{height:26px;width:20px;margin:11px 5px 0 0;}
.carM{text-align:left;border-top:#DEDEDE solid 1px;height:35px;background-color:#fff;font-size:14px;}
.carM .d1{margin:10px 0 0 10px;width:20px;}
.carM .d2{margin:9px 0 0 0;-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;color:#666;}
.car{text-align:left;padding:10px 0;background-color:#fff;border-top:#f2f2f2 solid 1px;}
.car .d1{width:30px;margin:0 0 0 10px;}
.car .d2{width:50px;margin:0 10px 0 0;text-align:center;}
.car .d3{-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;margin:0 10px 0 0;}
.car .d3 .s1{float:left;clear:both;width:100%;}
.car .d3 .yh{float:left;clear:both;color:#fff;padding:2px;clear:both;margin:2px 0 0 0;background-color:#36AB67;}
.car .d3 .yf{float:left;color:#FF4400;padding:2px;clear:both;margin:5px 0 0 0;background-color:#FFF0E7;border:#FFE1D3 solid 1px;}
.car .d3 .s3{float:left;clear:both;color:#999;margin:3px 0 0 0;}
.car .d3 .s3 strong{color:#ff6600;}
.car .d3 .s4{float:right;margin:0px 0 0 0;}
.car .d3 .s4 span{float:left;text-align:center;background-color:#f7f7f7;padding:3px 0 0 0;height:17px;width:20px;}
.car .d3 .s4 input{float:left;width:24px;height:20px;border:#ddd solid 1px;text-align:center;}
.car .d3 .liuyan{float:left;width:100%;margin:5px 0 0 0;}
.car .d3 .liuyan textarea{float:left;width:100%;height:20px;outline:none;-webkit-appearance:none;border-radius:0;border:#F5F5F5 solid 1px;}
.car .d3 .liuyan .t1{width:80%;height:50px;border-right:0;}
.car .d3 .liuyan a{float:left;color:#fff;background-color:#ff6600;text-align:center;width:20%;padding:17px 0 0 0;height:33px;}
.car .d3 .liuyan a:hover{text-decoration:none;}
.car .d3 .ub{float:left;width:100%;clear:both;margin:7px 0 0 0;}
.car .d3 .ub .ub1{float:left;border:#F5F5F5 solid 1px;border-right:0;height:18px;padding:2px 0 0 5px;width:60px;}
.car .d3 .ub .ub2{float:left;border:#F5F5F5 solid 1px;border-left:0;height:22px;width:calc(100% - 67px);}
.carbottom{border-top:#ddd solid 1px;height:10px;}
.carjsF{float:left;width:100%;height:41px;}
.carjs{position:fixed;bottom:46px;background-color:#fff;height:38px;width:100%;z-index:9;}
.carjs .d1{float:left;color:#666666;padding:5px 0 0 10px;}
.carjs .d1 .s1{font-family:Verdana, Geneva, sans-serif;font-size:20px;font-weight:700;color:#FF5500;}
.carjs .d2{float:right;height:30px;background-color:#E55765;color:#fff;width:80px;font-size:16px;padding:8px 0 0 0;text-align:center;}

/*短信发送*/
.smsmain{text-align:center;position:fixed;margin:50% 0 0 0;}
.smsmain .d1{margin:auto 10px;-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;border:#FF6838 solid 3px;background-color:#fff;}
.smsmain .d1 .s1{float:left;width:100%;margin:10px 0 0 0;height:20px;}
.smsmain .d1 #s2{float:left;width:100%;font-size:40px;margin:10px 0 0 0;height:55px;font-weight:700;color:#FF6838;}
.smsmain .d1 .s3{float:left;width:100%;font-size:14px;margin:10px 0 0 0;height:30px;color:#34A8FF;}

/*买家订单*/
.ordertopfdv{display:block;height:75px;}
.ordertopfd{height:43px;position:fixed;width:100%;z-index:11;}
.ordertop{background-color:#ff6600;color:#fff;height:43px;}
.ordertop .d1{margin:11px 0 0 10px;width:30px;}
.ordertop .d2{margin:10px 0 0 0;-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;font-size:18px;text-align:center;}
.ordertop .d3{margin:0 20px 0 0;width:30px;text-align:right;}
.ordertop1{background-color:#fff;height:32px;border-bottom:#f1f1f1 solid 1px;}
.ordertop1 .d1{margin:8px 0 0 10px;height:24px;-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;text-align:center;}
.ordertop1 .d11{height:22px;border-bottom:#ff6600 solid 2px;color:#ff6600;}
.orderlist{background-color:#fff;height:30px;}
.orderlist .d1{margin:7px 0 0 10px;width:20px;}
.orderlist .d2{-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;margin:7px 0 0 0;}
.orderlist .d3{width:60px;margin:7px 10px 0 0;text-align:right;}
.orderlist1{background-color:#F8F8F8;padding:5px 0;}
.orderlist1 .d1{margin:0 0 0 10px;width:70px;}
.orderlist1 .d2{margin:0 10px 0 10px;-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;line-height:18px;color:#000;}
.orderlist1 .d3{margin:0 10px 0 0;width:60px;line-height:18px;text-align:right;}
.orderlist2{background-color:#fff;padding:7px 0;}
.orderlist2 .d1{margin:0 0 0 10px;-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;line-height:18px;color:#000;}
.orderlist2 .d2{margin:0 10px 0 0;width:200px;text-align:right;line-height:18px;}
.orderlist4{background-color:#fff;padding:6px 0;border-top:#f5f5f5 solid 1px;margin:0 0 10px 0;}
.orderlist4 .d1{margin:0 10px 0 0;-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;text-align:right;}
.orderlist4 .d1 a{float:right;border:#dedede solid 1px;border-radius:10px;padding:2px 8px 0 8px;height:17px;margin-left:8px;}
.orderlist4 .d1 .a1{color:#ff6600;border:#ff6600 solid 1px;}
.orderm{background-color:#fff;border-top:#f5f5f5 solid 1px;padding:0 0 7px 0;font-size:13px;}
.orderm .d1{margin:10px 15px 0 15px;width:52px;text-align:justify;text-align-last:justify;}
.orderm .d1 .s1{display:inline-block;content:'';overflow:hidden;width:100%;height:0;}
.orderm .d2{-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;margin:10px 10px 0 0;}
.orderpj{background-color:#fff;}
.orderpj .d1{-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;margin:0 10px 10px 10px;}
.orderpj .d1 textarea{float:left;width:98%;border:#ddd solid 1px;height:100px;}
.tjbutton{padding:0 0 10px 0;border-bottom:#ddd solid 1px;}

/*卖家订单*/
.sellordertopfdv{display:block;height:75px;}
.sellordertopfd{height:43px;position:fixed;width:100%;z-index:11;}
.sellordertop{background-color:#0DB7E8;color:#fff;height:43px;}
.sellordertop .d1{margin:11px 0 0 10px;width:30px;}
.sellordertop .d2{margin:10px 0 0 0;-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;font-size:18px;text-align:center;}
.sellordertop .d3{margin:0 20px 0 0;width:30px;text-align:right;}
.sellordertop1{background-color:#fff;height:32px;border-bottom:#f1f1f1 solid 1px;}
.sellordertop1 .d1{margin:8px 0 0 10px;height:24px;-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;text-align:center;}
.sellordertop1 .d11{height:22px;border-bottom:#0DACDA solid 2px;color:#0DACDA;}
.sellorderlist{background-color:#fff;height:30px;}
.sellorderlist .d1{margin:5px 0 0 10px;width:20px;}
.sellorderlist .d2{-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;margin:7px 0 0 0;color:#929292;}
.sellorderlist .d3{width:60px;margin:7px 10px 0 0;text-align:right;}
.sellorderlist1{background-color:#F8F8F8;padding:5px 0;}
.sellorderlist1 .d1{margin:0 0 0 10px;width:70px;}
.sellorderlist1 .d2{margin:0 10px 0 10px;-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;line-height:18px;color:#000;}
.sellorderlist1 .d3{margin:0 10px 0 0;width:60px;line-height:18px;text-align:right;}
.sellorderlist2{background-color:#fff;padding:7px 0;}
.sellorderlist2 .d1{margin:0 0 0 10px;-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;line-height:18px;color:#000;}
.sellorderlist2 .d2{margin:0 10px 0 0;width:200px;text-align:right;line-height:18px;}
.sellorderlist4{background-color:#fff;padding:6px 0;border-top:#f5f5f5 solid 1px;margin:0 0 10px 0;}
.sellorderlist4 .d1{margin:0 10px 0 0;-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;text-align:right;}
.sellorderlist4 .d1 a{float:right;border:#dedede solid 1px;border-radius:10px;padding:2px 8px 0 8px;height:17px;margin-left:8px;}
.sellorderlist4 .d1 .a1{color:#ff6600;border:#ff6600 solid 1px;}

/*收藏夹*/
.favpro{text-align:left;padding:10px 0;color:#666;border-bottom:#EDECEC solid 1px;background-color:#fff;}
.favpro .d1{width:70px;margin:0 0 0 10px;}
.favpro .d2{-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;margin:0 10px 0 0;}
.favpro .d2 strong{color:#ff6600;font-size:14px;}
.favpro .d3{width:30px;margin:0 10px 0 0;text-align:right;}
.favshop{text-align:left;padding:10px 0;color:#666;border-bottom:#EDECEC solid 1px;background-color:#fff;}
.favshop .d1{width:40px;margin:0 10px 0 10px;}
.favshop .d2{-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;margin:0 10px 0 0;font-size:14px;color:#000;}
.favshop .d2 img{margin:4px 0 0 0;}
.favshop .d3{width:30px;margin:0 10px 0 0;text-align:right;}

/*积分明细、签到明细*/
.jftj{background-color:#fff;text-align:center;font-size:14px;line-height:20px;}
.jftj .d1{margin:0 0 0 0;-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;border-top:#D2E7F6 solid 2px;padding:10px 0;}
.jftj .d2{margin:0 0 0 0;-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;border-top:#F0D0C3 solid 2px;padding:10px 0;border-left:#f1f1f1 solid 1px;border-right:#f1f1f1 solid 1px;}
.jftj .d3{margin:0 0 0 0;-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;border-top:#69D092 solid 2px;padding:10px 0;}
.jflog{border-top:#f5f5f5 solid 1px;height:50px;background-color:#fff;line-height:18px;color:#000;}
.jflog .d1{margin:8px 0 0 10px;-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;}
.jflog .d2{width:70px;margin:8px 10px 0 0;text-align:right;}

/*资金明细*/
.paytj{background-color:#fff;text-align:center;font-size:14px;line-height:20px;}
.paytj .d1{margin:0 0 0 0;-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;border-top:#D2E7F6 solid 2px;padding:10px 0;}
.paytj .d2{margin:0 0 0 0;-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;border-top:#F0D0C3 solid 2px;padding:10px 0;border-left:#f1f1f1 solid 1px;border-right:#f1f1f1 solid 1px;}
.paytj .d3{margin:0 0 0 0;-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;border-top:#69D092 solid 2px;padding:10px 0;}
.paylog{border-top:#f5f5f5 solid 1px;padding:0 0 8px 0;background-color:#fff;line-height:18px;color:#000;}
.paylog .d1{margin:8px 0 0 10px;-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;}
.paylog .d2{width:70px;margin:8px 10px 0 0;text-align:right;}

/*提现明细*/
.txlog{border-top:#f5f5f5 solid 1px;height:50px;background-color:#fff;line-height:18px;color:#000;}
.txlog .d1{margin:8px 0 0 10px;-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;}
.txlog .d2{width:70px;margin:8px 10px 0 0;text-align:right;}

/*收银台*/
.syt{height:40px;border-bottom:#ddd solid 1px;border-top:#f5f5f5 solid 1px;font-size:14px;background-color:#fff;}
.syt .d1{margin:10px 0 0 10px;;-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;}
.syt .d2{margin:10px 10px 0 0;text-align:right;-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;}
.syt strong{color:#ff0000;font-size:16px;}
.pay{border:#FFAA00 solid 3px;margin:10px 10px 0 10px;background-color:#fff;}
.pay .paym{margin:0;-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;}
.pay .paym .pay1{float:left;width:100%;margin:0 0 0 0;}
.pay .paym .pay1 li{}
.pay .paym .pay1 .l1{width:100%;padding:7px 0 0 0;height:19px;border-bottom:#E2E2E2 solid 1px;background-color:#F7F7F7;}
.pay .paym .pay1 .l1 strong{color:#ff6600;font-size:14px;}
.pay .paym .pay1 .l2{width:100%;padding:10px 0 0 0;height:40px;border-bottom:#f5f5f5 solid 1px;}
.pay .paym .pay1 .l2 input{float:left;margin:5px 0 0 20px;}
.pay .paym .pay1 .l2 img{float:left;margin:0 0 0 5px;height:30px;}

.carbtn{margin:10px 0 0 0;height:50px;text-align:center;}
.carbtn div{margin:0 10px;-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;}
.carbtn input{float:left;width:100%;border:0;color:#fff;font-size:14px;height:40px;background-color:#ff6600;}

/*开店*/
.kdcap{border-top:#f1f1f1 solid 1px;padding:10px 0 10px 0;}
.kdcap .d1{margin:0 5px;-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;background-color:#E7E6E9;padding:5px 0 0 5px;height:20px;}
.kdcap .d11{background-color:#ff6600;color:#fff;}
.kdcap .d2{width:20px;margin:5px 0 0 0;text-align:center;}
.kdcap .d2 img{height:14px;}

/*编辑*/
.uk{background-color:#fff;min-height:38px;border-top:#EFEFEF solid 1px;font-size:13px;}
.uk .d1{margin:11px 15px 0 15px;width:52px;text-align:justify;text-align-last:justify;}
.uk .d1 .s1{display:inline-block;content:'';overflow:hidden;width:100%;height:0;}
.uk .d2{margin:10px 0 0 0;-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;overflow:hidden;}
.uk .d2 .inp{float:left;width:100%;border:0;height:20px;font-size:13px;color:#333;}
.uk .d2 .inpc{text-align:center;}
.uk .d2 textarea{float:left;width:100%;border:0;height:50px;}
.uk .d2 select{border:0;width:120%;background-color:transparent;}
.uk .d2 label{float:left;margin:1px 6px 0 0;height:20px;}
.uk .d2 label input{margin-top:-2px;vertical-align:middle;}
.uk .d21{margin:11px 0 0 0;-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;color:#333;}
.uk .d2la{height:20px;}
.uk .d98{margin:11px 0 0 0;width:15px;color:#888;}
.uk .d99{margin:11px 0 0 0;width:40px;color:#888;}
.uk .d3{margin:11px 15px 0 0;width:30px;text-align:right;color:#888;}
.uk .d3 img{margin:2px 0 0 0;}
.uk .d31{margin:11px 15px 0 0;width:60px;text-align:right;color:#888;}
.txtbox .dmain{margin:0;-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;}
.xgtp{background-color:#fff;text-align:left;border-bottom:#EFEFEF solid 1px;}
.xgtp .xgtpm{-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;margin:0 6px;}
.xgtp .xgtpm #xgtp1{float:left;margin:5px 0 0 9px;width:73px;padding:5px 0 0 0;border:#D3D4D3 solid 1px;text-align:center;height:21px;background-color:#fff;z-index:3;position:absolute;}
.xgtp .xgtpm #xgtp2{float:left;width:100%;padding-bottom:9px;}
.xgtp .xgtpm #xgtp2 .d1{float:left;width:75px;margin:5px 0 0 9px;height:55px;}
.xgtp .xgtpm #xgtp2 .d1 .img{float:left;width:75px;height:55px;}
.xgtp .xgtpm #xgtp2 .d1 .a2{float:left;margin-top:-19px;text-align:center;position:relative;background:url(img/bg1.png) left top repeat-x;width:75px;padding:4px 0 0 0;height:15px;}
.rts{}
.rts .d1{margin:5px 15px 5px 15px;background-color:#FEFEEF;border:#FFE4DD solid 1px;padding:3px 0 1px 0;line-height:20px;text-align:center;color:#FF4400;-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;}
.rts .d1 strong{font-size:16px;}
.fbbtn .d1{margin:10px 15px;-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;}
.fbbtn .d1 input{width:100%;border:0;color:#fff;height:40px;background-color:#ff6600;font-size:16px;border-radius:1px;}

/*卖家头B*/
.selltop{background:url(img/sellbg.jpg) center top no-repeat;height:160px;}
.selltop .d1{width:80px;margin:10px 0 0 10px;}
.selltop .d2{margin:25px 0 0 0;-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;text-align:center;color:#fff;font-size:14px;}
.selltop .d2 img{border-radius:40px;margin:0 0 5px 0;}
.selltop .d3{width:80px;margin:19px 20px 0 0;text-align:right;}
.selltop .d3 a{float:right;color:#fff;border:#fff solid 1px;padding:2px 5px 0 5px;height:18px;}
.selltop1{height:42px;margin-top:-42px;color:#fff;background:url(img/bg1.png) repeat;}
.selltop1 .d1{line-height:18px;text-align:center;-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;margin:3px 0 0 0;}
.selltop1 .d1 img{margin:3px 0 1px 0;}
.selltop1 .d1 span{color:#FF0;}

/*卖家首页*/
.indexpro .d1{margin:10px 0 0 10px;width:30px;height:30px;border-bottom:#ddd solid 1px;}
.indexpro .d1 img{width:20px;height:20px;}
.indexpro .d2{margin:10px 0 0 0;height:30px;border-bottom:#ddd solid 1px;-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;font-size:14px;}
.indexpro .d3{border-bottom:#ddd solid 1px;height:28px;width:20px;margin:12px 0 0 0;padding-left:5px;}
.indexpro .d3 img{height:16px;}
.indexplist{text-align:left;}
.indexplist .d1{margin:10px 0 0 0;-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;}
.indexplist .d1 .dtp{margin:0 0 0 10px;float:left;width:calc(25% - 12px);}
.indexplist .d1 .dtp .tp{float:left;width:100%;}
.indexplist .d1 .dtp .tp img{float:left;width:100%;}
.indexplist .d1 .dtp .t{float:left;width:100%;height:30px;overflow:hidden;margin:5px 0 0 0;}
.indexplist .d1 .dtp .m{float:left;width:100%;color:#ff0000;margin:3px 0 0 0;}
.indexpfb .d1{margin:10px 10px 0 10px;border:#ddd solid 1px;text-align:center;padding:6px 0 0 0;height:25px;-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;background-color:#FEFBF6;font-size:14px;}

/*卖家商品*/
.prots{background-color:#FFFAC3;padding:5px 0;}
.prots .d1{margin:0 10px;-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;text-align:center;}
.productlist0{background-color:#E9E8E8;padding:5px 0;border-top:#ddd solid 1px;}
.productlist0 .d0{margin:1px 0 0 10px;width:20px;}
.productlist0 .d0 input{border:#ddd solid 1px;}
.productlist0 .d1{margin:0;width:100px;}
.productlist0 .d2{margin:0 10px 0 0;-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;text-align:right;}
.productlist1{background-color:#fff;padding:5px 0;}
.productlist1 .d1{margin:0 0 0 10px;width:70px;}
.productlist1 .d2{margin:0 10px 0 10px;-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;line-height:16px;color:#000;}
.productlist1 .d2 .s0{float:left;width:100%;height:32px;overflow:hidden;}
.productlist1 .d2 .s1{color:#61B9FF;border:#61B9FF solid 1px;float:left;padding:0 3px 0 3px;height:16px;line-height:none;margin:3px 5px 0 0;}
.productlist1 .d2 .s2{color:#FF7D5A;border:#FF7D5A solid 1px;float:left;padding:0 3px 0 3px;height:16px;line-height:none;margin:3px 5px 0 0;}
.productlist1 .d2 .s3{float:left;margin:3px 0 0 0;width:100%;}
.productlist1 .d3{margin:0 10px 0 0;width:60px;line-height:16px;text-align:right;color:#ff6600;}
.productlist2{background-color:#fff;padding:6px 0;border-top:#f5f5f5 solid 1px;margin:0 0 10px 0;border-bottom:#ddd solid 1px;}
.productlist2 .d1{margin:0 10px 0 0;-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;text-align:right;}
.productlist2 .d1 a{float:right;border:#dedede solid 1px;border-radius:10px;padding:2px 8px 0 8px;height:17px;margin-left:8px;}

/*商品发布*/
.djuk{background-color:#fff;}
.djuk .d1{margin:0 0 0 82px;width:80px;}
.djuk .d2{margin:0 0 0 10px;-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;}
.djuk1{background-color:#fff;}
.djuk1 .d1{margin:10px 0 0 82px;width:80px;}
.djuk1 .d1 input{float:left;width:80px;border:#ddd solid 1px;background-color:#f9f9f9;}
.djuk1 .d2{margin:10px 0 0 10px;-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;}
.czts{margin:30px 0 0 0;}
.czts .d1{margin:0 50px;-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;text-align:center;}
.czts .d1 a{float:left;width:100%;padding:10px 0 0 0;height:28px;margin:20px 0 0 0;font-size:14px;background-color:#fff;border:#ddd solid 1px;}

/*上传图片 图片框常规的话，宽不要低于103*/
.tpupload{background-color:#fff;border-top:#ddd solid 1px;}
.tpupload .d1{-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;margin:0;}
.tpupload .dm103{width:103px;margin:10px 0;}








