  <div class="d1">站点配置</div>
  <div class="d2">
  <a href="default.php">欢 迎 页</a>
  <a href="inf.php">基本设置</a>
  <a href="typelist.php">商品分组</a>
  <a href="userdjlist.php" class="red">会员等级</a>
  <a href="adlxlist.php">自助广告系统</a>
  <a href="newstypelist.php">资讯分类</a>
  <a href="helptypelist.php">帮助中心分类设置</a>
  <a href="onecontrol.php">单内容页面管理</a>
  <a href="tasktypelist.php">任务分组设置</a>
  <a href="kuaidilist.php">快递公司管理</a>
  <a href="tohtml.php?admin=1">触发订单/店铺状态</a>
  <a href="moban.php">模板管理</a>
  </div>
