@charset "utf-8";
/*系统手机版全站的样式，共用样式*/
@charset "gb2312";
body{margin:0;font-size:14px;text-align:center; font-family:Source Han Sans CN Regular,Source Han Sans CN Regular-Regular;}
p{margin:2pt 0 0 0;}
*{margin:0 auto;padding:0;}
ul{list-style-type:none;margin:0;padding:0;}
form{margin:0;}
table{font-size:12px;}
select,textarea{outline: medium none;-webkit-appearance:none;border-radius:0;}
.tjinput{-webkit-appearance:none;border-radius:0;}
a{color:#000;text-decoration:none;}
.red{color:#ff0000;}
.feng{color:#ff6600;}
.green{color:green;}
.blue{color:blue;}
.hui{color:#999;}
.ggbox{margin:10px 0 0 0;}
.ggnei{-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;margin:0;}
.ggnei .ad1 img{width:calc(100%);}

.flex{-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;}
.clear{width:100%;display:-webkit-box;display:-moz-box;display:box;}
.clear10{margin-top:10px;}
.clear15{margin-top:15px;}

.yjcode{max-width:600px;}

pre{white-space:pre-wrap;white-space: -moz-pre-wrap;white-space: -pre-wrap;white-space: -o-pre-wrap;word-wrap: break-word;}

.box{display:-webkit-box;display:-moz-box;display:box;text-align:left;}

#zhezhao{left:0;right:0;top:0;bottom:0;background-color:#000;filter:alpha(opacity=50);-moz-opacity:0.5;opacity:0.5;position:fixed;display:none;z-index:8;} 

/*公用头部*/
.glotop{background-color:#F7F7F7;height:43px;color:#333;width:100%;}
.glotopview{background:none;height:43px;color:#333;width:100%;border: none !important;
position:absolute;
    top: 0;
    z-index: 9999;}
.glotopview .d1{margin:10px 0 0 10px;width:40px;}
.glotopview .d1 img{height:23px;}
.glotopview .d2{margin:7px 0 0 0;width:80px;text-align:left;}
.glotopview .d2 img{height:29px;}
.glotopview .d3{margin:10px 0 0 0;font-size:15px;text-align:center;    color: #fff !important;
}


.glotopview .d3 img{ height:20px;}
.glotopview .d4{margin:10px 15px 0 0;width:40px;text-align:right;}
.glotopview .d4 img{height:20px;}


.glotop .d1{margin:10px 0 0 10px;width:40px;}
.glotop .d1 img{height:23px;}
.glotop .d2{margin:7px 0 0 0;width:80px;text-align:left;}
.glotop .d2 img{height:29px;}
.glotop .d3{margin:10px 0 0 0;font-size:18px;text-align:center;}
.glotop .d3 img{ height:20px;}
.glotop .d4{margin:10px 15px 0 0;width:40px;text-align:right;}
.glotop .d4 img{height:20px;}
.glotopfix{position:fixed;top:0;border-bottom:#eee solid 1px;z-index:9999;}

.glotopfixM{width:100%;height:43px;}

/*下拉*/
#glotopzhezhao{left:0;right:0;top:0;bottom:0;background-color:#000;filter:alpha(opacity=50);-moz-opacity:0.5;opacity:0.5;position:fixed;display:none;z-index:9999;} 
#glotopxialam{z-index:99999;position:fixed;width:100%;top:0;}
.glotopxialam1{background-color:#fff;width:100%;}
.glotopxialam1 .dmain{margin:0 0 20px 0;}
.glotopxialam1 .dmain .d1{float:left;width:25%;margin:20px 0 0 0;text-align:center;}
.glotopxialam1 .dmain .d1 img{width:45px;margin:0 0 8px 0;}
.glotopxialam2{width:100%;}
.glotopxialam2 .dmain{margin:0;text-align:center;}
.glotopxialam2 .dmain img{width:28px;}

/*显示一行*/
.lineone{display:inline-block;white-space:nowrap;width:100%;overflow:hidden;text-overflow:ellipsis;}
.linetwo{text-overflow: -o-ellipsis-lastline;overflow:hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 2;line-clamp: 2;-webkit-box-orient: vertical;}
.linethree{display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 3;overflow: hidden;}

/*返回头部*/
.return-top{position:fixed;bottom: 4rem;right: 1rem;width: 2rem;height: 2rem;border-radius: 50%;color: #fff;background:url(../img/new-top.png) no-repeat rgba(51,51,51,.8);background-size: .7rem,.7rem;background-position: 50%;z-index: 999;}

/*图片切换*/
.addWrap{ position:relative; width:100%;}
.addWrap img{width:100%;}
.addWrap .swipe{overflow: hidden;visibility: hidden;position:relative;}
.addWrap .swipe-wrap{overflow:hidden;position:relative;}
.addWrap .swipe-wrap div {float: left;width: 100%;position:relative;}
#position{ position:absolute; bottom:0; right:0; padding-right:8px; margin:0; background:#000; opacity: 0.4; width:100%; filter: alpha(opacity=50);text-align:right;}
#position li{width:10px;height:10px;margin:0 2px;display:inline-block;-webkit-border-radius:5px;border-radius:5px;background-color:#AFAFAF;}
#position li.cur{background-color:#FF0000;}
.img-responsive {display: block; max-width: 100%;  height: auto;}

/*分页*/
.page{margin:10px 0 0 0;text-align:center;background-color:#fff;}
.page div{height:35px;line-height:35px;-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;margin:0;}
.page div a{float:left;width:100%;height:100%;}

/*QQ弹窗*/
.qqtang{background-color:#F5F8FE;line-height:none;padding:10px 0;text-align:left;float:left;border-radius:10px;font-size:12px;}
.qqtang .qqtang1{float:left;margin:2px 0 0 10px;font-size:14px;}
.qqtang .qqtang2{float:right;width:58px;padding:2px 0 0 0;height:23px;text-align:center;margin-right:10px;border:#E5E5E5 solid 1px;background-color:#fff;}
.qqtang .wxtang1{float:left;margin:8px 0 0 10px;font-size:14px;}
.qqtang .wxtang2{float:right;width:58px;margin-top:6px;padding:2px 0 0 0;height:23px;text-align:center;margin-right:10px;border:#E5E5E5 solid 1px;background-color:#fff;}
.qqtang .wxtang3{float:left;margin:10px 0 0 48px;}
.qqtang .wxtang3 img{width:100px;}
.qqtang .qqtang4{float:left;margin:10px 10px 0 10px;width:calc(100% - 20px);padding:7px 0 0 0;line-height:20px;border-top:#BCCCED dotted 1px;}

/*首页弹窗*/
.indextang{float:left;width:100%;}
.indextang .s1{float:left;width:100%;text-align:center;}
.indextang .s1 img{max-width:100%;}
.indextang .s2{float:left;width:100%;}
.indextang .s2 span{float:left;width:1px;border-left:#fff solid 1px;height:30px;clear:both;margin-left:calc(50% - 1px);}
.indextang .s3{float:left;width:40px;text-align:center;color:#fff;clear:both;border-radius:5px;padding:2px 0 1px 0;margin-left:calc(50% - 21px);border:#fff solid 1px;}

/*新编辑*/
.fbbtn .d1{margin:10px;-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;}
.fbbtn .d1 input{width:100%;border:0;color:#fff;height:40px;background-color:#d7565a;font-size:15px;border-radius:40px;}
.fbbtnfix{position:fixed;bottom:0px;width:100%;height:40px;z-index:999;}
.fbbtnfix .d1{margin:0;}
.fbbtnfix .d1 input{border-radius:0;}
.fbbtndiv{height:40px;width:100%;}
.shuru{background-color:#fff;font-size:13px;border-bottom:#eeeeee solid 1px;}
.shuru .d1{width:35%;display:flex;-webkit-align-items: center;align-items:center;min-height:4rem;margin:0 0 0 10px;}
.shuru .d2{min-height:38px;margin:0 10px 0 0;-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;}
.shuru .d2 .inp{float:left;width:100%;border:0;height:4rem;line-height:100%;font-size:1.1rem;text-align:center; background:#fff;}
.shuru .d2 .inp1{float:right;border:0;margin:8px 0 0 0;}
.shuru .d2 select{direction:rtl;-webkit-appearance:none;-moz-appearance:none;appearance:none;}
.shuru .d2 textarea{float:left;width:100%;border:0;height:78px;margin:9px 0 0 0;font-size:13px;text-align:right;}
.shuru .d2 iframe{width:60px;height:60px;float:right;margin:10px 0;}
.shuru .d333{width:100%;display:flex;-webkit-align-items: center;align-items:center;min-height:4rem;margin:0 0 0 10px; font-size:14px;background-color: #FEFEEF;
    color: #FF4400;}
.shuru .dyzm{width:88px;margin:5px 10px 0 0;}
.shuru .d31{width:13px;height:38px;line-height:38px;margin:0 10px 0 0;}
.shuru .d32{width:26px;height:38px;line-height:38px;margin:0 10px 0 0;}
.shuru .d33{width:39px;height:38px;line-height:38px;margin:0 10px 0 0;}
.shuru .d35{width:65px;height:38px;line-height:38px;margin:0 10px 0 0;}
.shuru .d21{text-align:right;margin:10px 10px 10px 0;-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;}
.shuru .d21 label{float:right;cursor:pointer;margin:0 0 0 10px;padding:7px 10px 0 10px;height:24px;background-color:#FCFCFD;border:#ECECEC solid 1px;border-radius:5px;}
.shuru .jian{width:8px;height:38px;background:url(../img/jianright.png) no-repeat;background-position:right center;background-size:8px 14px;margin:0 10px 0 0;}
.shuru0{border-bottom:0;}
.shurumore{background-color:#fff;font-size:13px;}
.shurumore .dmain{margin:0;-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;border-bottom:#eeeeee solid 1px;min-height:38px;}
.shurumore .dmain .d1{float:left;width:calc(100% - 10px);margin:10px 0 0 10px;font-weight:700;}
.shurumore .dmain .d2{float:left;width:calc(100% - 20px);margin:0 10px 10px 10px;}
.shurumore .dmain .d2 label{float:left;cursor:pointer;margin:10px 10px 0 0;padding:7px 10px 0 10px;height:24px;background-color:#FCFCFD;border:#ECECEC solid 1px;border-radius:5px;}
.shurumore .dmain .d2 .inp{float:left;width:calc(100% - 2px);border:#eee solid 1px;height:25px;margin:10px 0 0 0;font-size:13px;color:#333;text-align:left;color:#666;}
.txtbox .dmain{margin:10px 10px 10px 10px;-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;border:#ddd solid 1px;padding:5px 5px 8px 5px;line-height:20px;background-color:#fff;}

/*选框美化样式*/
.glocheckbox{position:relative;height:18px;width:18px;}
.glocheckbox input[type='checkbox']{position:absolute;left:0;top:0;width:16px;height:16px;opacity:0;}
.glocheckbox label{position:absolute;top:0;height:16px;line-height:16px;}
.glocheckbox label:before{content:'';position:absolute;left:-30px;top:0;width:16px;height:16px;border:1px solid #ddd;border-radius:100%;transition:all 0.3s ease;-webkit-transition:all 0.3s ease;}
.glocheckbox label:after{content:'';position:absolute;left:-24px;top:2px;width:4px;height:9px;border:0;border-right:2px solid #fff;border-bottom:2px solid #fff;background:#fff;transform:rotate(45deg);-webkit-transform: rotate(45deg);transition:all 0.3s ease;-webkit-transition:all 0.3s ease;}
.glocheckbox input[type='checkbox']:checked + label:before{background:#ff0000;border-color:#ff0000;}
.glocheckbox input[type='checkbox']:checked + label:after{background:#ff0000;}

/*列表操作相关*/
.czcontrol{padding:10px 0;background-color:#fff;}
.czcontrol .d1{margin:0 0 0 10px;}
.czcontrol .d1 .a1{float:left;color:#151515;padding:0 10px;height:22px;font-size:12px;margin-right:5px;line-height:22px;border:#9c9c9c solid 1px;border-radius:3px;background-color:#f2f2f2;}
.czcontrol .d1 .a11{color:#c91b1a;border:#c91b1a solid 1px;background-color:#fff;}
.czcontrol .d2{margin:5px 0 0 0;width:18px;text-align:right;}
/*新底部样式*/
.globottommain{float:left;width:100%;height:61px;}
.glogbottom{position:fixed;bottom:0px;width:100%;height:60px;border-top:#DEDEDE solid 1px;background-color:#fff;z-index:9;text-align:center;color:#999;}
.glogbottom .d1{-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;height:45px;margin:10px 0 0 0;}
.glogbottom .d1 .dm{float:left;width:25%;}
.glogbottom .d1 .dm img{height:25px;margin:0 0 2px 0;}
.glogbottom .d1 .dm strong{float:left;margin:-35px 0 0 -8px;position:absolute;color:#fff;line-height:20px;padding:0 8px;background-color:#ff0000;border-radius:20px;}
.glogbottom .d1 .dm1{color:#ef0000;}