@charset "utf-8";
body{background-color:#F4F2F2;background-image: url(/m/homeimg/youxi_mImg/top_bg.png);
    background-size: 100%; background-repeat:no-repeat;}
a,a:hover,a:active,a:visited,a:link,a:focus{  -webkit-tap-highlight-color:transparent;}
.clear{ clear:both;}
.width6{ width:6rem;}
.indextop{height:110px;}
.indextop .d1{margin:10px 0 0 10px;}
.indextop .d1 img{height:30px;}
.indextop .d2{width:60px;text-align:right;margin:10px 10px 0 0;}
.indextop .d2 img{height:30px;}
.index_cat_color{ color:#838383;}
.menuhp{float:left;background-color:#F8F8F8;padding:15px 0 10px 0;float:left;margin:-25px 10px 0 10px;width:calc(100% - 20px);position:relative;z-index:25;border-radius:10px;clear:both;}

.menuimgbox{    margin-bottom: 1rem;
    display: inline-block;}
.menuimgbox img { width:100%;float: left;}
.menuimgbox_1{
    float: left;
    width: 46%;
	margin: 0 2%;
    color: #fff;}
.menuimgbox_2{
    float: left;
    width: 46%;
    color: #fff;}
.menuimgbox_3{
    float: left;
    width: 46%;
	margin-top:2%;
    color: #fff;}
.menuimgbox_1 h2{float: left;
    color: #fff;font-size: 1.15rem;
    margin-top: -9.5rem;
    margin-left: 1rem;}
.menuimgbox_1 span{float: left;
    color: #fff;
    margin-top: -7.5rem;font-size: 0.8rem;
    margin-left: 1rem;}
.menuimgbox_1 p{float: right;
    color: #fff;
    margin-top: -2.2rem;
    background-color: #ffcfaa;
    padding: 3px 8px;
    border-radius: 1rem;
    margin-right: 0.5rem;}
.menuimgbox_2 h2,.menuimgbox_3 h2{float: left;
    color: #574664;    font-size: 1.15rem;
    margin-top: -4rem;
    margin-left: 1rem;}
.menuimgbox_2 span,.menuimgbox_3 span{float: left;
    color: #967975;    font-size: 0.8rem;
    margin-top: -2.4rem;
    margin-left: 1rem;}
	

.swiper-container .swiper-slide .d1{width:25%;float:left;text-align:center;height:90px;font-size:14px;}
.swiper-container .swiper-slide .d1 img{margin:0 0 8px 0;border:0;width:60px;height:60px;border-radius:40px;}

.indexgg{height:42px;width:100%;}
.indexgg .d1{margin:10px 0 0 10px;height:34px;width:85px;background-color:#fff;border-radius:30px 0 0 30px;border-left: 4px #FBAE75 solid;
    border-right: 0px;box-shadow: 2px 1px 6px #dfdddd;
    border-bottom: 4px #FBAE75 solid;
    border-top: 4px #FBAE75 solid;}
.indexgg .d1 img{float:left;height:16px;margin:9px 10px 0 10px;}
.indexgg .d1 span{float:left;height:16px;border-left:#D5D4D4 solid 1px;width:2px;margin:9px 0 0 0;}
.indexgg .d2{margin:10px 10px 0 0;background-color:#fff;border-radius:0 30px 30px 0;height:34px;border-bottom: 4px #FBAE75 solid;
    border-top: 4px #FBAE75 solid;box-shadow: 2px 1px 6px #dfdddd;
    border-left: 0px;
    border-right: 4px #FBAE75 solid;}
.indexgg .d2 .divm{float:left;width:calc(100% - 20px);margin:7px 20px 0 0;height:18px;overflow:hidden;font-size:14px;}

.ggbox{width:100%;margin-top:15px;}

.indexyzbox{    margin: 0;
    text-align: left;
    height: 4.5rem;
    float: left;}
.indexyzbox .d1{ line-height:4.5rem; color:#FFFFFF;margin: 0 0 0 5px;
    font-size: 16px;
    font-weight: 700;
    padding: 0 0 0 10px;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
    text-align: left;}

.indexcap{margin:10px 0 0 0;height:40px;background-color:#fff;}
.indexcap .d1{margin:10px 0 0 16px;font-size:15px;}
.indexcap .d2{margin:0px 16px 0 0;text-align:right;}
.indexcap .d2 a{color:#999;}
.newslist{padding:18px 0;background-color:#fff;border-bottom:#ebebeb solid 1px;}
.newslist .d1{margin:0 0 0 10px;}
.newslist .d1 .s1{float:left;width:100%;height:45px;margin-bottom:10px;line-height:23px;font-size:14px;overflow:hidden;}
.newslist .d1 .s2{float:left;color:#70B9EC;padding:2px 3px 2px 3px;border-radius:2px;background-color:#ECF5FF;}
.newslist .d1 .s3{float:right;margin:2px 0 0 0;color:#999;}
.newslist .d2{margin:0 10px 0 15px;width:100px;}
.newslist .d2 img{width:100px;height:75px;}

.swiper-container1 {background-color:#F8F8F8;overflow:hidden;line-height:normal;padding:0 0 15px 0;}
.swiper-container1 .dmain{float:left;margin:15px 0 0 15px;width:calc(100% - 15px);}
.swiper-container1 .dmain .d1{float:left;width:100%;padding-top:100%;position:relative;overflow:hidden;}
.swiper-container1 .dmain .d1 img{position: absolute;top: 0;left:0;width: 100%;height:100%;border-radius:10px;}
.swiper-container1 .dmain .d2{float:left;width:100%;margin:10px 0 0 0;height:16px;overflow:hidden;}
.swiper-container1 .dmain .d3{float:left;width:100%;margin:5px 0 0 0;height:16px;overflow:hidden;color:#ff6600;font-size:14px;}
.swiper-container1 .dmain .d4{float:left;width:100%;margin:5px 0 0 0;height:16px;overflow:hidden;color:#ff0000;}

.swiper-containerpp {background-color:#fff;overflow:hidden;line-height:normal;padding:0 0 15px 0;}
.swiper-containerpp .dmain{float:left;margin:15px 0 0 10px;width:calc(100% - 10px);}
.swiper-containerpp .dmain .d1{float:left;width:100%;padding-top:100%;position:relative;overflow:hidden;border-radius: 10px;}
.swiper-containerpp .dmain .d1 img{position: absolute;top: 0;left:0;width: 100%;min-height: 100px;border-radius:10px;}
.swiper-containerpp .dmain .d2{float:left;width:100%;margin:10px 0 0 0;height:16px;overflow:hidden;}
.swiper-containerpp .dmain .d3{float:left;width:100%;margin:5px 0 0 0;height:16px;overflow:hidden;color:#ff6600;font-size:14px;}
.swiper-containerpp .dmain .d4{float:left;width:100%;margin:5px 0 0 0;height:16px;overflow:hidden;color:#ff0000;}

.prolist{background-color:#F4F2F2; margin-bottom:5rem;}
.prolist .dmain{margin:0;}
.prolist .dmain .dm{float:left;width:calc(100% - 20px);    border-radius: 10px;
    background: #F8F8F8;
    margin: 5px 5px;
    padding: 10px 5px; height:120px;}
.prolist .dmain .dm .d1{float:left;width:140px;height: 110px;
    overflow: hidden;
    border-radius: 10px;}
.prolist .dmain .dm .d1 div{float:left;width:100%;padding-top:100%;position:relative;overflow:hidden;}
.prolist .dmain .dm .d1 div img{position: absolute;top: 0;left:0;width: 100%; min-height: 100px; border-radius: 10px;}
.prolist .dmain .dm .d2{float:right;width:calc(100% - 155px);}
.prolist .dmain .dm .d2 .b1{float:left;width:100%;font-size:14px;overflow:hidden;line-height:20px;height:39px;}
.prolist .dmain .dm .d2 .b2{float:left;width:calc(100% - 70px);margin:8px 0 0 0;}
.prolist .dmain .dm .d2 .b2 .sb1{float:left;width:100%;height:20px;overflow:hidden;}
.prolist .dmain .dm .d2 .b2 .sb1 span{float:left;padding:2px 3px 0 3px;height:18px;margin:0 5px 0 0;border-radius:2px;background-color:#F4F4F4;color:#666;}
.prolist .dmain .dm .d2 .b2 .sb2{float:left;width:100%;margin:10px 0 0 0;font-size:14px;}
.prolist .dmain .dm .d2 .b2 .sb2 .s1{color:#ff6600;float:left;}
.prolist .dmain .dm .d2 .b2 .sb2 .s2{color:#999;margin:0 0 0 10px;float:left;}
.prolist .dmain .dm .d2 .b3{float:right;width:60px;margin:32px 10px 0 0;color:#ff5050;}
.prolist .dmain .dm .d2 .b3 span{width:60px;border-radius:20px;text-align:center;font-size:21px;padding:5px 0 0 0;height:25px;}


.index_good_bigbox {
    width: 95%;background: #f8f8f8;
    border-radius: 10px;
    margin-top: 1.2rem;
    overflow: hidden;
}
.goodslist{border-radius: 1rem; padding-top:0.8rem;}
.goodslist .morelist_a{background-color: #FB8275;
    color: #fff !important;
    padding: 7px 12px;
    font-size: 1rem;
    border-radius: 1rem;}
.goodslist img{ width:7rem;}
.indexcap {
    background-color: #F8F8F8;
    padding: 6px 0 0 0;
    text-align: left;
    height: 33px;
    width: 100%;
}
.indexcap .d1 {
    margin: 4px 0 0 10px;
    font-size: 16px;
    font-weight: 700;
    padding: 0 0 0 10px;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
    text-align: left;
    height: 19px;
    color: #333;
}
.index_good_bigbox .indexcap .d1 img{width:7rem;}
.kefu_form_m {
    height: 3rem;
    line-height: 2.8rem;
}
.kefu_input_m {
    height: 2.2rem;
    width: 64%;
    padding: 0 0.7rem;
    border-radius: 1.5rem;
    border: none;
    background: #F9F9F9;
    float: left;
    margin-left: 5%;margin-top: 1.15rem;
}
.m_index_yanzheng {
    width: 5rem;
    height: 2.2rem;
	margin-top: 1.15rem;margin-left: -60px;
    background: linear-gradient(#f7423f,#f76f3f);
    border-radius: 1.5rem;
    border: none;
    color: #fff;
    font-size: 1.1rem;
}
.bg44A0F7{background: #44A0F7;
    height: 4.5rem;}

.m_index_ad_01{ width:100%;margin-top: 0.8rem;}
.m_index_ad_01 img{ width:94%; margin:0 auto;}
.prolist .width6{ margin-bottom:0.3rem;}
.QQkefu{position: fixed;
    bottom: 20%;
    right: 5px;
    width: 5rem;
    z-index: 9999999;}
.QQkefu img{ width:100%;}
.ad_M_index_img{border-radius: 15px;
    overflow: hidden;
    margin-top: 0.8rem;
    width: 95%;}
.index_hzzb{width: 96%; color:#fff;
    height: 8rem;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url(/m/homeimg/youxi_mImg/hzzb.png);}
.index_hzzb .index_hzzb_left{    float: left;
    margin-left: 1rem;
    font-weight: 600;
    margin-top: 0.8rem;
    font-size: 16px;}
.index_hzzb_more{   float:right;
    margin-right: 1rem;
    font-weight: 600;
    margin-top: 0.8rem;
    font-size: 16px;}