body{background-color:#fff;}
/*我下载的简历*/
.msglist{}
.msglist .dtx{margin:12px 0 0 10px;width:46px;}
.msglist .dtx img{float:left;border-radius:45px;width:45px;height:45px;}
.msglist .dmain{margin:0 10px;border-bottom:#f1f1f1 solid 1px;padding:12px 0;}
.msglist .dmain .left{float:left;width:calc(100% - 50px);color:#989898;}
.msglist .dmain .left .d1{float:left;clear:both;line-height:20px;overflow:hidden;height:20px;width:100%;}
.msglist .dmain .left .d1 strong{font-size:14px;color:#62381f;}
.msglist .dmain .left .d2{float:left;line-height:17px;height:17px;overflow:hidden;width:100%;margin-top:5px;}
.msglist .dmain .right{float:left;width:50px;color:#c3c3c3;text-align:right;}
.msglist .dmain .right .s1{float:left;width:100%;margin-top:1px;}
.msglist .dmain .right .s2{float:right;width:40px;text-align:center;line-height:20px;background-color:#ff0000;color:#fff;border-radius:20px;margin-top:9px;}
