<?
if($cssjsty=="a"){$l=weburl;}
elseif($cssjsty=="b"){$l="";}
else{$l="../";}
?>
<meta http-equiv="Expires" content="0">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-control" content="no-cache">
<meta http-equiv="Cache" content="no-cache">
<meta name="sogou_site_verification" content="JES4Xp8llz"/>
<meta name="360-site-verification" content="77608d49f66783b8b3072902e4ee158d" />
<link rel="shortcut icon" href="<?=$l?>img/favicon.ico" type="image/x-icon" />
<link href="<?=$l?>css/global.css" rel="stylesheet" type="text/css" />
<link href="<?=$l?>css/basic.css" rel="stylesheet" type="text/css" />
<? if($cssjsty!="a"){?>
<link href="css/index.css?t=<?=$glosxbh?>" rel="stylesheet" type="text/css" />
<? }?>
<script language="javascript" src="<?=$l?>js/global.js?t=<?=$glosxbh?>"></script>
<script language="javascript" src="<?=$l?>js/basic.js?t=<?=$glosxbh?>"></script>
<script language="javascript" src="<?=$l?>js/jquery.min.js?t=<?=$glosxbh?>"></script>
<script language="javascript" src="<?=$l?>js/layer.js?t=<?=$glosxbh?>"></script>
<? if($cssjsty!="a"){?>
<script language="javascript" src="js/index.js?t=<?=$glosxbh?>"></script>
<? }?>
