/*首页*/
.tuijian{float:left;width:1250px;text-align:left;}
.tuijian .dlist{float:left;border:#DDDDDD solid 1px;margin:20px 0 0 23px;width:399px;height:320px;background-color:#fff;}
.tuijian .dlist .d1{float:left;width:122px;height:122px;margin:20px 0 0 20px;}
.tuijian .dlist .d1 img{border:#ddd solid 1px;}
.tuijian .dlist .u1{float:left;margin:20px 0 0 15px;width:242px;height:122px;}
.tuijian .dlist .u1 li{float:left;}
.tuijian .dlist .u1 .l1{width:242px;font-size:15px;height:20px;overflow:hidden;}
.tuijian .dlist .u1 .l1 span{float:left;padding:1px 4px 1px 4px;cursor:pointer;border-radius:2px;font-family:Arial, Helvetica, sans-serif;background-color:#ff6600;border:#ff6600 solid 1px;color:#fff;margin:0 5px 0 0;font-size:12px;}
.tuijian .dlist .u1 .l2{width:242px;height:25px;margin:20px 0 0 0;}
.tuijian .dlist .u1 .l3{width:242px;height:30px;}
.tuijian .dlist .u1 .l4{width:242px;color:#888;}
.tuijian .dlist .u1 .l4 a{float:left;border:#DDDDDD solid 1px;border-radius:4px;margin-right:10px;padding:4px 0 0 0;height:20px;width:68px;text-align:center;background-color:#F4F4F4;}
.tuijian .dlist .u1 .l4 a:hover{text-decoration:none;background-color:#f2f2f2;}
.tuijian .dlist .d2{float:left;width:379px;border-top:#ddd solid 1px;margin:20px 0 0 0;height:46px;font-size:14px;padding:10px 0 0 20px;background:url(../img/xian.gif) left bottom no-repeat;}
.tuijian .dlist .d2 a:hover{color:#ff6600;text-decoration:none;}
.tuijian .dlist .d3{float:left;width:388px;padding-left:7px;}
.tuijian .dlist .d3 a{float:left;width:70px;height:70px;border:#ddd solid 1px;margin:10px 0 0 13px;}
.tuijian .dlist0{margin-left:0;}
.tuijian .dlist3{margin-left:0;}
.tuijian .xuwei{float:left;border:#DDDDDD solid 1px;margin:20px 0 0 23px;width:399px;height:320px;font-size:30px;text-align:center;}
.tuijian .xuwei a{color:#D0CCCC;float:left;width:399px;height:190px;padding:130px 0 0 0;background-color:#f2f2f2;}
.tuijian .xuwei a:hover{background-color:#f8f8f8;width:399px;text-decoration:none;}

.sleft{float:left;text-align:left;width:970px;}
.sleft .list{float:left;width:415px;margin:10px 10px 0 0;height:190px;padding:30px;background-color:#fff;border-radius:5px;transition: all  .25s  ease-in;}
.sleft .list .d1{height:27px;float:left;width:100%;color:#B7B9C1;}
.sleft .list .tx{float:left;width:75px;height:75px;}
.sleft .list .tx span{float:left;width:73px;height:73px;overflow:hidden;border-radius:38px;border:#f2f2f2 solid 1px;}
.sleft .list .tx span img{width:73px;}
.sleft .list .u1{float:left;width:320px;margin:0 0 0 20px;}
.sleft .list .u1 li{float:left;}
.sleft .list .u1 .l1{width:230px;height:30px;padding:7px 0 0 0;font-size:16px;}
.sleft .list .u1 .l1 a{float:left;width:100%;height:20px;overflow:hidden;}
.sleft .list .u1 .l2{width:90px;height:27x;text-align:right;padding:10px 0 0 0;color:#999;}
.sleft .list .u1 .l2 strong{color:#FA4A4D;font-weight:100;}
.sleft .list .u1 .l3{width:270px;height:26px;overflow:hidden;}
.sleft .list .u1 .l3 a{float:left;border:#F5F5F5 solid 1px;border-radius:5px;padding:3px 12px 0 12px;margin-right:3px;height:21px;color:#8C909D;}
.sleft .list .d2{height:27px;float:left;width:395px;color:#6F7484;border-bottom:#DDDDDD solid 1px;height:36px;margin:18px 0 0 0;background:url(../img/laba.gif) no-repeat;background-position:0 2px;padding:0 0 0 20px;}
.sleft .list .d2 span{float:left;height:16px;width:355px;overflow:hidden;}
.sleft .list .d3{height:27px;float:left;width:255px;color:#6F7484;margin:18px 0 0 0;background:url(../img/dt.gif) no-repeat;background-position:0 3px;padding:0 0 0 20px;}
.sleft .list .d3 span{float:left;height:17px;width:205px;overflow:hidden;font-size:13px;}
.sleft .list .d4{height:27px;float:left;width:140px;color:#00B4C5;margin:18px 0 0 0;background-position:0 3px;text-align:right;}
.sleft .list:hover{transform:translateY(-5px);box-shadow:4px 4px 5px #ECECEC;}
.sleft .npa{margin-right:10px;}

.sright{float:right;width:280px;text-align:left;}
.sright .remeqy{float:left;width:280px;margin:10px 0 0 0;background:url(../img/bg3.png) no-repeat;min-height:89px;background-color:#fff;border:#F0F0F0 solid 1px;border-radius:5px;padding:0 0 15px 0;}
.sright .remeqy .u1{float:left;width:280px;height:58px;}
.sright .remeqy .u1 li{float:left;}
.sright .remeqy .u1 .l1{width:110px;padding:22px 0 0 20px;font-weight:700;color:#fff;font-size:16px;}
.sright .remeqy .u1 .l2{width:130px;padding:25px 20px 0 0;font-size:12px;text-align:right;}
.sright .remeqy .u1 .l2 a{color:#fff;}
.sright .remeqy .rmqy{float:left;margin:10px 8px 0 8px;width:262px;background-color:#fff;border-radius:5px;height:139px;}
.sright .remeqy .rmqy .d1{float:left;width:50px;}
.sright .remeqy .rmqy .d1 .s1{float:left;background:url(../img/pm1.gif) center top no-repeat;width:55px;height:30px;margin:37px 0 0 0;}
.sright .remeqy .rmqy .d1 .s2{float:left;background:url(../img/pm2.gif) center top no-repeat;width:55px;height:30px;margin:37px 0 0 0;}
.sright .remeqy .rmqy .d1 .s3{float:left;background:url(../img/pm3.gif) center top no-repeat;width:55px;height:30px;margin:37px 0 0 0;}
.sright .remeqy .rmqy .d1 .s4{float:left;background:url(../img/pm4.gif) center top no-repeat;width:55px;height:30px;margin:37px 0 0 0;}
.sright .remeqy .rmqy .d1 .s5{float:left;background:url(../img/pm5.gif) center top no-repeat;width:55px;height:30px;margin:37px 0 0 0;}
.sright .remeqy .rmqy .nu1{float:left;width:212px;margin:25px 0 0 0;}
.sright .remeqy .rmqy .nu1 li{float:left;}
.sright .remeqy .rmqy .nu1 .l1{width:65px;}
.sright .remeqy .rmqy .nu1 .l1 img{width:50px;}
.sright .remeqy .rmqy .nu1 .l2{width:140px;height:40px;margin-right:5px;overflow:hidden;color:#999999;}
.sright .remeqy .rmqy .nu1 .l2 .a1{float:left;width:100%;height:18px;font-size:14px;margin:0 0 5px 0;overflow:hidden;color:#333;}
.sright .remeqy .rmqy .nu1 .l2 .a1:hover{color:#ff6600;}
.sright .remeqy .rmqy .nu1 .l2 .a2{color:#999999;}
.sright .remeqy .rmqy .nu1 .l2 .a2:hover{color:#000;}
.sright .remeqy .rmqy .nu1 .l3{width:212px;height:40px;overflow:hidden;margin:6px 0 0 0;}
.sright .remeqy .rmqy .nu1 .l3 span{float:left;border:#F0F0F0 solid 1px;border-radius:4px;margin-right:4px;margin-bottom:13px;padding:4px 6px 0 6px;height:22px;}
.sright .remeqy .rmqy1{border:#FCEDED solid 1px;}
.sright .remeqy .rmqy2{background-color:#FAFAFA;border:#D9EFFF solid 1px;}
.sright .remeqy .rmqy3{background-color:#FAFAFA;border:#BCEFE3 solid 1px;}
.sright .remeqy .rmqy4{background-color:#FAFAFA;border:#FAFAFA solid 1px;}
.sright .remeqy .rmqy5{background-color:#FAFAFA;border:#FAFAFA solid 1px;}













