
.general{background:#fff;height:75px;padding:15px 0 5px 0;min-width:1250px;}
.general li{float:left}
.general .logo{float:left;width:329px;height:60px;background:url(../../homeimg/bzm_yxImg/logo.png) no-repeat}
.general .logo a{height:100%;display:block}
.general .s-logo{width:154px}
.general .top-zl{margin:20px 0 0 160px}
/*商家店铺名*/

.top_sinfo {
    width: 350px;
    border-left: #eee solid 2px;
    padding: 10px;
    margin-left: 10px;
    line-height: 20px;
    height: 40px;
    position: relative;
    z-index: 99;
}

.top_sinfo p {
    float: left;
    width: 100%;
}
.top_sinfo .company-icon {
    display: inline-block;
    margin: -3px 3px 0 0;
    float: left;
    background-position: -103px -75px;
    width: 23px;
    height: 24px;
}
.top_sinfo strong {
    float: left;
    font-size: 15px;
    font-weight: 700;
}

.top_sinfo .xy {
    float: left;
    margin: 3px 0 0 10px;
}
/*服务|效率|质量*/
.top_sinfo .toggle_center span {
    padding: 0 5px;
    color: #e9e5e9;
}

.top_sinfo em {
    font-family: Tahoma,'Microsoft Yahei',Simsun;
    font-style: normal;
    color: #c70100;
}
/*服务|效率|质量//打开显示*/
.rev_pop {
    float: left;
    width: 480px;
    color: #666;
    position: absolute;
    background: #fff;
    border: 1px solid #ddd;
    left: 10px;
    top: 62px;
    line-height: 20px;
}

table.pop_pf {
    margin-right: 0;
    border-right: 1px solid #ddd;
}
.rev_pop table {
    border-collapse: collapse;
    float: left;
   /* width: 260px;*/
    margin: 8px;
}
.rev_pop td, .rev_pop th {
    padding: 5px 8px;
}
.pop_pf td i {
    font-family: Tahoma,'Microsoft Yahei',Simsun;
    font-style: normal;
    background: #f1543a;
    color: #fff;
    float: left;
    width: 40%;
    text-align: center;
}
.pop_pf td span {
    float: left;
    width: 60%;
    text-align: center;
    background: #fff0dc;
    color: #c70100;
}


.top_sinfo table {
    border-collapse: collapse;
}

table.pop_info {
    margin-left: 0;
}
.icons,.certification i{
    background: url(../../homeimg/bzm_yxImg/focus2018.png) no-repeat;
}

.certification i {
    margin: 0 3px -3px 0;
    width: 16px;
    height: 16px;
    display: inline-block;
    BACKGROUND-POSITION: -20px -124px;
}
.certification i.phone {
    BACKGROUND-POSITION: -20px -104px;
    margin-right: 2px;
}
.certification i.phone.success {
    BACKGROUND-POSITION: 0 -104px;
}
.certification i.idcard {
    BACKGROUND-POSITION: -20px -144px;
}
.certification i.idcard.success {
    BACKGROUND-POSITION: 0 -144px;
}
.certification i.success {
    BACKGROUND-POSITION: 0 -124px;
}
.certification i.company {
    BACKGROUND-POSITION: 0 -164px;
}


.t_p_bottom {
    text-align: right;
    float: left;
    background: #f4f4f4;
    width: 100%;
    padding: 5px 0;
}

.t_p_bottom a {
    color: #3392d1;
    padding: 0 5px;
}
/*未交保证金*/
.general .shead_tips {
    letter-spacing: .5px;
    position: relative;
    display: inline-block;
    border: 1px solid red;
    background: #FFF9F3;
    line-height: 18px;
    padding: 6px 15px 8px 52px;
    color: #ff4800;
    font-size: 14px;
    border-radius: 2px;
}

.general .shead_tips i {
    position: absolute;
    left: 10px;
    top: 0;
    font-size: 35px;
    margin-top: 9px;
    line-height: 36px;
    height: 36px;
    display: inline-block;
}

.iconfont {
    font-family: iconfont;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: .2px;
}

/*搜索*/
.general .search.s {
    width: 300px;
    height: 30px;
    float: right;
    left: auto;
}

.general .search {
    background: #fff;
    margin-top: 15px;
    position: relative;
    z-index: 2;
    left: 50px;
    border: #6899ec solid 2px;
   /* border-radius: 30px;*/
}

.general .search .resou .u1{float:left;width:300px;height:30px;}
.general .search .resou .u1 li{float:left;}
.general .search .resou .u1 .l1{width:60px;height:30px;font-size:14px;    border-right-color: rgb(104, 153, 236);border-right-style: solid;border-right-width: 1px;}
.general .search .resou .u1 .l1 #topnwd{float:left;width:65px;height:30px;padding:5px 0 0 10px;background:url(../../homeimg/bzm_yxImg/jian2.gif) no-repeat;background-position:45px 14px;cursor:pointer;}
.general .search .resou .u1 .l1 #topdiv{float: left; width: 61px;border: #6899ec solid 1px; border-top: 0; background-color: #fff;  position: absolute;  z-index: 100; margin: 32px -2px 0 -2px;}
.general .search .resou .u1 .l1 #topdiv a{float:left;width:60px;height:25px;text-align: center;/*padding: 5px 10px 0 0;*/}
.general .search .resou .u1 .l1 #topdiv a:hover{text-align: center;width:60px;background-color:#eee;/*height:30px;*/}
.general .search .resou .u1 .l2{width:188px;height:30px;}
.general .search .resou .u1 .l2 input{float:left;width:188px;height:30px;border:0;padding-left: 10px;}
.general .search.s .bzmss {background: url(../../homeimg/bzm_yxImg/zl.png) center 6px no-repeat;}
.general .search .resou .u1 .l3{width: 50px; border-left: 0;height: 28px; background-color: #6899ec;background: linear-gradient(-87deg, #6899ec 0,#6899ec 80%);}
.general .search .resou .u1 .l3 input{float: left; border: 0;cursor: pointer;color: #fff;width: 52px; height: 30px;font-size: 14px;background: linear-gradient(-87deg, #6899ec 0,#6899ec 80%); }



/*商家头部图片*/
.shop_banner {
    background: #d8e7fa;
    width: 100%;
    min-width:1250px;
}

.shop_banner .main {
    font-weight: 700;
    height: 120px;
    line-height: 115px;
    overflow: hidden;
    font-size: 26px;
    font-family: "\5FAE\8F6F\96C5\9ED1";
    color: #222;
    width: 100%;
    min-width: 1250px;
}
/*商家导航*/
.shop_nav {
	height: 35px;
	background: #3f7fce;
	width: 100%;
	min-width:1250px;
	text-align: center;
	color: #fff;
}

.shop_nav a {
	float: left;
	color: #fff;
	text-shadow: 0 1px 1px #666;
	width: 90px;
	text-align: center;
}

.shop_nav a:hover {
	background: #2c5990;
	    text-align: center;
}

.shop_nav li {
        text-align: center;
	float: left;
	line-height: 35px;
	height: 35px;
}

.shop_nav span {
	float: left;
	width: 90px;
	text-align: center;
	/*padding-left: 15px;*/
	line-height: 35px;
	height: 35px;
}

.shop_nav span em {
	position: absolute;
	left: 67px;
	top: 13px;
	    text-align: center;
	display: inline-block;
	overflow: hidden;
	font-size: 0;
	width: 0;
	height: 0;
	border-style: solid;
	vertical-align: middle;
	border-width: 5px 5px 0;
	border-color: #fff transparent transparent;
	zoom: 1;
}

.shop_nav .hzcur span {
	background: #2c5990;
	    text-align: center;
}

.shop_nav .hzcur span em {
	transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	    text-align: center;
}

.shop_nav a.cur {
	background: #174276;
	    text-align: center;
}

.shop_nav .gs {
	float: left;
	text-align: left;
	cursor: pointer;
	position: relative;
	width: 90px;
	    text-align: center;
}

.shop_nav .gsbox {
	position: absolute;
	top: 30px;
	left: 0;
	width: 100%;
	border-top: 0;
	    text-align: center;
	z-index: 1000;
	display: none;
}

.shop_nav .gsbox a {
	text-align: left;
	background: #2c5990;
	float: left;
	width: 90px;
	line-height: 35px;
	border-bottom: 1px solid #1C477C;
    text-align: center;
}

.shop_nav .gsbox a:hover {
	background: #3f7fce;
}

/*全部商家*/

.sort_box {
    width: 100%;
    color: #666;
    background: #fdfdfd;
    margin: 15px 0;
}

.screen_box, .sort_box {
    background: #fff;
    -webkit-box-shadow: 0 0 5px rgba(49,42,42,.06);
    box-shadow: 0 0 5px rgba(49,42,42,.06);
}
.sort_bottom, .sort_top {
    float: left;
    width: 100%;
}
.sort_order {
    height: 40px;
    margin-right: 10px;
}
.sort_order a.curr {
    color: #f60;
    font-weight: 700;
}

.sort_order a {
    display: inline-block;
    padding-left: 20px;
    line-height: 39px;
    position: relative;
    font-size: 14px;
}
.sort_box a {
    color: #666;
}


/*搜索商铺*/
.sort_input div {
    float: left;
    margin: 0;
    padding: 7.5px;
}
.sort_search input {
    width: 80px;
}

.sort_box input {
    padding: 0 4px;
    height: 23px;
    background: #fff;
    border: solid 1px #e5e5e5;
    line-height: normal;
    font-family: arial;
    float: left;
}

.sort_search .submit {
    display: inline-block;
    margin-left: -1px;
    height: 23px;
    padding: 0 10px;
    background: #f40;
    color: #fff;
    border: 0;
    line-height: 23px;
    white-space: nowrap;
    border: 1px solid #f40;
    -webkit-border-radius: 2px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 2px;
    -moz-background-clip: padding;
    background-clip: padding-box;
    float: left;
}
/*商家位数*/
.sort_info {
    padding: 12px;
}
.sort_info span {
    color: #f60;
}

/*商铺*/
.sphead {
	width: 100%;
	float: left;
	margin: 10px 0 0 0
}

.sphead .left {
	width: 257px
}

.sphead .right {
	width: 990px
}

.sptit {
	overflow: hidden;
	position: relative;
	line-height: 36px;
	height: 36px;
	display: block
}

.sptit h3 {
	font-size: 18px;
	color: #222;
	font-weight: 400
}

.sptit a {
	color: #aaa;
	position: absolute;
	right: 0;
	top: 50%;
	margin-top: -7px;
	font-size: 12px;
	line-height: 14px;
	height: 14px
}

.sptit a:hover {
	color: #247fbd
}

.sprec {
	width: 990px;
	float: left
}

.sprec dl {
	float: left;
	background: #fff;
	margin: 0 0 14px 14px;
	width: 480px;
	transition: all .2s ease-in-out
}

.sprec dl:hover {
	box-shadow: 0 0 16px 0 rgba(53,53,53,.2)
}

.sprec dt {
	height: 72px;
	position: relative;
	overflow: hidden;
	padding: 15px;
	display: block;
	background: #fafafa;
	margin: 15px 15px 8px 15px
}

.sprec dt .avatar {
	position: relative;
	overflow: hidden;
	float: left;
	height: 74px;
	width: 74px
}

.sprec dt .avatar em {
	display: block;
	-webkit-transition: .6s;
	-webkit-transition: -webkit-transform .6s ease-out;
	-moz-transition: -moz-transform .6s ease-out;
	transition: transform .6s ease-out;
	padding: 3px;
	border-radius: 100%;
	overflow: hidden;
	border: 4px solid #e5e5e5;
	border-top-color: #7ebdfa;
	border-bottom-color: #7ebdfa;
	height: 60px;
	width: 60px
}

.sprec dt .avatar img {
	width: 60px;
	height: 60px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -30px;
	margin-top: -30px;
	border-radius: 100%
}

.sprec dl:hover .avatar em {
	-webkit-transform: rotate(270deg);
	-moz-transform: rotate(270deg);
	transform: rotate(270deg)
}

.sprec dt span {
	display: block;
	margin: 0 70px 0 85px
}

.sprec dt p {
	color: #999;
	display: block;
	line-height: 24px;
	height: 24px;
	overflow: hidden
}

.sprec dt a.name {
	font-weight: 700;
	font-size: 14px;
	white-space: nowrap;
	overflow: hidden;
	display: block;
	text-overflow: ellipsis
}

.sprec dt a.name:hover {
	color: #247fbd
}

.sprec dt img.xy {
	vertical-align: -2.5px
}

.sprec dt .url {
	position: absolute;
	right: 15px;
	top: 18px
}

.sprec dt .url a {
	transition: all .2s ease-in-out;
	display: block;
	padding: 3px 9px 2px 7px;
	margin: 0 0 8px 0;
	font-size: 12px;
	border-radius: 3px;
	text-align: center;
	color: #666;
	border: 1px solid #ddd
}

.sprec dt .url i {
	padding-right: 2px
}

.sprec dt .url a:hover {
	color: #247fbd;
	border-color: #247fbd
}

.sprec dt p em {
	color: #de373e;
	padding: 0 6px 0 2px
}

.sprec dd {
	height: 74px;
	overflow: hidden;
	padding: 0 15px 15px 15px;
	display: block;
	line-height: 20px
}

.sprec dd cite {
	display: block;
	position: relative;
	overflow: hidden;
	height: 20px;
	line-height: 20px;
	font-size: 14px
}

.sprec dd i {
	position: absolute;
	width: 100%;
	top: 50%;
	margin-top: -1px;
	left: 0;
	height: 2px;
	background: #eee
}

.sprec dd span {
	color: #333;
	display: inline-block;
	padding: 0 10px 0 0;
	position: relative;
	background: #fff;
	z-index: 1
}

.sprec dd a {
	font-size: 13px;
	margin: 5px 0 0 -2px;
	color: #666;
	white-space: nowrap;
	overflow: hidden;
	display: block;
	text-overflow: ellipsis
}

.sprec dd a:hover {
	color: #f40
}

.sprec dd em {
	color: #f40;
	padding-right: 3px
}

.sp-join {
	position: relative;
	background: #fff;
	margin-top: 15px;
	display: block;
	height: 95px;
	box-shadow: 0 2px 8px 0 rgba(0,0,0,.03)
}

.sp-join h3 {
	font-size: 16px;
	color: #666;
	padding: 22px 0 0 22px
}

.sp-join p {
	padding: 8px 0 0 22px;
	font-size: 12px;
	transition: all .3s ease-in-out;
	color: #999
}

.sp-join i {
	transition: all .3s ease-in-out;
	position: absolute;
	right: 20px;
	top: 50%;
	margin-top: -30px;
	width: 60px;
	height: 60px;
	background: url(../img/shafa.png) no-repeat;
	background-size: 60px 60px
}

.sp-join:hover p {
	-webkit-transform: translateX(2px);
	-moz-transform: translateX(2px);
	-ms-transform: translateX(2px);
	-o-transform: translateX(2px);
	transform: translateX(2px)
}

.sp-join:hover i {
	-webkit-transform: translateY(-2px);
	-moz-transform: translateY(-2px);
	-ms-transform: translateY(-2px);
	-o-transform: translateY(-2px);
	transform: translateY(-2px)
}

.active-list {
	width: 217px;
	padding: 10px 20px;
	transition: all .2s ease-in-out;
	background: #fff;
	display: block;
	overflow: hidden
}

.active-list:hover {
	box-shadow: 0 0 16px 0 rgba(53,53,53,.2)
}

.active-list dd {
	overflow: hidden;
	display: block;
	line-height: 40px;
	padding: 7px 0
}

.active-list dd em {
	float: left;
	width: 20px;
	height: 20px;
	display: inline-block;
	line-height: 20px;
	text-align: center;
	float: left;
	background-color: #EBEEF4;
	border-radius: 4px;
	font-size: 12px;
	color: #999;
	margin-top: 10px
}

.active-list dd em#R1,.active-list dd em#R2,.active-list dd em#R3 {
	background: #DA3932;
	color: #fff
}

.active-list dd .avatar {
	margin-left: 15px;
	padding: 2px;
	box-shadow: 0 1px 1px #eee;
	border-radius: 50%;
	overflow: hidden;
	float: left;
	height: 34px;
	width: 34px;
	border: 1px solid #f0f0f0
}

.active-list dd span {
	font-size: 14px;
	margin-left: 80px;
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis
}

.splist {
	width: 100%;
	float: left
}

.splist .list_items {
	width: 120%
}

.splist dl {
	float: left;
	background: #fff;
	margin: 0 14px 14px 0;
	width: 20.1%;
	transition: all .2s ease-in-out
}

.splist dl:hover {
	box-shadow: 0 0 16px 0 rgba(53,53,53,.2);
	-webkit-transform: translateY(-2px);
	-moz-transform: translateY(-2px);
	-ms-transform: translateY(-2px);
	-o-transform: translateY(-2px);
	transform: translateY(-2px)
}

.splist dt {
	height: 66px;
	overflow: hidden;
	padding: 15px 15px 10px 15px;
	display: block
}

.splist dt .avatar {
	padding: 2px;
	box-shadow: 0 1px 1px #eee;
	border-radius: 4px;
	overflow: hidden;
	float: left;
	height: 60px;
	width: 60px;
	border: 1px solid #f0f0f0
}

.splist dt .avatar img {
	width: 100%;
	height: 100%
}

.splist dt span {
	display: block;
	margin-left: 80px
}

.splist dt p {
	color: #999;
	display: block;
	line-height: 21px;
	height: 21px;
	overflow: hidden
}

.splist dt a.name {
	font-weight: 700;
	font-size: 14px;
	white-space: nowrap;
	overflow: hidden;
	display: block;
	text-overflow: ellipsis
}

.splist dt a.name:hover {
	color: #247fbd
}

.splist dt img.xy {
	vertical-align: -2.5px
}

.splist dt p.url {
	margin-top: 3px
}

.splist dt p.url a {
	margin-right: 3px;
	padding: 0px 5px;
	display: inline-block;
	background: #fcfcfc;
/*	width: 50px;*/
	line-height: 18px;
	height: 18px;
	text-align: center;
	border: 1px solid #e5e5e5
}

.splist dt p.url a:hover {
	color: #247fbd;
	background: #fafafa;
	border-color: #ddd
}

.splist dd {
	height: 40px;
	overflow: hidden;
	padding: 0 15px 10px 15px;
	display: block;
	line-height: 20px
}

.splist dd cite {
	display: block;
	position: relative;
	overflow: hidden;
	height: 20px
}

.splist dd i {
	position: absolute;
	width: 100%;
	top: 50%;
	margin-top: -.5px;
	left: 0;
	height: 1px;
	background: #eee
}

.splist dd span {
	color: #333;
	display: inline-block;
	padding: 0 5px 0 0;
	position: relative;
	background: #fff;
	z-index: 1
}

.splist dd a {
	margin-left: -2px;
	color: #666;
	white-space: nowrap;
	overflow: hidden;
	display: block;
	text-overflow: ellipsis
}

.splist dd a:hover {
	color: #f40
}

.splist dd em {
	color: #f40;
	padding-right: 3px
}



/*左商家信息*/
.g_side {
    width: 225px;
	    float: left;
	    margin: 10px 0 0 0;
 background-color: #fff;
}

.seller {
    width: 225px;
	    float: left;
}
.mj_box .niufixed {
    width: 235px!important;
}
.s_info {
    float: left;
    width: 200px;
    padding: 12px 12px 0px 12px;
}
.s_info ul {
    float: left;
    width: 100%;
    margin-bottom: 10px;
    /*overflow: hidden;*/
	line-height: 16px;
}

.s_mark {
    background: #fafafa;
    width: 200px;
    border: 1px solid #eee;
}
.s_name {
    font-weight: 700;
    text-align: center;
    font-size: 15px;
}
.s_info .xy {
    vertical-align: -3px;
}

.shop_score div {
    OVERFLOW: hidden;
    display: block;
    padding-top: 10px;
    border-top: 1px solid #ededed;
}
.shop_score cite {
    float: right;
    width: 50px;
    padding-left: 16px;
    border-right: #ededed solid 1px;
    margin-right: -1px;
}
.shop_score cite span {
    color: #999;
}
.shop_score cite .up {
    color: #f60;
}
.shop_score cite i {
    vertical-align: -2px;
}
.iconfont {
    font-family: iconfont;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: .2px;
}

.bond_info {
    text-align: center;
    display: block;
    font-size: 12px;
    color: #2E8A11;
    border: 1px solid #C6F6BC;
    background: #F6FDF4;
    vertical-align: middle;
    padding: 5px 0 7px 0;
}
.bond_info:hover {
    color:#24760b
}
.shop_btns a {
    color: #666;
    float: left;
    width: 46%;
    vertical-align: middle;
    padding: 6px 0 8px 0;
    height: 16px;
    border: 1px solid #ededed;
    background: #f9f9f9;
    transition: background .5s;
}
.shop_btns i {
    float: left;
    margin: 2px 0 0 13%;
    color: #00a1ec;
}
.shop_btns span {
    float: left;
    padding-left: 2px;
    margin-top: 1px;
}

.shop_btns a.collection {
    float: right;
}

.shop_btns a:hover {
    color:#000
}
.shop_btns a:hover i {
    color:#f60
}

.s_tit {
    float: left;
    width: 100%;
    background: #f9f9f9;
    line-height: 35px;
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
    border-top: 1px solid #e5e5e5;
    font-size: 14px;
    font-weight: 700;
}
.s_list#layer_cont {
    margin: 10px 5%;
    padding: 0;
    width: 90%;
}


.s_list {
    float: left;
    padding: 0 0 0 10px;
    margin: 5px 0;
}
.s_list .uim {
    padding: 0 0 0 5px;
    display: inline-block;
}
.s_list .uim p {
    padding: 7px 0 4px 22px;
}


/*qq 微信图标*/

.s_list .qq p{
  background: url(../../homeimg/zhimakuImg/focus2018.png) no-repeat;
  background-position: -306px -85px;
    padding: 7px 0 4px 22px;
}
.s_list .weixin p{
  background: url(../../homeimg/bzm_yxImg/focus2018.png) no-repeat;
  background-position: -305px -133px;
    padding: 7px 0 4px 22px;
}
/*电话*/
.s_list .phone p {
	 background: url(../../homeimg/bzm_yxImg/focus2018.png) no-repeat;
     background-position: -305px -110px; 
     padding: 7px 0 4px 22px;
     cursor: pointer; 
}


.s_hot {
    float: left;
    width: 100%;
}
.c_l_hol {
    WIDTH: 100%;
    font-size: 25px;
}
.c_l_hol DL DT {
    BORDER-BOTTOM: 0;
    WIDTH: 100%;
}
child.dropList-hover P {
    BORDER-TOP: 0;
}
.c_l_hol DL.dropList-hover P {
    BORDER-TOP: #e5e5e5 1px solid;
    COLOR: #a10000;
    font-size: 30px;
    background: #fffeef;
}
.c_l_hol DL P {
    font-size: 25px;
    OVERFLOW: hidden;
    padding: 8px 0;
}
.c_l_hol DL em.no1 {
    color: #f1453a;
    font-weight: 700;
}
.c_l_hol DL em {
    float: left;
    color: #999;
    display: inline-block;
    height: 36px;
    line-height: 36px;
    WIDTH: 20%;
    font-style: normal;
    text-align: center;
}
.c_l_hol DL span {
    font-size: 12px;
    float: left;
    display: inline-block;
    WIDTH: 78%;
    height: 36px;
    line-height: 18px;
    OVERFLOW: hidden;
    letter-spacing: 1px;
    CURSOR: pointer;
}
.c_l_hol DL.dropList-hover P {
    BORDER-TOP: #e5e5e5 1px solid;
    COLOR: #a10000;
    font-size: 30px;
    background: #fffeef;
}
.c_l_hol DL.dropList-hover DD {
    DISPLAY: block;
}

.c_l_hol DL DD {
    DISPLAY: none;
    OVERFLOW: hidden;
    WIDTH: 100%;
    HEIGHT: 183px;
}
.c_l_hol DL DD IMG {
    BORDER-TOP: #e5e5e5 1px solid;
    WIDTH: 100%;
}
.c_l_hol DL em.no2 {
    color: #f90;
    font-weight: 700;
}
.c_l_hol DL em.no3 {
    color: #13b1f0;
    font-weight: 700;
}



/*商品列表*/
.clist{width:102%;}
.clist dl{float:left;width:221px;margin:10px 0px 10px 10px;padding:8px;overflow:hidden;background:#f9f9f9;border: 1px solid #ededed;}
.clist dl:hover{transition:all .2s ease-in-out;box-shadow:0 0 16px 0 rgba(53,53,53,.2);}
.clist p{float:left;width:100%;padding:8px 0 0 0;}
.clist dt{padding:0;position:relative;/*width:225px;*/height:172px;overflow:hidden;border-bottom:1px solid #fbfbfb;}
.clist dt .pic{width:100%;height:100%;display:inline-block;}
.clist dt .pic img{width:100%;overflow:hidden;height:172px;}
.clist dt .ly{display:none;position:absolute;top:0;left:0;width:100%;height:172px;}
.clist dt .ly span{height:152px;position:absolute;width:100%;top:0;background:#fff;-moz-opacity:.8;-khtml-opacity:.8;opacity:.8;line-height:24px;}
.clist dt .ly span.cdes{overflow:hidden;word-break:break-all;height:130px;display:block;color:#000;background:0 0;-moz-opacity:1;-khtml-opacity:1;opacity:1;text-indent:2em;margin:10px;width:auto;}
.clist dt .ly cite{position:absolute;width:100%;bottom:0;left:0;line-height:38px;background:#5953ff;-moz-opacity:.8;-khtml-opacity:.8;opacity:.9;}
.clist dt .ly cite a{float:left;color:#fff;display:block;width:49%;}
.clist dt .ly cite i{width:25px;height:25px;margin:3px;}
.clist dt .ly cite .ys{text-align:right;}
.clist dt .ly cite .ys i{float:right;background-position:-276px -217px!important;}
.clist dt .ly cite .xq i{float:left;background-position:-250px -217px!important;}
.clist dd{overflow:hidden;}
.clist dd .title{height:34px;line-height:18px;overflow:hidden;}
.clist dd .title a:hover{color:#2196F3;}
.clist dd .attr{line-height:24px;height:22px;overflow:hidden;}
.clist dd .attr em{float:left;font-style:normal;font-size:16px;color:#f60;}
.clist dd .attr span{color:#888;float:right;}
.clist dd .info a{line-height:20px;display:block;float:left;text-align:center;}
.clist dd .info .list_seller{float:left;background:#fafafa;border:1px solid #e3e3e3;height:20px;}
.clist dd .info .pic_Layer{height:18px;width:18px;border:1px solid #fff;}
.clist dd .info .xy{margin:0 4px;vertical-align:2.5px;}
.clist dd .info .note_icon{float:right;}
.clist.shop dl{margin:0 8.8px 10px 0;}
.clist.shop .info em{float:left;font-style:normal;font-size:16px;color:#5953ff;}
.clist.shop .ly span.cdes{width:191px;}

.screen_on cite .g_ac0:hover{color:#5953ff!important;}
.ly_seller {text-align: left;display: block;padding: 1px;overflow: hidden;background: #fff;}
.ly_seller .info {height: 46px;padding-bottom: 12px;/*border-bottom: 2px #ebeff4 dashed;*/overflow: hidden;width: 100%;}
.ly_seller .info span {margin-left: 56px;display: block;line-height: 22px;}
.ly_seller .info b {color: #333;font-size: 14px;white-space: nowrap;overflow: hidden;display: block;text-overflow: ellipsis;}
.ly_seller .info p {margin-top: 4px;display: block;}
.ly_seller .avatar {border-radius: 6px;border: 1px solid #eee;padding: 2px;float: left;width: 40px;height: 40px;}
.ly_seller table {width: 100%;border-collapse: collapse;color: #666;}
.ly_seller table td,.ly_seller table th {padding: 3px 0;}
.ly_seller .pop_pf {border: 0;margin-top: 8px;}
.mn-p {font-size: 16px;}