@charset "utf-8";
body{background-color:#F5F5F5;}
.indextop{background-color:#fff;height:50px;}
.indextop .d1{margin:10px 0 0 10px;}
.indextop .d1 img{height:30px;}
.indextop .d2{width:60px;text-align:right;margin:10px 10px 0 0;}
.indextop .d2 img{height:30px;}

.menuhp{float:left;height:190px;background-color:#fff;padding:15px 0 0 0;float:left;margin:-25px 10px 0 10px;width:calc(100% - 20px);position:relative;z-index:25;border-radius:10px;clear:both;}
.swiper-container .swiper-slide .d1{width:20%;float:left;text-align:center;height:90px;font-size:14px;}
.swiper-container .swiper-slide .d1 img{margin:0 0 8px 0;border:0;width:40px;height:40px;border-radius:40px;}

.indexgg{height:34px;width:100%;}
.indexgg .d1{margin:10px 0 0 10px;height:34px;width:85px;background-color:#fff;border-radius:30px 0 0 30px;}
.indexgg .d1 img{float:left;height:16px;margin:9px 10px 0 10px;}
.indexgg .d1 span{float:left;height:16px;border-left:#D5D4D4 solid 1px;width:2px;margin:9px 0 0 0;}
.indexgg .d2{margin:10px 10px 0 0;background-color:#fff;border-radius:0 30px 30px 0;height:34px;}
.indexgg .d2 .divm{float:left;width:calc(100% - 20px);margin:7px 20px 0 0;height:18px;overflow:hidden;font-size:14px;}

.ggbox{width:100%;margin-top:15px;}

.indexcap{margin:10px 0 0 0;height:40px;background-color:#fff;border-bottom:#ebebeb solid 1px;}
.indexcap .d1{margin:10px 0 0 16px;font-size:15px;}
.indexcap .d2{margin:12px 16px 0 0;text-align:right;}
.indexcap .d2 a{color:#999;}
.newslist{padding:18px 0;background-color:#fff;border-bottom:#ebebeb solid 1px;}
.newslist .d1{margin:0 0 0 10px;}
.newslist .d1 .s1{float:left;width:100%;height:45px;margin-bottom:10px;line-height:23px;font-size:14px;overflow:hidden;}
.newslist .d1 .s2{float:left;color:#70B9EC;padding:2px 3px 2px 3px;border-radius:2px;background-color:#ECF5FF;}
.newslist .d1 .s3{float:right;margin:2px 0 0 0;color:#999;}
.newslist .d2{margin:0 10px 0 15px;width:100px;}
.newslist .d2 img{width:100px;height:75px;}

.swiper-container1 {background-color:#fff;overflow:hidden;line-height:normal;padding:0 0 15px 0;}
.swiper-container1 .dmain{float:left;margin:15px 0 0 15px;width:calc(100% - 15px);}
.swiper-container1 .dmain .d1{float:left;width:100%;padding-top:100%;position:relative;overflow:hidden;}
.swiper-container1 .dmain .d1 img{position: absolute;top: 0;left:0;width: 100%;height:100%;border-radius:10px;}
.swiper-container1 .dmain .d2{float:left;width:100%;margin:10px 0 0 0;height:16px;overflow:hidden;}
.swiper-container1 .dmain .d3{float:left;width:100%;margin:5px 0 0 0;height:16px;overflow:hidden;color:#ff6600;font-size:14px;}
.swiper-container1 .dmain .d4{float:left;width:100%;margin:5px 0 0 0;height:16px;overflow:hidden;color:#ff0000;}

.swiper-containerpp {background-color:#fff;overflow:hidden;line-height:normal;padding:0 0 15px 0;}
.swiper-containerpp .dmain{float:left;margin:15px 0 0 15px;width:calc(100% - 15px);}
.swiper-containerpp .dmain .d1{float:left;width:100%;padding-top:100%;position:relative;overflow:hidden;}
.swiper-containerpp .dmain .d1 img{position: absolute;top: 0;left:0;width: 100%;height:100%;border-radius:10px;}
.swiper-containerpp .dmain .d2{float:left;width:100%;margin:10px 0 0 0;height:16px;overflow:hidden;}
.swiper-containerpp .dmain .d3{float:left;width:100%;margin:5px 0 0 0;height:16px;overflow:hidden;color:#ff6600;font-size:14px;}
.swiper-containerpp .dmain .d4{float:left;width:100%;margin:5px 0 0 0;height:16px;overflow:hidden;color:#ff0000;}

.prolist{background-color:#fff;}
.prolist .dmain{margin:0;}
.prolist .dmain .dm{float:left;width:calc(100% - 20px);border-bottom:#ebebeb solid 1px;padding:15px 10px;}
.prolist .dmain .dm .d1{float:left;width:100px;}
.prolist .dmain .dm .d1 div{float:left;width:100%;padding-top:100%;position:relative;overflow:hidden;}
.prolist .dmain .dm .d1 div img{position: absolute;top: 0;left:0;width: 100%;height:100%;border-radius:10px;}
.prolist .dmain .dm .d2{float:right;width:calc(100% - 115px);}
.prolist .dmain .dm .d2 .b1{float:left;width:100%;font-size:14px;overflow:hidden;line-height:20px;height:39px;}
.prolist .dmain .dm .d2 .b2{float:left;width:calc(100% - 50px);margin:8px 0 0 0;}
.prolist .dmain .dm .d2 .b2 .sb1{float:left;width:100%;height:20px;overflow:hidden;}
.prolist .dmain .dm .d2 .b2 .sb1 span{float:left;padding:2px 3px 0 3px;height:18px;margin:0 5px 0 0;border-radius:2px;background-color:#F4F4F4;color:#666;}
.prolist .dmain .dm .d2 .b2 .sb2{float:left;width:100%;margin:10px 0 0 0;font-size:14px;}
.prolist .dmain .dm .d2 .b2 .sb2 .s1{color:#ff6600;float:left;}
.prolist .dmain .dm .d2 .b2 .sb2 .s2{color:#999;margin:0 0 0 10px;float:left;}
.prolist .dmain .dm .d2 .b3{float:right;width:50px;margin:32px 0 0 0;}
.prolist .dmain .dm .d2 .b3 span{color:#fff;float:left;width:50px;border-radius:20px;text-align:center;background-color:#53BCFB;font-size:15px;padding:5px 0 0 0;height:25px;}






