body{background-color:#F3F3F3;}
.bfbhelp1{height:270px;background:url(../img/1.jpg) center top no-repeat;color:#fff;}
.bfbhelp1 .d1{float:left;width:100%;font-size:30px;padding:40px 0 0 0;}
.bfbhelp1 .d2{float:left;width:100%;font-size:16px;padding:23px 0 0 0;}
.bfbhelp1 .u1{float:left;width:720px;border-radius:5px;margin:28px 0 0 213px;height:50px;border:12px solid rgba(0,0,0,0.3);}
.bfbhelp1 .u1 li{float:left;}
.bfbhelp1 .u1 .l1{width:566px;background-color:#fff;}
.bfbhelp1 .u1 .l1 input{float:left;width:506px;border:0;background-color:#fff;height:50px;padding-left:10px;}
.bfbhelp1 .u1 .l1 #searchHtml{float:left;width:566px;position:relative;background-color:#fff;margin:-1px 0 0 0px;z-index:9;text-align:left;}
.bfbhelp1 .u1 .l1 #searchHtml a{float:left;padding:0 10px 0 10px;font-size:13px;height:29px;width:546px;line-height:29px;overflow:hidden;}
.bfbhelp1 .u1 .l1 #searchHtml a:hover{background-color:#f2f2f2;text-decoration:none;color:#000;font-weight:700;}
.bfbhelp1 .u1 .l2{width:154px;}
.bfbhelp1 .u1 .l2 input{float:left;width:154px;height:50px;color:#fff;font-size:16px;border:0;background-color:#FF9422;cursor:pointer;}

/*头部*/
.yjcode .mtop{float:left;text-align:left;width:1150px;}
.yjcode .mtop .u1{float:left;width:1150px;padding:10px 0;}
.yjcode .mtop .u1 li{float:left;}
.yjcode .mtop .mmenu{float:left;width:1150px;height:40px;background-color:#FF6600;}
.yjcode .mtop .mmenu a{float:left;color:#fff;font-weight:700;font-size:14px;padding:13px 13px 0 13px;height:27px;}
.yjcode .mtop .mmenu a:hover{text-decoration:none;background-color:#EA5D00;}
.yjcode .mtop .mmenu .a1{background-color:#C44E00;}
.yjcode .mtop .mmenu .a1:hover{background-color:#C44E00;}
.yjcode .mtop #smenu{float:left;width:1138px;height:36px;background-color:#F5F6F7;border:#ddd solid 1px;border-top:0;padding:0 0 0 10px;}
.yjcode .mtop #smenu a{float:left;padding:4px 11px 0 11px;margin:8px 0 0 0;height:16px;}
.yjcode .mtop #smenu a:hover{text-decoration:none;background-color:#E4E4E4;}

/*帮助中心列表B*/
.helpleft{float:left;margin:15px 0 0 0;text-align:left;width:220px;}
.helpleft .d1{float:left;width:220px;color:#fff;padding:8px 0 0 0;height:32px;font-size:18px;text-align:center;}
.helpleft .u1{float:left;width:220px;background-color:#EAEAEA;height:40px;color:#666666;cursor:pointer;}
.helpleft .u1:hover{background-color:#DADADA;}
.helpleft .u1 li{float:left;}
.helpleft .u1 .l1{padding:10px 0 0 45px;width:150px;font-size:14px;height:30px;}
.helpleft .u1 .l2{width:25px;padding:10px 0 0 0;height:30px;}
.helpleft .d2{float:left;width:220px;background-color:#fff;}
.helpleft .d2 span{float:left;width:176px;padding:7px 0 0 44px;height:24px;border-top:#FAF8F9 solid 1px;}

.helpright{float:right;width:1020px;text-align:left;margin:15px 0 0 0;background-color:#fff;}
.helpright .rightcap{float:left;padding:10px 0 0 14px;width:1006px;font-size:15px;background-color:#EAEAEA;height:30px;}
.helpright .list{float:left;width:1020px;background-color:#fff;}
.helpright .list .u1{float:left;padding:0 20px;width:980px;height:39px;border-bottom:#EEEEEE dotted 1px;font-size:14px;}
.helpright .list .u1 li{float:left;padding:10px 0 0 0;}
.helpright .list .u1 .l1{width:880px;}
.helpright .list .u1 .l2{width:100px;text-align:right;}
.helpright .list .u1:hover{background-color:#FBFBFB;}
.helpright #page{margin:10px 10px 10px 0;}
/*帮助中心列表E*/

/*正文B*/
.helpright .txtmain{float:left;width:980px;padding:20px;}
.helpright .titcap{float:left;font-size:18px;width:980px;padding:0 0 7px 0;text-align:center;}
.helpright .txtmain .u1{float:left;padding:0 0 10px 0;width:980px;margin:10px 0 0 0;border-bottom:#E9E9E9 dotted 1px;}
.helpright .txtmain .u1 li{float:left;}
.helpright .txtmain .u1 .l1{width:980px;color:#999;text-align:center;}
.helpright .txtmain .txt{float:left;margin:10px 0 0 0;width:980px;line-height:30px;padding:15px 0;font-size:15px;color:#555;}
.helpright .txtmain .txt img{max-width:980px;}
.helpright .txtmain .xg{float:left;margin:10px 0 0 0;width:978px;border:#E9E9E9 solid 1px;font-size:14px;padding:0 0 10px 0;}
.helpright .txtmain .xg li{float:left;}
.helpright .txtmain .xg .l1{padding:20px 0 0 20px;font-weight:700;;width:958px;height:30px;}
.helpright .txtmain .xg .l1 .s1{font-weight:100;font-size:12px;color:#999;}
.helpright .txtmain .xg .l2{padding:0 20px;width:938px;line-height:27px;}
.helpright .txtmain .xg .l2 a{color:#428BCA;}
.helpright .txtmain .abouttxt{margin-top:0;padding:0 0 10px 0;}
/*正文E*/

/*操作提示页面*/
.yjcode .succap{float:left;width:1238px;height:22px;margin:20px 0 0 0;font-size:14px;font-weight:700;padding:8px 0 0 10px;text-align:left;border:#ddd solid 1px;background-color:#f2f2f2;}
.yjcode .sucmain{float:left;width:838px;border:#DDDDDD solid 1px;border-top:0;height:167px;background:url(../../img/suc.jpg) no-repeat;background-position:235px 66px;text-align:left;padding:80px 0 0 410px;line-height:25px;}
.yjcode .sucmain strong{font-size:14px;}
.yjcode .sucmain a{color:#999;}

/*地图*/
.helpright .mapmain{float:left;width:1020px;background-color:#fff;padding:0 0 30px 0;}
.helpright .mapmain .dcap{float:left;font-size:14px;padding:10px 0 0 0;font-weight:700;height:27px;width:1000px;margin:0 10px 0 10px;border-bottom:#dedede dotted 1px;}
.helpright .mapmain .dtit{float:left;font-size:14px;padding:10px 0 10px 0;width:1010px;margin:0 0 0 10px;}
.helpright .mapmain .dtit a{float:left;margin-right:40px;height:27px;}
.helpright .mapmain .dtit a:hover{color:#cc0000;}
.helpright .mapmain .dlist{float:left;font-size:14px;padding:10px 0 0 0;width:1010px;margin:0 0 0 10px;}
.helpright .mapmain .dlist .d1{float:left;width:100px;height:25px;}
.helpright .mapmain .dlist .d1 a{font-weight:700;color:#3B7BC6;}
.helpright .mapmain .dlist .d2{float:left;width:910px;}
.helpright .mapmain .dlist .d2 a{float:left;margin-right:40px;height:27px;}
.helpright .mapmain .dlist .d2 a:hover{color:#cc0000;}
.helpright .mapmain .xu{float:left;width:1000px;margin:10px 10px 10px 10px;border-top:#dedede dotted 1px;}















