body{background-color:#f5f5f5;}
.listtop{height:50px;background-color:#fff;}
.listtop .d1{margin:10px 5px 0 13px;text-align:left;border-radius:5px;height:30px;background-color:#F3F3F3;}
.listtop .d1 span{float:left;}
.listtop .d1 .s1{width:24px;height:24px;margin:6px 0 0 5px;}
.listtop .d1 .s1 img{width:18px;}
.listtop .d1 .s2{font-size:14px;margin:5px 0 0 0;color:#999;}
.listtop .d2{width:30px;text-align:right;margin:16px 10px 0 0;}
.psel{border-bottom:#ddd solid 1px;height:45px;background-color:#FBFBFB;}
.psel .search{margin:0;-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;font-size:14px;}
.psel .search .d1{position:relative;float:left;width:calc(50% - 11px);height:27px;padding:3px 0 0 10px;overflow:hidden;border-right:#DCDCDC solid 1px;margin-top:8px;text-align:left;}
.psel .search .d1 .s1 span{overflow:hidden;width:80%;height:20px;float:left;}
.psel .search .d1 .s1:after{width:12px;height:7px;background: url(../img/jiana.gif) 0 0 no-repeat;display:inline-block;position:absolute;top:11px;margin-left:5px;content:'';}
.psel .search .d0{border-right:0;}
.sertj{background-color:#fff;width:100%;z-index:8;text-align:left;max-height:300px;overflow-y:scroll;position:absolute;}
.sertj .d1{margin:0 0 0 0;-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;font-size:14px;}
.sertj .d1 a{display:block;padding:15px 0 0 10px;height:29px;border-bottom:#F3F3F3 solid 1px;border-right:#F3F3F3 solid 1px;}
.sertj .d1 .nx{color:#ff0000;}

.renwulist{background-color:#fff;margin-top:10px;}
.renwulist .dmain{margin:10px;}
.renwulist .dmain .tit{float:left;width:100%;font-size:15px;margin-bottom:5px;}
.renwulist .dmain .d1{color:#df2d1e;float:left;height:30px;line-height:30px;font-size:13px;}
.renwulist .dmain .d2{color:#7f7f7f;float:left;background:url(../img/ren.gif) left center no-repeat;height:30px;line-height:30px;padding-left:19px;margin:0 30px;font-size:13px;}
.renwulist .dmain .d3{color:#7f7f7f;float:left;background:url(../img/sj.gif) left center no-repeat;height:30px;line-height:30px;padding-left:20px;font-size:13px;}

.fbrwm{float:left;width:100%;height:50px;color:#999;}
.fbrw{position:fixed;bottom:10px;width:100%;z-index:9;}
.fbrw .d1{height:31px;background-color:#1E9FFF;color:#fff;font-size:14px;margin:0 10px;border-radius:5px;text-align:center;padding:9px 0 0 0;}

.infmain{background-color:#fff;}
.infmain .dmain{margin:10px 10px 0 10px;}
.infmain .dmain .d1{float:left;width:100%;font-size:17px;}
.infmain .dmain .d2{float:left;width:100%;margin:10px 0 0 0;}
.infmain .dmain .d2 .ujg{float:left;width:100%;padding-bottom:20px;background:url(../img/new1.png) no-repeat;font-size:14px;}
.infmain .dmain .d2 .ujg li{float:left;}
.infmain .dmain .d2 .ujg .l1{width:70px;height:17px;padding:30px 0 0 20px;}
.infmain .dmain .d2 .ujg .l2{width:calc(100% - 90px);height:36px;color:#EB0C1C;padding:11px 0 0 0;}
.infmain .dmain .d2 .ujg .l2 strong{font-size:33px;font-weight:100;}
.infmain .dmain .d2 .ujg .l2 span{color:#333;}
.infmain .dmain .tasjdjs{float:left;width:calc(100% - 12px);margin:10px 0 10px 0;border:#DDDDDD solid 1px;font-size:14px;padding:10px 0 0 10px;height:30px;background-color:#FAFCFE;}
.infcap{background-color:#fff;margin:10px 0 0 0;}
.infcap .d1{margin:15px 10px;width:5px;height:17px;background-color:#288EE0;}
.infcap .d2{margin:13px 0 0 0;width:70px;text-align:center;font-size:15px;}
.infcap .d3{margin:23px 10px 0 10px;border-top:#E9E7E7 solid 1px;}
.inftxt{background-color:#fff;font-size:14px;}
.inftxt .dmain{margin:0 10px 10px 10px;color:#5D5C5B;line-height:30px;}
.inftxt .dmain img{max-width:100% !important;}
.taskhfm{}
.taskhfm .dmain{margin:0;}
.taskhfm .taskhf {float:left;width:100%;background-color:#fff;margin-top:10px;}
.taskhfm .taskhf  .u1{float:left;width:100%;border-bottom:#f5f5f5 solid 1px;}
.taskhfm .taskhf  .u1 li{float:left;}
.taskhfm .taskhf  .u1 .l1{width:80px;text-align:center;padding:10px 0;}
.taskhfm .taskhf  .u1 .l2{width:calc(100% - 170px);padding:10px 0 0 0;line-height:25px;}
.taskhfm .taskhf  .u1 .l2 strong{font-size:14px;}
.taskhfm .taskhf  .u1 .l3{width:90px;padding:10px 0 0 0;}
.taskhfm .taskhf  .u1 .l3 a{float:right;margin:0 10px 0 0;}
.taskhfm .taskhf  .u1 .l3 .xz{background-color:#F5FAFF;border:#EAF4FC solid 1px;text-align:center;font-size:14px;padding:8px 0 0 0;line-height:21px;width:60px;color:#45B6F7;height:50px;}
.taskhfm .taskhf  .u1 .l3 .xz:hover{background-color:#E2EEFA;text-decoration:none;}
.taskhfm .taskhf  .u1 .l3 .a2{color:#ff6600;border:#ff6600 solid 1px;font-size:15px;font-weight:100;line-height:28px;margin-top:15px;background:url(../img/zb.gif) no-repeat;background-position:4px 5px;text-align:left;padding-left:25px;width:40px;}
.taskhfm .taskhf  .hftxt{float:left;width:calc(100% - 20px);font-size:12px;background-color:#fff;padding:10px;line-height:28px;}
.taskhfm .taskhf .bsj{float:left;width:calc(100% - 20px);padding:10px;border-top:#f5f5f5 solid 1px;}
.Bjieshoum{float:left;width:100%;height:50px;color:#999;}
.Bjieshou{position:fixed;bottom:10px;width:100%;z-index:9;}
.Bjieshou .d1{height:31px;background-color:#ff6600;color:#fff;font-size:14px;margin:0 10px;border-radius:5px;text-align:center;padding:9px 0 0 0;}

.noinf{}
.noinf .dmain{margin:50px 20px;background-color:#fff3e2;border:#ffb05a solid 1px;padding:30px 0 20px 0;line-height:40px;text-align:center;font-size:14px;}
.noinf .dmain strong{font-size:17px;font-weight:700;}
.noinf .dmain img{margin-bottom:20px;}

